@use  '../../colors' as *;

.accordion-colors {
    --background-color: white;
    --border-color: #{$gray40};
    --uui-text: #{$gray80};
    --uui-text-disabled: #{$gray50};
    --icon-color: #{$gray60};
    --icon-color-disabled: #{$gray50};
    --focus-color: #{$blue};
}
