@use  '../../colors' as *;

.icon-container-color-blue {
    --fill-color: #{$blue};
}

.icon-container-color-green {
    --fill-color: #{$green};
}

.icon-container-color-amber {
    --fill-color: #{$amber};
}

.icon-container-color-red {
    --fill-color: #{$red};
}

.icon-container-color-cyan {
    --fill-color: #{$cyan};
}

.icon-container-color-orange {
    --fill-color: #{$orange};
}

.icon-container-color-purple {
    --fill-color: #{$purple};
}

.icon-container-color-violet {
    --fill-color: #{$violet};
}

.icon-container-color-white {
    --fill-color: white;
}

.icon-container-color-gray5 {
    --fill-color: #{$gray5};
}

.icon-container-color-gray10 {
    --fill-color: #{$gray10};
}

.icon-container-color-gray20 {
    --fill-color: #{$gray20};
}

.icon-container-color-gray30 {
    --fill-color: #{$gray30};
}

.icon-container-color-gray30 {
    --fill-color: #{$gray30};
}

.icon-container-color-gray40 {
    --fill-color: #{$gray40};
}

.icon-container-color-gray50 {
    --fill-color: #{$gray50};
}

.icon-container-color-gray60 {
    --fill-color: #{$gray60};
}

.icon-container-color-gray70 {
    --fill-color: #{$gray70};
}

.icon-container-color-gray80 {
    --fill-color: #{$gray80};
}

.icon-container-color-gray90 {
    --fill-color: #{$gray90};
}
