:global(.accordion-vars) {
    --accordion-bg-color: var(--surface-color);
    --accordion-border-color: var(--divider-color);
    --accordion-text-color: var(--text-primary-color);
    --accordion-text-color-disabled: var(--text-disabled-color);
    --accordion-icon-color: var(--icon-color);
    --accordion-icon-color-disabled: var(--iconButton-disabled-color);
    --accordion-shadow: 0 3px 6px 0 rgba(29, 30, 38, 0.10), 0 1px 3px 0 rgba(29, 30, 38, 0.10);
    --accordion-shadow-hovered: 0 6px 12px 0 rgba(29, 30, 38, 0.10), 0 3px 6px 0 rgba(29, 30, 38, 0.10);
}
