:global(.accordion-vars) {
    --uui-accordion-bg: var(--uui-surface);
    --uui-accordion-border: var(--uui-divider);
    --uui-accordion-text: var(--uui-text-primary);
    --uui-accordion-text-disabled: var(--uui-text-disabled);
    --uui-accordion-icon: var(--uui-icon);
    --uui-accordion-icon-disabled: var(--uui-icon-disabled);
    --uui-accordion-shadow: 0 3px 6px 0 rgba(29, 30, 38, 0.10), 0 1px 3px 0 rgba(29, 30, 38, 0.10);
    --uui-accordion-shadow-hovered: 0 6px 12px 0 rgba(29, 30, 38, 0.10), 0 3px 6px 0 rgba(29, 30, 38, 0.10);
}
