:global(.icon-container-color-info) {
    --uui-icon-container-fill: var(--uui-info);
}

:global(.icon-container-color-success) {
    --uui-icon-container-fill: var(--uui-success);
}

:global(.icon-container-color-warning) {
    --uui-icon-container-fill: var(--uui-warning);
}

:global(.icon-container-color-error) {
    --uui-icon-container-fill: var(--uui-error);
}

:global(.icon-container-color-default) {
    --uui-icon-container-fill: var(--uui-icon);
}

:global(.icon-container-color-secondary) {
    --uui-icon-container-fill: var(--uui-secondary);
}