:global(.labeled-input-vars) {
    --uui-labeled-input: var(--uui-text-primary);
    --uui-labeled-input-disabled: var(--uui-text-disabled);
    --uui-labeled-input-error: var(--uui-error);
    --uui-labeled-input-fill: var(--default-color);
    --uui-labeled-input-optional-text: var(--uui-text-secondary);
    --uui-labeled-input-asterisk: var(--uui-error);
}
