:global(.labeled-input-vars) {
    --labeled-input-color: var(--text-primary-color);
    --labeled-input-color-disabled: var(--text-disabled-color);
    --labeled-input-color-error: var(--error-color);
    --labeled-input-fill-color: var(--default-color);
    --labeled-input-optional-text-color: var(--text-secondary-color);
    --labeled-input-asterisk-color: var(--error-color);
}
