@use '../../../assets/styles/scss/index' as *;

.row-wrapper {
    position: relative;
    padding: 1px 24px 1px 0;
    width: 100%;
    box-sizing: border-box;
    touch-action: auto;

    &.not-pinned:not(:hover) {
        .pin-icon-button {
            visibility: hidden;
        }
    }

    &:hover {
        box-shadow: 0 0 1px $night500;
        &, .title, .pin-icon-button {
            background-color: $night100;
        }
    }

    .drag-handle {
        height: 12px;
        background-position: right;
        background-repeat: repeat-y;
        padding: 6px 0 6px 24px;

        opacity: 1;
        touch-action: none;
        &.dnd-disabled {
            opacity: 0.3;
            touch-action: auto;
        }

    }

    &:global(.uui-drag-ghost) {
        background-color: $white;
        @include dnd-ghost-shadow();
    }
}
