:global(.button-vars) {
    --uui-btn-border-radius: var(--uui-border-radius);
}

:global(.button-primary) {
    --button-bg-color: var(--uui-primary);
    --button-bg-color-hover: var(--uui-primary-dark);
    --button-bg-color-active: var(--uui-primary-darkest);
    --button-bg-color-halftone: var(--button-bg-halftone-color);
    --button-bg-color-halftone-hover: var(--uui-primary-lightest);
    --button-bg-color-halftone-active: var(--uui-primary-light);
    --button-bg-color-disabled: var(--uui-disabled);
    --button-border-color: var(--uui-primary);
    --button-border-color-hover: var(--uui-primary-dark);
    --button-border-color-active: var(--uui-primary-darkest);
    --button-border-color-disabled: var(--uui-disabled);
    --button-caption-color: var(--uui-contrast);
    --button-caption-halftone-color: var(--uui-primary);
    --button-caption-color-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-accent) {
    --button-bg-color: var(--uui-accent);
    --button-bg-color-hover: var(--uui-accent-dark);
    --button-bg-color-active: var(--uui-accent-darkest);
    --button-bg-color-halftone: var(--button-bg-halftone-color);
    --button-bg-color-halftone-hover: var(--uui-accent-lightest);
    --button-bg-color-halftone-active: var(--uui-accent-light);
    --button-bg-color-disabled: var(--uui-disabled);
    --button-border-color: var(--uui-accent);
    --button-border-color-hover: var(--uui-accent-dark);
    --button-border-color-active: var(--uui-accent-darkest);
    --button-border-color-disabled: var(--uui-disabled);
    --button-caption-color: var(--uui-contrast);
    --button-caption-halftone-color: var(--uui-accent);
    --button-caption-color-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-negative) {
    --button-bg-color: var(--uui-negative);
    --button-bg-color-hover: var(--uui-negative-dark);
    --button-bg-color-active: var(--uui-negative-darkest);
    --button-bg-color-halftone: var(--button-bg-halftone-color);
    --button-bg-color-halftone-hover: var(--uui-negative-lightest);
    --button-bg-color-halftone-active: var(--uui-negative-light);
    --button-bg-color-disabled: var(--uui-disabled);
    --button-border-color: var(--uui-negative);
    --button-border-color-hover: var(--uui-negative-dark);
    --button-border-color-active: var(--uui-negative-darkest);
    --button-border-color-disabled: var(--uui-disabled);
    --button-caption-color: var(--uui-contrast);
    --button-caption-halftone-color: var(--uui-negative);
    --button-caption-color-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-secondary) {
    --button-bg-color: var(--uui-secondary);
    --button-bg-color-hover: var(--uui-secondary-dark);
    --button-bg-color-active: var(--uui-secondary-darkest);
    --button-bg-color-halftone: var(--button-bg-halftone-color);
    --button-bg-color-halftone-hover: var(--uui-secondary-lightest);
    --button-bg-color-halftone-active: var(--uui-secondary-light);
    --button-bg-color-disabled: var(--uui-disabled);
    --button-border-color: var(--uui-secondary);
    --button-border-color-hover: var(--uui-secondary-dark);
    --button-border-color-active: var(--uui-secondary-darkest);
    --button-border-color-disabled: var(--uui-disabled);
    --button-caption-color: var(--uui-contrast);
    --button-caption-halftone-color: var(--uui-secondary);
    --button-caption-color-disabled: var(--uui-btn-caption-disabled);
}