:global(.icon-button-color-info) {
    --icon-button-icon-color: var(--uui-info);
    --icon-button-icon-color-hover: var(--uui-info-hover);
    --icon-button-icon-color-active: var(--uui-info-active);
    --icon-button-icon-color-disabled: var(--uui-icon-disabled);
}

:global(.icon-button-color-success) {
    --icon-button-icon-color: var(--uui-success);
    --icon-button-icon-color-hover: var(--uui-success-hover);
    --icon-button-icon-color-active: var(--uui-success-active);
    --icon-button-icon-color-disabled: var(--uui-icon-disabled);
}

:global(.icon-button-color-warning) {
    --icon-button-icon-color: var(--uui-warning);
    --icon-button-icon-color-hover: var(--uui-warning-hover);
    --icon-button-icon-color-active: var(--uui-warning-active);
    --icon-button-icon-color-disabled: var(--uui-icon-disabled);
}

:global(.icon-button-color-error) {
    --icon-button-icon-color: var(--uui-error);
    --icon-button-icon-color-hover: var(--uui-error-hover);
    --icon-button-icon-color-active: var(--uui-error-active);
    --icon-button-icon-color-disabled: var(--uui-icon-disabled);
}

:global(.icon-button-color-default) {
    --icon-button-icon-color: var(--uui-icon);
    --icon-button-icon-color-hover: var(--uui-icon-hover);
    --icon-button-icon-color-active: var(--uui-icon-active);
    --icon-button-icon-color-disabled: var(--uui-icon-disabled);
}

:global(.icon-button-color-secondary) {
    --icon-button-icon-color: var(--uui-secondary);
    --icon-button-icon-color-hover: var(--uui-secondary-hover);
    --icon-button-icon-color-active: var(--uui-secondary-active);
    --icon-button-icon-color-disabled: var(--uui-secondary-disabled);
}
