:global(.link-button-vars) {
    --uui-link-button-text: var(--uui-info);
    --uui-link-button-text-hover: var(--uui-info-hover);
    --uui-link-button-text-active: var(--uui-info-active);
    --uui-link-button-text-disabled: var(--button-disabled-color);
}
