:global(.tab-button-vars) {
    --tab-button-text-color: var(--text-primary-color);
    --tab-button-text-color-hover: var(--primary-color);
    --tab-button-text-color-active: var(--primary-color);
    --tab-button-text-color-disabled: var(--text-disabled-color);
    --tab-button-count-bg-color: white;
    --tab-button-count-color: var(--text-secondary-color);
}
