@use '../../assets/styles/index'  as *;

.done {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--uui-divider);

    &:global(.uui-button-box) {
        background-color: var(--uui-surface-main);
        border-width: 1px !important;
    }
}

.container {
    @media screen and (max-width: 720px) {
        height: 100dvh;
        width: 100dvw;
    }
}