@use '../../assets/styles/index' as *;

.footer-wrapper {
    border-top: 1px solid var(--uui-divider);
    padding: 0 12px;
    display: flex;

    &.footer-size-24 {
        min-height: 24px;
    }

    &.footer-size-30 {
        min-height: 30px;

        :global(.uui-caption) {
            font-size: 14px;
        }
    }

    &.footer-size-36 {
        min-height: 36px;
    }

    &.footer-size-42 {
        min-height: 42px;

        :global(.uui-caption) {
            font-size: 16px;
        }
    }

    &.footer-size-48 {
        min-height: 48px;

        :global(.uui-caption) {
            font-size: 16px;
        }

        &.mode-inline {

            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &.mode-cell {

            display: grid;
            place-items: center;
            text-align: center;
        }
    }
}
