.root {
    .multiline {
        padding-top: var(--uui-picker_item-vertical-padding);
        padding-bottom: var(--uui-picker_item-vertical-padding);

        .text {
            padding: 0;
        }
    }
}
