@use  '../../assets/styles/index' as *;

.root {
    --vertical-outer-padding: calc((var(--input-min-height) - var(--input-border-width) * 2 - var(--input-tag-min-height)) / 2);
    --vertical-inner-padding: calc(var(--input-min-height) / 2 - var(--input-border-width) - var(--input-line-height) - var(--vertical-padding));
    --horizontal-padding: calc(var(--input-padding) - var(--input-border-width));
    --icon-height: calc(var(--input-min-height) - var(--vertical-outer-padding) * 2 - var(--input-border-width) * 2);

    :global(.uui-button-box) {
        --btn-font: var(--input-tag-font);
        --btn-line-height: var(--input-tag-line-height);
        --btn-font-size: var(--input-tag-font-size);
        --btn-padding: var(--input-tag-padding);
        --btn-caption-padding: var(--input-tag-caption-padding);
        --btn-border-radius: var(--input-tag-border-radius);
        --btn-min-height: var(--input-tag-min-height);
        --btn-min-width: var(--input-tag-min-width);
        --btn-border-width: var(--input-tag-border-width);

        + :global(.uui-input) {
            margin-left: var(--input-inner-space);
        }
    }

    &:global(.uui-input-box) {
        min-height: var(--input-min-height);
        min-width: var(--input-min-width);
        border-width: var(--input-border-width);
        border-radius: var(--input-border-radius);
        padding: var(--vertical-outer-padding) var(--horizontal-padding);
        box-sizing: border-box;
        border-style: solid;
    }

    :global(.uui-picker-toggler-body) {
        gap: var(--input-gap);
    }

    :not(:global(.uui-button-box)) > :global(.uui-icon) {
        height: var(--icon-height);
    }

    :global(.uui-icon-cancel) {
        margin-left: var(--input-inner-space);
    }

    :global(.uui-input) {
        color: var(--picker-toggler-text-color);
        font-family: var(--input-font);
        line-height: var(--input-line-height);
        font-size: var(--input-font-size);
        padding: var(--vertical-inner-padding) var(--input-text-padding);

        &::placeholder {
            color: var(--picker-toggler-placeholder-color);
        }

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    :global(.uui-caption) {
        @include overflow-ellipsis();
        font-family: var(--picker-toggler-font);
        align-self: center;
        white-space: nowrap;
    }

    :global(.uui-placeholder) {
        color: var(--picker-toggler-text-color);
    }

    :global(.uui-placeholder)::placeholder {
        color: var(--picker-toggler-text-color);
    }

    :global(.uui-placeholder)::-moz-placeholder {
        opacity: 1;
    }

    &.mode-form {
        background-color: var(--picker-toggler-bg-color);
        border-color: var(--picker-toggler-border-color);
        fill: var(--picker-toggler-icon-color);
        border-radius: var(--picker-toggler-border-radius);

        :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
            &:global(.uui-enabled) {
                fill: var(--picker-toggler-icon-color-clickable);

                &:hover {
                    fill: var(--picker-toggler-icon-color-clickable-hover);
                }
            }

            &:global(.uui-disabled) {
                fill: var(--picker-toggler-icon-color-disabled);
            }
        }

        &:hover {
            border-color: var(--picker-toggler-border-color-hover);
        }

        &:global(.uui-focus) {
            border-color: var(--picker-toggler-border-color-active);
            outline: none;
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;
        fill: var(--picker-toggler-icon-color);

        :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
            cursor: pointer;

            &:global(.uui-enabled) {
                fill: transparent;
            }

            &:global(.uui-disabled) {
                fill: transparent;
            }
        }

        &:hover {
            background-color: white;
            border-color: var(--picker-toggler-border-color);

            :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
                &:global(.uui-enabled) {
                    fill: var(--picker-toggler-icon-color-clickable);

                    &:hover {
                        fill: var(--picker-toggler-icon-color-clickable-hover);
                    }
                }

                &:global(.uui-disabled) {
                    fill: transparent;
                }
            }
        }

        &:global(.uui-focus) {
            background-color: white;
            border-color: var(--picker-toggler-border-color-active);
            outline: none;
        }
    }

    &:global(.uui-invalid) {
        &.mode-form, &.mode-cell {
            border-color: var(--picker-toggler-border-color-error);
        }
    }

    &:global(.uui-readonly) {
        @include readonly-input();

        :global(.uui-icon-dropdown), :global(.uui-icon-cancel) {
            visibility: hidden;
        }
    }

    &:global(.uui-disabled) {
        @include disabled-input();
        fill: var(--picker-toggler-icon-color-disabled);

        :global(.uui-input) {
            cursor: default;

            &::placeholder {
                color: var(--picker-toggler-text-color-disabled);
            }
        }

        :global(.uui-icon-dropdown), :global(.uui-icon-cancel) {
            visibility: hidden;
        }
    }
}
