.global-menu-btn {
    display: block;
    height: 60px;
    width: 60px;
    fill: var(--uui-caption);
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        background-color: var(--uui-main_menu-hover);
    }

    &:active {
        background-color: var(--uui-main_menu-active);
    }
}

.globalMenuIcon svg {
    width: 60px;
    height: 60px;
}