@use  '../../colors' as *;

.color-white {
    --background-color: white;
    --uui-text: #{$gray80};
}

.color-gray90 {
    --background-color: #{$gray90};
    --uui-text: white;
}

.color-red {
    --background-color: #{$red};
    --uui-text: white;
}
