@use '../../assets/styles/index.scss' as *;
@use '../../assets/styles/colorvars/inputs/radioInput-colorvars.scss' as *;


@mixin radio-sizes($size, $font-size, $bullet-size, $line-height) {
    $vpadding: ($line-height - $size) / 2;

    :global(.uui-radioinput) {
        width: $size;
        height: $size;
        border-radius: $size / 2;
        margin: $vpadding 0;
    }

    :global(.uui-icon) {
        margin: $vpadding 0;

        svg {
            height: $bullet-size;
            width: $bullet-size;
        }
    }

    :global(.uui-input-label) {
        font-size: $font-size;
        line-height: $line-height;
    }
}

.root {
    @include radio-input-color();

    &:hover {
        :global(.uui-radioinput) {
            border-color: var(--border-color-hovered);

            &:global(.uui-checked) {
                border-color: var(--border-color-hovered);

                :global(.uui-icon) {
                    fill: var(--fill-color-hovered);
                }
            }
        }

        &:global(.uui-disabled),
        &:global(.uui-readonly) {
            :global(.uui-radioinput) {
                background-color: var(--background-color-disabled);
                border-color: var(--border-color-disabled);

                :global(.uui-icon) {
                    fill: var(--fill-color-checked-disabled);
                }
            }
        }
    }

    :global(.uui-radioinput) {
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        align-self: baseline;
        flex-shrink: 0;
        box-sizing: border-box;

        &:focus-within {
            border-color: var(--border-color-hovered);
        }

        &:global(.uui-checked) {
            border-color: var(--border-color-checked);

            &:focus-within {
                border-color: var(--border-color-hovered);

                :global(.uui-icon) {
                    fill: var(--fill-color-hovered);
                }
            }

            :global(.uui-icon) {
                fill: var(--fill-color-checked);
            }
        }
    }

    :global(.uui-input-label) {
        @include typography-inline();
        color: var(--caption-color);
        flex-grow: 1;
        font-family: $font-sans;
        margin-left: 12px;
        display: flex;
        align-items: center;
    }

    &:global(.uui-invalid) {
        :global(.uui-icon) {
            fill: var(--errored-color);
        }

        :global(.uui-input-label) {
            color: var(--errored-color);
        }

        :global(.uui-checked) {
            &:global(.uui-radioinput) {
                border-color: var(--errored-color);

                &:focus-within {
                    border-color: var(--errored-color);

                    :global(.uui-icon) {
                        fill: var(--errored-color);
                    }
                }

                :global(.uui-icon) {
                    fill: var(--errored-color);
                }
            }
        }

        &:hover {
            :global(.uui-radioinput) {
                border-color: var(--errored-color);

                &:focus {
                    border-color: var(--errored-color);

                    :global(.uui-icon) {
                        fill: var(--errored-color);
                    }
                }
            }

            :global(.uui-icon) {
                fill: var(--errored-color);
            }
        }
    }

    &:global(.uui-disabled),
    &:global(.uui-readonly) {
        cursor: default;

        :global(.uui-radioinput) {
            cursor: default;
            background-color: var(--background-color-disabled);
            border-color: var(--border-color-disabled);

            :global(.uui-icon) {
                fill: var(--fill-color-checked-disabled);
            }


            &:global(.uui-checked) {
                border-color: var(--border-color-checked-disabled);

                :global(.uui-icon) {
                    fill: var(--fill-color-checked-disabled);
                }
            }
        }

        &:global(.uui-invalid) {
            :global(.uui-radioinput) {
                cursor: default;
                background-color: var(--background-color-disabled);
                border-color: var(--border-color-disabled);

                :global(.uui-icon) {
                    fill: var(--fill-color-checked-disabled);
                }
            }
        }
    }

    &:global(.uui-readonly) {
        :global(.uui-input-label) {
            color: var(--caption-color);
        }
    }

    &:global(.uui-disabled) {
        :global(.uui-input-label) {
            color: var(--caption-color-disabled);
        }
    }

    //Sizes
    &.size-18 {
        @include radio-sizes(18px, 14px, 18px, 18px);
    }

    &.size-12 {
        @include radio-sizes(12px, 12px, 12px, 14px);

        :global(.uui-input-label) {
            margin-left: 6px;
        }
    }
}