@use  '../../assets/styles/index.scss' as *;
@use '../../assets/styles/colorvars/inputs/textInput-colorvars.scss' as *;

.root {
    @include text-input-color();
    fill: var(--icon-color);
    border-style: solid;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

    :global(.uui-input-prefix) {
        @include input-prefix();
    }

    :global(.uui-input-suffix) {
        @include input-sufix();
    }

    :global(.uui-input) {
        color: var(--text-color);
        font-family: $font-sans;
        padding-left: 6px;
        padding-right: 6px;

        &::placeholder {
            color: var(--placeholder-color);
        }

        &:placeholder-shown {
            text-overflow: ellipsis;
        }

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    &.mode-form {
        background-color: var(--background-color);
        border-color: var(--border-color);

        :global(.-clickable) {
            fill: var(--icon-color-clickable);

            &:hover {
                fill: var(--icon-color-clickable-hovered);
            }
        }

        &:hover {
            border-color: var(--border-color-hovered);
        }

        &:global(.uui-focus) {
            border-color: var(--border-color-active);
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;

        :global(.uui-input-prefix) {
            border-right: none;
        }

        :global(.uui-input-suffix) {
            border-left: none;
        }

        :global(.uui-icon):first-child {
            padding-left: 6px;
        }

        :global(.-clickable) {
            fill: transparent;
        }

        &:hover {
            background-color: white;
            border-color: var(--border-color);

            :global(.-clickable) {
                fill: var(--icon-color-clickable);

                &:hover {
                    fill: var(--icon-color-clickable-hovered);
                }
            }
        }

        &:global(.uui-focus) {
            background-color: white;
            border-color: var(--border-color-active);
        }
    }

    &:global(.uui-invalid) {
        &.mode-form, &.mode-cell {
            background-color: white;
            border-color: var(--border-color-errored);
        }
    }

    &:global(.uui-readonly) {
        color: var(--text-color);
        fill: var(--icon-color);
        pointer-events: none;

        &.mode-form {
            background-color: var(--background-color-readonly);
            border-color: var(--border-color-readonly);
        }

        &.mode-cell {
            background-color: transparent;
            border-color: transparent;
        }
    }

    &:global(.uui-disabled) {
        color: var(--text-color-disabled);
        fill: var(--icon-color-disabled);
        pointer-events: none;

        :global(.uui-input) {
            color: var(--text-color-disabled);

            &::placeholder {
                color: var(--placeholder-color-disabled);
            }
        }

        &.mode-form {
            background-color: var(--background-color-disabled);
            border-color: var(--border-color-disabled);
        }

        &.mode-cell {
            background-color: transparent;
            border-color: transparent;
        }
    }

    //Sizes
    &.size-24 {
        @include control-vertical-layout(24px, 1px);
        min-width: 24px;
    }

    &.size-30 {
        @include control-vertical-layout(30px, 1px);
        min-width: 30px;
    }

    &.size-36 {
        @include control-vertical-layout(36px, 1px);
        min-width: 36px;
    }

    &.size-42 {
        @include control-vertical-layout(42px, 1px);
        min-width: 42px;
    }

    &.size-48 {
        @include control-vertical-layout(48px, 1px);
        min-width: 48px;
    }
}
