@use "../../assets/styles/index" as *;
@import '../../assets/styles/colorvars/inputs/timePicker-colorvars.scss';

.root {
    @include time-picker-color();

    &:global(.uui-timepicker-container) {
        display: flex;
        padding: 15px 12px;

        :global(.uui-timepicker-input) {
            &:global(.uui-input-box) {
                margin: 6px 0;
                width: 36px;
                height: 36px;
            }

            > input {
                text-align: center;
                font-size: 24px;
                line-height: 24px;
                color: var(--text-color);
                font-family: $font-sans;
            }
        }

        :global(.uui-timepicker-item) {
            position: relative;
            padding: 9px 24px;
        }

        :global(.uui-timepicker-item:first-child) {
            &::after {
                content: ":";
                position: absolute;
                top: 35px;
                left: 81px;
                color: var(--text-color);
                font-size: 24px;
                line-height: 30px;
            }
        }

        .icon {
            align-items: center;
            fill: var(--icon-color);

            &:hover {
                cursor: pointer;
            }
        }

        :global(.uui-timepicker-icon-up) {
            align-items: center;
            fill: var(--icon-color);
            transform: rotate(180deg);
        }

        :global(.uui-timepicker-icon-down) {
            align-items: center;
            fill: var(--icon-color);
        }
    }
}

.date-input {
    width: 100%;
}

:global(.uui-dropdown-body) {
    align-items: center;
}
