.root {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--uui-neutral-95);
    height: 240px;
    padding: 0 18px;

    .container {
        display: flex;
        flex-direction: row;
        flex-basis: 1166px;
        padding: 36px 0;

        .first-block {
            margin-top: 9px;
            flex-basis: 50%;

            .sponsor-text {
                margin-top: 60px;
            }

            .bottom-links {
                :global(.uui-text) {
                    padding-top: 0;
                }
            }
        }

        .second-block {
            flex-basis: 50%;
        }
    }

    @media (max-width: 950px) {
        & * {
            max-width: fit-content;
            margin: 0 auto;
        }

        .second-block {
            display: none;
        }
    }
}
