.root {
    .link-container {
        display: flex;
        padding-left: 18px;
        padding-right: 18px;

        .link-caption {
            padding-left: 6px;
            color: #FFFFFF;
            white-space: nowrap;
        }
    }

    .switcher {
        padding-left: 24px;
    }

    @media (max-width: 768px) {
        min-width: 320px;
    }
}

