.root {
    .link-container {
        display: flex;
        padding-left: 18px;
        padding-right: 18px;
        align-items: center;
        min-height: 60px;

        .link-caption {
            padding-left: 6px;
            color: var(--uui-main_menu-text);
            white-space: nowrap;
        }
    }

    .switcher {
        padding-left: 24px;
    }

    @media (max-width: 768px) {
        min-width: 320px;
    }

    .git-icon, .logo-icon {
        fill: var(--uui-main_menu-text);
    }

    .theme-switcher-button:hover {
        background-color: color-mix(in srgb, var(--white) 5%, transparent);
    }
}

