@use '~@epam/promo/assets/styles/colors.scss' as *;

.root {
    background: $gray10;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .content {
        flex: 1 0 auto;
    }
}
