.panel {
    flex: 1;

    &:not(.preview) {
        margin: 24px;
    }

    .slider {
        margin: 24px 0;
    }

    &.preview {
        .slider {
            display: none;
        }
    }
}



