@use '../../assets/styles/scss/index'  as *;
@use  '~@epam/assets/scss/dnd' as *;

.root {
    &:global(.uui-table-row) {

        &:global(.-clickable) {
            cursor: pointer;

            &:hover {
                --uui-dt-row-background: #{$night100};
            }
        }

        &:global(.-draggable) {
            @include dnd-cursor-style();
        }

        &:global(.uui-invalid) {
            --uui-dt-row-background: #FEF7F6; // TODO: fix to color from new loveship palette when it is added
        }

        &:global(.uui-dragged-out) {
            opacity: 0.5;
        }

        &:global(.uui-drag-ghost) {
            @include dnd-ghost-shadow();
        }

        &:global(.uui-focus) {
            --uui-dt-row-background: #{$night100};
        }

        &.size-24 { min-height: 24px; }
        &.size-30 { min-height: 30px; }
        &.size-36 { min-height: 36px; }
        &.size-48 { min-height: 48px; }
        &.size-60 { min-height: 60px; }

        &.padding-12 { padding-left: 12px; }
        &.padding-18 { padding-left: 18px; }
        &.padding-24 { padding-left: 24px; }
    }

    &.background-night50 {
        --uui-dt-row-background: #{$night50};
    }

    &.background-white {
        --uui-dt-row-background: #{$white};
    }

    // Borders
    --uui-dt-row-border-color: transparent;
    --uui-dt-row-border-width: 0;

    &.border-night300 {
    	--uui-dt-row-border-color: #{$night300};
	    --uui-dt-row-border-width: 1px;
    }
}
