.sticky-header {
    position: sticky;
    top: 0;
    min-width: min-content;
    z-index: 3;
}

.vertical-intersecting-rect {
    height: 1px;
    width: 100%;
    visibility: hidden;
}

.horizontal-intersecting-rect {
    height: 1px;
    width: 100%;
    position: sticky;
    top: 50%;
    visibility: hidden;
}

.listContainer {
    display: grid;
    grid-template-rows: 1fr;
}

.table {
    &.shadow-dark {
        :global(.uui-scroll-shadow-top-visible) {
            height: 5px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            opacity: 1;
            transition: opacity 200ms;
        }
    }

    &.shadow-white {
        :global(.uui-scroll-shadow-top-visible) {
            height: 15px;
            background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
            opacity: 1;
            transition: opacity 200ms;
        }

        :global(.uui-scroll-shadow-bottom-visible) {
            height: 15px;
            opacity: 1;
            background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }

    &:global(.-scrolled-left) {
        :global(.uui-scroll-shadow-left) {
            opacity: 1;
        }
    }

    &:global(.-scrolled-right) {
        :global(.uui-scroll-shadow-right) {
            opacity: 1;
        }
    }

    :global(.uui-scroll-shadow-top) {
        position: sticky;
        z-index: 3;
    }
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 24px;
}

.no-results-icon {
    margin-bottom: 20px;

    :global(.uui-icon) {
        cursor: default;

        svg {
            width: 50px;
            height: 50px;
        }
    }
}