@use '../../assets/styles/scss/index'  as *;

.root {
    --uui-data-table-row-background: #{$night50};
    border-bottom: 1px solid $night300;
}

.header-cell {
    background: none;
}

.config-icon {
    position: absolute;
    height: 100%;
    right: 24px;
    z-index: 2;
}