@use '../../assets/styles/scss/index'  as *;

.root {
    background: $night50;
    border-bottom: 1px solid $night300;

    &:global(.uui-table-header-row .uui-table-fixed-section-left),
    &:global(.uui-table-header-row .uui-table-fixed-section-right) {
        z-index: 2;
        background: $night50;
    }
}

.header-cell {
    background: none;
}

.config-icon {
    position: absolute;
    right: 24px;
    height: 100%;
}