.root {
    overflow: hidden;
    border-radius: var(--uui-panel-border-radius);
    background-color: var(--uui-panel-bg);

    &.margin-24 {
        margin: 24px;
    }

    &.padding-12 {
        padding: 12px;
    }

    &.padding-24 {
        padding: 24px;
    }

    &.shadow {
        box-shadow: var(--uui-panel-shadow);
    }

    &:global(.-clickable):hover {
        cursor: pointer;
    }
}
