@use  '../../../assets/styles/index.scss' as *;

.root {
    --horizontal-padding: calc(var(--input-padding) - var(--input-border-width));
    --vertical-inner-padding: calc((var(--input-min-height) - var(--input-border-width) * 2 - var(--input-line-height)) / 2);

    &:global(.uui-input-box) {
        min-height: var(--input-min-height);
        min-width: var(--input-min-width);
        border-width: var(--input-border-width);
        border-radius: var(--input-border-radius);
        padding: 0 var(--horizontal-padding);
        fill: var(--text-input-icon-color);
        border-style: solid;
        box-sizing: border-box;
    }

    :global(.uui-input) {
        color: var(--text-input-text-color);
        font-family: var(--input-font);
        line-height: var(--input-line-height);
        font-size: var(--input-font-size);
        padding: var(--vertical-inner-padding) var(--input-text-padding);

        &:not(:first-child) {
            padding-left: var(--input-inner-space);
        }

        &:not(:last-child) {
            padding-right: var(--input-inner-space);
        }

        &::placeholder {
            color: var(--text-input-placeholder-color);
        }

        &:placeholder-shown {
            text-overflow: ellipsis;
        }

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    &.mode-form {
        background-color: var(--text-input-bg-color);
        border-color: var(--text-input-border-color);

        :global(.-clickable) {
            fill: var(--text-input-icon-color-clickable);

            &:hover {
                fill: var(--text-input-icon-color-clickable-hover);
            }
        }

        &:hover {
            border-color: var(--text-input-border-color-hover);
        }

        &:global(.uui-focus) {
            border-color: var(--text-input-border-color-active);
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;

        :global(.uui-icon):first-child {
            padding-left: var(--text-input-padding);
        }

        :global(.-clickable) {
            fill: transparent;
        }

        &:hover {
            background-color: var(--text-input-bg-color);
            border-color: var(--text-input-border-color);

            :global(.-clickable) {
                fill: var(--text-input-icon-color-clickable);

                &:hover {
                    fill: var(--text-input-icon-color-clickable-hover);
                }
            }
        }

        &:global(.uui-focus) {
            background-color: var(--text-input-bg-color);
            border-color: var(--text-input-border-color-active);
        }
    }

    &:global(.uui-invalid) {
        &.mode-form, &.mode-cell {
            background-color: var(--text-input-bg-color);
            border-color: var(--text-input-border-color-error);
        }
    }

    &:global(.uui-readonly) {
        color: var(--text-input-text-color);
        fill: var(--text-input-icon-color);
        pointer-events: none;

        &.mode-form {
            background-color: var(--text-input-bg-color-readonly);
            border-color: var(--text-input-border-color-readonly);
        }

        &.mode-cell {
            background-color: transparent;
            border-color: transparent;
        }
    }

    &:global(.uui-disabled) {
        color: var(--text-input-text-color-disabled);
        fill: var(--text-input-icon-color-disabled);
        pointer-events: none;

        :global(.uui-input) {
            color: var(--text-input-text-color-disabled);

            &::placeholder {
                color: var(--text-input-placeholder-color-disabled);
            }
        }

        &.mode-form {
            background-color: var(--text-input-bg-color-disabled);
            border-color: var(--text-input-border-color-disabled);
        }

        &.mode-cell {
            background-color: transparent;
            border-color: transparent;
        }
    }
}
