.preset-button-wrapper {
    align-self: stretch;
    display: flex;

    .preset-tab-button {
        &:global(.uui-button-box) {
            height: calc(100% - 1px);
            align-self: stretch;
        }

        :global(.uui-caption) {
            white-space: nowrap;
        }

    }
}
