@use '../../../../node_modules/@epam/promo/assets/styles/colors' as *;
@use '../../../../node_modules/@epam/promo/assets/styles/fonts' as *;
@import "defaultPresetButton";

.presets-title {
    min-width: 192px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.presets-wrapper {
    overflow-x: auto;
}

.right-block {
    :global(.uui-caption) {
        white-space: nowrap;
    }
}
