@use '../../../../node_modules/@epam/promo/assets/styles/colors' as *;
@use '../../../../node_modules/@epam/promo/assets/styles/fonts' as *;

.preset-dropdown-panel {
    min-width: 150px;
}

.delete-row {
    svg {
        fill: $red-darkest;
    }

    .delete-button {
        color: $red-darkest;
    }
}

.targetOpen {
    &:global(.uui-button-box) {
        :global(.uui-icon) {
            visibility: visible;
        }
    }
}


