@use '../../../../node_modules/@epam/promo/assets/styles/colors' as *;

.divider {
    margin-right: 3px;
    border-left: 1px solid $gray40;
    height: 24px;
}

.dropdownDeleteIcon {
    :global(.uui-icon) {
        visibility: hidden;
    }
    &:hover {
        :global(.uui-icon) {
            visibility: visible;
        }
    }
}

.presetsWrapper {
    :not(:first-child) {
        &.addPresetContainer {
            padding-left: 6px;
        }
    }
}
