@use '~@epam/assets/scss/index' as *;

.colorPicker {
    position: relative;
    display: flex;
}

.text-color {
    height: 30px;
    padding: 0 36px 0 6px;
    display: flex;
    align-items: center;
    font-family: $font-sans-semibold;
    font-size: 18px;
    color: $sky;
    border: 1px solid $sky;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background: $sky;
        color: $white;
    }
}

.colorLine {
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 12px;
    height: 2px;
}

.button {
    position: absolute;
    right: 0;
    top: 0;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.colorButton {
    width: 18px;
    height: 18px;
    border: 1px solid $night50;
    cursor: pointer;
}
