.icon-color-info {
    --icon-color: var(--info-color);
    --icon-color-hover: var(-info-hover-color);
    --icon-color-active: var(--info-active-color);
    --icon-color-disabled: var(--iconButton-disabled-color);
}

.icon-color-success {
    --icon-color: var(--success-color);
    --icon-color-hover: var(--success-color-hover);
    --icon-color-active: var(--success-active-color);
    --icon-color-disabled: var(--iconButton-disabled-color);
}

.icon-color-warning {
    --icon-color: var(--warning-color);
    --icon-color-hover: var(--warning-hover-color);
    --icon-color-active: var(--warning-active-color);
    --icon-color-disabled: var(--iconButton-disabled-color);
}

.icon-color-error {
    --icon-color: var(--error-color);
    --icon-color-hover: var(--error-hover-color);
    --icon-color-active: var(--error-active-color);
    --icon-color-disabled: var(--iconButton-disabled-color);
}

.icon-color-default {
    --icon-color: var(--default-color);
    --icon-color-hover: var(--default-hover-color);
    --icon-color-active: var(--default-active-color);
    --icon-color-disabled: var(--iconButton-disabled-color);
}

.icon-color-secondary {
    --icon-color: var(--secondary-color);
    --icon-color-hover: var(--secondary-hover-color);
    --icon-color-active: var(--secondary-active-color);
    --icon-color-disabled: var(--iconButton-disabled-color);
}
