.linkButton-color {
    --text-color: var(--info-color);
    --text-color-hover: var(--info-hover-color);
    --text-color-active: var(--info-active-color);
    --text-color-disabled: var(--button-disabled-color);
}
