@use '~@epam/assets/scss/loveship/typography' as *;
@use '~@epam/assets/scss/loveship/colors' as *;
@use '~@epam/assets/scss/loveship/fonts' as *;
@import './draft.module';

.container {
    display: flex;
    flex-direction: column;
    background: $white;
    border: 1px solid $night50;
    height: 100%;

    :global {
        .public-DraftEditor-container {
            min-height: 100%;
            margin-right: 8px;
            cursor: text;
        }

        .public-DraftEditor-content {
            flex-shrink: 0;
            font-family: $font-sans;
            position: relative;
            min-height: 300px;

            > div {
                padding: 12px;
            }
        }

        .public-DraftEditorPlaceholder-root {
            font-family: $font-sans;
            color: $night300;
            margin: 12px 0;
            position: absolute;
        }

        .public-DraftEditorPlaceholder-inner {
            padding: 12px;
            flex-shrink: 0;
        }
    }
}

.controls {
    display: flex;
}

.toolbar {
    flex-wrap: wrap;
}

.headerShadowed {
    box-shadow: 0 1px 5px 0 #EEEEEE;
}

.separator {
    height: 24px;
    border-left: 1px solid $night200;
}

.typography-loveship {
    @include typography-loveship();
}

.typography-14 {
    @include typography-14();
}
