@use  '../../../../assets/styles/index' as *;
@import '../../../../assets/styles/colorvars/navigation/mainMenu/burger/burgerSearch-colorvars';

.search-input {
    @include burger-search-color();
    height: 60px;
    background-color: var(--background-color);
    fill: var(--fill);
    padding: 0 16px;
    flex-shrink: 0;

    :global(.uui-input) {
        color: var(--color);
        font-family: $font-sans;

        &::placeholder {
            color: var(--placeholder-color);
        }
    }

    :global(.uui-caption),
    :global(.uui-input) {
        padding: 18px 16px;
        line-height: 24px;
        font-size: 14px;
    }

    :global(.uui-icon) {
        svg {
            height: 16px;
            max-width: 16px;
        }
    }

    :global(.uui-icon-cancel) {
        svg {
            height: 24px;
            max-width: 24px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
