@use  '../../../../assets/styles/index' as *;
@import '../../../../assets/styles/colorvars/navigation/mainMenu/burger/burgerGroupHeader-colorvars';

.group-header {
    padding: 17px 0 0 0;
}

.group-name {
    @include burger-groupHeader-color();
    font-family: $font-sans;
    font-size: 12px;
    color: var(--text-color);
    background: var(--background-color);
    padding: 0 14px 0 18px;
}

.line {
    @include burger-groupHeader-color();
    position: absolute;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--line-background-color);
    z-index: -1;
    margin-top: 11px;
}
