:global(.modals-vars) {
    --modals-border-radius: var(--border-radius);
    --modals-overlay-color: rgba(29, 30, 38, 0.8);
    --modals-shadow: 0 6px 18px 0 rgba(29, 30, 38, 0.05), 0 3px 12px 0 rgba(29, 30, 38, 0.05);
    --modals-background-color: var(--surface-color)
}