@import '~@epam/promo/assets/styles/colors';

.container {
    min-height: 454px;
    max-height: 620px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

:global(.uui-table-row) {
    &.task-is-done {
        --uui-dt-row-bg: var(--uui-surface-higher);
    }

    .configItem {
        visibility: hidden;

        &.showButton {
            visibility: visible;
        }
    }

    &:hover {
        .configItem {
            visibility: visible;
        }
    }
}

.weekend-day {
    background-color: var(--uui-surface-highest);
}
