@import '~@epam/promo/assets/styles/colors';

.container {
    height: 400px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

:global(.uui-table-row) {
    &.task-is-done {
        --uui-dt-row-bg: var(--gray10);
    }

    .configItem {
        visibility: hidden;

        &.showButton {
            visibility: visible;
        }
    }

    &:hover {
        .configItem {
            visibility: visible;
        }
    }
}

.weekend-day {
    background-color: #EBEDF5;
}

.action-button {
    padding: 0 20px;

    &:first-child {
        padding: 0 18px;
    }
}
