:global(.uui-theme-cyan) {
    $white: #FFFFFF;
    $blue: #008ACE;
    $green: #88CC00;
    $amber: #FFC000;
    $red: #E54322;
    $cyan: #14CCCC;
    $orange: #E67E17;
    $purple: #AD14CC;
    $violet: #5214CC;

    $neutral50: #FAFAFA;
    $neutral100: #F5F5F5;
    $neutral200: #EEEEEE;
    $neutral300: #E1E1E1;
    $neutral400: #CACACA;
    $neutral500: #8E8E8E;
    $neutral600: #4B4B4B;
    $neutral700: #1F1F1F;

    --font-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',SimSun, sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',SimSun, sans-serif;
    --font-promo: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',SimSun, sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';

    --accent-color: #FF8156;
    --accent-light-color: #FFA487;
    --accent-lightest-color: #FFC8B6;
    --accent-dark-color: #FFC8B6;
    --accent-darkest-color: #FE632F;
    --primary-color: #15C5CE;
    --primary-light-color: #47CFD6;
    --primary-lightest-color: #7DDDE1;
    --primary-dark-color: #47CFD6;
    --primary-darkest-color: #00ABB6;
    --secondary-color: #4B4B4B;
    --secondary-light-color: #8E8E8E;
    --secondary-lightest-color: #CACACA;
    --secondary-dark-color: #8E8E8E;
    --secondary-darkest-color: #1F1F1F;
    --negative-color: #F64C4C;
    --negative-light-color: #EB6F70;
    --negative-lightest-color: #F49898;
    --negative-dark-color: #EB6F70;
    --negative-darkest-color: #EC2D30;

    --contrast-color: #{$white};
    --warning-color: #FFAD0D;
    --disabled-color: #B0EBEC;
    --surface-color: #{$white};
    --surface-hover-color: #{$neutral200};
    --surface-dark-color: #{$neutral700};
    --surface-light-color: #{$white};
    --divider-color: #{$neutral300};
    --icon-color: #{$neutral400};

    --button-bg-halftone-color: #{$white};
    --button-caption-disabled-color: #{$white};

    --input-bg-color: #{$white};
    --input-switch-bg-color: #{$neutral400};
    --input-bg-checked-color: var(--primary-color);
    --input-bg-checked-hover-color: var(--primary-color);
    --input-bg-checked-disabled-color: var(--primary-light-color);
    --input-bg-hover-color: #{$neutral400};
    --input-bg-disabled-color: #{$neutral50};
    --input-bg-readonly-color: #{$neutral50};
    --input-border-color: #{$neutral300};
    --input-border-checked-color: var(--primary-color);
    --input-border-checked-hover-color: var(--primary-dark-color);
    --input-border-checked-disabled-color: var(--primary-lightest-color);
    --input-border-hover-color: var(--primary-dark-color);
    --input-switch-border-hover-color: #{$neutral300};
    --input-textinput-border-hover-color: var(--primary-light-color);
    --input-border-disabled-color: var(--disabled-color);
    --input-border-readonly-color: var(--disabled-color);
    --input-rest-color: var(--primary-color);
    --input-hover-color: var(--primary-dark-color);
    --input-active-color: var(--primary-darkest-color);

    --input-label-color: #{$neutral600};
    --input-label-disabled-color: #{$neutral400};

    --input-placeholder-color: #{$neutral400};
    --input-placeholder-disabled-color: #{$neutral300};
    --input-text-color: #{$neutral600};
    --input-text-disabled-color: #{$neutral400};

    --input-icon-color: #{$neutral400};
    --input-icon-disabled-color: #{$neutral400};
    --input-icon-clickable-color: #{$neutral400};
    --input-icon-clickable-hover-color: #{$neutral400};
    --input-checkbox-icon-color: #{$white};

    // ---------------------------

    --border-radius: 4px;
}
