:global(.uui-theme-orange) {
    $primary1-day: #7700FF;
    $primary1-day-light: #7700FF19;
    $primary1-day-lightest: #7700FF0C;
    $primary1-day-dark: #7700FFF2;
    $primary1-day-darkest: #7700FFE5;
    $primary1-night: #9466FF;
    $primary1-night-dark: #9466FFF2;
    $primary1-night-darkest: #9466FFE5;
    $primary2-day: #FF4F12;
    $primary2-day-light: #FF4F1219;
    $primary2-day-lightest: #FF4F120C;
    $primary2-day-dark: #F34C13;
    $primary2-day-darkest: #E74A14;
    $primary2-night: #FF5E2D;
    $primary2-night-dark: #FF5E2DF2;
    $primary2-night-darkest: #FF5E2DE5;
    $secondary1-day: #29CCA3;
    $secondary1-day-dark: #29CCA3F2;
    $secondary1-day-darkest: #29CCA3E5;
    $secondary1-night: #16D9A6;
    $secondary1-night-dark: #16D9A6F2;
    $secondary1-night-darkest: #16D9A6E5;
    $secondary2-day: #2F9AFF;
    $secondary2-day-dark: #2F9AFFF2;
    $secondary2-day-darkest: #2F9AFFE5;
    $secondary2-night: #40A2FF;
    $secondary2-night-dark: #40A2FFF2;
    $secondary2-night-darkest: #40A2FFE5;

    $success-day: #00D359;
    $success-night: #26DA72;
    $warning-day: #FFB608;
    $warning-night: #FFCA00;
    $error-day: #FF0C0C;
    $error-night: #FF4747;
    $info-day: #0042ED;
    $info-night: #4075FF;

    $black: #101828;
    $black-95: #1D2533;
    $black-90: #272F3D;
    $black-80: #3D4555;
    $black-60: #797E8B;
    $black-40: #B5B7C0;
    $black-20: #D3D4DB;
    $black-10: #E8E8EE;
    $black-5: #F4F4F5;
    $white: #FFFFFF;

    $transparent-3: #10182806;
    $transparent-5: #1018280D;
    $transparent-10: #1018281A;
    $transparent-25: #10182840;
    $transparent-50: #10182880;
    $transparent-75: #101828B3;
    $transparent-100: #101828;

    --font-regular: 'Sans Regular', Arial, sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: 'Museo Sans', 'Sans Semibold', Arial, sans-serif;
    --font-promo: 'Museo Slab', 'Roboto Slab', Arial, sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';

    --accent-color: #{$primary1-day};
    --accent-light-color: #{$primary1-day-light};
    --accent-lightest-color: #{$primary1-day-lightest};
    --accent-dark-color: #{$primary1-day-dark};
    --accent-darkest-color: #{$primary1-day-darkest};
    --primary-color: #{$primary2-day};
    --primary-light-color: #{$primary2-day-light};
    --primary-lightest-color: #{$primary2-day-lightest};
    --primary-dark-color: #{$primary2-day-dark};
    --primary-darkest-color: #{$primary2-day-darkest};
    --secondary-color: #{$primary2-day};
    --secondary-light-color: #{$primary2-day-light};
    --secondary-lightest-color: #{$primary2-day-lightest};
    --secondary-dark-color: #{$primary2-day-dark};
    --secondary-darkest-color: #{$primary2-day-darkest};
    --negative-color: #{$error-day};
    --negative-light-color: #E6674E;
    --negative-lightest-color: #F78C77;
    --negative-dark-color: #694548;
    --negative-darkest-color: #473943;

    --contrast-color: #{$white};
    --info-color: #{$info-day};
    --info-hover-color: #{darken($info-day, 5%)};
    --info-active-color: #{darken($info-day, 10%)};
    --success-color: #{$success-day};
    --success-hover-color: #{darken($success-day, 5%)};
    --success-active-color: #{darken($success-day, 10%)};
    --warning-color: #{$warning-day};
    --warning-hover-color: #{darken($warning-day, 5%)};
    --warning-active-color: #{darken($warning-day, 10%)};
    --error-color: #{$error-day};
    --error-hover-color: #{darken($error-day, 5%)};
    --error-active-color: #{darken($error-day, 10%)};
    --default-color: #{$transparent-50};
    --default-hover-color: #{$black};
    --default-active-color: #{$black};
    --disabled-color: #{$transparent-10};
    --surface-color: #{$white};
    --surface-hover-color: #{$black-10};
    --surface-dark-color: #{$black};
    --surface-light-color: #{$white};
    --divider-color: #{$transparent-50};

    --text-brand-color: #{$primary2-day};
    --text-primary-color: #{$black};
    --text-secondary-color: #{$transparent-50};
    --text-disabled-color: #{$transparent-25};
    --text-contrast-color: #{$white};

    --button-bg-halftone-color: transparent;
    --button-caption-disabled-color: #{$transparent-25};

    --input-bg-color: #{$transparent-5};
    --input-switch-bg-color: #{$transparent-25};
    --input-bg-checked-color: #{$white};
    --input-bg-checked-hover-color: #{$white};
    --input-bg-checked-disabled-color: #{$white};
    --input-bg-hover-color: #{$transparent-5};
    --input-bg-disabled-color: #{$transparent-25};
    --input-bg-readonly-color: #{$transparent-25};
    --input-border-color: #{$transparent-25};
    --input-border-checked-color: var(--primary-color);
    --input-border-checked-hover-color: var(--primary-color);
    --input-border-checked-disabled-color: var(--primary-dark-color);
    --input-border-hover-color: var(--primary-color);
    --input-switch-border-hover-color: #{$transparent-25};
    --input-textinput-border-hover-color: #{$transparent-25};
    --input-border-disabled-color: var(--disabled-color);
    --input-border-readonly-color: var(--disabled-color);
    --input-rest-color: var(--primary-color);
    --input-hover-color: var(--primary-light-color);
    --input-active-color: var(--primary-lightest-color);

    --input-label-color: #{$black};
    --input-label-disabled-color: #{$transparent-25};

    --input-placeholder-color: #{$transparent-75};
    --input-placeholder-disabled-color: #{$transparent-25};
    --input-text-color: #{$black};
    --input-text-disabled-color: #{$transparent-25};

    --input-icon-color: #{$transparent-50};
    --input-icon-disabled-color: #{$transparent-50};
    --input-icon-clickable-color: #{$transparent-50};
    --input-icon-clickable-hover-color: #{$transparent-50};
    --input-checkbox-icon-color: #{$black};

    --panel-shadow: rgb(28 41 61 / 5%) 0 0 20px, rgb(28 41 61 / 6%) 0 12px 20px;

    // ---------------------------

    --border-radius: 3px;
}
