:global(.uui-theme-red) {
    $dark_indigo: #0B1F35;
    $dark_indigo_95: #0B1F35F2;
    $dark_indigo_90: #0B1F35E6;
    $dark_indigo_85: #0B1F35D9;
    $dark_indigo_60: #0B1F3599;
    $dark_indigo_40: #0B1F3566;
    $dark_indigo_30: #0B1F354D;
    $dark_indigo_25: #0B1F3540;
    $dark_indigo_20: #0B1F3533;
    $dark_indigo_15: #0B1F3526;
    $dark_indigo_10: #0B1F351A;
    $dark_indigo_07: #0B1F3512;
    $dark_indigo_05: #0B1F350D;
    $dark_indigo_60_flat: #6D7986;
    $dark_indigo_30_flat: #B6BCC3;
    $dark_indigo_15_flat: #DBDEE1;
    $dark_indigo_10_flat: #E7E9EB;
    $dark_indigo_07_flat: #EEEFF1;
    $dark_indigo_05_flat: #F3F4F5;
    $red_brand: #EF3124;
    $red_brand_85: #EF3124D9;
    $red_brand_70: #EF3124B3;
    $red_brand_50: #EF312480;
    $red_brand_30: #EF31244D;
    $red_brand_20: #EF312433;
    $red_brand_10: #EF31241A;
    $red_brand_85_flat: #F15045;
    $red_brand_70_flat: #F46F66;
    $red_brand_50_flat: #F69791;
    $red_brand_30_flat: #FBC2BD;
    $red_brand_20_flat: #FCD6D3;
    $red_brand_10_flat: #FEEBEA;
    $red_brand_05_flat: #FEF5F4;
    $red_dark: #D91D0B;
    $red_error: #FF5C5C;
    $green_text: #13A463;
    $green_text_60: #13A46399;
    $green_text_60_flat: #71C8A1;
    $green_done: #2FC26E;
    $green_done_20: #2FC26E33;
    $green_done_10: #2FC26E1A;
    $green_done_05: #2FC26E0D;
    $green_done_20_flat: #D5F3E2;
    $green_done_10_flat: #EBF9F1;
    $green_done_05_flat: #F4FCF7;
    $blue_action: #0E60B9;
    $blue_swipe_a: #2670C6;
    $blue_swipe_b: #3781D8;
    $blue_swipe_c: #4A90E2;
    $blue_link_mobile: #007AFF;
    $blue_link_mobile_10: #007AFF1A;
    $blue_link_mobile_10_flat: #E6F2FF;
    $blue_link_web: #0F62FE;
    $sand: #F6BF65;
    $lavender: #8888AD;
    $amethyst: #A489AA;
    $black: #000000;
    $black_60: #00000099;
    $black_30: #0000004D;
    $black_10: #0000001A;
    $black_60_flat: #666666;
    $black_30_flat: #B3B3B3;
    $black_10_flat: #E6E6E6;
    $white: #FFFFFF;
    $white_60: #FFFFFF99;
    $white_30: #FFFFFF4D;
    $white_10: #FFFFFF1A;
    $bg_corporate: #212A33;
    $bg_corporate_90: #212A33E6;
    $bg_corporate_60: #212A3399;
    $bg_corporate_30: #212A334D;
    $bg_corporate_90_flat: #384048;
    $bg_corporate_60_flat: #7A7F85;
    $bg_corporate_30_flat: #BDC0C2;
    $light_blue: #F5F7F9;
    $white: #FFF;

    --font-regular: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-promo: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';


    --accent-color: #{$dark_indigo_90};
    --accent-light-color: #{$dark_indigo_60};
    --accent-lightest-color: #{$dark_indigo_30};
    --accent-dark-color: #{$dark_indigo_85};
    --accent-darkest-color: #{$dark_indigo};
    --primary-color: #{$red_brand_85};
    --primary-light-color: #{$red_brand_70};
    --primary-lightest-color: #{$red_brand_70};
    --primary-dark-color: #{$red_brand};
    --primary-darkest-color: #9E0C00;
    --secondary-color: #{$dark_indigo_10};
    --secondary-light-color: #{$dark_indigo_07};
    --secondary-lightest-color: #{$dark_indigo_05};
    --secondary-dark-color: #{$dark_indigo_20};
    --secondary-darkest-color: #{$dark_indigo_40};
    --negative-color: #{$red_dark};
    //--negative-light-color: #E6674E;
    //--negative-lightest-color: #F78C77;
    //--negative-dark-color: #694548;
    //--negative-darkest-color: #473943;



    --contrast-color: #{$white};
    --visited-color: #{$blue_link_mobile_10};
    --info-color: #{$blue_action};
    --info-hover-color: #{darken($blue_action, 5%)};
    --info-active-color: #{darken($blue_action, 10%)};
    --success-color: #{$green_done};
    --success-hover-color: #{darken($green_done, 5%)};
    --success-active-color: #{darken($green_done, 10%)};
    --warning-color: #{$sand};
    --warning-hover-color: #{darken($sand, 5%)};
    --warning-active-color: #{darken($sand, 10%)};
    --error-color: #{$red_error};
    --error-hover-color: #{darken($red_error, 5%)};
    --error-active-color: #{darken($red_error, 10%)};
    --icon-color: #666666;
    --icon-hover-color: #{$black};
    --icon-active-color: #{$black};
    //--secondary-color: #{$gray50};
    //--secondary-hover-color: #{$gray60};
    //--secondary-active-color: #{$gray70};
    //--button-disabled-color: #{$gray50};
    --disabled-color: #{$dark_indigo_20};
    --surface-color: #{$white};
    --surface-hover-color: #0B1F3514;
    //--surface-dark-color: #{$gray90};
    //--surface-light-color: #{$white};
    --divider-color: #{$dark_indigo_30};

    --button-bg-halftone-color: transparent;
    --button-caption-disabled-color: #{$dark_indigo_30};

    --input-bg-color: #F3F4F5;
    --input-switch-bg-color: #{$dark_indigo_30};
    --input-bg-checked-color: var(--primary-color);
    --input-bg-checked-hover-color: var(--primary-dark-color);
    --input-bg-checked-disabled-color: var(--primary-darkest-color);
    --input-bg-hover-color: #{$dark_indigo_60};
    --input-bg-disabled-color: #{$dark_indigo_30};
    --input-bg-readonly-color: #{$dark_indigo_30};
    --input-border-color: #{$dark_indigo_40};
    --input-border-checked-color: var($dark_indigo_90);
    --input-border-checked-hover-color: var($dark_indigo_25);
    --input-border-checked-disabled-color: var($dark_indigo_20);
    --input-border-hover-color: var($dark_indigo_60);
    --input-switch-border-hover-color: #{$dark_indigo_60};
    --input-textinput-border-hover-color: #{$dark_indigo_60};
    --input-border-disabled-color: var(--disabled-color);
    --input-border-readonly-color: var(--disabled-color);
    --input-rest-color: var(--primary-color);
    --input-hover-color: var(--primary-light-color);
    --input-active-color: var(--primary-lightest-color);

    --input-label-color: #{$dark_indigo_95};
    --input-label-disabled-color: #{$dark_indigo_30};

    --input-placeholder-color: #{$dark_indigo_60};
    --input-placeholder-disabled-color: #{$dark_indigo_30};
    --input-text-color: #{$dark_indigo_95};
    --input-text-disabled-color: #{$dark_indigo_30};

    --input-checkbox-icon-color: #{$white};

    --panel-shadow: 0 1px 2px rgb(11 31 53 / 16%), 0 4px 12px rgb(11 31 53 / 8%);

    // ---------------------------

    --border-radius: 4px;
}
