:global(.uui-theme-red) {
    $dark_indigo: #0b1f35;
    $dark_indigo_95: #0b1f35f2;
    $dark_indigo_90: #0b1f35e6;
    $dark_indigo_85: #0b1f35d9;
    $dark_indigo_60: #0b1f3599;
    $dark_indigo_40: #0b1f3566;
    $dark_indigo_30: #0b1f354d;
    $dark_indigo_25: #0b1f3540;
    $dark_indigo_20: #0b1f3533;
    $dark_indigo_15: #0b1f3526;
    $dark_indigo_10: #0b1f351a;
    $dark_indigo_07: #0b1f3512;
    $dark_indigo_05: #0b1f350d;
    $dark_indigo_60_flat: #6d7986;
    $dark_indigo_30_flat: #b6bcc3;
    $dark_indigo_15_flat: #dbdee1;
    $dark_indigo_10_flat: #e7e9eb;
    $dark_indigo_07_flat: #eeeff1;
    $dark_indigo_05_flat: #f3f4f5;
    $red_brand: #ef3124;
    $red_brand_85: #ef3124d9;
    $red_brand_70: #ef3124b3;
    $red_brand_50: #ef312480;
    $red_brand_30: #ef31244d;
    $red_brand_20: #ef312433;
    $red_brand_10: #ef31241a;
    $red_brand_85_flat: #f15045;
    $red_brand_70_flat: #f46f66;
    $red_brand_50_flat: #f69791;
    $red_brand_30_flat: #fbc2bd;
    $red_brand_20_flat: #fcd6d3;
    $red_brand_10_flat: #feebea;
    $red_brand_05_flat: #fef5f4;
    $red_dark: #d91d0b;
    $red_error: #ff5c5c;
    $green_text: #13a463;
    $green_text_60: #13a46399;
    $green_text_60_flat: #71c8a1;
    $green_done: #2fc26e;
    $green_done_20: #2fc26e33;
    $green_done_10: #2fc26e1a;
    $green_done_05: #2fc26e0d;
    $green_done_20_flat: #d5f3e2;
    $green_done_10_flat: #ebf9f1;
    $green_done_05_flat: #f4fcf7;
    $blue_action: #0e60b9;
    $blue_swipe_a: #2670c6;
    $blue_swipe_b: #3781d8;
    $blue_swipe_c: #4a90e2;
    $blue_link_mobile: #007aff;
    $blue_link_mobile_10: #007aff1a;
    $blue_link_mobile_10_flat: #e6f2ff;
    $blue_link_web: #0f62fe;
    $sand: #f6bf65;
    $lavender: #8888ad;
    $amethyst: #a489aa;
    $black: #000000;
    $black_60: #00000099;
    $black_30: #0000004d;
    $black_10: #0000001a;
    $black_60_flat: #666666;
    $black_30_flat: #b3b3b3;
    $black_10_flat: #e6e6e6;
    $white: #ffffff;
    $white_60: #ffffff99;
    $white_30: #ffffff4d;
    $white_10: #ffffff1a;
    $bg_corporate: #212a33;
    $bg_corporate_90: #212a33e6;
    $bg_corporate_60: #212a3399;
    $bg_corporate_30: #212a334d;
    $bg_corporate_90_flat: #384048;
    $bg_corporate_60_flat: #7a7f85;
    $bg_corporate_30_flat: #bdc0c2;
    $light_blue: #f5f7f9;
    $white: #fff;

    --font-regular: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    --font-promo: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';


    --accent-color: #{$dark_indigo_90};
    --accent-light-color: #{$dark_indigo_60};
    --accent-lightest-color: #{$dark_indigo_30};
    --accent-dark-color: #{$dark_indigo_85};
    --accent-darkest-color: #{$dark_indigo};
    --primary-color: #{$red_brand_85};
    --primary-light-color: #{$red_brand_70};
    --primary-lightest-color: #{$red_brand_70};
    --primary-dark-color: #{$red_brand};
    --primary-darkest-color: #9e0c00;
    --secondary-color: #{$dark_indigo_10};
    --secondary-light-color: #{$dark_indigo_07};
    --secondary-lightest-color: #{$dark_indigo_05};
    --secondary-dark-color: #{$dark_indigo_20};
    --secondary-darkest-color: #{$dark_indigo_40};
    --negative-color: #{$red_dark};
    //--negative-light-color: #E6674E;
    //--negative-lightest-color: #F78C77;
    //--negative-dark-color: #694548;
    //--negative-darkest-color: #473943;



    --contrast-color: #{$white};
    --visited-color: #{$blue_link_mobile_10};
    --info-color: #{$blue_action};
    --info-hover-color: #{darken($blue_action, 5%)};
    --info-active-color: #{darken($blue_action, 10%)};
    --success-color: #{$green_done};
    --success-hover-color: #{darken($green_done, 5%)};
    --success-active-color: #{darken($green_done, 10%)};
    --warning-color: #{$sand};
    --warning-hover-color: #{darken($sand, 5%)};
    --warning-active-color: #{darken($sand, 10%)};
    --error-color: #{$red_error};
    --error-hover-color: #{darken($red_error, 5%)};
    --error-active-color: #{darken($red_error, 10%)};
    --icon-color: #666666;
    --icon-hover-color: #{$black};
    --icon-active-color: #{$black};
    //--secondary-color: #{$gray50};
    //--secondary-hover-color: #{$gray60};
    //--secondary-active-color: #{$gray70};
    //--button-disabled-color: #{$gray50};
    --disabled-color: #{$dark_indigo_20};
    --surface-color: #{$white};
    --surface-hover-color: #0b1f3514;
    //--surface-dark-color: #{$gray90};
    //--surface-light-color: #{$white};
    --divider-color: #{$dark_indigo_30};

    --button-bg-halftone-color: transparent;
    --button-caption-disabled-color: #{$dark_indigo_30};

    --input-bg-color: #f3f4f5;
    --input-switch-bg-color: #{$dark_indigo_30};
    --input-bg-checked-color: var(--primary-color);
    --input-bg-checked-hover-color: var(--primary-dark-color);
    --input-bg-checked-disabled-color: var(--primary-darkest-color);
    --input-bg-hover-color: #{$dark_indigo_60};
    --input-bg-disabled-color: #{$dark_indigo_30};
    --input-bg-readonly-color: #{$dark_indigo_30};
    --input-border-color: #{$dark_indigo_40};
    --input-border-checked-color: var($dark_indigo_90);
    --input-border-checked-hover-color: var($dark_indigo_25);
    --input-border-checked-disabled-color: var($dark_indigo_20);
    --input-border-hover-color: var($dark_indigo_60);
    --input-switch-border-hover-color: #{$dark_indigo_60};
    --input-textinput-border-hover-color: #{$dark_indigo_60};
    --input-border-disabled-color: var(--disabled-color);
    --input-border-readonly-color: var(--disabled-color);
    --input-rest-color: var(--primary-color);
    --input-hover-color: var(--primary-light-color);
    --input-active-color: var(--primary-lightest-color);

    --input-label-color: #{$dark_indigo_95};
    --input-label-disabled-color: #{$dark_indigo_30};

    --input-placeholder-color: #{$dark_indigo_60};
    --input-placeholder-disabled-color: #{$dark_indigo_30};
    --input-text-color: #{$dark_indigo_95};
    --input-text-disabled-color: #{$dark_indigo_30};

    --input-checkbox-icon-color: #{$white};

    --panel-shadow: 0 1px 2px rgb(11 31 53 / 16%), 0 4px 12px rgb(11 31 53 / 8%);

    // ---------------------------

    --border-radius: 4px;
}