:global(.uui-theme-promo) {
    --uui-docs-background: var(--white);
}

:global(.uui-theme-loveship) {
    --uui-docs-background: var(--white);
}

:global(.uui-theme-loveship_dark) {
    --uui-docs-background: var(--night50);
}
