:global(.uui-theme-promo) {
    --uui-docs-background: var(--white);
    --uui-docs-title: var(----uui-surface-contrast-low)
;}

:global(.uui-theme-loveship) {
    --uui-docs-background: var(--white);
    --uui-docs-title: var(--uui-surface-contrast-low)
;}

:global(.uui-theme-loveship_dark) {
    --uui-docs-background: var(--night900);
    --uui-docs-title: var(--uui-surface)
;}
