:global(.uui-theme-violet) {
    $cerulean-50: #e8eaf6;
    $cerulean-100: #c4cbe8;
    $cerulean-200: #9daad9;
    $cerulean-300: #7688c9;
    $cerulean-400: #586ebe;
    $cerulean-500: #3855b3; // default
    $cerulean-600: #324da9;
    $cerulean-700: #28439d;
    $cerulean-800: #203991;
    $cerulean-900: #10277c;

    $gray-50: #f8f8fa;
    $gray-100: #f0f1f2;
    $gray-200: #e6e7e9;
    $gray-300: #d6d6d8;
    $gray-400: #b1b2b4;
    $gray-500: #919294;
    $gray-600: #696a6b;
    $gray-700: #565758;
    $gray-800: #38383a;
    $gray-900: #181819;

    $white: #FFFFFF;

    $red600: #DC2626;

    --font-regular: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-promo: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';

    //--accent-color: #{$green};
    //--accent-light-color: #89C219;
    //--accent-lightest-color: #A6D151;
    //--accent-dark-color: #3E4A39;
    //--accent-darkest-color: #38403B;
    --primary-color: #{$cerulean-500};
    --primary-light-color: #3855b31f;
    --primary-lightest-color: #3855b30a;
    --primary-dark-color: #344ea5;
    --primary-darkest-color: #2b4188;
    --secondary-color: #565758;
    --secondary-light-color: #5657581f;
    --secondary-lightest-color: #5657580a;
    --secondary-dark-color: #4f5051;
    --secondary-darkest-color: #414243;
    --negative-color: #{$red600};
    --negative-light-color: #E6674E;
    --negative-lightest-color: #F78C77;
    --negative-dark-color: #694548;
    --negative-darkest-color: #473943;

    --button-bg-halftone-color: transparent;
    --button-caption-disabled-color: #{$white};

    --contrast-color: #{$white};
    --warning-color: #ff8f00;
    --disabled-color: #{$gray-500};
    --surface-color: #{$white};
    --surface-hover-color: #{$gray-200};
    --surface-dark-color: #{$gray-900};
    --surface-light-color: #{$white};
    --divider-color: #{$gray-400};
    --icon-color: #{$gray-600};

    --input-bg-color: #{$white};
    --input-switch-bg-color: #{$gray-500};
    --input-bg-checked-color: var(--primary-color);
    --input-bg-checked-hover-color: var(--primary-color);
    --input-bg-checked-disabled-color: var(--primary-dark-color);
    --input-bg-hover-color: #38383a6b;
    --input-bg-disabled-color: #f0f1f2;
    --input-bg-readonly-color: #f0f1f2;
    --input-border-color: #{$gray-500};
    --input-border-checked-color: var(--primary-color);
    --input-border-checked-hover-color: var(--primary-light-color);
    --input-border-checked-disabled-color: var(--primary-dark-color);
    --input-border-hover-color: var(--primary-color);
    --input-switch-border-hover-color: #{#{$gray-500}};
    --input-textinput-border-hover-color: #38383a6b;
    --input-border-disabled-color: var(--disabled-color);
    --input-border-readonly-color: var(--disabled-color);
    --input-rest-color: var(--primary-color);
    --input-hover-color: var(--primary-light-color);
    --input-active-color: var(--primary-lightest-color);

    --input-label-color: #181819e6;
    --input-label-disabled-color: #18181973;

    --input-placeholder-color: #38383a6b;
    --input-placeholder-disabled-color: #38383a57;
    --input-text-color: #38383ae6;
    //--input-text-disabled-color: #{$gray30};

    //--input-icon-color: #{$gray50};
    //--input-icon-disabled-color: #{$gray50};
    //--input-icon-clickable-color: #{$gray60};
    //--input-icon-clickable-hover-color: #{$gray70};
    --input-checkbox-icon-color: #{$white};
    //--input-checkbox-icon-hover-color: #{$gray70};
    //--input-checkbox-icon-disabled-color: #{$gray70};

    // ---------------------------

    --border-radius: 0.25rem;
}