@use '~@epam/assets/scss/promo/colors' as *;

.sidebar {
    position: sticky;
    bottom: 12px;
    display: flex;
    width: fit-content;
    margin: 12px auto 12px;
    background-color: $gray80;
}
