.sidebar {
    position: sticky;
    bottom: 12px;
    display: flex;
    width: fit-content;
    margin: 4px auto 4px;
    background-color: var(--uui-neutral-80);
    border: 1px solid var(--uui-divider-light);
}
