# built files
built
build


# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Visual Studio stuff
.vs

dist

# webpack cache
.awcache

npm-debug.log
_ReSharper.Caches

.idea

*.log
.DS_Store
coverage
.vscode/settings.json
.cursorrules
.cursorignore
.cursor/

# next.js
.next/
.rollup.cache
next-demo/**/.swc
next-demo/**/out/
next-demo/**/build
next-demo/**/.vercel
next-demo/**/npm-debug.log*
next-demo/**/yarn-debug.log*
next-demo/**/yarn-error.log*

.templates
.reports
public/docs/docsGenOutput/docsGenStats.json

#icon source
/icons-source/

.kiro
