# built files
built
build


# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Visual Studio stuff
.vs

dist

# webpack cache
.awcache

npm-debug.log
_ReSharper.Caches

.idea

*.log
.DS_Store
coverage
.vscode/settings.json

# next.js next-app and next-pages
.next/
.rollup.cache
next-app/out/
next-app/build
next-app/.vercel
next-app/npm-debug.log*
next-app/yarn-debug.log*
next-app/yarn-error.log*

next-pages/out/
next-pages/build
next-pages/.vercel
next-pages/npm-debug.log*
next-pages/yarn-debug.log*
next-pages/yarn-error.log*

.templates
.reports
public/docs/docsGenOutput/docsGenStats.json

#icon source
/icons-source/
