@use './effects' as *;
@use './control-layout' as *;
@use './loveship-colors' as *;

@mixin control-form-mode() {
    background-color: $white;
    border-color: $night200;
    border-style: solid;
    border-radius: $control-border-radius;

    &:hover {
        border-color: $night200;
    }

    &:global(.uui-focus) {
        @include control-focus-effect($sky);
        border-color: darken($sky, 10%);
    }
}

@mixin control-inline-mode() {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-radius: $control-border-radius;

    &:hover {
        border-color: $night200;
    }

    &:global(.uui-focus) {
        @include control-focus-effect($sky);
        border-color: darken($sky, 10%);
    }
}

@mixin control-cell-mode() {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-radius: 0;
}
