.container {
    cursor: pointer;

    &:global(.uui-input-box) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        outline: none;
    }

    :global(.uui-input) {
        flex: 1 0 auto;
        min-width: 0;
        border: 0;
        outline: none;
        background: none;
        cursor: pointer;
        text-overflow: ellipsis;


        &.single-input {
            flex: 1 1 auto;
        }

        &.cursor-text {
            cursor: text;
        }
    }
}

.body {
    display: flex;
    width: 100%;
    overflow: hidden;
    outline: none;
    align-items: center;

    &:global(.uui-multiline) {
        flex-wrap: wrap;
    }
}

:global(.uui-actions) {
    display: flex;
    flex-shrink: 0;
}

.toggler {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
