.container {
    cursor: pointer;

    &:global(.uui-input-box) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        outline: none;
        position: relative;
    }

    :global(.uui-input) {
        flex: 1 0 auto;
        min-width: 0;
        border: 0;
        outline: none;
        background: none;
        cursor: pointer;

        &.single-input {
            flex: 1 1 auto;
        }
    }

    :global(.uui-icon-cancel) {
        right: 24px;
    }

    :global(.uui-icon-caret) {
        right: 6px;
        pointer-events: none;
    }

    :global(.uui-icon-caret), :global(.uui-icon-cancel) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.body {
    display: flex;
    width: 100%;
    overflow: hidden;
    outline: none;
    align-items: center;

    &.multiline {
        flex-wrap: wrap;
    }
}

.toggler {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}