.icon {
    margin-right: 5px;
}

.accordion {
    :global(.uui-accordion-body) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    //:global(.uui-accordion-title) {
    //    padding-left: 18px;
    //    padding-right: 18px;
    //}
}

.button {
    padding-left: 18px - 3px;
    padding-right: 18px - 3px;
    
    //&:not(:global(.uui-active)) {
    //    border-left: 0 !important;
    //}
}

.changed {
    font-style: italic;
}

.input-wrapper {
    padding-left: 18px;
    padding-right: 18px;
}
