.list {
    max-height: 300px;
    border: 1px solid var(--uui-neutral-20);
}

.row {
    min-width: 150px;
}

.panel {
    width: 300px;
}

.text {
    white-space: pre-wrap;
}

.pickerRow {
    --uui-picker_input-selected_mark: var(--uui-info-50);
    height: 38px;
}
