@use  '../../../assets/styles/index' as *;
@import '../../../assets/styles/colorvars/navigation/mainMenu/mainMenuIcon-colorvars.scss';

.container {
    @include mainMenu-icon-color();
    height: 60px;
    min-width: 48px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;

    &:global(.-clickable) {
        &:hover {
            background: var(--background-color-hover);
        }

        &:active {
            background-color: var(--background-color-active);
        }
    }
}


