@use  '../../../assets/styles/index' as *;
@import '../../../assets/styles/colorvars/navigation/mainMenu/mainMenuIcon-colorvars.scss';

.container {
    @include mainMenu-icon-color();
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        background: var(--background-color-hover);
    }

    &:active {
        background-color: var(--background-color-active);
    }
}
