.container {
    position: relative;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--uui-control-border);
    background-color: var(--uui-surface-main);
}
