.cell {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-left: calc(var(--uui-dt-cell-border-width) * -1);
    border-left-style: solid;
    border-left-color: transparent;
    border-left-width: var(--uui-dt-cell-border-width);
    border-right-style: solid;
    border-right-color: transparent;
    border-right-width: var(--uui-dt-cell-border-width);
    border-top-style: none;
    border-bottom-style: none;
}
