.cell {
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    display: flex;
    align-items: flex-start;
    background-color: var(--uui-dt-cell-background);
    border-width: var(--uui-dt-cell-border-width);

    border-left-style: solid;
    border-right-style: solid;
    border-top-style: none;
    border-bottom-style: none;

    border-left-color: var(--uui-dt-cell-border-color);
    &:first-child {
        border-left-color: transparent;
    }

    border-right-color: var(--uui-dt-cell-border-color);
    &:last-child {
        border-right-color: transparent;
    }
}

.editor-wrapper {
    flex: 1 1 0;
    min-width: 0;
    position: relative;
    align-self: stretch;
    background-color: var(--uui-dt-cell-editor-background);

    &:hover :global(.uui-cell-overlay) {
        visibility: hidden;

        &:not(:global(.uui-selected-cell)):not(:global(.uui-focus)) {
            z-index: 1;
            visibility: visible;
            border-color: var(--uui-dt-cell-editor-hover-border-color);
        }
    }
}
