.root {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-inline-start: calc(var(--uui-dt-cell-border-width) * -1);
    border-inline-start: var(--uui-dt-cell-border-width) solid transparent;
    border-inline-end: var(--uui-dt-cell-border-width) solid transparent;
    border-top-style: none;
    border-bottom-style: none;
}
