.root {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    pointer-events: none;
    border: 2px solid transparent;
    z-index: 1;
    visibility: visible;
    &:global(.uui-focus) {
        z-index: 2;
        border-color: var(--uui-table-cell-focus-border);
    }
}

.selected {
    z-index: 3;
    &.right {
        border-right-color: var(--uui-table-cell-focus-border);
    }
    &.top {
        border-top-color: var(--uui-table-cell-focus-border);
    }
    &.left {
        border-left-color: var(--uui-table-cell-focus-border);
    }
    &.bottom {
        border-bottom-color: var(--uui-table-cell-focus-border);
    }

}

.copying-marker {
    position: absolute;
    bottom: -1px;
    right: -1px;
    cursor: crosshair;
    pointer-events: all;
    background-color: var(--uui-table-cell-focus-border);

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
    }
}