.sticky-header {
    position: sticky;
    top: 0;
    min-width: min-content;
    z-index: 3;
}

.vertical-intersecting-rect {
    height: 1px;
    width: 100%;
    visibility: hidden;
}

.horizontal-intersecting-rect {
    height: 1px;
    width: 100%;
    position: sticky;
    top: 50%;
    visibility: hidden;
}

.listContainer {
    min-width: min-content;
    display: flex;
    flex-direction: column;
}

:global(.uui-scroll-shadow-top) {
    position: sticky;
    z-index: 3;
}

:global(.uui-scroll-shadow-bottom) {
    position: sticky;
    z-index: 3;
    bottom: 0;
}

:global(.-scrolled-left) {
    :global(.uui-scroll-shadow-left) {
        opacity: 1;
    }
}

:global(.-scrolled-right) {
    :global(.uui-scroll-shadow-right) {
        opacity: 1;
    }
}