@use '~@epam/assets/scss/index' as *;

.container {
    --uui-table-row-min-width: 0px;
    position: relative;
    display: flex;
    min-width: min-content;
    align-items: stretch;
}

.fixed-columns-section-left {
    display: flex;
    position: sticky;
    left: 0;
    min-height: inherit;
}

.fixed-columns-section-right {
    display: flex;
    position: sticky;
    right: 0;
    min-height: inherit;
}

@mixin scroll-shadow($position, $direction) {
    position: absolute;
    top: 0;
    bottom: 0;
    #{$position}: 0;
    width: 5px;
    pointer-events: none;
    background: linear-gradient(to $direction, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
}

:global(.uui-scroll-shadow-left) {
    @include scroll-shadow(left, right);
}

:global(.uui-scroll-shadow-right) {
    @include scroll-shadow(right, left);
}