.container {
    display: grid;
    grid-template-columns: repeat(var(--uui-example-repeat), 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px 18px;
    justify-items: center;
    align-items: start;
}
