.root {
    --uui-time_picker-text: var(--uui-control-text);
    --uui-time_picker-icon-clickable: var(--uui-icon);
    --uui-time_picker-icon-clickable-hover: var(--uui-icon-hover);

    &:global(.uui-timepicker-container) {
        display: flex;
        padding: 15px 12px;
        justify-content: center;

        :global(.uui-timepicker-input) {
            &:global(.uui-input-box) {
                margin: 6px 0;
                width: 36px;
                height: 36px;
            }

            > input {
                text-align: center;
                font-size: 24px;
                line-height: 24px;
                color: var(--uui-time_picker-text);
                font-family: var(--uui-font);
                font-weight: 400;

                &::placeholder,
                &::-webkit-input-placeholder {
                    color: var(--uui-time_picker-text);
                    opacity: 1; /* for Firefox */
                }
            }
        }

        :global(.uui-timepicker-item) {
            position: relative;
            padding: 9px 24px;
        }

        :global(.uui-timepicker-item:first-child) {
            &::after {
                content: ':';
                position: absolute;
                top: 35px;
                inset-inline-start: 81px;
                color: var(--uui-text-tertiary);
                font-size: 24px;
                line-height: 30px;
            }
        }

        :global(.uui-timepicker-icon-up), :global(.uui-timepicker-icon-down) {
            align-items: center;
            fill: var(--uui-time_picker-icon-clickable);

            &:hover {
                fill: var(--uui-time_picker-icon-clickable-hover);
            }
        }

        :global(.uui-timepicker-icon-up) {
            transform: rotate(180deg);
        }
    }
}

.timepicker-input {
    width: 100%;
}
