@use '~@epam/promo/assets/styles/fonts' as *;

.prefixWrapper {
    display: flex;
    border: 1px solid #CED0DB;
    align-items: center;
    box-sizing: border-box;
    color: #6C6F80;
    padding: 6px;
    background-color: #F5F6FA;
    font-size: 14px;
    font-weight: 400;
    font-family: $font-sans;
}
