:global(.switch-vars) {
    --switch-background-color: var(--input-switch-background-color);
    --switch-background-color-checked: var(--input-background-checked-color);
    --switch-background-color-hover: var(--input-background-hover-color);
    --switch-background-color-disabled: var(--input-background-disabled-color);
    --switch-background-color-checked-hover: var(--input-background-checked-hover-color);
    --switch-background-color-checked-disabled: var(--input-background-checked-disabled-color);
    --switch-border-color: var(--input-border-color);
    --switch-border-color-checked: var(--input-border-checked-color);
    --switch-border-color-hover: var(--input-switch-border-hover-color);
    --switch-border-color-disabled: var(--input-border-disabled-color);
    --switch-border-color-checked-hover: var(--input-border-checked-hover-color);
    --switch-border-color-checked-disabled: var(--input-border-checked-disabled-color);
    --switch-label-color: var(--input-label-color);
    --switch-label-color-disabled: var(--input-label-disabled-color);
    --switch-toggler-background-color: #fff;
    --switch-toggler-background-color-disabled: var(--input-background-disabled-color);
    --switch-toggler-border-color: var(--input-switch-background-color);
    --switch-toggler-border-color-checked: var(--input-background-checked-color);
    --switch-toggler-border-color-hover: var(--input-background-hover-color);
    --switch-toggler-border-color-disabled: var(--input-border-disabled-color);
    --switch-toggler-border-color-checked-hover: var(--input-background-checked-hover-color);
    --switch-toggler-border-color-checked-disabled: var(--input-background-checked-disabled-color);
}
