@import '~@epam/assets/scss/index';

.form-panel {
    flex: 1 1 auto;
    position: relative;
}

.horizontal {
    display: flex;
    padding-top: 12px;

    > * {
        flex: 1 1 0;
        min-width: 0;
    }
}

.attachmentBlock {
    position: relative;
    min-height: 100px;
    border: 1px solid $night200;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
}

.dropStart {
    border: 3px dashed $sky;
}

.dropArea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropImg {
    margin: 6px;
    height: 32px;
}

.dropText {
    margin: 0 6px;
    font-family: $font-sans;
    font-size: 16px;
    line-height: 36px;
    color: $sky;
}

.bigArea {
    flex-direction: column;

    .dropImg {
        margin: 12px;
        height: 60%;
        max-height: 180px;
    }

    .dropText {
        font-size: 24px;
    }
}