@use '../../assets/styles/index' as *;

.root {
    &:global(.uui-input-box) {
        width: 100%;
        box-sizing: border-box;
        min-width: 40px;
        position: relative;
        display: flex;
        outline: none;
        border: 1px solid var(--uui-filters-toggler-border);
        border-radius: var(--uui-filters-toggler-border-radius);
        background-color: var(--uui-filters-toggler-bg);
        box-shadow: var(--uui-filters-toggler-shadow);
        padding-left: 6px;
        padding-right: 6px;

        &:global(.-clickable):hover {
            cursor: pointer;
        }

        &:hover {
            border-color: var(--uui-filters-toggler-border-hover);
            background-color: var(--uui-filters-toggler-bg-hover);
        }

        &:global(.uui-opened) {
            border-color: var(--uui-filters-toggler-border-hover);
            background-color: var(--uui-filters-toggler-bg-hover);
        }

        .title-wrapper {
            font-family: var(--uui-filters-toggler-font);
            flex: 1 1 auto;
            min-width: 0;
            outline: none;
            background: none;
            cursor: pointer;
            white-space: nowrap;

            .title {
                text-overflow: initial;
                overflow: visible;
                padding-top: 0;
                padding-bottom: 0;
                color: var(--uui-filters-toggler-label);
            }

            .text-wrapper {
                display: flex;
                overflow: hidden;
                justify-content: space-between;
                align-items: baseline;
                width: 100%;
                padding-left: 3px;
            }

            .selection {
                padding-top: 0;
                padding-bottom: 0;
                color: var(--uui-filters-toggler-text);

                div {
                    display: inline-block;
                    margin-right: 3px;

                    :nth-last-child {
                        margin-right: 0;
                    }
                }
            }

            .postfix {
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 6px;
                overflow: visible;
                color: var(--uui-filters-toggler-text);
            }

            .selected {
                color: var(--uui-filters-toggler-text);
            }
        }

        &:global(.size-24) {
            @include control-vertical-layout(24px, 1px);
            font-size: 12px;
        }

        &:global(.size-30) {
            @include control-vertical-layout(30px, 1px);
        }

        &:global(.size-36) {
            @include control-vertical-layout(36px, 1px);
        }

        &:global(.size-42) {
            @include control-vertical-layout(42px, 1px);
        }

        &:global(.size-48) {
            @include control-vertical-layout(48px, 1px);
        }

        :global(.uui-icon-dropdown) {
            fill: var(--uui-filters-toggler-icon);
            margin-top: auto;
            margin-bottom: auto;
            padding-left: 3px;
        }
    }
}
