@use  '../../assets/styles/index' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px 0;
    margin-bottom: 9px;

    .removeButton {
        margin-left: 24px;
        margin-left: auto;

        :global(.uui-caption) {
            font-size: 14px;
        }
    }

    &.with-search {
        margin-bottom: 0;
    }
}
