@use  '../../assets/styles/index' as *;

.header {
    font-family: var(--uui-filters-panel-header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px 0 12px;

    button.removeButton {
        padding-left: 24px;
    }
}

.panel {
    @media screen and (max-width: 720px) {
        height: var(--app-mobile-height);
    }
}
