.style-round {
    &.size-18 { border-radius: 10px; }
    &.size-24 { border-radius: 12px; }
    &.size-30 { border-radius: 15px; }
    &.size-36 { border-radius: 18px; }
    &.size-42 { border-radius: 21px; }
    &.size-48 { border-radius: 24px; }
}