.style-round {
    &:global {
        &.uui-size-18 { border-radius: 10px; }
        &.uui-size-24 { border-radius: 12px; }
        &.uui-size-30 { border-radius: 15px; }
        &.uui-size-36 { border-radius: 18px; }
        &.uui-size-42 { border-radius: 21px; }
        &.uui-size-48 { border-radius: 24px; }
    }
}
