@use '../../assets/styles/scss/index' as *;

// Sizes
.size-18 { @include button-layout(18px, 1px); }
.size-24 { @include button-layout(24px, 1px); }
.size-30 { @include button-layout(30px, 1px); }
.size-36 { @include button-layout(36px, 1px); }
.size-42 { @include button-layout(42px, 1px); }
.size-48 { @include button-layout(48px, 1px); }

// Border style
.style-round {
    &.size-48 { border-radius: 24px; }
    &.size-42 { border-radius: 21px; }
    &.size-36 { border-radius: 18px; }
    &.size-30 { border-radius: 15px; }
    &.size-24 { border-radius: 12px; }
    &.size-18 { border-radius: 10px; }
}
