@use '../../assets/styles/scss/index'  as *;

.root {
    overflow: visible;
    cursor: pointer;
    fill: var(--uui-color-700);

    &:global(.-clickable) {
        &:hover, &:focus {
            fill: var(--uui-color-800);
        }

        &:active {
            fill: var(--uui-color-900);
        }
    }

    &:global(.uui-disabled) {
        fill: $night500;
        cursor: default;

        &:hover {
            fill: $night500;
        }
    }

    &:global(.uui-invalid) {
        fill: $fire;
    }
}
