@use '../../assets/styles/scss/index'  as *;

.root {
    overflow: visible;
    fill: var(--uui-icon-btn-color);//700

    &:global(.-clickable:not(.uui-disabled)) {
        &:hover, &:focus {
            fill: var(--uui-icon-btn-color-hover);//800
        }

        &:active {
            fill: var(--uui-icon-btn-color-active);//900
        }
    }

    &:global(.uui-disabled) {
        fill: var(--uui-icon-btn-color-disabled);//night500

        &:hover {
            fill: var(--uui-icon-btn-color-disabled);
        }
    }
}
