@use '../../assets/styles/scss/index' as *;

.root {
    border-bottom: none;
    border-left: 2px solid transparent;

    &:global(.uui-active) {
        border-left: 2px solid;
        border-bottom: none;
    }
}
