@use '../../assets/styles/scss/index' as *;

.root {
    border-bottom: 0 none;
    border-left: 2px solid transparent;
    text-align: left;

    &:global(.uui-active) {
        border-left: 2px solid;
        border-bottom: 0 none;
    }
}
