/*  Name convention  */
/* --uui-'component name or group of components name'-'styled part name'-'states(optional)'-'hover/active/focus(optional)' */
.uui-theme-promo {
    --font-regular: 'Sans Regular', Arial, sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: 'Museo Sans', 'Sans Semibold', Arial, sans-serif;
    --font-promo: 'Museo Slab', 'Roboto Slab', Arial, sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';

    --gray5: #FAFAFC;
    --gray10: #F5F6FA;
    --gray20: #EBEDF5;
    --gray30: #E1E3EB;
    --gray40: #CED0DB;
    --gray50: #ACAFBF;
    --gray60: #6C6F80;
    --gray70: #474A59;
    --gray80: #303240;
    --gray90: #1D1E26;
    --blue-lightest: #CEEFFF;
    --blue-light: #B5E6FF;
    --blue: #008ACE;
    --blue-dark: #0079B5;
    --blue-darkest: #00689B;
    --green-lightest: #EEFFCC;
    --green-light: #E5FFB3;
    --green: #88CC00;
    --green-dark: #77B300;
    --green-darkest: #669900;
    --amber-lightest: #FFF2CC;
    --amber-light: #FFECB3;
    --amber: #FFC000;
    --amber-dark: #E6AD00;
    --amber-darkest: #CC9A00;
    --red-lightest: #FADED9;
    --red-light: #F8CBC2;
    --red: #E54322;
    --red-dark: #D53919;
    --red-darkest: #BE3316;
    --white: #FFFFFF;

    --red-10: #FADED9;
    --red-20: #F5B7AB;
    --red-30: #E54322;
    --red-40: #A72014;
    --red-50: #901111;

    --orange-10: #FAE4CF;
    --orange-20: #F6CBA0;
    --orange-30: #E67E17;
    --orange-40: #89370E;
    --orange-50: #72250B;

    --amber-10: #FFF2CC;
    --amber-20: #FFE699;
    --amber-30: #FFC000;
    --amber-40: #995A00;
    --amber-50: #804000;

    --green-10: #EEFFCC;
    --green-20: #DDFF99;
    --green-30: #88CC00;
    --green-40: #669900;
    --green-50: #446600;

    --cyan-10: #E3FCFC;
    --cyan-20: #B4F8F8;
    --cyan-30: #14CCCC;
    --cyan-40: #0F9E9E;
    --cyan-50: #0B6F6F;

    --blue-10: #CEEFFF;
    --blue-20: #9BDEFF;
    --blue-30: #008ACE;
    --blue-40: #00689B;
    --blue-50: #004668;

    --violet-10: #DBCCFA;
    --violet-20: #BB9DF5;
    --violet-30: #5214CC;
    --violet-40: #3F0F9E;
    --violet-50: #2D0B6F;

    --purple-10: #F2CCFA;
    --purple-20: #E79DF5;
    --purple-30: #AD14CC;
    --purple-40: #860F9E;
    --purple-50: #5E0B6F;

    --uui-accent: var(--green);
    --uui-accent-light: var(--green-light);
    --uui-accent-lightest: var(--green-lightest);
    --uui-accent-dark: var(--green-dark);
    --uui-accent-darkest: var(--green-darkest);

    --uui-primary: var(--blue);
    --uui-primary-light: var(--blue-light);
    --uui-primary-lightest: var(--blue-lightest);
    --uui-primary-halftone: var(--blue-lightest);
    --uui-primary-dark: var(--blue-dark);
    --uui-primary-darkest: var(--blue-darkest);

    --uui-secondary: var(--gray50);
    --uui-secondary-light: var(--gray30);
    --uui-secondary-lightest: var(--gray20);
    --uui-secondary-dark: var(--gray60);
    --uui-secondary-darkest: var(--gray70);
    --uui-secondary-hover: var(--gray60);
    --uui-secondary-active: var(--gray70);
    --uui-secondary-disabled: var(--gray40);

    --uui-negative: var(--red);
    --uui-negative-light: var(--red-light);
    --uui-negative-lightest: var(--red-lightest);
    --uui-negative-dark: var(--red-dark);
    --uui-negative-darkest: var(--red-darkest);

    --uui-button-bg-halftone: var(--white);
    --uui-btn-caption-disabled: var(--gray50);

    --uui-link: var(--blue);
    --uui-link-hover: var(--blue-dark);
    --uui-link-visited: #5214CC;
    --uui-link-disabled: var(--gray50);

    --uui-info: var(--blue);
    --uui-info-lightest: var(--blue-lightest);
    --uui-info-light: var(--blue-light);
    --uui-info-dark: var(--blue-dark);
    --uui-info-darkest: var(--blue-darkest);
    --uui-info-hover: var(--blue-dark);
    --uui-info-active: var(--blue-darkest);

    --uui-success: var(--green);
    --uui-success-lightest: var(--green-lightest);
    --uui-success-light: var(--green-light);
    --uui-success-dark: var(--green-dark);
    --uui-success-darkest: var(--green-darkest);
    --uui-success-hover: var(--green-dark);
    --uui-success-active: var(--green-darkest);

    --uui-warning: var(--amber);
    --uui-warning-lightest: var(--amber-lightest);
    --uui-warning-light: var(--amber-light);
    --uui-warning-dark: var(--amber-dark);
    --uui-warning-darkest: var(--amber-darkest);
    --uui-warning-hover: var(--amber-dark);
    --uui-warning-active: var(--amber-darkest);

    --uui-error: var(--red);
    --uui-error-lightest: var(--red-lightest);
    --uui-error-light: var(--red-light);
    --uui-error-dark: var(--red-dark);
    --uui-error-darkest: var(--red-darkest);
    --uui-error-hover: var(--red-dark);
    --uui-error-active: var(--red-darkest);

    --uui-icon: var(--gray60);
    --uui-icon-hover: var(--gray70);
    --uui-icon-active: var(--gray80);
    --uui-icon-disabled: var(--gray50);

    --uui-surface: var(--white);
    --uui-surface-hover: var(--gray30);
    --uui-surface-light: var(--white);
    --uui-surface-inverted: var(--gray90);
    --uui-surface-inverted-light: var(--gray80);

    --uui-visited: #5214CC;
    --uui-disabled: var(--gray30);
    --uui-background: var(--gray10);
    --uui-contrast: var(--white);
    --uui-divider: var(--gray40);

    --uui-text-brand: var(--gray90);
    --uui-text-primary: var(--gray80);
    --uui-text-secondary: var(--gray60);
    --uui-text-disabled: var(--gray50);
    --uui-text-contrast: var(--gray5);

    --uui-control-rest: var(--uui-primary);
    --uui-control-hover: var(--uui-primary-dark);
    --uui-control-active: var(--uui-primary-darkest);

    --uui-control-bg: var(--white);
    --uui-control-bg-checked: var(--uui-primary);
    --uui-control-bg-checked-hover: var(--uui-primary-dark);
    --uui-control-bg-checked-disabled: var(--uui-primary-light);
    --uui-control-bg-disabled: var(--gray5);
    --uui-control-bg-readonly: var(--gray5);
    --uui-control-bg-hover: var(--gray60);

    --uui-control-border-checked-disabled: var(--uui-primary-light);
    --uui-control-border: var(--gray40);
    --uui-control-border-checked: var(--uui-primary);
    --uui-control-border-checked-hover: var(--uui-primary-dark);
    --uui-control-border-hover: var(--uui-primary-dark);
    --uui-control-border-disabled: var(--uui-disabled);
    --uui-control-border-readonly: var(--uui-disabled);

    --uui-control-switch-bg: var(--gray40);
    --uui-control-switch-border-hover: var(--gray60);
    --uui-control-textinput-border-hover: var(--gray60);

    --uui-control-label: var(--uui-text-primary);
    --uui-control-label-disabled: var(--uui-text-secondary);

    --uui-control-placeholder: var(--uui-text-secondary);
    --uui-control-placeholder-disabled: var(--uui-text-disabled);

    --uui-control-text: var(--uui-text-primary);
    --uui-control-text-disabled: var(--uui-text-disabled);

    --uui-control-icon: var(--gray50);
    --uui-control-icon-disabled: var(--gray50);

    --uui-control-checkbox-icon: var(--white);

    --uui-tag: var(--gray30);
    --uui-tag-hover: var(--gray40);

    --uui-skeleton: var(--gray40);
    --uui-skeleton-gradient: linear-gradient(90deg, var(--gray40) 0%, var(--gray10) 50%, var(--gray40) 100%);

    --uui-overlay: rgba(29, 30, 38, 0.8);
    --uui-shadow: 0 3px 6px 0 rgba(29, 30, 38, 0.10), 0 1px 3px 0 rgba(29, 30, 38, 0.10);
    --uui-scroll: var(--gray60);
    --uui-surface-dark: var(--gray90);

    /*  TextInput vars  */
    --uui-text-input-bg: var(--uui-control-bg);
    --uui-text-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-text-input-bg-readonly: var(--uui-control-bg-readonly);
    --uui-text-input-border: var(--uui-control-border);
    --uui-text-input-border-hover: var(--uui-control-textinput-border-hover);
    --uui-text-input-border-active: var(--uui-control-border-checked);
    --uui-text-input-border-error: var(--uui-negative);
    --uui-text-input-border-disabled: var(--uui-control-border-disabled);
    --uui-text-input-border-readonly: var(--uui-control-border-readonly);
    --uui-text-input-placeholder: var(--uui-control-placeholder);
    --uui-text-input-placeholder-disabled: var(--uui-control-placeholder-disabled);
    --uui-text-input-text: var(--uui-control-text);
    --uui-text-input-text-disabled: var(--uui-control-text-disabled);
    --uui-text-input-icon: var(--uui-control-icon);
    --uui-text-input-icon-disabled: var(--uui-control-icon-disabled);
    --uui-text-input-icon-clickable: var(--uui-icon);
    --uui-text-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-text-input-border-radius: var(--border-radius);

    /*  LinkButton vars   */
    --uui-link-button-text: var(--uui-primary);
    --uui-link-button-text-hover: var(--uui-primary-dark);
    --uui-link-button-text-active: var(--uui-primary-darkest);
    --uui-link-button-text-disabled: var(--button-caption-disabled-color);

    /*  DatePicker vars    */
    --uui-dtp-title-bg: var(--uui-control-bg);
    --uui-dtp-title-bg-hover: var(--uui-primary-halftone);
    --uui-dtp-text-selected: var(--uui-control-border-checked);
    --uui-dtp-text: var(--uui-control-text);
    --uui-dtp-next-prev-icon: var(--uui-icon);
    --uui-dtp-next-prev-icon-bg-hover: var(--uui-secondary-lightest);

    /*  RangeDatePicker vars    */
    --uui-rdtp-bg: var(--uui-control-bg);
    --uui-rdtp-bg-selected-date: var(--uui-primary-lightest);

    /*  Calendar vars   */
    --uui-calendar-selected-hover: var(--uui-control-bg);
    --uui-calendar-start-end-selected-hover: var(--uui-primary-dark);
    --uui-calendar-start-end-selected: var(--uui-control-border-checked);
    --uui-calendar-weekends-weekdates: var(--uui-control-placeholder);
    --uui-calendar-text: var(--uui-control-text);
    --uui-calendar-text-filtered: var(--uui-control-text-disabled);
    --uui-calendar-bg-selected: var(--uui-secondary);

    /*  tab-button-vars     */
    --uui-tab-button-text: var(--uui-text-primary);
    --uui-tab-button-text-hover: var(--uui-primary);
    --uui-tab-button-text-active: var(--uui-primary);
    --uui-tab-button-text-disabled: var(--uui-text-disabled);
    --uui-tab-button-count-bg: var(--gray30);
    --uui-tab-button-count: var(--uui-text-secondary);

    /*  radio-input-vars    */
    --uui-radio-input-bg: var(--uui-control-bg);
    --uui-radio-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-radio-input-border: var(--uui-control-border);
    --uui-radio-input-border-checked: var(--uui-control-border-checked);
    --uui-radio-input-border-hover: var(--uui-control-border-hover);
    --uui-radio-input-border-disabled: var(--uui-control-border-disabled);
    --uui-radio-input-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-radio-input-label: var(--uui-control-label);
    --uui-radio-input-label-disabled: var(--uui-control-label-disabled);
    --uui-radio-input-fill-checked: var(--uui-control-border-checked);
    --uui-radio-input-fill-hover: var(--uui-control-border-hover);
    --uui-radio-input-fill-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-radio-input-error: var(--uui-negative);

    /*  Checkbox vars   */
    --uui-checkbox-border: var(--uui-control-border);
    --uui-checkbox-border-hover: var(--uui-control-border-hover);
    --uui-checkbox-border-disabled: var(--uui-control-border-disabled);
    --uui-checkbox-border-checked: var(--uui-control-border-checked);
    --uui-checkbox-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-checkbox-bg: var(--uui-control-bg);
    --uui-checkbox-bg-checked: var(--uui-control-bg-checked);
    --uui-checkbox-bg-disabled: var(--uui-control-bg-disabled);
    --uui-checkbox-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-checkbox-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-checkbox-error: var(--uui-negative);
    --uui-checkbox-fill: var(--uui-control-checkbox-icon);
    --uui-checkbox-label: var(--uui-control-label);
    --uui-checkbox-label-disabled: var(--uui-control-label-disabled);
    --uui-checkbox-border-radius: var(--border-radius);
}

.tooltip-light {
    --uui-tooltip-bg: var(--uui-surface);
    --uui-tooltip-text: var(--uui-text-primary);
}

.tooltip-vars {
    --uui-tooltip-shadow: var(--uui-shadow);
    --uui-tooltip-arrow-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
    --uui-tooltip-bg: var(--uui-surface-inverted);
    --uui-tooltip-text: var(--uui-contrast);
    --uui-tooltip-border-radius: var(--border-radius);
}

.badge-cyan {
    --uui-badge-bg: var(--cyan-30);
    --uui-badge-bg-hover: var(--cyan-40);
    --uui-badge-caption-solid: var(--white);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--cyan-10);
    --uui-badge-bg-halftone-hover: var(--cyan-20);
    --uui-badge-border-halftone: var(--cyan-20);
    --uui-badge-border-halftone-hover: var(--cyan-30);
    --uui-badge-caption-halftone: var(--cyan-50);
}

.badge-violet {
    --uui-badge-bg: var(--violet-30);
    --uui-badge-bg-hover: var(--violet-40);
    --uui-badge-caption-solid: var(--white);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--violet-10);
    --uui-badge-bg-halftone-hover: var(--violet-20);
    --uui-badge-border-halftone: var(--violet-20);
    --uui-badge-border-halftone-hover: var(--violet-30);
    --uui-badge-caption-halftone: var(--violet-50);
}

.badge-orange {
    --uui-badge-bg: var(--orange-30);
    --uui-badge-bg-hover: var(--orange-40);
    --uui-badge-caption-solid: var(--white);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--orange-10);
    --uui-badge-bg-halftone-hover: var(--orange-20);
    --uui-badge-border-halftone: var(--orange-20);
    --uui-badge-border-halftone-hover: var(--orange-30);
    --uui-badge-caption-halftone: var(--orange-50);
}

.badge-purple {
    --uui-badge-bg: var(--purple-30);
    --uui-badge-bg-hover: var(--purple-40);
    --uui-badge-caption-solid: var(--white);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--purple-10);
    --uui-badge-bg-halftone-hover: var(--purple-20);
    --uui-badge-border-halftone: var(--purple-20);
    --uui-badge-border-halftone-hover: var(--purple-30);
    --uui-badge-caption-halftone: var(--purple-50);
}

.badge-default {
    --uui-badge-bg: var(--uui-tag);
    --uui-badge-bg-hover: var(--uui-tag-hover);
    --uui-badge-caption-solid: var(--uui-text-primary);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--gray20);
    --uui-badge-bg-halftone-hover: var(--gray30);
    --uui-badge-border-halftone: var(--gray40);
    --uui-badge-border-halftone-hover: var(--gray50);
    --uui-badge-caption-halftone: var(--uui-text-primary);
}

.badge-info {
    --uui-badge-bg: var(--uui-info);
    --uui-badge-bg-hover: var(--uui-info-dark);
    --uui-badge-caption-solid: var(--uui-contrast);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--uui-info-lightest);
    --uui-badge-bg-halftone-hover: var(--uui-info-light);
    --uui-badge-border-halftone: var(--uui-info-light);
    --uui-badge-border-halftone-hover: var(--uui-info);
    --uui-badge-caption-halftone: var(--uui-info-darkest);
}

.badge-success {
    --uui-badge-bg: var(--uui-success);
    --uui-badge-bg-hover: var(--uui-success-dark);
    --uui-badge-caption-solid: var(--uui-contrast);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--uui-success-lightest);
    --uui-badge-bg-halftone-hover: var(--uui-success-light);
    --uui-badge-border-halftone: var(--uui-success-light);
    --uui-badge-border-halftone-hover: var(--uui-success);
    --uui-badge-caption-halftone: var(--uui-success-darkest);
}

.badge-warning {
    --uui-badge-bg: var(--uui-warning);
    --uui-badge-bg-hover: var(--uui-warning-dark);
    --uui-badge-caption-solid: var(--uui-text-primary);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--uui-warning-lightest);
    --uui-badge-bg-halftone-hover: var(--uui-warning-light);
    --uui-badge-border-halftone: var(--uui-warning-light);
    --uui-badge-border-halftone-hover: var(--uui-warning);
    --uui-badge-caption-halftone: var(--uui-warning-darkest);
}

.badge-error {
    --uui-badge-bg: var(--uui-error);
    --uui-badge-bg-hover: var(--uui-error-dark);
    --uui-badge-caption-solid: var(--uui-contrast);
    --uui-badge-count-bg: var(--white);
    --uui-badge-count: var(--uui-text-secondary);
    --uui-badge-bg-halftone: var(--uui-error-lightest);
    --uui-badge-bg-halftone-hover: var(--uui-error-light);
    --uui-badge-border-halftone: var(--uui-error-light);
    --uui-badge-border-halftone-hover: var(--uui-error);
    --uui-badge-caption-halftone: var(--uui-error-darkest);
}

.badge-vars {
    --uui-badge-border-radius: 100px;
}

.accordion-vars {
    --uui-accordion-bg: var(--uui-surface);
    --uui-accordion-border: var(--uui-divider);
    --uui-accordion-text: var(--uui-text-primary);
    --uui-accordion-text-disabled: var(--uui-text-disabled);
    --uui-accordion-icon: var(--uui-icon);
    --uui-accordion-icon-disabled: var(--icon-button-icon-color-disabled);
    --uui-accordion-focus: var(--uui-primary);
    --uui-accordion-shadow: 0 3px 6px 0 rgba(29, 30, 38, 0.10), 0 1px 3px 0 rgba(29, 30, 38, 0.10);
    --uui-accordion-shadow-hovered: 0 6px 12px 0 rgba(29, 30, 38, 0.10), 0 3px 6px 0 rgba(29, 30, 38, 0.10);
}

.button-blue {
    --uui-btn-bg: var(--uui-primary);
    --uui-btn-bg-hover: var(--uui-primary-dark);
    --uui-btn-bg-active: var(--uui-primary-darkest);
    --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-primary-lightest);
    --uui-btn-bg-halftone-active: var(--uui-primary-light);
    --uui-btn-border: var(--uui-primary);
    --uui-btn-border-hover: var(--uui-primary-dark);
    --uui-btn-border-active: var(--uui-primary-darkest);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-primary);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

.button-green {
    --uui-btn-bg: var(--uui-accent);
    --uui-btn-bg-hover: var(--uui-accent-dark);
    --uui-btn-bg-active: var(--uui-accent-darkest);
    --uui-btn-bg-halftone: var(--button-bg-color-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-accent-lightest);
    --uui-btn-bg-halftone-active: var(--uui-accent-light);
    --uui-btn-border: var(--uui-accent);
    --uui-btn-border-hover: var(--uui-accent-dark);
    --uui-btn-border-active: var(--uui-accent-darkest);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-accent);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

.button-red {
    --uui-btn-bg: var(--uui-negative);
    --uui-btn-bg-hover: var(--uui-negative-dark);
    --uui-btn-bg-active: var(--uui-negative-darkest);
    --uui-btn-bg-halftone: var(--button-bg-color-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-negative-lightest);
    --uui-btn-bg-halftone-active: var(--uui-negative-light);
    --uui-btn-border: var(--uui-negative);
    --uui-btn-border-hover: var(--uui-negative-dark);
    --uui-btn-border-active: var(--uui-negative-darkest);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-negative);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

.button-gray50 {
    --uui-btn-bg: var(--uui-secondary);
    --uui-btn-bg-hover: var(--uui-secondary-dark);
    --uui-btn-bg-active: var(--uui-secondary-darkest);
    --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
    --uui-btn-bg-halftone-active: var(--uui-secondary-light);
    --uui-btn-border: var(--uui-secondary);
    --uui-btn-border-hover: var(--uui-secondary-dark);
    --uui-btn-border-active: var(--uui-secondary-darkest);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-secondary-dark);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

.button-vars {
    --uui-btn-border-radius: var(--border-radius);
}

.icon-button-blue {
    --uui-icon-btn: var(--uui-info);
    --uui-icon-btn-hover: var(--uui-info-dark);
    --uui-icon-btn-active: var(--uui-info-darkest);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);
}

.icon-button-green {
    --uui-icon-btn: var(--uui-success);
    --uui-icon-btn-hover: var(--uui-success-dark);
    --uui-icon-btn-active: var(--uui-success-darkest);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);
}

.icon-button-amber {
    --uui-icon-btn: var(--uui-warning);
    --uui-icon-btn-hover: var(--uui-warning-dark);
    --uui-icon-btn-active: var(--uui-warning-darkest);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);
}

.icon-button-red {
    --uui-icon-btn: var(--uui-error);
    --uui-icon-btn-hover: var(--uui-error-dark);
    --uui-icon-btn-active: var(--uui-error-darkest);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);
}

.icon-button-gray30 {
    --uui-icon-btn: var(--uui-secondary-light);
    --uui-icon-btn-hover: var(--uui-button-bg-halftone);
    --uui-icon-btn-active: var(--uui-text-contrast);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);;
}

.icon-button-gray50 {
    --uui-icon-btn: var(--uui-secondary);
    --uui-icon-btn-hover: var(--uui-secondary-dark);
    --uui-icon-btn-active: var(--uui-secondary-darkest);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);
}

.icon-button-gray60 {
    --uui-icon-btn: var(--uui-icon);
    --uui-icon-btn-hover: var(--uui-icon-hover);
    --uui-icon-btn-active: var(--uui-icon-active);
    --uui-icon-btn-disabled: var(--uui-icon-disabled);
}

.checkbox-vars {
    --uui-checkbox-border: var(--uui-control-border);
    --uui-checkbox-border-hover: var(--uui-control-border-hover);
    --uui-checkbox-border-disabled: var(--uui-control-border-disabled);
    --uui-checkbox-border-checked: var(--uui-control-border-checked);
    --uui-checkbox-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-checkbox-bg: var(--uui-control-bg);
    --uui-checkbox-bg-checked: var(--uui-control-bg-checked);
    --uui-checkbox-bg-disabled: var(--uui-control-bg-disabled);
    --uui-checkbox-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-checkbox-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-checkbox-error: var(--uui-negative);
    --uui-checkbox-fill: var(--uui-control-checkbox-icon);
    --uui-checkbox-label: var(--uui-control-label);
    --uui-checkbox-label-disabled: var(--uui-control-label-disabled);
    --uui-checkbox-border-radius: var(--border-radius);
}

.switch-vars {
    --uui-switch-bg: var(--uui-control-switch-bg);
    --uui-switch-bg-checked: var(--uui-control-bg-checked);
    --uui-switch-bg-hover: var(--uui-control-bg-hover);
    --uui-switch-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-switch-border: var(--uui-control-border);
    --uui-switch-border-checked: var(--uui-control-border-checked);
    --uui-switch-border-hover: var(--uui-control-switch-border-hover);
    --uui-switch-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-border-checked-hover: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-hover-copy: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-switch-label: var(--uui-control-label);
    --uui-switch-label-disabled: var(--uui-control-label-disabled);
    --uui-switch-toggler-bg: #FFFFFF;
    --uui-switch-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-toggler-border: var(--uui-control-switch-bg);
    --uui-switch-toggler-border-checked: var(--uui-control-bg-checked);
    --uui-switch-toggler-border-hover: var(--uui-control-bg-hover);
    --uui-switch-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-toggler-border-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-toggler-border-checked-disabled: var(--uui-control-bg-checked-disabled);
}

.labeled-input-vars {
    --uui-labeled-input: var(--uui-text-primary);
    --uui-labeled-input-disabled: var(--uui-text-disabled);
    --uui-labeled-input-error: var(--uui-error);
    --uui-labeled-input-fill: var(--uui-icon);
    --uui-labeled-input-optional-text: var(--uui-text-secondary);
    --uui-labeled-input-asterisk: var(--uui-error);
    --uui-control-label: var(--uui-text-primary);
    --uui-control-label-disabled: var(--uui-text-disabled);
    --uui-control-label-error: var(--uui-error);
    --uui-control-label-fill: var(--uui-icon);
    --uui-control-label-optional-text: var(--uui-text-secondary);
    --uui-control-label-asterisk: var(--uui-error);
}

.notification-card-warning {
    --uui-notification-card-fill-color: var(--uui-warning);
    --uui-notification-card-border-color: var(--uui-warning);
    --uui-notification-card-bg-color: var(--uui-surface);
    --uui-notification-card-text-color: var(--uui-text-primary);
}

.notification-card-success {
    --uui-notification-card-fill-color: var(--uui-success);
    --uui-notification-card-border-color: var(--uui-success);
    --uui-notification-card-bg-color: var(--uui-surface);
    --uui-notification-card-text-color: var(--uui-text-primary);
}

.notification-card-info {
    --uui-notification-card-fill-color: var(--uui-info);
    --uui-notification-card-border-color: var(--uui-info);
    --uui-notification-card-bg-color: var(--uui-surface);
    --uui-notification-card-text-color: var(--uui-text-primary);
}

.notification-card-error {
    --uui-notification-card-fill-color: var(--uui-error);
    --uui-notification-card-border-color: var(--uui-error);
    --uui-notification-card-bg-color: var(--uui-surface);
    --uui-notification-card-text-color: var(--uui-text-primary);
}

.notification-card-vars {
    --uui-notification-card-border-radius: var(--border-radius);
    --uui-notification-card-shadow: var(--uui-shadow);
}

.alert-error {
    --uui-alert-text-color: var(--uui-text-primary);
    --uui-alert-bg-color: var(--uui-error-lightest);
    --uui-alert-border-color: var(--uui-negative);
    --uui-alert-icon-color: var(--uui-negative);
}

.alert-warning {
    --uui-alert-text-color: var(--uui-text-primary);
    --uui-alert-bg-color: var(--uui-warning-lightest);
    --uui-alert-border-color: var(--amber);
    --uui-alert-icon-color: var(--amber);
}

.alert-success {
    --uui-alert-text-color: var(--uui-text-primary);
    --uui-alert-bg-color: var(--uui-success-lightest);
    --uui-alert-border-color: var(--uui-accent);
    --uui-alert-icon-color: var(--uui-accent);
}

.alert-info {
    --uui-alert-text-color: var(--uui-text-primary);
    --uui-alert-bg-color: var(--uui-info-lightest);
    --uui-alert-border-color: var(--uui-primary);
    --uui-alert-icon-color: var(--uui-primary);
}

.tab-button-vars {
    --uui-tab-button-text: var(--uui-text-primary);
    --uui-tab-button-text-hover: var(--uui-primary);
    --uui-tab-button-text-active: var(--uui-primary);
    --uui-tab-button-text-disabled: var(--uui-text-disabled);
    --uui-tab-button-count-bg: var(--uui-secondary-light);
    --uui-tab-button-count: var(--uui-text-secondary);
    --uui-tab-button-icon-color: var(--uui-icon);
    --uui-tab-button-icon-color-hover: var(--uui-primary);
    --uui-tab-button-icon-color-active: var(--uui-primary);
    --uui-tab-button-icon-color-disabled: var(--uui-icon-disabled);
    --uui-tab-button-bg-color: var(--uui-surface);
    --uui-tab-button-border-color-active: var(--uui-primary);
}

.dropdown-container-vars {
    --uui-dropdown-container-shadow: 0 6px 18px 0 rgba(29, 30, 38, 0.1), 0 3px 12px 0 rgba(29, 30, 38, 0.1);
    --uui-dropdown-container-scrollbar-thumb: var(--uui-scroll);
}

.tag-vars {
    --uui-tag-bg: var(--uui-tag);
    --uui-tag-bg-hover: var(--uui-tag-hover);
    --uui-tag-caption: var(--uui-text-primary);
    --uui-tag-fill: var(--uui-icon);
    --uui-tag-fill-hover: var(--uui-icon-hover);
    --uui-tag-count-bg: var(--white);
    --uui-tag-count: var(--uui-text-secondary);
    --uui-tag-label: var(--uui-text-secondary);
    --uui-tag-border-radius: var(--border-radius);
}

.picker-toggler-vars {
    --picker-toggler-bg-color: var(--uui-control-bg);
    --picker-toggler-bg-color-disabled: var(--uui-control-bg-disabled);
    --picker-toggler-border-color: var(--uui-control-border);
    --picker-toggler-border-color-disabled: var(--uui-control-border-disabled);
    --picker-toggler-border-color-hover: var(--uui-control-textinput-border-hover);
    --picker-toggler-border-color-active: var(--uui-control-border-checked);
    --picker-toggler-border-color-error: var(--uui-negative);
    --picker-toggler-placeholder-color: var(--uui-control-placeholder);
    --picker-toggler-text-color: var(--uui-control-text);
    --picker-toggler-text-color-disabled: var(--uui-control-text-disabled);
    --picker-toggler-icon-color: var(--uui-control-icon);
    --picker-toggler-icon-color-disabled: var(--uui-control-icon-disabled);
    --picker-toggler-icon-color-clickable: var(--uui-icon);
    --picker-toggler-icon-color-clickable-hover: var(--uui-icon-hover);
    --picker-toggler-border-radius: var(--border-radius);
}

.main-menu-vars {
    --main-menu-bg-color: var(--gray80);
    --main-menu-active-color: var(--gray90);
    --main-menu-hover-color: var(--gray90);
    --main-menu-active-border-color: var(--uui-primary);
    --caption-color: var(--white);
    --main-menu-dropdown-bg-color: var(--main-menu-active-color);
    --main-menu-dropdown-hover-color: var(--uui-primary);
    --main-menu-search-bg-color: var(--gray70);
    --main-menu-search-border-color: var(--gray70);
    --main-menu-search-placeholder-color: var(--uui-text-disabled);
    --main-menu-search-text-color: var(--uui-contrast);
    --main-menu-search-icon-color: var(--uui-icon-disabled);
    --main-menu-icon-color: var(--white);
}

.burger-menu {
    --burger-menu-bg-color: var(--gray90);
    --burger-menu-caption-coor: var(--uui-contrast);
    --burger-menu-caption-hover-color: var(--uui-primary);
    --burger-menu-overlay-color: var(--uui-overlay);
}

.numeric-input-vars {
    --numeric-input-bg-color: var(--uui-control-bg);
    --numeric-input-bg-color-disabled: var(--uui-control-bg-disabled);
    --numeric-input-border-color: var(--uui-control-border);
    --numeric-input-border-color-disabled: var(--uui-control-border-disabled);
    --numeric-input-border-color-hover: var(--uui-control-textinput-border-hover);
    --numeric-input-border-color-active: var(--uui-control-border-checked);
    --numeric-input-border-color-error: var(--uui-negative);
    --numeric-input-placeholder-color: var(--uui-control-placeholder);
    --numeric-input-text-color: var(--uui-control-text);
    --numeric-input-text-color-disabled: var(--uui-control-text-disabled);
    --numeric-input-icon-color-clickable: var(--uui-icon);
    --numeric-input-icon-color-clickable-hover: var(--uui-icon-hover);
    --numeric-input-border-radius: var(--border-radius);
}

.time-picker-vars {
    --time-picker-bg-color: var(--uui-control-bg);
    --time-picker-bg-color-disabled: var(--uui-control-bg-disabled);
    --time-picker-border-color: var(--uui-control-border);
    --time-picker-border-color-disabled: var(--uui-control-border-disabled);
    --time-picker-border-color-hover: var(--uui-control-textinput-border-hover);
    --time-picker-border-color-active: var(--uui-control-border-checked);
    --time-picker-border-color-error: var(--uui-negative);
    --time-picker-placeholder-color: var(--uui-control-placeholder);
    --time-picker-text-color: var(--uui-control-text);
    --time-picker-text-color-disabled: var(--uui-control-text-disabled);
    --time-picker-icon-color-clickable: var(--uui-icon);
    --time-picker-icon-color-clickable-hover: var(--uui-icon-hover);
    --time-picker-border-radius: var(--border-radius);
}

.search-input-vars {
    --search-input-bg-color: var(--uui-control-bg);
    --search-input-bg-color-disabled: var(--uui-control-bg-disabled);
    --search-input-border-color: var(--uui-control-border);
    --search-input-border-color-disabled: var(--uui-control-border-disabled);
    --search-input-border-color-hover: var(--uui-control-textinput-border-hover);
    --search-input-border-color-active: var(--uui-control-border-checked);
    --search-input-border-color-error: var(--uui-negative);
    --search-input-placeholder-color: var(--uui-control-placeholder);
    --search-input-text-color: var(--uui-control-text);
    --search-input-text-color-disabled: var(--uui-control-text-disabled);
    --search-input-icon-color-clickable: var(--uui-icon);
    --search-input-icon-color-clickable-hover: var(--uui-icon-hover);
    --search-input-icon-color-disabled: var(--uui-icon-disabled);
    --search-input-border-radius: var(--border-radius);
}

.text-area-vars {
    --text-area-bg-color: var(--uui-control-bg);
    --text-area-bg-color-disabled: var(--uui-control-bg-disabled);
    --text-area-border-color: var(--uui-control-border);
    --text-area-border-color-disabled: var(--uui-control-border-disabled);
    --text-area-border-color-hover: var(--uui-control-textinput-border-hover);
    --text-area-border-color-active: var(--uui-control-border-checked);
    --text-area-border-color-error: var(--uui-negative);
    --text-area-placeholder-color: var(--uui-control-placeholder);
    --text-area-text-color: var(--uui-control-text);
    --text-area-text-color-disabled: var(--uui-control-text-disabled);
    --text-area-icon-color: var(--uui-icon);
    --text-area-border-radius: var(--border-radius);
}

.popover-vars {
    --popover-shadow: 0 5px 18px 0 rgba(29, 30, 38, 0.1), 0 3px 12px 0 rgba(29, 30, 38, 0.1);
}

.footer-vars {
    --footer-bg-color: var(--gray80);
}

.informer-color-default {
    --informer-bg-color: var(--gray30);
    --informer-caption-color: var(--gray60);
}

.informer-color-focus {
    --informer-bg-color: var(--red);
    --informer-caption-color: var(--uui-contrast);
}

.informer-color-white {
    --informer-bg-color: var(--uui-surface);
    --informer-caption-color: var(--uui-text-secondary);
}

.informer-vars {
    --informer-border-radius: 50px;
}

.tab-button-vars {
    --uui-tab-button-text: var(--uui-text-primary);
    --uui-tab-button-text-hover: var(--uui-primary);
    --uui-tab-button-text-active: var(--uui-primary);
    --uui-tab-button-text-disabled: var(--uui-text-disabled);
    --uui-tab-button-count-bg: #FFFFFF;
    --uui-tab-button-count: var(--uui-text-secondary);
}

.icon-container-color-info {
    --icon-container-fill-color: var(--uui-info);
}

.icon-container-color-success {
    --icon-container-fill-color: var(--uui-success);
}

.icon-container-color-warning {
    --icon-container-fill-color: var(--uui-warning);
}

.icon-container-color-error {
    --icon-container-fill-color: var(--uui-error);
}

.icon-container-color-default {
    --icon-container-fill-color: var(--uui-icon);
}

.icon-container-color-secondary {
    --icon-container-fill-color: var(--uui-secondary);
}

.panel-vars {
    --panel-border-radius: var(--border-radius);
    --panel-bg-color: var(--uui-surface);
    --panel-shadow: var(--uui-shadow);
}

.scroll-bars-vars {
    --scroll-bars-bg-color: #CED0DB;
    --scroll-bars-bg-color-active: #6C6F80;
}

.dropdown-container-vars {
    --uui-dropdown-container-shadow: var(--uui-shadow);
    --uui-dropdown-container-scrollbar-thumb: #6C6F80;
}

.modals-vars {
    --modals-border-radius: var(--border-radius);
    --modals-overlay-color: rgba(29, 30, 38, 0.8);
    --modals-shadow: 0 6px 18px 0 rgba(29, 30, 38, 0.05), 0 3px 12px 0 rgba(29, 30, 38, 0.05);
    --modals-bg-color: var(--uui-surface);
}

.text-color-brand {
    --text-color: var(--uui-text-brand);
}

.text-color-primary {
    --text-color: var(--uui-text-primary);
}

.text-color-secondary {
    --text-color: var(--uui-text-secondary);
}

.text-color-disabled {
    --text-color: var(--uui-text-disabled);
}

.text-color-contrast {
    --text-color: var(--uui-text-contrast);
}

.text-placeholder-vars {
    --text-placeholder-gradient: var(--uui-skeleton-gradient);
    --text-placeholder-color: var(--uui-skeleton);
}