@use 'sass:math';
@use 'control-size' as *;
@use 'text-size' as *;

@mixin control-box-layout($size, $borderWidth) {
    min-width: $size;
    padding-left: 5px;
    padding-right: 5px;

    :global(.uui-caption), :global(.uui-input) {
        padding-left: 6px;
        padding-right: 6px;
    }

    &:global(.uui-button-box), &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }
}

@mixin control-vertical-layout($size, $borderWidth) {
    :global(.uui-caption), :global(.uui-input) {
        @include text-size($size, $borderWidth);
    }

    &:global(.uui-button-box), &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }
}

$panel-border-radius: 6px;
$control-border-radius: 3px;
