@use 'font-faces';

$font-sans: 'Sans Regular', Arial, sans-serif;
$font-sans-semibold: 'Sans Semibold', Arial, sans-serif;
$font-sans-italic: 'Sans Italic', Arial, sans-serif;
$font-redacted: 'Redacted';
$font-museo-sans: 'Museo Sans', 'Sans Semibold', Arial, sans-serif;
$font-museo-slab: 'Museo Slab', 'Roboto Slab', Arial, sans-serif;
$font-roboto-mono: 'Roboto Mono', Arial, sans-serif;
