@use './fonts' as *;

@mixin epam-uui-fonts() {
    &.font-sans {
        font-family: $font-sans;
        font-weight: normal;
    }

    &.font-sans-semibold {
        font-family: $font-sans-semibold;
        font-weight: normal;
    }

    &.font-sans-italic {
        font-family: $font-sans-italic;
        font-weight: normal;
    }

    &.font-museo-sans {
        font-family: $font-museo-sans;
        font-weight: normal;
    }

    &.font-museo-slab {
        font-family: $font-museo-slab;
        font-weight: normal;
    }
}
