@forward '~@epam/assets/scss/promo/font-faces';

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    src: url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/RobotoSlab-Regular.ttf') format('truetype');
}
