@use 'sass:math';

@mixin icon-layout($size) {
    :global(.uui-icon) {
        svg {
            height: math.div($size, 36) * 24;
            max-width: math.div($size, 36) * 24;
        }
    }
}

@mixin icon-size($size) {
    :global(.uui-icon) {
        svg {
            height: $size;
            max-width: $size;
        }
    }
}
