@use './colors' as *;
@use './fonts.scss' as *;

@mixin disabled-input() {
    &.mode-form {
        @include input-colors($gray5, $gray50, $gray30);
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
            @include input-colors($gray5, $gray50, $gray30);
            box-shadow: none;
        }

        &::placeholder {
            color: $gray50;
        }
    }

    &.mode-cell {
        @include input-colors(transparent, $gray50, transparent);
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
            @include input-colors(transparent, $gray50, transparent);
            box-shadow: none;
        }

        &::placeholder {
            color: $gray50;
        }
    }
}

@mixin readonly-input() {
    &.mode-form {
        background-color: $gray5;
        border-color: $gray30;
        pointer-events: none;

        &:hover {
            border-color: $gray30;
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;
        pointer-events: none;

        &:hover {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

@mixin input-colors($bg, $fg, $brd) {
    background-color: $bg;
    color: $fg;
    fill: $fg;
    border-color: $brd;

    // override more selective selector on input tag in browsers stylesheets
    :global(.uui-input) {
        color: $fg;

        &::placeholder {
            color: $gray50;
        }
    }
}

@mixin input-prefix() {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-family: $font-sans;
    color: $gray60;
    background: $gray10;
    margin-left: -5px;
    padding: 6px;
    border-right: 1px solid $gray40;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

@mixin input-sufix() {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-family: $font-sans;
    color: $gray60;
    background: $gray10;
    margin-right: -5px;
    padding: 6px;
    border-left: 1px solid $gray40;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
