@use './colors' as *;
@use './fonts.scss' as *;

@mixin disabled-input() {
    &.mode-form {
        @include input-colors($gray5, $gray50, $gray30);
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
            @include input-colors($gray5, $gray50, $gray30);
            box-shadow: none;
        }

        &::placeholder {
            color: $gray50;
        }
    }

    &.mode-cell {
        @include input-colors(transparent, $gray50, transparent);
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
            @include input-colors(transparent, $gray50, transparent);
            box-shadow: none;
        }

        &::placeholder {
            color: $gray50;
        }
    }
}

@mixin readonly-input() {
    &.mode-form {
        background-color: $gray5;
        border-color: $gray30;
        pointer-events: none;

        &:hover {
            border-color: $gray30;
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;
        pointer-events: none;

        &:hover {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

@mixin input-colors($bg, $fg, $brd) {
    background-color: $bg;
    color: $fg;
    fill: $fg;
    border-color: $brd;

    // override more selective selector on input tag in browsers stylesheets
    :global(.uui-input) {
        color: $fg;

        &::placeholder {
            color: $gray50;
        }
    }
}

@mixin prefix-suffix($bg, $border) {
    display: flex;
    align-items: center;
    font-family: $font-sans;
    color: $gray60;
    border-color: $border;
    border-style: solid;
    border-width: 1px;
    background: $bg;
    padding: 6px;
}