.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > :not(:last-child) {
        margin-bottom: 12px;
    }
}

.redFillColor {
    --uui-rating-icon-filled: var(--uui-critical-50);
}
