@use  '../../../assets/styles/index' as *;;

.root {
    overflow: hidden;
    border-radius: var(--panel-border-radius);

    &.background {
        background-color: var(--panel-background-color);
    }

    &.margin-24 {
        margin: 24px;
    }

    &.padding-12 {
        padding: 12px;
    }

    &.padding-24 {
        padding: 24px;
    }

    &.shadow {
        box-shadow: var(--panel-shadow);
    }

    &:global(.-clickable):hover {
        cursor: pointer;
    }
}
