@use '../../assets/styles/layout-mixins' as *;

.root {
    :global(.uui-accordion-toggler) {
        font-family: var(--font-semibold);
        color: var(--uui-accordion-text-color);
        cursor: pointer;
    }

    :global(.uui-accordion-body) {
        font-family: var(--font-regular);
        color: var(--uui-accordion-text-color);
    }

    &.mode-block {
        :global(.uui-accordion-toggler) {
            background: var(--uui-accordion-bg-color);
            box-shadow: var(--uui-accordion-shadow);
            fill: var(--uui-accordion-icon-color);
            line-height: 24px;
            font-size: 18px;
            padding: 0 18px;

            :global(.uui-accordion-toggle-container) {
                min-height: 48px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            :global(.uui-accordion-title) {
                color: var(--uui-accordion-text-color);
            }

            &:hover, &:focus {
                box-shadow: var(--uui-accordion-shadow-hovered);
            }
        }

        :global(.uui-accordion-body) {
            padding: 18px;
            line-height: 24px;
            letter-spacing: 0;
            background: var(--uui-accordion-bg-color);
            box-shadow: var(--uui-accordion-shadow);
            border-top: 1px solid var(--uui-accordion-border-color);
        }

        &:global(.uui-opened) {
            :global(.uui-accordion-toggler) {
                &:hover, &:focus {
                    border-color: var(--uui-accordion-border-color);
                }
            }
        }

        &:global(.uui-disabled) {
            :global(.uui-accordion-toggler) {
                cursor: default;
                fill: var(--uui-accordion-icon-color-disabled);

                :global(.uui-accordion-title) {
                    color: var(--uui-accordion-text-color-disabled);
                }

                &:hover, &:focus {
                    box-shadow: var(--uui-accordion-shadow);
                }
            }
        }
    }

    &.mode-inline {
        :global(.uui-accordion-toggler) {
            border-bottom: 1px solid var(--uui-accordion-border-color);
            fill: var(--uui-accordion-icon-color);
            line-height: 18px;
            font-size: 14px;
            padding: 8px 12px 8px;

            :global(.uui-accordion-toggle-container) {
                min-height: 24px;
            }

            :global(.uui-accordion-title) {
                color: var(--uui-accordion-text-color);
            }
        }

        :global(.uui-accordion-body) {
            padding: 1px 12px 12px;
            border-bottom: 1px solid var(--uui-accordion-border-color);
        }

        &:global(.uui-opened) {
            :global(.uui-accordion-toggler) {
                border-bottom: unset;
            }
        }

        &:global(.uui-disabled) {
            :global(.uui-accordion-toggler) {
                cursor: default;
                fill: var(--uui-accordion-icon-color-disabled);
                border-bottom: unset;

                :global(.uui-accordion-title) {
                    color: var(--uui-accordion-text-color-disabled);
                }
            }
        }
    }

    &.padding-0 {
        :global(.uui-accordion-toggler), :global(.uui-accordion-body) {
            @include padding(0);
        }
    }

    &.padding-6 {
        :global(.uui-accordion-toggler), :global(.uui-accordion-body) {
            @include padding(6);
        }
    }

    &.padding-12 {
        :global(.uui-accordion-toggler), :global(.uui-accordion-body) {
            @include padding(12);
        }
    }

    &.padding-18 {
        :global(.uui-accordion-toggler), :global(.uui-accordion-body) {
            @include padding(18);
        }
    }
}