.root {
    --uui-blocker-bg-with-opacity: rgb(from var(--uui-surface-main) r g b / 70%);

    &:global(.uui-blocker-container) {
        :global(.uui-blocker) {
            background-color: var(--uui-blocker-bg-with-opacity);

        }

        :global(.uui-blocker-enter) {
            background-color: var(--uui-blocker-bg-with-opacity);
        }

        :global(.uui-blocker-enter-active) {
            background-color: var(--uui-blocker-bg-with-opacity);
            transition: opacity 1000ms ease-out;
        }

        :global(.uui-blocker-exit) {
            background-color: var(--uui-blocker-bg-with-opacity);
            pointer-events: none;
            transition: opacity 200ms ease-out;
        }

        :global(.uui-blocker-exit-active) {
            background-color: var(--uui-blocker-bg-with-opacity);
        }
    }
}
