.root {
    --uui-blocker-bg: var(--uui-app-bg);

    &:global(.uui-blocker-container) {
        :global(.uui-blocker) {
            background-color: rgba(var(--uui-blocker-bg), 0.5);
        }

        :global(.uui-blocker-enter) {
            background-color: var(--uui-blocker-bg);
        }

        :global(.uui-blocker-enter-active) {
            background-color: rgba(var(--uui-blocker-bg), 0.5);
            transition: opacity 1000ms ease-out, background-color 2000ms ease-out;
        }

        :global(.uui-blocker-exit) {
            background-color: rgba(var(--uui-blocker-bg), 0.5);
            pointer-events: none;
            transition: opacity 1000ms ease-out, background-color 200ms ease-out;
        }

        :global(.uui-blocker-exit-active) {
            background-color: var(--uui-blocker-bg);
        }
    }
}
