.root {
    border: 0 none;
    margin: 0;
    padding: 0;

    &:global(.uui-horizontal-direction) {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 18px;
    }

    &:global(.uui-vertical-direction) {
        > * {
            margin-bottom: 10px;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}
