@use '../../assets/styles/index' as *;

@mixin label-icon-size($size) {
    $striped-size: strip-unit($size);

    &:global(.uui-icon) {
        svg {
            height: #{$striped-size}px;
            width: #{$striped-size}px;
        }
    }
}

.root {
    --uui-labeled_input: var(--uui-text-primary);
    --uui-labeled_input-disabled: var(--uui-text-disabled);
    --uui-labeled_input-error: var(--uui-error-50);
    --uui-labeled_input-fill: var(--uui-icon);
    --uui-labeled_input-info-fill: var(--uui-icon);
    --uui-labeled_input-optional-text: var(--uui-text-tertiary);
    --uui-labeled_input-asterisk: var(--uui-error-50);
    --uui-labeled_input-char-counter: var(--uui-text-tertiary);
    --uui-labeled_input-footnote: var(--uui-text-tertiary);
    --uui-labeled_input-sidenote: var(--uui-text-tertiary);

    --uui-labeled_input-font: var(--uui-font);
    --uui-labeled_input-font-weight: 600;
    --uui-labeled_input-optional-font: var(--uui-font);
    --uui-labeled_input-optional-font-weight: 400;
    --uui-labeled_input-optional-font-style: italic;
    --uui-labeled_input-invalid-msg-font: var(--uui-font);
    --uui-labeled_input-invalid-msg-font-weight: 400;
    --uui-labeled_input-char-counter-font: var(--uui-font);
    --uui-labeled_input-char-counter-font-weight: 400;
    --uui-labeled_input-footnote-font: var(--uui-font);
    --uui-labeled_input-footnote-font-weight: 400;
    --uui-labeled_input-sidenote-font: var(--uui-font);
    --uui-labeled_input-sidenote-font-weight: 400;
    //
    width: 100%;

    :global(.uui-label) {
        @include overflow-ellipsis();
        font-family: var(--uui-labeled_input-font);
        font-weight: var(--uui-labeled_input-font-weight);
        color: var(--uui-labeled_input);
        padding: 6px 0;

        :global(.uui-labeled-input-info-icon) {
            flex-shrink: 0;
            margin-left: 6px;
            fill: var(--uui-labeled_input-info-fill);
        }

        :global(.uui-labeled-input-asterisk) {
            color: var(--uui-labeled_input-asterisk);
        }

        :global(.uui-labeled-input-optional) {
            font-family: var(--uui-labeled_input-optional-font);
            font-weight: var(--uui-labeled_input-optional-font-weight);
            font-style: var(--uui-labeled_input-optional-font-style);
            font-size: 12px;
            line-height: 18px;
            color: var(--uui-labeled_input-optional-text);
            margin-left: 6px;
        }
    }

    :global(.uui-label-left) {
        :global(.uui-label) {
            margin-inline-end: 5px;
        }
    }

    :global(.uui-invalid-message) {
        line-height: 18px;
        font-size: 12px;
        color: var(--uui-labeled_input-error);
        font-family: var(--uui-labeled_input-invalid-msg-font);
        font-weight: var(--uui-labeled_input-invalid-msg-font-weight);
        margin-top: 3px;
    }

    :global(.uui-labeled-input-char-counter) {
        flex-grow: 1;
        text-align: right;
        line-height: 18px;
        font-size: 12px;
        color: var(--uui-labeled_input-char-counter);
        font-family: var(--uui-labeled_input-char-counter-font);
        font-weight: var(--uui-labeled_input-char-counter-font-weight);
        margin-top: 3px;
    }

    :global(.uui-labeled-input-footnote) {
        line-height: 18px;
        font-size: 12px;
        color: var(--uui-labeled_input-footnote);
        font-family: var(--uui-labeled_input-footnote-font);
        font-weight: var(--uui-labeled_input-footnote-font-weight);
        margin-top: 3px;
    }

    :global(.uui-labeled-input-sidenote) {
        align-self: center;
        text-align: right;
        line-height: 18px;
        font-size: 12px;
        color: var(--uui-labeled_input-sidenote);
        font-family: var(--uui-labeled_input-sidenote-font);
        font-weight: var(--uui-labeled_input-sidenote-font-weight);
    }

    // Sizes
    &.size-24 {
        :global(.uui-labeled-input-info-icon) {
            @include label-icon-size(12);
        }

        :global(.uui-label) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &.size-30 {
        :global(.uui-labeled-input-info-icon) {
            @include label-icon-size(12);
        }

        :global(.uui-label) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &.size-36 {
        :global(.uui-labeled-input-info-icon) {
            @include label-icon-size(18);
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &.size-42 {
        :global(.uui-labeled-input-info-icon) {
            @include label-icon-size(18);
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &.size-48 {
        :global(.uui-labeled-input-info-icon) {
            @include label-icon-size(18);
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
