@use  '../../assets/styles/index' as *;

.root {
    width: 100%;

    :global(.uui-label) {
        @include overflow-ellipsis();
        font-family: var(--font-semibold);
        color: var(--uui-labeled-input);

        :global(.uui-labeled-input-info-icon) {
            flex-shrink: 0;
            margin: 0 4px;
            fill: var(--uui-labeled-input-info-fill);
        }

        :global(.uui-labeled-input-asterisk) {
            color: var(--uui-labeled-input-asterisk);
        }

        :global(.uui-labeled-input-optional) {
            font-family: var(--font-italic);
            font-size: 12px;
            line-height: 18px;
            color: var(--uui-labeled-input-optional-text);
        }
    }

    :global(.uui-label-left) {
        > :global(.uui-label) {
            margin-right: 5px;
        }
    }

    :global(.uui-invalid-message) {
        line-height: 18px;
        font-size: 12px;
        color: var(--uui-labeled-input-error);
        font-family: var(--font-regular);
        margin-top: 3px;
    }

    // Sizes
    &.size-24 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &.size-30 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &.size-36 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &.size-42 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &.size-48 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
