.root {
    --uui-scroll_bars-bg: var(--uui-neutral-40);
    --uui-scroll_bars-bg-active: var(--uui-neutral-60);
    --uui-scroll_bars-shadow: var(--uui-shadow-level-1);
}

:global(.uui-shadow-top)::before {
    background: linear-gradient(to bottom, rgba(44, 47, 60, 0.5) 0%, rgba(44, 47, 60, 0) 100%); // TODO: think how to move it to the tokens
    height: 6px;
}

:global(.uui-shadow-bottom)::after {
    background: linear-gradient(to bottom, rgba(44, 47, 60, 0.5) 0%, rgba(44, 47, 60, 0) 100%); // TODO: think how to move it to the tokens
    height: 6px;
}

:global(.uui-thumb-vertical), :global(.uui-thumb-horizontal) {
    background: var(--uui-scroll_bars-bg);
    border-radius: 1.5px;

    &:hover {
        border-radius: 3px;
    }

    &:active {
        border-radius: 3px;
        background: var(--uui-scroll_bars-bg-active);
    }
}

:global(.uui-thumb-vertical) {
    width: 3px;
    margin-left: 3px;

    &:hover {
        width: 6px;
        margin-left: 0;
    }

    &:active {
        width: 6px;
        margin-left: 0;
    }
}

:global(.uui-thumb-horizontal) {
    height: 3px;
    margin-top: 3px;

    &:hover {
        height: 6px;
        margin-top: 0;
    }

    &:active {
        height: 6px;
        margin-top: 0;
    }
}
