:global(.uui-scroll-bars) {
    --uui-scroll_bars-bg: var(--uui-neutral-40);
    --uui-scroll_bars-bg-active: var(--uui-neutral-60);

    --os-size: 10px;
    --os-padding-perpendicular: 2px;
    --os-padding-axis: 2px;
    --os-handle-border-radius: 3px;
    --os-handle-bg: var(--uui-scroll_bars-bg);
    --os-handle-bg-hover: var(--uui-scroll_bars-bg);
    --os-handle-bg-active: var(--uui-scroll_bars-bg-active);
    --os-handle-min-size: 30px;
    --os-handle-perpendicular-size: 50%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 2px;

    box-sizing: border-box;
}

:global(.uui-shadow-top)::before {
    background: var(--uui-scroll-bars-shadow-top);
    height: var(--uui-scroll-bars-shadow-height);
}

:global(.uui-shadow-bottom)::after {
    background: var(--uui-scroll-bars-shadow-bottom);
    height: var(--uui-scroll-bars-shadow-height);
}
