@use '~@epam/loveship/assets/styles/scss/index'  as *;

.container {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    border-top: 1px solid $night400;
    align-items: center;
    background-color: $white;
    position: relative;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.counter {
    color: $night400;
    font-size: 15px;
    font-family: $font-sans;
}
