
.uui-popper {

    :global(.uui-dropdown-arrow) {
        position: absolute;
        width: 12px;
        height: 12px;
        overflow: hidden;
    }

    :global(.uui-dropdown-arrow)::after {
        content: '';
        position: absolute;
        background: #FFFFFF;
        width: 8px;
        height: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

    &:global(.uui-dropdown-container[data-placement^='right']) {
        :global(.uui-dropdown-arrow) {
            right: 100%;

            &::after {
                transform: translateX(100%) translateY(20%) rotate(45deg);
            }
        }
    }

    &:global(.uui-dropdown-container[data-placement^='left']) {
        :global(.uui-dropdown-arrow) {
            left: 100%;

            &::after {
                transform: translateX(-50%) translateY(20%) rotate(45deg);
            }
        }
    }

    &:global(.uui-dropdown-container[data-placement^='top']) {
        :global(.uui-dropdown-arrow) {
            top: 100%;

            &::after {
                transform: translateX(30%) translateY(-50%) rotate(45deg);
            }
        }
    }

    &:global(.uui-dropdown-container[data-placement^='bottom']) {
        :global(.uui-dropdown-arrow) {
            bottom: 100%;

            &::after {
                transform: translateX(30%) translateY(100%) rotate(45deg);
            }
        }
    }
}
