@use '../../colors' as *;

@mixin radio-input-color() {
    --background-color: white;
    --background-color-disabled: #{$gray5};
    --border-color: #{$gray40};
    --border-color-checked: #{$blue};
    --border-color-hovered: #{$blue-dark};
    --border-color-disabled: #{$gray30};
    --border-color-checked-disabled: #{$blue-light};
    --caption-color: #{$gray80};
    --caption-color-disabled: #{$gray60};
    --fill-color: white;
    --fill-color-checked: #{$blue};
    --fill-color-hovered: #{$blue-dark};
    --fill-color-disabled: #{$gray40};
    --fill-color-checked-hovered: #{$blue-dark};
    --fill-color-checked-disabled: #{$blue-light};
    --errored-color: #{$red};
}
