@use '../../assets/styles/scss/index'  as *;

.recommendedText {
    text-align: center;
}

.infoTable {
    margin-top: 12px;
    border: 1px solid $night400;
    border-radius: 3px;
    text-align: center;
    background: white;
}

.height18 {
    min-height: 18px;
}

.height24 {
    min-height: 24px;
}

.leftCell {
    border-right: 1px solid $night400;
}

.borderBottom {
    border-bottom: 1px solid $night400;
}

.activeV,
.activeH {
    background: #577ce633;
}
