:global(.badge-info) {
    --uui-badge-bg: var(--uui-info);
    --uui-badge-bg-hover: var(--uui-info-active);
    //--bg-color-semitransparent: #{lighten(#008ACE, 50%)};
    //--border-color-semitransparent: #{lighten($blue, 40%)};
    --uui-badge-caption-solid: white;
    //--uui-caption-semitransparent: #{darken($blue, 10%)};
    //--uui-caption-semitransparent-hover: #{darken($blue, 20%)};
    //--uui-caption-transparent: #{$gray80};
    --uui-badge-count-bg: white;
    --uui-badge-count: var(--uui-text-secondary);
}

:global(.badge-success) {
    --uui-badge-bg: var(--uui-success);
    --uui-badge-bg-hover: var(--uui-success-active);
    //--bg-color-semitransparent: #{$cyan-lightest};
    //--border-color-semitransparent: #{$cyan-light};
    --uui-badge-caption-solid: white;
    //--uui-caption-semitransparent: #{$cyan-dark};
    //--uui-caption-semitransparent-hover: #{$cyan-darkest};
    //--uui-caption-transparent: #{$gray80};
    --uui-badge-count-bg: white;
    --uui-badge-count: var(--uui-text-secondary);
}

:global(.badge-warning) {
    --uui-badge-bg: var(--uui-warning);
    --uui-badge-bg-hover: var(--uui-warning-active);
    //--bg-color-semitransparent: #{lighten($green, 50%)};
    //--border-color-semitransparent: #{lighten($green, 40%)};
    --uui-badge-caption-solid: white;
    //--uui-caption-semitransparent: #{darken($green, 10%)};
    //--uui-caption-semitransparent-hover: #{darken($green, 20%)};
    //--uui-caption-transparent: #{$gray80};
    --uui-badge-count-bg: white;
    --uui-badge-count: var(--uui-text-secondary);
}

:global(.badge-error) {
    --uui-badge-bg: var(--uui-error);
    --uui-badge-bg-hover: var(--uui-error-active);
    //--bg-color-semitransparent: #{lighten($amber, 40%)};
    //--border-color-semitransparent: #{lighten($amber, 30%)};
    --uui-badge-caption-solid: var(--uui-text-primary);
    //--uui-caption-semitransparent: #995A00;
    //--uui-caption-semitransparent-hover: #804000;
    //--uui-caption-transparent: #{$gray80};
    --uui-badge-count-bg: white;
    --uui-badge-count: var(--uui-text-secondary);
}