:global(.tag-vars) {
    --uui-tag-bg: var(--uui-tag);
    --uui-tag-bg-hover: var(--uui-tag-hover);
    --uui-tag-caption: var(--uui-text-primary);
    --uui-tag-fill: var(--uui-icon);
    --uui-tag-fill-hover: var(--uui-icon-hover);
    --uui-tag-count-bg: white;
    --uui-tag-count: var(--uui-text-secondary);
}
