@use  '../../assets/styles/index.scss' as *;

@mixin control-switch-size($size) {
    :global(.uui-switch-body) {
        height: $size;
        width: $size * 2;
    }

    :global(.uui-switch-toggler) {
        height: $size;
        width: $size;
    }

    :global(.uui-input-label) {
        @if ($size == 12px) {
            font-size: 12px;
            letter-spacing: 0.2px;
        } @else if ($size == 18px or $size == 24px) {
            font-size: 14px;
            letter-spacing: 0.1px;
        }
    }

    :global(.uui-checked) {
        :global(.uui-switch-toggler) {
            transform: translateX($size);
        }
    }
}

.root {
    //Sizes
    &.size-12 {
        @include control-switch-size(12px);
    }

    &.size-18 {
        @include control-switch-size(18px);
    }

    &.size-24 {
        @include control-switch-size(24px);
    }

    :global(.uui-switch-body) {
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        width: 36px;
        border-radius: 18px;
        box-sizing: border-box;
    }

    :global(.uui-switch-toggler) {
        left: -1px;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: var(--toggler-background-color);
        border: 1px solid var(--toggler-border-color);
        transition: 0.1s transform cubic-bezier(0.4, 0, 0.2, 1);
    }

    :global(.uui-input-label) {
        //@include typography-inline; TODO: ???
        font-family: $font-sans;
        color: var(--caption-color);
        margin-left: 11px;
    }

    //Colors
    &:hover, &:focus-within {
        :global(.uui-switch-body) {
            background-color: var(--background-color-hover);
            border-color: var(--border-color-hover);
        }

        :global(.uui-switch-toggler) {
            border-color: var(--toggler-border-color-hover);
        }

        :global(.uui-checked) {
            &:global(.uui-switch-body) {
                background-color: var(--background-color-checked-hover);
                border-color: var(--border-color-checked-hover);
            }

            :global(.uui-switch-toggler) {
                border-color: var(--toggler-border-color-checked-hover);
            }
        }
    }

    :global(.uui-checked) {
        &:global(.uui-switch-body) {
            background-color: var(--background-color-checked);
            border: 1px solid var(--border-color-checked);

            :global(.uui-switch-toggler) {
                border: 1px solid var(--toggler-border-color-checked);
            }
        }
    }

    &:global(.uui-disabled) {
        :global(.uui-input-label) {
            color: var(--caption-color-disabled);
        }

        &,
        :global(.uui-switch-toggler),
        :global(.uui-switch-body),
        :global(.uui-input-label) {
            cursor: default;
        }

        :global(.uui-switch-body) {
            background-color: var(--background-color-disabled);
            border: 1px solid var(--border-color-disabled);
        }

        & :global(.uui-switch-toggler),
        &:hover :global(.uui-switch-toggler),
        &:focus-within :global(.uui-switch-toggler) {
            background-color: var(--toggler-background-color-disabled);
            border-color: var(--toggler-border-color-disabled);
        }

        :global(.uui-checked) {
            &:global(.uui-switch-body) {
                background-color: var(--background-color-checked-disabled);
                border: 1px solid var(--border-color-checked-disabled);
            }

            :global(.uui-switch-toggler) {
                background-color: var(--toggler-background-color-disabled);
                border-color: var(--toggler-border-color-checked-disabled);
            }
        }
    }
}