:global(.badge-color-info) {
    --background-color: var(--info-color);
    --background-color-hover: var(--info-active-color);
    //--background-color-semitransparent: #{lighten(#008ACE, 50%)};
    //--border-color-semitransparent: #{lighten($blue, 40%)};
    --caption-color-solid: white;
    //--caption-color-semitransparent: #{darken($blue, 10%)};
    //--caption-color-semitransparent-hover: #{darken($blue, 20%)};
    //--caption-color-transparent: #{$gray80};
    --count-background-color: white;
    --count-color: var(--text-secondary-color);
}

:global(.badge-color-success) {
    --background-color: var(--success-color);
    --background-color-hover: var(--success-active-color);
    //--background-color-semitransparent: #{$cyan-lightest};
    //--border-color-semitransparent: #{$cyan-light};
    --caption-color-solid: white;
    //--caption-color-semitransparent: #{$cyan-dark};
    //--caption-color-semitransparent-hover: #{$cyan-darkest};
    //--caption-color-transparent: #{$gray80};
    --count-background-color: white;
    --count-color: var(--text-secondary-color);
}

:global(.badge-color-warning) {
    --background-color: var(--warning-color);
    --background-color-hover: var(--warning-active-color);
    //--background-color-semitransparent: #{lighten($green, 50%)};
    //--border-color-semitransparent: #{lighten($green, 40%)};
    --caption-color-solid: white;
    //--caption-color-semitransparent: #{darken($green, 10%)};
    //--caption-color-semitransparent-hover: #{darken($green, 20%)};
    //--caption-color-transparent: #{$gray80};
    --count-background-color: white;
    --count-color: var(--text-secondary-color);
}

:global(.badge-color-error) {
    --background-color: var(--error-color);
    --background-color-hover: var(--error-active-color);
    //--background-color-semitransparent: #{lighten($amber, 40%)};
    //--border-color-semitransparent: #{lighten($amber, 30%)};
    --caption-color-solid: var(--text-primary-color);
    //--caption-color-semitransparent: #995A00;
    //--caption-color-semitransparent-hover: #804000;
    //--caption-color-transparent: #{$gray80};
    --count-background-color: white;
    --count-color: var(--text-secondary-color);
}