.tag-vars {
    --tag-bg-color: var(--tag-color);
    --tag-bg-color-hover: var(--tag-hover-color);
    --tag-caption-color: var(--text-primary-color);
    --tag-fill-color: var(--icon-color);
    --tag-fill-color-hover: var(--icon-hover-color);
    --tag-count-bg-color: white;
    --tag-count-color: var(--text-secondary-color);
}
