@use '../../assets/styles' as *;

$shadow: 0 1px 3px 0 rgba(29, 30, 38, 0.15);

@mixin picker-toggler-vertical-layout($size, $borderWidth) {
    &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }

    :global(.uui-input-prefix),
    :global(.uui-input-suffix),
    :global(.uui-input) {
        @include text-size($size);
    }

    :global(.uui-input) {
        @if ($size == 24px) {
            padding-top: 0;
            padding-bottom: 0;
        } @else if ($size == 30px) {
            padding-top: 3px;
            padding-bottom: 3px;
        } @else if ($size == 36px or $size == 42px) {
            padding-top: 6px;
            padding-bottom: 6px;
        } @else if ($size == 48px) {
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }

    :not(:global(.uui-button-box)) > :global(.uui-icon) {
        height: $size - 6px;
        margin-bottom: 2px;
    }
}

.root {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
    border-style: solid;

    :global(.uui-input-prefix) {
        @include input-prefix();
        margin-top: -2px;
        margin-right: 3px;
    }

    :global(.uui-input-suffix) {
        @include input-sufix();
        margin-top: -2px;
    }

    &.mode-form {
        background-color: $white;
        border-color: $gray40;
        fill: $gray50;

        :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
            &:global(.uui-enabled) {
                fill: $gray60;

                &:hover {
                    fill: $gray70;
                }
            }

            &:global(.uui-disabled) {
                fill: $gray50;
            }
        }

        &:hover {
            border-color: $gray60;
        }

        &:global(.uui-focus) {
            border-color: $blue;
            outline: none;
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;
        fill: $gray50;

        :global(.uui-input-prefix) {
            border-right: none;
        }

        :global(.uui-input-suffix) {
            border-left: none;
        }

        :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
            cursor: pointer;

            &:global(.uui-enabled) {
                fill: transparent;
            }

            &:global(.uui-disabled) {
                fill: transparent;
            }
        }

        &:hover {
            background-color: white;
            border-color: $gray40;

            :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
                &:global(.uui-enabled) {
                    fill: $gray60;

                    &:hover {
                        fill: $gray70;
                    }
                }

                &:global(.uui-disabled) {
                    fill: transparent;
                }
            }
        }

        &:global(.uui-focus) {
            background-color: white;
            border-color: $blue;
            outline: none;
        }
    }

    &:global(.uui-invalid) {
        &.mode-form, &.mode-cell {
            border-color: $red;
        }
    }

    &:global(.uui-readonly) {
        @include readonly-input();

        :global(.uui-icon-dropdown), :global(.uui-icon-cancel) {
            visibility: hidden;
        }
    }

    &:global(.uui-disabled) {
        @include disabled-input();
        fill: $gray50;

        :global(.uui-input) {
            cursor: default;

            &::placeholder {
                color: $gray50;
            }
        }

        :global(.uui-icon-dropdown), :global(.uui-icon-cancel) {
            visibility: hidden;
        }
    }

    :global(.uui-input) {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 2px;
        font-family: $font-sans;
        color: $gray80;

        &::placeholder {
            color: $gray60;
        }

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    :global(.uui-caption) {
        @include overflow-ellipsis();
        font-family: $font-sans;
        align-self: center;
        white-space: nowrap;
    }

    :global(.uui-button-box) {
        margin-right: 3px;
        margin-bottom: 2px;
        background-color: $gray30;
        color: $gray70;
        fill: $gray70;
        border-color: $gray30;

        &:last-of-type {
            margin-right: 0;
        }
    }

    :global(.uui-placeholder) {
        color: $gray80;
    }

    :global(.uui-placeholder)::placeholder {
        color: $gray80;
    }

    :global(.uui-placeholder)::-moz-placeholder {
        opacity: 1;
    }

    :global(.uui-icon-cancel) {
        margin-left: 6px;
    }

    // Sizes
    &.size-24 {
        @include picker-toggler-vertical-layout(24px, 1px);
        min-width: 24px;
    }

    &.size-30 {
        @include picker-toggler-vertical-layout(30px, 1px);
        min-width: 30px;
    }

    &.size-36 {
        @include picker-toggler-vertical-layout(36px, 1px);
        min-width: 36px;
    }

    &.size-42 {
        @include picker-toggler-vertical-layout(42px, 1px);
        min-width: 42px;
    }

    &.size-48 {
        @include picker-toggler-vertical-layout(48px, 1px);
        min-width: 48px;
    }
}
