@use  '../../assets/styles/index' as *;

.sub-header-wrapper {
    border-bottom: 1px solid $gray40;
    padding: 6px 24px;
}

.switch {
    margin-bottom: 6px;
}

.no-found-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &-icon {
        align-items: center;
        margin-bottom: 12px;
    }

    &-text {
        padding: 0;
        margin: 0;
    }
}
