.container {
    max-width: 240px;
    padding: 6px 12px;

    .header {
        padding-top: 0;
        padding-bottom: 3px;
    }

    .content {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--uui-outline-focus);
    }
}

.text {
    color: var(--uui-text-tertiary);
    border-bottom: 1px dashed var(--uui-text-tertiary);
    padding: 0;
}
