.container {
    max-width: 240px;
    padding: 6px 12px;

    .header {
        padding-top: 0;
        padding-bottom: 3px;
    }

    .content {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #008ACE;
    }
}

.text {
    color: #6C6F80;
    border-bottom: 1px dashed #6C6F80;
    padding: 0;
}

.icon-amber {
    fill: var(--uui-warning);
}
