@use '../../../assets/styles/index' as *;

.row-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    touch-action: auto;
    column-gap: var(--uui-horizontal-gap);
    padding: var(--uui-vertical-padding) var(--uui-dt-columns_config_modal-padding);

    .pin-icon-button {
        min-height: auto;
        column-gap: var(--uui-dt-columns_config_modal-pin_icon_button-column-gap);
        padding-top: var(--uui-vertical-padding);
        padding-bottom: var(--uui-vertical-padding);
    }

    &.not-pinned:not(:hover):not(:focus-within) {
        .pin-icon-button {
            visibility: hidden;
        }
    }

    .checkbox {
        flex-grow: 1;
        padding-top: var(--uui-vertical-padding);
        padding-bottom: var(--uui-vertical-padding);
    }

    &:hover {
        background-color: var(--uui-surface-highest);
    }

    .drag-handle {
        opacity: 1;
        touch-action: none;
        padding-top: var(--uui-vertical-padding);
        padding-bottom: var(--uui-vertical-padding);

        &.dnd-disabled {
            opacity: 0.3;
            touch-action: auto;
        }

        :global(.uui-icon) {
            fill: var(--uui-control-icon);
        }
    }

    &:global(.uui-drag-ghost) {
        @include dnd-ghost-shadow();
        background-color: var(--uui-surface-main);
    }
}
