@use '../../../assets/styles/index' as *;

.main-panel {
    height: 100%;

    .group-title {
        &:not(:first-child) {
            padding-top: calc(var(--uui-grid-unit) * 2);
        }
    }

    .group-items {
        flex-direction: column;
    }

    .no-data {
        flex-direction: column;
        top: calc(50% - 35px);
        position: relative;
    }

    .h-divider {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-top: var(--uui-grid-unit);
        padding-bottom: var(--uui-grid-unit);

        &::before {
            content: '';
            height: 1px;
            display: block;
            background: var(--uui-divider-light);
        }
    }
}

.search-area {
    padding-bottom: var(--uui-grid-unit);
}

.subgroup-accordion {
    :global(.uui-accordion-toggler):focus-visible {
        @include focus-visible-effect(-2px, 0);
    }

    .subgroup-title {
        cursor: pointer;
        text-transform: uppercase;

        :global(.uui-icon) {
            fill: var(--uui-text-tertiary);
        }
    }
}
