@use '../../../assets/styles/index' as *;

@mixin button-disables-styles($bg-color, $border-color) {
    background-color: $bg-color;
    color: var(--uui-btn-caption-disabled);
    fill: var(--uui-btn-caption-disabled);
    border-color: $border-color;
}

.root {
    --uui-btn-bg: var(--uui-main);
    --uui-btn-bg-hover: var(--uui-dark);
    --uui-btn-bg-active: var(--uui-darkest);
    --uui-btn-bg-disabled: var(--uui-main-disabled);
    --uui-btn-border: var(--uui-main);
    --uui-btn-border-hover: var(--uui-dark);
    --uui-btn-border-active: var(--uui-darkest);
    --uui-btn-border-disabled: var(--uui-main-disabled);
    --uui-btn-caption: var(--uui-caption);
    --uui-btn-caption-disabled: var(--uui-caption-disabled);
    //
    background-color: var(--uui-btn-bg);
    color: var(--uui-btn-caption);
    fill: var(--uui-btn-caption);
    border-color: var(--uui-btn-border);

    &:global(.-clickable) {
        &:hover {
            background-color: var(--uui-btn-bg-hover);
            border-color: var(--uui-btn-border-hover);
        }

        &:focus {
            background-color: var(--uui-btn-bg-hover);
            border-color: var(--uui-btn-border-hover);
            box-shadow: var(--uui-btn-focus-shadow);
            outline: var(--uui-btn-focus-outline);
        }

        &:active {
            background-color: var(--uui-btn-bg-active);
            border-color: var(--uui-btn-border-active);
        }
    }

    &:global(.uui-button-box) {
        border-style: solid;
        justify-content: center;
        border-radius: var(--uui-btn-border-radius);
    }

    :global(.uui-caption) {
        @include overflow-ellipsis();
        min-width: 0;
        text-align: center;
        flex: 1 1 auto;
        font-family: var(--uui-btn-font);
        font-weight: var(--uui-btn-font-weight, normal);
        user-select: none;
    }

    &:global(.uui-disabled) {
        @include button-disables-styles(var(--uui-btn-bg-disabled), var(--uui-btn-border-disabled));
    }

    &:global(.-clickable), &:hover, &:active, &:focus {
        &:global(.uui-disabled) {
            @include button-disables-styles(var(--uui-btn-bg-disabled), var(--uui-btn-border-disabled));
        }
    }

    &:global(.uui-fill-solid) {
        --uui-btn-bg: var(--uui-main);
        --uui-btn-bg-hover: var(--uui-dark);
        --uui-btn-bg-active: var(--uui-darkest);
        --uui-btn-bg-disabled: var(--uui-main-disabled);
        --uui-btn-border: var(--uui-main);
        --uui-btn-border-hover: var(--uui-dark);
        --uui-btn-border-active: var(--uui-darkest);
        --uui-btn-border-disabled: var(--uui-main-disabled);
        --uui-btn-caption: var(--uui-caption);
        --uui-btn-caption-disabled: var(--uui-caption-disabled);
    }

    &:global(.uui-fill-outline) {
        --uui-btn-bg: var(--white);
        --uui-btn-bg-hover: var(--uui-lightest);
        --uui-btn-bg-active: var(--uui-light);
        --uui-btn-bg-disabled: var(--uui-main-disabled);
        --uui-btn-border: var(--uui-main);
        --uui-btn-border-hover: var(--uui-main);
        --uui-btn-border-active: var(--uui-main);
        --uui-btn-border-disabled: var(--uui-main-disabled);
        --uui-btn-caption: var(--uui-caption-halftone);
        --uui-btn-caption-disabled: var(--uui-caption-disabled);
    }

    &:global(.uui-fill-none) {
        --uui-btn-bg: transparent;
        --uui-btn-bg-hover: var(--uui-lightest);
        --uui-btn-bg-active: var(--uui-light);
        --uui-btn-bg-disabled: var(--uui-main-disabled);
        --uui-btn-border: var(--uui-main);
        --uui-btn-border-hover: var(--uui-main);
        --uui-btn-border-active: var(--uui-main);
        --uui-btn-border-disabled: var(--uui-main-disabled);
        --uui-btn-caption: var(--uui-caption-halftone);
        --uui-btn-caption-disabled: var(--uui-caption-disabled);
    }

    &:global(.uui-fill-ghost) {
        --uui-btn-bg: transparent;
        --uui-btn-bg-hover: var(--uui-lightest);
        --uui-btn-bg-active: var(--uui-light);
        --uui-btn-bg-disabled: var(--uui-main-disabled);
        --uui-btn-border: transparent;
        --uui-btn-border-hover: var(--uui-lightest);
        --uui-btn-border-active: var(--uui-light);
        --uui-btn-border-disabled: var(--uui-main-disabled);
        --uui-btn-caption: var(--uui-caption-halftone);
        --uui-btn-caption-disabled: var(--uui-caption-disabled);
    }
}

//Sizes
.size-18 {
    @include button-layout(18px, 1px);
}

.size-24 {
    @include button-layout(24px, 1px);
}

.size-30 {
    @include button-layout(30px, 1px);
}

.size-36 {
    @include button-layout(36px, 1px);
}

.size-42 {
    @include button-layout(42px, 1px);

    :global(.uui-caption) {
        font-family: var(--font-primary);
    }
}

.size-48 {
    @include button-layout(48px, 1px);

    :global(.uui-caption) {
        font-family: var(--font-primary);
    }
}
