:global(.button-primary) {
    --uui-btn-bg: var(--uui-primary);
    --uui-btn-bg-hover: var(--uui-primary-dark);
    --uui-btn-bg-active: var(--uui-primary-darkest);
    --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-primary-lightest);
    --uui-btn-bg-halftone-active: var(--uui-primary-light);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border: var(--uui-primary);
    --uui-btn-border-hover: var(--uui-primary-dark);
    --uui-btn-border-active: var(--uui-primary-darkest);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-primary);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-accent) {
    --uui-btn-bg: var(--uui-accent);
    --uui-btn-bg-hover: var(--uui-accent-dark);
    --uui-btn-bg-active: var(--uui-accent-darkest);
    --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-accent-lightest);
    --uui-btn-bg-halftone-active: var(--uui-accent-light);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border: var(--uui-accent);
    --uui-btn-border-hover: var(--uui-accent-dark);
    --uui-btn-border-active: var(--uui-accent-darkest);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-accent);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-negative) {
    --uui-btn-bg: var(--uui-negative);
    --uui-btn-bg-hover: var(--uui-negative-dark);
    --uui-btn-bg-active: var(--uui-negative-darkest);
    --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-negative-lightest);
    --uui-btn-bg-halftone-active: var(--uui-negative-light);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border: var(--uui-negative);
    --uui-btn-border-hover: var(--uui-negative-dark);
    --uui-btn-border-active: var(--uui-negative-darkest);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-negative);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-secondary) {
    --uui-btn-bg: var(--uui-secondary);
    --uui-btn-bg-hover: var(--uui-secondary-dark);
    --uui-btn-bg-active: var(--uui-secondary-darkest);
    --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
    --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
    --uui-btn-bg-halftone-active: var(--uui-secondary-light);
    --uui-btn-bg-disabled: var(--uui-disabled);
    --uui-btn-border: var(--uui-secondary);
    --uui-btn-border-hover: var(--uui-secondary-dark);
    --uui-btn-border-active: var(--uui-secondary-darkest);
    --uui-btn-border-disabled: var(--uui-disabled);
    --uui-btn-caption: var(--uui-contrast);
    --uui-btn-caption-halftone: var(--uui-secondary-dark);
    --uui-btn-caption-disabled: var(--uui-btn-caption-disabled);
}
