:global(.button-color-primary) {
    --uui-btn-bg-color: var(--uui-primary);
    --uui-btn-bg-color-hover: var(--uui-primary-dark);
    --uui-btn-bg-color-active: var(--uui-primary-darkest);
    --uui-btn-bg-color-halftone: var(--uui-btn-bg-halftone);
    --uui-btn-bg-color-halftone-hover: var(--uui-primary-lightest);
    --uui-btn-bg-color-halftone-active: var(--uui-primary-light);
    --uui-btn-bg-color-disabled: var(--uui-disabled);
    --uui-btn-border-color: var(--uui-primary);
    --uui-btn-border-color-hover: var(--uui-primary-dark);
    --uui-btn-border-color-active: var(--uui-primary-darkest);
    --uui-btn-border-color-disabled: var(--uui-disabled);
    --uui-btn-caption-color: var(--uui-contrast);
    --uui-btn-caption-halftone-color: var(--uui-primary);
    --uui-btn-caption-color-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-color-accent) {
    --uui-btn-bg-color: var(--uui-accent);
    --uui-btn-bg-color-hover: var(--uui-accent-dark);
    --uui-btn-bg-color-active: var(--uui-accent-darkest);
    --uui-btn-bg-color-halftone: var(--uui-btn-bg-halftone);
    --uui-btn-bg-color-halftone-hover: var(--uui-accent-lightest);
    --uui-btn-bg-color-halftone-active: var(--uui-accent-light);
    --uui-btn-bg-color-disabled: var(--uui-disabled);
    --uui-btn-border-color: var(--uui-accent);
    --uui-btn-border-color-hover: var(--uui-accent-dark);
    --uui-btn-border-color-active: var(--uui-accent-darkest);
    --uui-btn-border-color-disabled: var(--uui-disabled);
    --uui-btn-caption-color: var(--uui-contrast);
    --uui-btn-caption-halftone-color: var(--uui-accent);
    --uui-btn-caption-color-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-color-negative) {
    --uui-btn-bg-color: var(--uui-negative);
    --uui-btn-bg-color-hover: var(--uui-negative-dark);
    --uui-btn-bg-color-active: var(--uui-negative-darkest);
    --uui-btn-bg-color-halftone: var(--uui-btn-bg-halftone);
    --uui-btn-bg-color-halftone-hover: var(--uui-negative-lightest);
    --uui-btn-bg-color-halftone-active: var(--uui-negative-light);
    --uui-btn-bg-color-disabled: var(--uui-disabled);
    --uui-btn-border-color: var(--uui-negative);
    --uui-btn-border-color-hover: var(--uui-negative-dark);
    --uui-btn-border-color-active: var(--uui-negative-darkest);
    --uui-btn-border-color-disabled: var(--uui-disabled);
    --uui-btn-caption-color: var(--uui-contrast);
    --uui-btn-caption-halftone-color: var(--uui-negative);
    --uui-btn-caption-color-disabled: var(--uui-btn-caption-disabled);
}

:global(.button-color-secondary) {
    --uui-btn-bg-color: var(--uui-secondary);
    --uui-btn-bg-color-hover: var(--uui-secondary-dark);
    --uui-btn-bg-color-active: var(--uui-secondary-darkest);
    --uui-btn-bg-color-halftone: var(--uui-btn-bg-halftone);
    --uui-btn-bg-color-halftone-hover: var(--uui-secondary-lightest);
    --uui-btn-bg-color-halftone-active: var(--uui-secondary-light);
    --uui-btn-bg-color-disabled: var(--uui-disabled);
    --uui-btn-border-color: var(--uui-secondary);
    --uui-btn-border-color-hover: var(--uui-secondary-dark);
    --uui-btn-border-color-active: var(--uui-secondary-darkest);
    --uui-btn-border-color-disabled: var(--uui-disabled);
    --uui-btn-caption-color: var(--uui-contrast);
    --uui-btn-caption-halftone-color: var(--uui-secondary-dark);
    --uui-btn-caption-color-disabled: var(--uui-btn-caption-disabled);
}
