:global(.text-color-brand) {
    --uui-text: var(--uui-text-brand);
}

:global(.text-color-primary) {
    --uui-text: var(--uui-text-primary);
}

:global(.text-color-secondary) {
    --uui-text: var(--uui-text-secondary);
}

:global(.text-color-disabled) {
    --uui-text: var(--uui-text-disabled);
}

:global(.text-color-contrast) {
    --uui-text: var(--uui-text-contrast);
}
