@use '~@epam/promo/assets/styles/colors' as *;

@keyframes show-filter-panel {
    0% {
        transform: translate3d(-100%, 0, 0);
        margin-right: -288px;
    }

    100% {
        transform: translate3d(0, 0, 0);
        margin-right: 0;
    }
}

@keyframes hide-filter-panel {
    0% {
        transform: translate3d(0, 0, 0);
        margin-right: 0;
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        margin-right: -288px;
    }
}

.container {
    overflow: hidden;
    height: calc(100vh - 121px);
    background-color: #fff;
    border-right: 1px solid $gray40;
}

.filter-sidebar-panel-wrapper {
    width: 288px;
    margin-right: -288px;

    &:global(.show) {
        animation: show-filter-panel 500ms;
        animation-fill-mode: forwards;
    }

    &:global(.hide) {
        animation: hide-filter-panel 500ms;
        animation-fill-mode: forwards;
    }
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    border-right: 1px solid $gray30;
}