@use '../../assets/styles/scss/index'  as *;

.render-item {
    display: flex;
    flex: auto;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picker-row {
    &:global(.uui-focus) {
        background-color: $night100;
    }

    &:global(.-clickable) {
        cursor: pointer;
    }
}
