@use '../../assets/styles/scss/index'  as *;

@mixin picker-toggler-vertical-layout($size, $borderWidth) {
    &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }

    :global(.uui-input) {
        @include text-size($size - 6px);

        @if ($size == 24px) {
            line-height: 14px;
            font-size: 12px;
        } @else if ($size == 30px) {
            line-height: 18px;
            font-size: 14px;
        } @else if ($size == 36px) {
            line-height: 18px;
            font-size: 14px;
        } @else if ($size == 48px) {
            line-height: 24px;
            font-size: 14px;
        }
    }

    :not(:global(.uui-button-box)) > :global(.uui-icon) {
        height: $size - 6px;
        margin-bottom: 2px;
    }
}

.root {
    padding-top: 2px;
    width: 100%;
    fill: $night600;
    box-sizing: border-box;

    :global(.uui-input) {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 2px;
        font-family: $font-sans;
        color: $night700;

        &::placeholder {
            color: $night500;
        }

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    :global(.uui-button-box) {
        margin-right: 4px;
        margin-bottom: 2px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    :global(.uui-placeholder) {
        color: $night500;
    }

    :global(.uui-placeholder)::placeholder {
        color: $night700;
    }

    :global(.uui-placeholder)::-moz-placeholder {
        opacity: 1;
    }

    :global(.uui-icon-cancel) {
        margin-left: 6px;
    }

    // Sizes
    &.size-24 { @include picker-toggler-vertical-layout(24px, 1px); }
    &.size-30 { @include picker-toggler-vertical-layout(30px, 1px); }
    &.size-36 { @include picker-toggler-vertical-layout(36px, 1px); }
    &.size-48 { @include picker-toggler-vertical-layout(48px, 1px); }

    &.mode-form {
        @include control-form-mode();
        padding-left: 5px;
        padding-right: 5px;

        &.size-24 { min-width: 24px; }
        &.size-30 { min-width: 30px; }
        &.size-36 { min-width: 36px; }
        &.size-42 { min-width: 42px; }
        &.size-48 { min-width: 48px; }
        &.size-60 { min-width: 60px; }
    }

    &.mode-inline { @include control-inline-mode(); }
    &.mode-cell { @include control-cell-mode(); }

    &:global(.uui-disabled) {
        @include disabled-input();
        fill: $night300;

        &.mode-inline, &.mode-cell {
            background-color: transparent;
            border-color: transparent;
        }

        :global(.uui-input) {
            cursor: default;

            &::placeholder {
                color: $night500;
            }
        }
    }

    &:global(.uui-readonly) {
        @include readonly-input();
    }

    &:global(.uui-invalid) {
        border-color: $fire;
    }

    :global(.uui-icon):global(.-clickable) {
        cursor: pointer;

        &:global(.uui-enabled) {
            fill: $night600;

            &:hover {
                fill: $night700;
            }
        }

        &:global(.uui-disabled) {
            fill: $night500;
            cursor: default;
        }
    }
}
