.container {
    :global(.uui-accordion-toggle-container) {
        display: flex;
        align-items: center;
    }

    :global(.uui-accordion-title) {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    :global(.uui-accordion-body) {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .spacer {
        flex: 1 1 auto;
    }
}
