.container {
    display: flex;

    & > * {
        margin-right: -1px !important;

        &:focus {
            box-shadow: none;
        }
    }

    .uui-focus, &>:focus-within, &>:hover {
        position: relative;
        z-index: 1;
    }
}
