.container {
    .labelWrapper {
        display: flex;
        align-items: center;
        column-gap: 3px;
    }

    :global(.uui-label) {
        display: flex;
        align-items: center;

        :global(.uui-labeled-input-info-icon) {
            display: flex;
            margin-inline-end: 2px; // to fix focus outline clapping
        }
    }

    .optional-field-wrapper {
        text-overflow: ellipsis;
    }

    :global(.uui-label-left) {
        display: flex;
        align-items: center;
    }

    .right-children-position {
        flex-basis: 0;
        flex-grow: 1;
    }
}

.invalid-section-wrapper {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    column-gap: 12px;
}

.footnote-section-wrapper {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    column-gap: 12px;
}