.root {
    height: 100%;
    width: 100%;

    &:global(.uui-shadow-top)::before,
    &:global(.uui-shadow-bottom)::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 200ms;
    }

    &:global(.uui-shadow-top)::before {
        top: 0;
        z-index: 1;
    }

    &:global(.uui-shadow-bottom)::after {
        bottom: 0;
    }

    &:global(.-scrolled-top)::before {
        opacity: 1;
    }

    &:global(.-scrolled-bottom)::after {
        opacity: 1;
    }
}
