.wrapper {
    flex: 1 1 0;
    align-self: stretch;
    display: flex;
    position: relative;

    :global(.os-content) {
        max-width: 100%;
    }
}

.body {
    flex: 1 1 0;
    align-self: stretch;
    display: flex;

    &:global(.os-host .os-scrollbar-vertical) {
        width: 6px;

        &:hover {
            width: 10px;
        }

        &:active {
            width: 10px;
        }
    }

    &:global(.os-host .os-scrollbar-horizontal) {
        height: 6px;

        &:hover {
            height: 10px;
        }

        &:active {
            height: 10px;
        }
    }
}

.container-2 {
    flex: 1 1 0;
    align-self: stretch;
    overflow: hidden;
}

.container-3 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

:global(.uui-scroll-shadow-top) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
}

:global(.uui-scroll-shadow-bottom) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
}
