.wrapper {
    flex: 1 1 0;
    align-self: stretch;
    display: flex;
    position: relative;
}

.body {
    flex: 1 1 0;
    align-self: stretch;
    display: flex;
}

.container-1 {
    flex: 1 1 0;
    align-self: stretch;
    position: relative;
    overflow: hidden;
    overscroll-behavior-x: none;
}

.container-2 {
    flex: 1 1 0;
    align-self: stretch;
    position: relative;
    overflow: hidden;
}

.container-3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
}

:global(.uui-scroll-shadow-top) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
}

:global(.uui-scroll-shadow-bottom) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
}
