.wrapper {
    flex: 1 1 0;
    align-self: stretch;
    display: flex;
    position: relative;
    width: 100%;
}

.listContainer {
    margin-top: 0;
    overflow: hidden;
}

:global(.uui-scroll-shadow-top) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
}

:global(.uui-scroll-shadow-bottom) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
}