:global(.switch-vars) {
    --uui-switch-bg: var(--uui-control-switch-bg);
    --uui-switch-bg-checked: var(--uui-control-bg-checked);
    --uui-switch-bg-hover: var(--uui-control-bg-hover);
    --uui-switch-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-switch-border: var(--uui-control-border);
    --uui-switch-border-checked: var(--uui-control-border-checked);
    --uui-switch-border-hover: var(--uui-control-switch-border-hover);
    --uui-switch-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-border-checked-hover: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-switch-label: var(--uui-control-label);
    --uui-switch-label-disabled: var(--uui-control-label-disabled);
    --uui-switch-toggler-bg: #fff;
    --uui-switch-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-toggler-border: var(--uui-control-switch-bg);
    --uui-switch-toggler-border-checked: var(--uui-control-bg-checked);
    --uui-switch-toggler-border-hover: var(--uui-control-bg-hover);
    --uui-switch-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-toggler-border-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-toggler-border-checked-disabled: var(--uui-control-bg-checked-disabled);
}
