@use '../../../node_modules/@epam/promo/assets/styles/index' as *;
@use '../../../node_modules/@epam/promo/assets/styles/colorvars/inputs/numericInput-colorvars' as *;

.root {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:global(.uui-input-box) {
        width: 100%;
        box-sizing: border-box;
        min-width: 40px;
        position: relative;
        display: flex;
        outline: none;
        border: 1px solid $gray40;
        background-color: $white;
        padding-left: 6px;
        padding-right: 6px;

        &:global(.-clickable):hover {
            cursor: pointer;
        }

        &:hover {
            border-color: $gray60;
        }

        &:global(.uui-opened) {
            border-color: $blue;
        }

        :global(.uui-input) {
            -moz-appearance: textfield;
            font-family: $font-sans;
            color: $gray80;
            padding: 6px 5px;
            margin: 0 0 1px 0;
            border: 0;
            flex: 1 1 auto;
            min-width: 0;
            outline: none;
            background: none;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            line-height: 18px;

            .selected-title {
                color: $gray60;
            }

            .selected {
                color: $gray80;
            }

            &:disabled {
                color: $gray40;
            }

            &::-ms-clear {
                display: none;
            }
        }

        :global(.uui-icon) svg {
            margin-top: -2px;
        }

        &:global(.size-24) {
            > * {
                height: 12px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &:global(.size-30) {
            > * {
                height: 15px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &:global(.size-36) {
            > * {
                height: 17px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &:global(.size-42) {
            > * {
                height: 21px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &:global(.size-48) {
            > * {
                height: 23px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        :global(.uui-icon-dropdown) {
            align-self: center;
            fill: $gray60;
        }

        &:global(.uui-disabled) {
            background-color: #fafafc;
            fill: #acafbf;
            border-color: #e1e3eb;
            cursor: default;
            pointer-events: none;

            :global(.uui-input) {
                cursor: default;
                pointer-events: none;
                text-overflow: clip;
                white-space: break-spaces;

                .selected, .selected-title {
                    color: #acafbf;
                }
            }
        }
    }
}
