@use '../../../node_modules/@epam/promo/assets/styles/index' as *;
@use '../../../node_modules/@epam/promo/assets/styles/colorvars/inputs/textInput-colorvars' as *;

.root {
    &:global(.uui-input-box) {
        width: 100%;
        box-sizing: border-box;
        min-width: 40px;
        position: relative;
        display: flex;
        outline: none;
        border: 1px solid $gray40;
        background-color: $white;
        padding-left: 6px;
        padding-right: 6px;

        &:global(.-clickable):hover {
            cursor: pointer;
        }

        &:hover {
            border-color: $gray60;
        }

        &:global(.uui-opened) {
            border-color: $blue;
        }

        .title {
            -moz-appearance: textfield;
            font-family: $font-sans;
            flex: 1 1 auto;
            min-width: 0;
            outline: none;
            background: none;
            cursor: pointer;
            white-space: nowrap;

            .context-left {
                text-overflow: initial;
                overflow: visible;
                padding-top: 0;
                padding-bottom: 0;
            }

            .context-right {
                padding-top: 0;
                padding-bottom: 0;
            }

            .selected-title {
                color: $gray60;
            }

            .selected {
                color: $gray80;
            }

            &::-ms-clear {
                display: none;
            }
        }

        &:global(.size-30) {
            @include control-vertical-layout(30px, 1px);
            line-height: 18px;
        }

        :global(.uui-icon-dropdown) {
            fill: $gray60;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .placeholder {
        margin: 0 0 0 3px;
        padding: 0;

        & span {
            margin: 2px 0 0 0;
        }
    }
}
