@use '../../../node_modules/@epam/promo/assets/styles/colors' as *;
@use '../../../node_modules/@epam/promo/assets/styles/fonts' as *;

.header {
    padding: 0 12px;
    font-family: $font-sans;
    justify-content: space-between;

    button.removeButton {
        padding-left: 6px;
    }
}
