@use '../../assets/styles/colors' as *;
@use '../../assets/styles/fonts' as *;

.header {
    font-family: $font-sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px 0 12px;

    button.removeButton {
        padding-left: 24px;
    }
}
