@use '~@epam/promo/assets/styles/colors.scss' as *;

.layout {
    margin: 0 auto;
    background-color: $gray10;

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 60px 0;
        border-bottom: 1px solid $gray40;
    }

    .wrapper {
        width: inherit;
    }

    .header {
        font-size: 30px;
        line-height: 36px;
        padding: 0;
    }

    .contacts-cards {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .card {
            display: flex;
            background-color: $white;
            max-width: 588px;
            flex-grow: 1;

            &:not(:last-child) {
                margin-right: 24px;
            }

            .card-icon {
                padding: 12px;

                &.teams-icon {
                    padding-top: 18px;
                    padding-bottom: 18px;
                    padding-right: 24px;
                }
            }

            .card-text-content {
                padding: 18px 18px 18px 0;
            }

            .link-button {
                padding: 0;
                margin-top: 6px;

                :global(.uui-caption) {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .contacts {
            max-width: 732px;
            padding: 48px 0;
        }

        .header {
            font-size: 30px;
            line-height: 36px;
            padding: 0;
        }

        .contacts-cards {
            display: flex;
            justify-content: space-between;

            .card {
                display: flex;
                background-color: $white;
                max-width: none;
                flex-grow: unset;

                &:not(:last-child) {
                    margin-right: 21px;
                }

                .card-icon {
                    padding: 24px;

                    &.teams-icon {
                        padding: 24px;
                    }
                }

                .card-text-content {
                    padding: 18px 18px 18px 0;
                }

                .link-button {
                    padding: 0;
                    margin-top: 6px;

                    :global(.uui-caption) {
                        font-size: 16px;
                    }
                }
            }
        }

        .banner {
            background-color: $white;
            box-sizing: border-box;
            max-width: 1200px;
            width: 100%;
            padding: 36px;

            .banner-text {
                font-size: 24px;
                color: $blue;
            }
        }
    }

    @media (max-width: 768px) {
        .contacts {
            max-width: none;
            width: inherit;
            margin: 0 12px;
            padding: 30px 0;
            align-items: stretch;
        }

        .wrapper {
            width: inherit;
        }

        .header {
            font-size: 24px;
            line-height: 30px;
        }

        .contacts-cards {
            display: flex;
            justify-content: space-around;
            padding: 18px 0 12px;

            .card {
                display: flex;
                background-color: $white;

                &:not(:last-child) {
                    margin-right: 12px;
                }

                .card-icon {
                    padding: 0;

                    &.teams-icon {
                        padding: 6px;
                    }
                }

                .card-text-content {
                    padding: 18px 18px 18px 0;
                }

                .link-button {
                    padding: 0;
                    margin-top: 6px;

                    :global(.uui-caption) {
                        font-size: 16px;
                    }
                }
            }
        }

        .banner {
            flex-direction: column;
            max-width: none;
            width: 100%;
            padding: 24px;

            .banner-text {
                font-size: 24px;
                padding-top: 0;
                text-align: center;
                color: $blue;
            }
        }
    }
}
