@use '~@epam/promo/assets/styles/colors.scss' as *;

.layout {
    margin: 0 auto;
    background: #FFFFFF;

    .releases {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 54px 0 0;

        .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            .header-wrapper {
                margin-bottom: 6px;
            }

            .header {
                font-size: 30px;
                line-height: 36px;
                padding: 0;
            }

            .content {
                display: flex;
                justify-content: space-between;
                flex-grow: 0;
                overflow: hidden;
                margin-bottom: 54px;
                width: 100%;

                .content-wrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }

            .releases-footer {
                display: flex;
                justify-content: center;
                padding: 24px 0;
                border-top: 1px solid $gray40;
            }
        }
    }

    @media (max-width: 1280px) {
        .releases {
            max-width: 732px;
            padding: 42px 0 0;

            .wrapper {
                width: 100%;

                .content {
                    margin-bottom: 42px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .releases {
            max-width: none;
            width: inherit;
            padding: 30px 0 0;
            margin: 0 12px;

            .wrapper {
                .header-wrapper {
                    margin-bottom: 0;
                }

                .header {
                    font-size: 24px;
                    line-height: 30px;
                }

                .content {
                    margin-bottom: 24px;
                    overflow: auto;

                    .content-wrapper {
                        display: flex;
                        min-width: 604px;
                    }
                }
            }
        }
    }
}
