@import '~@epam/promo/assets/styles/colors.scss';

.layout {
    margin: 0 auto;
    background-color: $gray10;

    .teams {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 54px 0 60px;
        border-bottom: 1px solid $gray40;
    }

    .header-wrapper {
        margin-bottom: 6px;
        width: inherit;
    }

    .header {
        font-size: 30px;
        line-height: 36px;
        padding: 0;
    }

    .teams-cards {
        display: flex;
        flex-direction: row;
        margin-top: 12px;
        justify-content: space-between;
        width: 100%;
        overflow: auto;

        :global(.uui-caption) {
            font-size: 16px;
            line-height: 24px;
            margin-top: 6px;
            padding: 0;
        }
    }

    .card {
        min-width: auto;
    }

    @media (max-width: 1280px) {
        .teams {
            max-width: 732px;
            padding: 54px 0 60px;
        }

        .header-wrapper {
            margin-bottom: 6px;
        }

        .header {
            font-size: 30px;
            line-height: 36px;
            padding: 0;
        }

        .card:not(:last-child) {
            margin-right: 18px;
        }

    }

    @media (max-width: 768px) {
        .teams {
            max-width: none;
            padding: 24px 0 30px;
            margin: 0 12px;
            width: inherit;
        }

        .header-wrapper {
            width: 100%;

            :global(.uui-button-box) {
                justify-content: center;
            }
        }

        .header {
            font-size: 24px;
            line-height: 30px;
        }

        .card:not(:last-child) {
            margin-right: 12px;
        }
    }
}