@use '~@epam/promo/assets/styles/colors.scss' as *;

.layout {
    margin: 0 auto;
    background-color: $gray10;

    .technologies {
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 60px 0;
        justify-content: space-between;
    }

    @media (max-width: 1280px) {
        .technologies {
            max-width: 732px;
            padding: 48px 0;
        }
    }

    @media (max-width: 768px) {
        .wrapper {
            overflow: auto;
            margin: 0 12px;
            padding: 48px 0;
        }

        .technologies {
            margin: 0;
            padding: 0;
            max-width: 732px;
            min-width: 600px;
            flex-wrap: nowrap;
        }
    }
}
