@use '~@epam/promo/assets/styles/colors.scss' as *;

.layout {
    background-color: var(--uui-neutral-90);
    border: 1px solid var(--uui-divider-light);
    display: flex;
    flex-shrink: 0;

    .footer {
        max-width: 100%;
        overflow-x: auto;
        width: 100%;
        margin: 0 auto;

        &:global(.uui-flex-row) {
            --uui-size: 36px;
        }
    }
}
