@use  '../../assets/styles/effects' as *;

.root {
    --uui-avatar_stack-font: var(--uui-font);
    --uui-avatar_stack-font-weight: 600;
    //
    :global(.avatars) {
        padding-right: 12px;

        &>* {
            border-radius: 50%;
            border: 1px solid white;
        }

        :global(.-clickable) {
            &:focus-visible {
                @include focus-visible-effect(2px);
            }

            &:focus-visible, &:hover {
                position: relative;
                z-index: 1;

            }
        }
    }

    :global(.avatarsCount) {
        color: var(--uui-text-primary);
        margin-left: 3px;
        line-height: 1;
        font-family: var(--uui-avatar_stack-font);
        font-weight: var(--uui-avatar_stack-font-weight);
        font-size: 14px;
    }
}
