@use '../../assets/styles/index' as *;
@use 'sass:math';

@mixin badge-layout($size, $borderWidth) {
    min-height: $size;
    min-width: $size;
    border-radius: math.div($size, 2);

    @if ($size == 18px) {
        @include partial-calc(3px, 3px, 6px, $borderWidth);
    } @else if ($size == 24px) {
        @include partial-calc(3px, 6px, 8px, $borderWidth);
    } @else if ($size == 30px) {
        @include partial-calc(6px, 6px, 8px, $borderWidth);
    } @else if ($size == 36px) {
        @include partial-calc(9px, 6px, 8px, $borderWidth);
    } @else if ($size == 42px) {
        @include partial-calc(12px, 6px, 10px, $borderWidth);
    } @else if ($size == 48px) {
        @include partial-calc(12px, 6px, 12px, $borderWidth);
    }

    @include scalable-icon-size($size);
}

@mixin partial-calc($controlPadding, $captionPadding, $dotSize, $borderWidth) {
    padding-left: $controlPadding - $borderWidth;
    padding-right: $controlPadding - $borderWidth;

    :global(.uui-icon):first-child {
        padding-left: $captionPadding;
    }

    :global(.uui-caption) {
        padding-left: $captionPadding;
        padding-right: $captionPadding;
    }

    &:global(.uui-indicator) {
        :global(.uui-caption) {
            margin-left: $dotSize + $captionPadding;
        }

        &::before {
            width: $dotSize;
            height: $dotSize;
        }
    }
}

.root {
    --uui-badge-bg: var(--uui-color-50);
    --uui-badge-bg-hover: var(--uui-color-60);
    --uui-badge-border: var(--uui-color-50);
    --uui-badge-border-hover: var(--uui-color-60);
    --uui-badge-caption: var(--uui-color-contrast);
    --uui-badge-caption-hover: var(--uui-color-contrast);

    --uui-badge-font: var(--uui-font);
    --uui-badge-font-weight: 400;
    //
    @include clickable-styles();
    background-color: var(--uui-badge-bg);
    color: var(--uui-badge-caption);
    fill: var(--uui-badge-caption); // ??? separate variable
    border-color: var(--uui-badge-border);
    justify-content: center;

    &:global(.-clickable) {
        &:hover {
            background-color: var(--uui-badge-bg-hover);
            border-color: var(--uui-badge-border-hover);
            color: var(--uui-badge-caption-hover);
            fill: var(--uui-badge-caption-hover); // ??? separate variable
            cursor: pointer;
        }
    }

    :global(.uui-caption) {
        font-family: var(--uui-badge-font);
        font-weight: var(--uui-badge-font-weight);
    }

    &:global(.uui-button-box) {
        border-width: 1px;
        border-style: solid;

    }

    &:global(.-clickable):focus-visible {
        @include focus-visible-effect(2px, null);
    }

    :global(.uui-count_indicator) {
        margin-right: 3px;
    }

    &:global(.uui-indicator) {
        &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: var(--uui-badge-caption);
        }
    }

    &.size-18 {
        @include badge-layout(18px, 1px);

        &:global(.uui-indicator) {
            &::before {
                top: 5px;
                left: 5px;
            }
        }

        :global(.uui-caption) {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 12px;
            font-size: 12px;
        }
    }

    &.size-24 {
        @include badge-layout(24px, 1px);

        &:global(.uui-indicator) {
            &::before {
                top: 7px;
                left: 9px;
            }
        }

        :global(.uui-caption) {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 12px;
            font-size: 12px;
        }
    }

    &.size-30 {
        @include badge-layout(30px, 1px);

        &:global(.uui-indicator) {
            &::before {
                top: 10px;
                left: 11px;
            }
        }

        :global(.uui-caption) {
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 18px;
            font-size: 14px;
        }
    }

    &.size-36 {
        @include badge-layout(36px, 1px);

        &:global(.uui-indicator) {
            &::before {
                top: 13px;
                left: 15px;
            }
        }

        :global(.uui-caption) {
            padding-top: 8px;
            padding-bottom: 8px;
            line-height: 18px;
            font-size: 14px;
        }
    }

    &.size-42 {
        @include badge-layout(42px, 1px);

        :global(.uui-caption) {
            padding-top: 8px;
            padding-bottom: 8px;
            line-height: 24px;
            font-size: 16px;
        }

        &:global(.uui-indicator) {
            &::before {
                top: 15px;
                left: 17px;
            }
        }
    }

    &:global(.uui-fill-solid) {
        --uui-badge-bg: var(--uui-color-50);
        --uui-badge-bg-hover: var(--uui-color-60);
        --uui-badge-border: var(--uui-color-50);
        --uui-badge-border-hover: var(--uui-color-60);
        --uui-badge-caption: var(--uui-color-contrast);
        --uui-badge-caption-hover: var(--uui-color-contrast);

        :global(.uui-count_indicator) {
            --uui-count_indicator-bg: color-mix(in srgb, var(--uui-badge-caption) 8%, transparent);
            --uui-count_indicator-border: color-mix(in srgb, var(--uui-badge-caption) 40%, transparent);
        }
    }

    &:global(.uui-fill-outline) {
        --uui-badge-bg: var(--uui-color-5);
        --uui-badge-bg-hover: var(--uui-color-10);
        --uui-badge-border: var(--uui-color-20);
        --uui-badge-border-hover: var(--uui-color-20);
        --uui-badge-caption: var(--uui-color-70);
        --uui-badge-caption-hover: var(--uui-color-70);

        :global(.uui-count_indicator) {
            --uui-count_indicator-bg: var(--uui-neutral-0);
            --uui-count_indicator-border: var(--uui-neutral-40);
            --uui-count_indicator-caption: var(--uui-neutral-70);
        }
    }
}
