.root {
    --uui-count_indicator-bg: var(--uui-color-50);
    --uui-count_indicator-border: var(--uui-color-50);
    --uui-count_indicator-caption: var(--uui-color-contrast);

    --uui-count_indicator-font: var(--uui-font);
    --uui-count_indicator-font-weight: 600;

    &:global(.uui-count_indicator) {
        box-sizing: border-box;
        font-family: var(--uui-count_indicator-font);
        font-weight: var(--uui-count_indicator-font-weight);
        margin: auto 0;
        text-align: center;
        flex-shrink: 0;
        width: fit-content;
        //
        background-color: var(--uui-count_indicator-bg);
        border: 1px solid var(--uui-count_indicator-border);
        color: var(--uui-count_indicator-caption);


        &:global {
            &.uui-size-24 {
                height: 24px;
                min-width: 24px;
                font-size: 14px;
                line-height: 22px;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 12px;
            }

            &.uui-size-18 {
                height: 18px;
                min-width: 18px;
                font-size: 12px;
                line-height: 16px;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 9px;
            }

            &.uui-size-12 {
                height: 12px;
                min-width: 12px;
                font-size: 8px;
                line-height: 10px;
                padding-left: 2px;
                padding-right: 2px;
                border-radius: 6px;
            }
        }
    }
}
