.root {
    --uui-pagination-font: var(--uui-font);
    --uui-pagination-font-weight: 400;

    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .page {
        --uui-btn-padding: 1px;
    }

    :global(.uui-caption) {
        font-family: var(--uui-pagination-font);
        font-weight: var(--uui-pagination-font-weight, normal);
        font-size: 14px;
    }

    > :first-child {
        margin-inline-end: var(--uui-horizontal-gap);
    }

    > :last-child {
        margin-inline-start: var(--uui-horizontal-gap);
    }

    .spacer {
        color: var(--uui-text-primary);
    }

    .mode-ghost {
        color: var(--uui-text-primary);

        &:hover {
            color: var(--uui-primary-50);
        }
    }
}

