@use '../../assets/styles/index' as *;

.root {
    --uui-tag-bg: var(--uui-color-50);
    --uui-tag-bg-hover: var(--uui-color-60);
    --uui-tag-border: var(--uui-color-50);
    --uui-tag-border-hover: var(--uui-color-60);
    --uui-tag-caption: var(--uui-color-contrast);
    --uui-tag-fill: var(--uui-color-contrast);

    --uui-tag-border-radius: var(--uui-border-radius);

    --uui-tag-font: var(--uui-font);
    --uui-tag-font-weight: 400;

    @include clickable-styles();

    &:global(.uui-button-box) {
        border-radius: var(--uui-tag-border-radius);
        background-color: var(--uui-tag-bg);
        fill: var(--uui-tag-fill);
        border: 1px solid var(--uui-tag-border);

        :global(.uui-count_indicator):not(:last-child) {
            margin-right: 6px;
        }

        &:global(.-clickable) {
            &:hover, &:active {
                background-color: var(--uui-tag-bg-hover);
                border-color: var(--uui-tag-border-hover);
                cursor: pointer;
            }

            &:focus-visible {
                @include focus-visible-effect(2px, null);
            }
        }

        :global(.uui-caption) {
            font-family: var(--uui-tag-font);
            font-weight: var(--uui-tag-font-weight);
            color: var(--uui-tag-caption);
        }

        :global(.uui-count_indicator):not(:last-child) {
            margin-right: 3px;
        }
    }

    &:global(.uui-fill-solid) {
        :global(.uui-count_indicator) {
            --uui-count_indicator-bg: color-mix(in srgb, var(--uui-neutral-0) 10%, transparent);
            --uui-count_indicator-border: var(--uui-neutral-30);
        }
    }

    &:global(.uui-fill-outline) {
        --uui-tag-bg: var(--uui-color-5);
        --uui-tag-bg-hover: var(--uui-color-10);
        --uui-tag-border: var(--uui-color-20);
        --uui-tag-border-hover: var(--uui-color-20);
        --uui-tag-caption: var(--uui-neutral-80);
        --uui-tag-fill: var(--uui-neutral-60);

        :global(.uui-count_indicator) {
            --uui-count_indicator-bg: var(--uui-neutral-0);
            --uui-count_indicator-border: var(--uui-neutral-40);
            --uui-count_indicator-caption: var(--uui-neutral-70);
        }
    }

    &.size-18 {
        min-height: 18px;
        min-width: 18px;
        padding: 1px 2px;

        :global(.uui-caption) {
            padding: 0 3px;
            line-height: 14px;
            font-size: 12px;
        }

        @include scalable-icon-size(18);
    }

    &.size-24 {
        min-width: 24px;
        min-height: 24px;
        padding: 2px;

        :global(.uui-caption) {
            padding: 0 3px;
            line-height: 18px;
            font-size: 12px;
        }
        @include scalable-icon-size(24);

    }

    &.size-30 {
        min-width: 30px;
        min-height: 30px;
        padding: 5px 2px;

        :global(.uui-caption) {
            padding: 0 3px;
            line-height: 18px;
            font-size: 14px;
        }

        @include scalable-icon-size(30);
    }

    &.size-36 {
        min-width: 36px;
        min-height: 36px;
        padding: 8px 5px;

        :global(.uui-caption) {
            padding: 0 3px;
            line-height: 18px;
            font-size: 14px;
        }

        @include scalable-icon-size(36);
    }

    &.size-42 {
        min-width: 42px;
        min-height: 42px;
        padding: 8px 5px;

        :global(.uui-caption) {
            padding: 0 6px;
            line-height: 24px;
            font-size: 16px;
        }

        @include scalable-icon-size(42);
    }

    &.size-48 {
        min-width: 48px;
        min-height: 48px;
        padding: 11px 5px;

        :global(.uui-caption) {
            padding: 0 6px;
            line-height: 24px;
            font-size: 16px;
        }

        @include scalable-icon-size(48);
    }
}
