.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;

    > :not(:last-child) {
        margin-bottom: 12px;
    }
}
