.container {
    --uui-slider-tooltip-bg: var(--uui-neutral-80);
    --uui-slider-tooltip-text: var(--uui-neutral-5);
    --uui-slider-tooltip-border: var(--uui-slider-tooltip-bg);

    --uui-slider-font: var(--uui-font);
    --uui-slider-font-weight: 400;

    --uui-slider-tooltip-font-size: 12px;
    --uui-slider-tooltip-line-height: 18px;

    --uui-slider-tooltip-vertical-padding: 3px;
    --uui-slider-tooltip-horizontal-padding: 12px;
    --uui-slider-tooltip-border-radius: 3px;

    pointer-events: none;

    :global(.uui-slider-tooltip-body) {
        background-color: var(--uui-slider-tooltip-bg);
        padding: var(--uui-slider-tooltip-vertical-padding) var(--uui-slider-tooltip-horizontal-padding);
        color: var(--uui-slider-tooltip-text);
        line-height: var(--uui-slider-tooltip-line-height);
        font-size: var(--uui-slider-tooltip-font-size);
        font-family: var(--uui-slider-font), serif;
        font-weight: var(--uui-slider-font-weight);
        border-radius: var(--uui-slider-tooltip-border-radius);
        border: 1px solid var(--uui-slider-tooltip-border);
    }

    :global(.uui-tooltip-arrow) {
        border: 5px solid transparent;
    }

    :global(.uui-popover-arrow) {
        position: absolute;
        width: 12px;
        height: 12px;
        overflow: hidden;
    }

    :global(.uui-popover-arrow)::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: var(--uui-slider-tooltip-bg);
        border-bottom: 1px solid var(--uui-slider-tooltip-border);
        border-right: 1px solid var(--uui-slider-tooltip-border);
        box-sizing: border-box;
    }
}
