.container {
    pointer-events: none;

    &[data-placement^='top'] {
        .tooltip-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .tooltipBodyWithArrow::after {
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid var(--uui-slider-tooltip-bg);
        }
    }

    &[data-placement^='bottom'] {
        .tooltip-wrapper {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        .tooltipBodyWithArrow::after {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid var(--uui-slider-tooltip-bg);
        }
    }

    &[data-placement^='left'] {
        .tooltip-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .tooltipBodyWithArrow::after {
            right: -6px;
            top: 50%;
            transform: translateY(-50%);
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid var(--uui-slider-tooltip-bg);
        }
    }

    &[data-placement^='right'] {
        .tooltip-wrapper {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .tooltipBodyWithArrow::after {
            left: -6px;
            top: 50%;
            transform: translateY(-50%);
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid var(--uui-slider-tooltip-bg);
        }
    }
}

.tooltipBodyWithArrow {
    position: relative;
    box-sizing: border-box;
    border-radius: var(--uui-border-radius);
    overflow: visible;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        z-index: 10;
    }
}
