@use '~@epam/promo/assets/styles/colors' as *;

.root {
    margin: 0 auto 102px;
    max-width: 714px;
    min-width: 370px;

    .form-panel {
        max-width: 714px;
        padding: 24px;

        .sectionTitle {
            margin-top: 0;
        }

        .sectionRow,
        .sectionLongRow,
        .sectionLanguageRow,
        .sectionVisasRow {
            column-gap: 18px;
            row-gap: 12px;
        }

        .sectionLanguageRow{
            max-width: 462px;
        }

        .sectionVisasRow{
            max-width: 593px;
        }

        .info-icon {
            margin-top: 18px;
            margin-bottom: 12px;
        }

        h3 {
            margin-top: 18px;
        }

        .clear-button-wrapper {
            margin-top: 6px;
            margin-left: -3px;
        }

        .attachment-container {
            display: grid;
            margin-top: 12px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 12px;
        }

        .divider {
            height: 1px;
            background-color: $gray40;
            margin-top: 18px;
            margin-bottom: 24px;
            border: none;
        }

        @media (max-width: 500px) {
            .sectionRow {
                flex-wrap: wrap;
            }
        }

        @media (max-width: 714px) {
            .sectionLongRow {
                flex-wrap: wrap;
            }

            .sectionVisasRow,
            .sectionLanguageRow {
                flex-wrap: wrap;
                max-width: 324px;
                padding: 8px;
                border: 1px solid $gray40;
                border-radius: 5px;
            }

            .clearButton {
                align-items: center;
                align-self: center;
            }
        }
    }
}

