@use '~@epam/promo/assets/styles/colors.scss' as *;

.layout {
    display: flex;
    background-color: #222222;
    height: 60px;
    padding: 24px;

    .footer {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        :global(.uui-icon) {
            padding-top: 3px;
        }

        .copyright {
            padding-left: 21px;
        }
    }
}

.link-container {
    display: flex;
    padding-left: 18px;
    padding-right: 18px;

    .link-caption {
        padding-left: 6px;
        color: #FFFFFF;
        white-space: nowrap;
    }
}

.nav-page {
    margin: 30px auto;
    max-width: 1200px;

    .nav-title {
        margin: 30px 0 5px;
        font-size: 36px;
        line-height: 48px;
    }

    .nav-cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        .nav-card {
            position: relative;
            margin-top: 20px;
            width: 590px;
            height: 242px;
            flex-wrap: wrap;
            transition: 1s;
            background-size: 100%;
            background-position: 50% 50%;

            &:hover {
                background-size: 150%;
            }

            .nav-caption {
                position: absolute;
                left: 18px;
                bottom: 24px;
                color: #FFFFFF;
            }
        }
    }

    @media (max-width: 1280px) {
        width: fit-content;

        .nav-cards {
            flex-direction: column;
            align-items: center;
        }
    }
}
