@use '../../assets/styles/scss/index'  as *;

.root {
    &:global(.uui-dropdown-body) {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        box-sizing: border-box;
        box-shadow: 0 1px 2px 0 rgba(44, 47, 60, 0.06), 0 3px 10px 0 rgba(44, 47, 60, 0.09);
        border: 0;
        overflow: hidden;
        border-radius: $panel-border-radius;

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: #e6e6e6;
        }

        ::-webkit-scrollbar-thumb {
            background: #b3b3b3;
        }
    }

    &.background-white {
        background-color: white;
    }

    &.background-night700 {
        background-color: $night700;
    }
}
