@use '../../assets/styles/scss/index'  as *;

.root {
    &:global(.uui-dropdown-body) {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        box-sizing: border-box;
        //box-shadow: 0 1px 2px 0 rgba(44, 47, 60, 0.06), 0 3px 10px 0 rgba(44, 47, 60, 0.09);
        box-shadow: 0 8px 36px rgba(29, 30, 38, 0.15);
        border: 0;
        overflow: hidden;
        border-radius: $panel-border-radius;

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: #e6e6e6;
        }

        ::-webkit-scrollbar-thumb {
            background: #b3b3b3;
        }
    }

    &.background-white {
        background-color: white;
    }

    &.background-night700 {
        background-color: $night700;
    }

    &.padding-6 {
        padding-left: 6px;
        padding-right: 6px;
    }

    &.padding-12 {
        padding-left: 12px;
        padding-right: 12px;
    }

    &.padding-18 {
        padding-left: 18px;
        padding-right: 18px;
    }

    &.padding-24 {
        padding-left: 24px;
        padding-right: 24px;
    }

    &.padding-30 {
        padding-left: 30px;
        padding-right: 30px;
    }

    &.vPadding-6 {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    &.vPadding-12 {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    &.vPadding-18 {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    &.vPadding-24 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &.vPadding-30 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &.vPadding-48 {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
