@use '../../assets/styles/scss/index' as *;

.notification-wrapper {
    border-top: 6px solid var(--uui-color-700);
    padding: 6px 18px;
    width: 360px;
    background:  $white;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 720px) {
        width: 100%;
    }
}

.clear-button {
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 18px;
}
