@use '../../assets/styles/scss/index'  as *;

.root {
    :global(.uui-tooltip-body) {
        padding: 3px 12px;
        line-height: 18px;
        font-size: 12px;
        font-family: $font-sans;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        word-wrap: break-word;
    }

    :global(.uui-popover-arrow) {
        position: absolute;
        width: 12px;
        height: 12px;
        overflow: hidden;
    }

    :global(.uui-popover-arrow)::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

    // Colors
    :global(.uui-tooltip-body) {
        background-color: var(--uui-color-700);
        color: var(--uui-contrast-color-700);
    }

    &:global(.uui-tooltip-container[data-placement^='right']) {
        :global(.uui-popover-arrow)::after {
            background: var(--uui-color-700);
        }
    }

    &:global(.uui-tooltip-container[data-placement^='left']) {
        :global(.uui-popover-arrow)::after {
            background: var(--uui-color-700);
        }
    }

    &:global(.uui-tooltip-container[data-placement^='top']) {
        :global(.uui-popover-arrow)::after {
            background: var(--uui-color-700);
        }
    }

    &:global(.uui-tooltip-container[data-placement^='bottom']) {
        :global(.uui-popover-arrow)::after {
            background: var(--uui-color-700);
        }
    }
}
