.row {
    display: flex;
    flex-direction: row;
    min-width: 90px;
    margin: 0;
    min-height: 30px;
    border-bottom: 0 none;
    border-inline-start: 3px solid transparent;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:global(.uui-selected) {
        > * {
            color: var(--uui-primary-50);
        }
    }

    &:global(.uui-selected) {
        border-left: 3px solid var(--uui-primary-50);
    }
}

.folding-arrow {
    padding-inline-start: 12px;
    width: 18px;
}

.folding-arrow-icon {
    fill: var(--uui-icon);
}

.container {
    height: 300px;
    width: 400px;
}
