:global(.checkbox-colors) {
    --border-color: var(--input-border-color);
    --border-color-hover: var(--input-border-hover-color);
    --border-color-disabled: var(--input-border-disabled-color);
    --border-color-checked: var(--input-border-checked-color);
    --border-color-checked-disabled: var(--input-border-checked-disabled-color);
    --background-color: var(--input-background-color);
    --background-color-checked: var(--input-background-checked-color);
    --background-color-disabled: var(--input-background-disabled-color);
    --background-color-checked-hover: var(--input-background-checked-hover-color);
    --background-color-checked-disabled: var(--input-background-checked-disabled-color);
    --error-color: var(--negative-color);
    --fill-color: var(--input-checkbox-icon-color);
    --label-color: var(--input-label-color);
    --label-color-disabled: var(--input-label-disabled-color);
}
