.radio-input-colors {
    --background-color: var(--control-background-color);
    --background-color-disabled: var(--control-background-disabled-color);
    --border-color: var(--control-border-color);
    --border-color-checked: var(--control-border-checked-color);
    --border-color-hover: var(--control-border-hover-color);
    --border-color-disabled: var(--control-border-disabled-color);
    --border-color-checked-disabled: var(--control-border-checked-disabled-color);
    --label-color: var(--control-label-color);
    --label-color-disabled: var(--control-label-disabled-color);
    --fill-color-checked: var(--control-border-checked-color);
    --fill-color-hover: var(--control-border-checked-hover-color);
    --fill-color-checked-disabled: var(--control-border-checked-disabled-color);
    --errore-color: var(--negative-color);
}