.switch-colors {
    --background-color: var(--input-switch-background-color);
    --background-color-checked: var(--input-background-checked-color);
    --background-color-hover: var(--input-background-hover-color);
    --background-color-disabled: var(--input-background-disabled-color);
    --background-color-checked-hover: var(--input-background-checked-hover-color);
    --background-color-checked-disabled: var(--input-background-checked-disabled-color);
    --border-color: var(--input-border-color);
    --border-color-checked: var(--input-border-checked-color);
    --border-color-hover: var(--input-switch-border-hover-color);
    --border-color-disabled: var(--input-border-disabled-color);
    --border-color-checked-hover: var(--input-border-checked-hover-color);
    --border-color-checked-disabled: var(--input-border-checked-disabled-color);
    --label-color: var(--input-label-color);
    --label-color-disabled: var(--input-label-disabled-color);
    --toggler-background-color: var(--input-background-color);
    --toggler-background-color-disabled: var(--input-background-disabled-color);
    --toggler-border-color: var(--input-switch-background-color);
    --toggler-border-color-checked: var(--input-background-checked-color);
    --toggler-border-color-hover: var(--input-background-hover-color);
    --toggler-border-color-disabled: var(--input-border-disabled-color);
    --toggler-border-color-checked-hover: var(--input-background-checked-hover-color);
    --toggler-border-color-checked-disabled: var(--input-background-checked-disabled-color);
}
