.switch-colors {
    --background-color: var(--switch-background-color);
    --background-color-checked: var(--control-background-checked-color);
    --background-color-hover: var(--control-background-hover-color);
    --background-color-disabled: var(--control-background-disabled-color);
    --background-color-checked-hover: var(--control-background-checked-hover-color);
    --background-color-checked-disabled: var(--control-background-checked-disabled-color);
    --border-color: var(--control-border-color);
    --border-color-checked: var(--control-border-checked-color);
    --border-color-hover: var(--switch-border-hover-color);
    --border-color-disabled: var(--control-border-disabled-color);
    --border-color-checked-hover: var(--control-border-checked-hover-color);
    --border-color-checked-disabled: var(--control-border-checked-disabled-color);
    --label-color: var(--control-label-color);
    --label-color-disabled: var(--control-label-disabled-color);
    --toggler-background-color: var(--control-background-color);
    --toggler-background-color-disabled: var(--control-background-disabled-color);
    --toggler-border-color: var(--switch-background-color);
    --toggler-border-color-checked: var(--control-background-checked-color);
    --toggler-border-color-hover: var(--control-background-hover-color);
    --toggler-border-color-disabled: var(--control-border-disabled-color);
    --toggler-border-color-checked-hover: var(--control-background-checked-hover-color);
    --toggler-border-color-checked-disabled: var(--control-background-checked-disabled-color);
}
