:global(.text-input-colors) {
    --background-color: var(--input-background-color);
    --background-color-disabled: var(--input-background-disabled-color);
    --background-color-readonly: var(--input-background-readonly-color);
    --border-color: var(--input-border-color);
    --border-color-hover: var(--input-textinput-border-hover-color);
    --border-color-active: var(--input-border-checked-color);
    --border-color-error: var(--negative-color);
    --border-color-disabled: var(--input-border-disabled-color);
    --border-color-readonly: var(--input-border-readonly-color);
    --placeholder-color: var(--input-placeholder-color);
    --placeholder-color-disabled: var(--input-placeholder-disabled-color);
    --text-color: var(--input-text-color);
    --text-color-disabled: var(--input-text-disabled-color);
    --icon-color: var(--input-icon-color);
    --icon-color-disabled: var(--input-icon-disabled-color);
    --icon-color-clickable: var(--input-icon-clickable-color);
    --icon-color-clickable-hover: var(--input-icon-clickable-hover-color);
}
