.root {
    --uui-control_icon: var(--uui-control-icon);
    --uui-control_icon-clickable: var(--uui-icon);
    --uui-control_icon-clickable-hover: var(--uui-icon-hover);
    --uui-control_icon-clickable-active: var(--uui-icon-active);

    fill: var(--uui-control_icon);
    display: flex;
    align-self: center;

    &:global(.-clickable) {
        fill: var(--uui-control_icon-clickable);

        &:active {
            fill: var(--uui-control_icon-clickable-active);
        }

        &:hover,
        &:focus-visible {
            fill: var(--uui-control_icon-clickable-hover);
        }

        &:focus-visible {
            outline: var(--uui-focus-outline-width) solid var(--uui-outline-focus);
            outline-offset: 0;
            border-radius: var(--uui-focus-radius);
        }
    }
}

.flipY {
    transform: scale(1, -1);
}

.rotate-90cw {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90ccw {
    transform: rotate(-90deg);
}