@use '../../../assets/styles/scss/index'  as *;

.dropdown-body {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: $night900;

    :global(.uui-button-box):hover {
        background-color: $sky;
    }
}
