@use '../../../assets/styles/scss/index'  as *;

.root {
    @include epam-uui-fonts();
    flex-shrink: 0;
    color: $white;
    fill: $white;
    cursor: pointer;

    :global(.uui-caption), :global(.uui-input) {
        padding: 22px 6px;
        line-height: 16px;
        margin-bottom: -3px;
        font-family: $font-sans-semibold;
    }

    &:global(.uui-button-box), &:global(.uui-input-box) {
        min-height: 60px;
        padding-right: 6px;
        padding-left: 6px;
    }

    :global(.uui-caption) {
        white-space: nowrap;
        font-size: 16px;
    }

    :global(.uui-icon) {
        svg {
            width: 18px;
        }
    }

    &.type-primary {
        @include icon-layout(36px);
    }

    &.type-secondary {
        @include icon-layout(36px);
    }

    &:hover, &:focus {
        background-color: $night900;
        color: $white;
        fill: $white;
    }

    &:global(.uui-active) {
        background-color: $night900;
        border-bottom: 3px solid #008ACE;
        color: $white;
        fill: $white;
    }
}
