@use '../../assets/styles/scss/index'  as *;

.root {
    // Colors
    fill: var(--uui-color-700);

    :global(.uui-rating-star) {
        padding: 0 1px;
    }

    :global(.uui-rating-filled-star-container) {
        svg {
            stroke-width: 0.1px;
        }
    }

    :global(.uui-rating-filled-star-container) {
        svg {
            stroke: var(--uui-color-700);
        }
    }

    // Sizes
    &.size-18 {
        svg {
            width: 18px;
            height: 18px;
        }
    }

    &.size-24 {
        svg {
            width: 24px;
            height: 24px;
        }
    }

    &.size-30 {
        svg {
            width: 30px;
            height: 30px;
        }
    }

    // Mods
    &:global(.uui-disabled) {
        :global(.uui-rating-star) {
            fill: $night300;
            cursor: default;
        }
    }

    &:global(.uui-invalid) {
        :global(.uui-rating-star) {
            fill: $fire;
        }
    }
}
