@use '../../assets/styles/scss/index'  as *;

@mixin control-switch-size($size-name, $size) {
    &.size-#{$size-name} {
        :global(.uui-switch-body) {
            height: $size;
            width: $size * 2;
        }

        :global(.uui-switch-toggler) {
            height: $size;
            width: $size;
        }

        :global(.uui-input-label) {
            @if ($size == 12px) {
                font-size: 12px;
                letter-spacing: 0.2px;
            } @else if ($size == 18px or $size == 24px) {
                font-size: 14px;
                letter-spacing: 0.1px;
            }
        }

        :global(.uui-checked):global(.uui-switch-toggler) {
            transform: translateX($size);
        }
    }
}

.root {
    // Sizes
    @include control-switch-size('12', 12px);
    @include control-switch-size('18', 18px);
    @include control-switch-size('24', 24px);

    :global(.uui-switch-body) {
        background-color: $night400;
        border: 1px solid $night400;
        width: 36px;
        border-radius: 18px;
        box-sizing: border-box;
    }

    :global(.uui-switch-toggler) {
        background-color: $white;
        transition: 0.1s transform cubic-bezier(0.4, 0, 0.2, 1);

        &:focus + :global(.uui-switch-body) {
            @include control-focus-effect();
        }

        &:hover {
            & + :global(.uui-switch-body) {
                background-color: var(--uui-color-800);
                border-color: var(--uui-color-800);
            }
        }

        &:active {
            :global(.uui-switch-body) {
                background-color: $night600;
                border-color: $night600;
            }

            :global(.uui-checked) {
                :global(.uui-switch-body) {
                    background-color: var(--uui-color-900);
                    border-color: var(--uui-color-900);
                }
            }
        }
    }

    :global(.uui-input-label) {
        @include typography-inline();
        font-family: $font-sans;
        margin-left: 11px;
    }

    // Colors
    :global(.uui-checked) + :global(.uui-switch-body) {
        background-color: var(--uui-color-700);
        border-color: var(--uui-color-700);
    }

    &:global(.uui-disabled) {
        cursor: default;

        :global(.uui-switch-body) {
            background-color: $night50;
            border-color: $night300;
            cursor: default;
        }

        :global(.uui-switch-toggler) {
            background-color: $white;
            box-shadow: 0 0 0 1px $night300;
            cursor: default;

            &:global(.uui-checked) + :global(.uui-switch-body) {
                background-color: var(--uui-color-700);
                border-color: var(--uui-color-700);
                cursor: default;
            }

            &:hover:not(:global(.uui-checked)) + :global(.uui-switch-body) {
                background-color: $white;
                border-color: $night300;
                cursor: default;
            }
        }
    }

    // Mods
    &.theme-light {
        :global(.uui-input-label) {
            color: $night700;
        }

        &:global(.uui-disabled) {
            :global(.uui-input-label) {
                color: $night500;
                cursor: default;
            }
        }
    }

    &.theme-dark {
        :global(.uui-input-label) {
            color: $night50;
            cursor: default;
        }
    }
}
