@use '../../assets/styles/scss/index' as *;

@mixin control-switch-size($size, $togglerSize) {
    :global(.uui-switch-body) {
        height: $size;
        width: $size * 2;
    }

    :global(.uui-switch-toggler) {
        height: $togglerSize;
        width: $togglerSize;
    }

    :global(.uui-input-label) {
        @if ($size == 12px) {
            font-size: 12px;
            letter-spacing: 0.2px;
        } @else if ($size == 18px or $size == 24px) {
            font-size: 14px;
            letter-spacing: 0.1px;
        }
    }

    :global(.uui-checked) {
        :global(.uui-switch-toggler) {
            transform: translateX($size);
        }
    }
}

.root {
    // Sizes
    &.size-12 {
        @include control-switch-size(12px, 10px);
    }

    &.size-18 {
        @include control-switch-size(18px, 16px);
    }

    &.size-24 {
        @include control-switch-size(24px, 22px);
    }

    :global(.uui-switch-body) {
        background-color: $night400;
        border: 1px solid $night400;
        width: 36px;
        border-radius: 18px;
        box-sizing: border-box;

        &:hover, &:focus-within {
            background-color: $night500;
            border-color: $night500;
        }

        &:active {
            background-color: $night600;
            border-color: $night600;
        }
    }

    :global(.uui-switch-toggler) {
        box-sizing: border-box;
        border-radius: 50%;
        background-color: $white;
        transition: 0.1s transform cubic-bezier(0.4, 0, 0.2, 1);
    }

    :global(.uui-input-label) {
        @include typography-inline();
        font-family: $font-sans;
        margin-left: 11px;
    }

    // Colors
    :global(.uui-checked) {
        &:global(.uui-switch-body) {
            background-color: var(--uui-color-700);
            border-color: var(--uui-color-700);

            &:active {
                background-color: var(--uui-color-900);
                border-color: var(--uui-color-900);
            }

            &:hover, &:focus-within {
                background-color: var(--uui-color-800);
                border-color: var(--uui-color-800);
            }
        }
    }

    &:global(.uui-disabled) {
        :global(.uui-switch-body) {
            background-color: $night50;
            border-color: $night300;
        }

        :global(.uui-checked) {
            &:global(.uui-switch-body) {
                background-color: var(--uui-color-600);
                border-color: var(--uui-color-600);
            }

            :global(.uui-switch-toggler) {
                background-color: $night50;
                box-shadow: none;
            }
        }

        :global(.uui-switch-toggler) {
            background-color: $white;
            box-shadow: 0 0 0 1px $night300;
        }

        &,
        :global(.uui-switch-toggler),
        :global(.uui-switch-body),
        :global(.uui-input-label) {
            cursor: default;
        }
    }

    // Mods
    &.theme-light {
        :global(.uui-input-label) {
            color: $night700;
        }

        &:global(.uui-disabled) {
            :global(.uui-input-label) {
                color: $night500;
            }
        }
    }

    &.theme-dark {
        :global(.uui-input-label) {
            color: $night50;
        }
    }
}