@use 'sass:math';
@use '../../../assets/styles/index.scss' as *;

.root {
    --vertical-outer-margin: calc((max(var(--selection-control-height), var(--selection-control-line-height)) - var(--selection-control-height)) / 2);

    :global(.uui-radioinput) {
        align-self: baseline;
        background-color: var(--radio-input-bg-color);
        border: var(--selection-control-border-width) solid var(--radio-input-border-color);
        flex-shrink: 0;
        box-sizing: border-box;
        width: var(--selection-control-height);
        height: var(--selection-control-height);
        border-radius: calc(var(--selection-control-height) / 2);
        margin: var(--vertical-outer-margin) 0;

        &:global(.uui-checked) {
            border-color: var(--radio-input-border-color-checked);

            :global(.uui-icon) {
                fill: var(--radio-input-fill-color-checked);
            }
        }
    }

    :global(.uui-icon) {
        margin: var(--vertical-outer-margin) 0;

        svg {
            height: var(--radio-input-bullet-size);
            width: var(--radio-input-bullet-size);
        }
    }

    :global(.uui-input-label) {
        //@include typography-inline(); TODO: ???
        color: var(--radio-input-label-color);
        flex-grow: 1;
        font-family: var(--selection-control-font);
        margin-left: var(--selection-control-spacer);
        display: flex;
        align-items: center;
        font-size: var(--selection-control-font-size);
        line-height: var(--selection-control-line-height);
    }

    &:hover, &:focus-within {
        :global(.uui-radioinput) {
            border-color: var(--radio-input-border-color-hover);

            &:global(.uui-checked) {
                border-color: var(--radio-input-border-color-hover);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-hover);
                }
            }
        }

        &:global(.uui-disabled),
        &:global(.uui-readonly) {
            :global(.uui-radioinput) {
                background-color: var(--radio-input-bg-color-disabled);
                border-color: var(--radio-input-border-color-disabled);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-checked-disabled);
                }
            }
        }
    }

    &:global(.uui-invalid) {
        :global(.uui-icon) {
            fill: var(--radio-input-error-color);
        }

        :global(.uui-input-label) {
            color: var(--radio-input-error-color);
        }

        :global(.uui-radioinput) {
            border-color: var(--radio-input-error-color);
        }

        :global(.uui-checked) {
            &:global(.uui-radioinput) {

                :global(.uui-icon) {
                    fill: var(--radio-input-error-color);
                }
            }
        }

        &:hover, &:focus-within {
            :global(.uui-radioinput) {
                border-color: var(--radio-input-error-color);
            }

            :global(.uui-icon) {
                fill: var(--radio-input-error-color);
            }
        }
    }

    &:global(.uui-disabled),
    &:global(.uui-readonly) {
        cursor: default;

        :global(.uui-radioinput) {
            cursor: default;
            background-color: var(--radio-input-bg-color-disabled);
            border-color: var(--radio-input-border-color-disabled);

            :global(.uui-icon) {
                fill: var(--radio-input-fill-color-checked-disabled);
            }


            &:global(.uui-checked) {
                border-color: var(--radio-input-border-color-checked-disabled);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-checked-disabled);
                }
            }
        }

        &:global(.uui-invalid) {
            :global(.uui-radioinput) {
                cursor: default;
                background-color: var(--radio-input-bg-color-disabled);
                border-color: var(--radio-input-border-color-disabled);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-checked-disabled);
                }
            }
        }
    }

    &:global(.uui-readonly) {
        :global(.uui-input-label) {
            color: var(--radio-input-label-color);
        }
    }

    &:global(.uui-disabled) {
        :global(.uui-input-label) {
            color: var(--radio-input-label-color-disabled);
        }
    }
}