@use  '../../assets/styles/index' as *;

.root {
    fill: var(--uui-icon-btn-color);

    &:global(.-clickable) {
        &:hover, &:focus {
            fill: var(--uui-icon-btn-color-hover);
        }

        &:active {
            fill: var(--uui-icon-btn-color-active);
        }
    }

    &:global(.uui-disabled) {
        fill: var(--uui-icon-btn-color-disabled);

        &:global(.-clickable) {
            &:hover, &:focus {
                fill: var(--uui-icon-btn-color-disabled);
            }

            &:active {
                fill: var(--uui-icon-btn-color-disabled);
            }
        }
    }
}
