@use  '../../assets/styles/index' as *;

.root {
    &:global(.uui-button-box) {
        background-color: transparent;
        color: var(--link-button-text-color);
        fill: var(--link-button-text-color);

        &:global(.-clickable:not(.uui-disabled)) {
            &:hover, &:focus {
                color: var(--link-button-text-color-hover);
                fill: var(--link-button-text-color-hover);
            }

            &:active {
                color: var(--link-button-text-color-active);
                fill: var(--link-button-text-color-active);
            }

            &:focus {
                box-shadow: none;
            }
        }

        &:global(.uui-disabled) {
            color: var(--link-button-text-color-disabled);
            fill: var(--link-button-text-color-disabled);
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }
    }

    :global(.uui-caption) {
        font-family: var(--font-semibold);
        font-weight: normal;
    }

    // Sizes
    &.size-18 {
        //@include link-button-layout(18px);
        min-width: auto;
    }

    &.size-24 {
        //@include link-button-layout(24px);
        min-width: auto;
    }

    &.size-30 {
        //@include link-button-layout(30px);
        min-width: auto;
    }

    &.size-36 {
        //@include link-button-layout(36px);
        min-width: auto;
    }

    &.size-42 {
        //@include link-button-layout(42px);
        min-width: auto;

        :global(.uui-caption) {
            font-family: var(--font-primary);
            text-transform: uppercase;
        }
    }

    &.size-48 {
        //@include link-button-layout(48px);
        min-width: auto;

        :global(.uui-caption) {
            font-family: var(--font-primary);
            text-transform: uppercase;
        }
    }
}
