@use  '../../assets/styles/index' as *;

@mixin underline-style($underline-type, $size) {
    position: relative;

    &::before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        height: 1px;
        width: 100%;

        @if $size == 24 {
            bottom: 2.5px;
        } @else if $size == 30 {
            bottom: 5.5px;
        } @else if $size == 36 {
            bottom: 8.5px;
        } @else if $size == 42 {
            bottom: 8.5px;
        } @else if $size == 48 {
            bottom: 11.5px;
        }

        @if $underline-type == 'line' {
            background-color: var(--uui-link_btn-text);
        } @else if $underline-type == 'dashed' {
            border-bottom: 1px var(--uui-link_btn-text) dashed;
        }
    }

    &:not(:first-child)::before {
        width: calc(100% - 6px);
        left: 6px;
    }

    &:not(:last-child)::before {
        width: calc(100% - 6px);
        right: 6px;
    }

    &:not(:first-child):not(:last-child)::before {
        width: calc(100% - 12px);
        left: 6px;
    }
}

.root {
    // colors
    --uui-link_btn-text: var(--uui-color-50);
    --uui-link_btn-text-hover: var(--uui-color-60);
    --uui-link_btn-text-active: var(--uui-color-70);
    --uui-link_btn-text-disabled: var(--uui-text-disabled);

    // fonts
    --uui-link-button-font: var(--uui-font);
    --uui-link-button-font-weight_semibold: 600;
    --uui-link-button-font-weight_regular: 400;

    // sizes
    --uui-link-button-min-height: var(--uui-size);
    --uui-link-button-min-width: var(--uui-size);
    --uui-link-button-gap: var(--uui-horizontal-gap);
    --uui-link-button-caption-padding: calc((var(--uui-link-button-min-height) - var(--uui-link-button-line-height)) / 2);
    --uui-link-button-icon-height: var(--uui-icon-size);
    --uui-link-button-line-height: var(--uui-line-height);
    --uui-link-button-font-size: var(--uui-font-size);

    @include clickable-styles();
    min-width: var(--uui-link-button-min-width);

    &:global(.uui-button-box) {
        background-color: transparent;
        color: var(--uui-link_btn-text);
        fill: var(--uui-link_btn-text);
        min-height: var(--uui-link-button-min-height);
        min-width: auto;

        &:global(.-clickable:not(.uui-disabled)) {
            &:hover {
                color: var(--uui-link_btn-text-hover);
                fill: var(--uui-link_btn-text-hover);
            }

            &:active {
                color: var(--uui-link_btn-text-active);
                fill: var(--uui-link_btn-text-active);
            }

            &:focus {
                box-shadow: none;
            }

            &:focus-visible {
                @include focus-visible-effect(2px, 2px);
            }
        }

        &:global(.uui-disabled) {
            color: var(--uui-link_btn-text-disabled);
            fill: var(--uui-link_btn-text-disabled);
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }

        &:global(.uui-weight-semibold) :global(.uui-caption) {
            font-weight: var(--uui-link-button-font-weight_semibold, normal);
        }

        &:global(.uui-weight-regular) :global(.uui-caption) {
            font-weight: var(--uui-link-button-font-weight_regular, normal);
        }

        &:global(.uui-underline-line) {
            &:global(.uui-size-24) :global(.uui-caption) {
                @include underline-style(line, 24);
            }

            &:global(.uui-size-30) :global(.uui-caption) {
                @include underline-style(line, 30);
            }

            &:global(.uui-size-36) :global(.uui-caption) {
                @include underline-style(line, 36);
            }

            &:global(.uui-size-42) :global(.uui-caption) {
                @include underline-style(line, 42);
            }

            &:global(.uui-size-48) :global(.uui-caption) {
                @include underline-style(line, 48);
            }
        }

        &:global(.uui-underline-dashed) {
            &:global(.uui-size-24) :global(.uui-caption) {
                @include underline-style(dashed, 24);
            }

            &:global(.uui-size-30) :global(.uui-caption) {
                @include underline-style(dashed, 30);
            }

            &:global(.uui-size-36) :global(.uui-caption) {
                @include underline-style(dashed, 36);
            }

            &:global(.uui-size-42) :global(.uui-caption) {
                @include underline-style(dashed, 42);
            }

            &:global(.uui-size-48) :global(.uui-caption) {
                @include underline-style(dashed, 48);
            }
        }
    }



    :global(.uui-caption) {
        font-family: var(--uui-link-button-font);
        line-height: var(--uui-link-button-line-height);
        font-size: var(--uui-link-button-font-size);
        padding-top: var(--uui-link-button-caption-padding);
        padding-bottom: var(--uui-link-button-caption-padding);

        &:not(:first-child) {
            padding-left: var(--uui-link-button-gap);
        }

        &:not(:last-child) {
            padding-right: var(--uui-link-button-gap);
        }
    }

    :global(.uui-icon) {
        svg {
            height: var(--uui-link-button-icon-height);
            width: inherit;
        }
    }
}
