@use 'sass:math';
@use  '../../assets/styles/index' as *;

@mixin tab-button-color($color, $activeColor, $backgroundColor) {
    color: $color;
    fill: $color;
    background-color: $backgroundColor;

    &:hover {
        color: $activeColor;
        fill: $activeColor;
    }

    &:global(.uui-active) {
        color: $activeColor;
        fill: $activeColor;
        border-color: $activeColor;
    }
}

$text-size-caption: 36px;
$text-size-count: 24px;

.root {
    --uui-tab_btn-text: var(--uui-text-primary);
    --uui-tab_btn-text-hover: var(--uui-primary-50);
    --uui-tab_btn-text-active: var(--uui-primary-50);
    --uui-tab_btn-text-disabled: var(--uui-text-disabled);
    --uui-tab_btn-font: var(--uui-font);
    --uui-tab_btn-font-weight: 600;

    @include clickable-styles();
    @include link-button-horizontal-layout(36px);
    @include tab-button-color(var(--uui-tab_btn-text), var(--uui-tab_btn-text-active), transparent);
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    bottom: -1px;
    display: flex;
    align-items: center;
    font-family: var(--uui-tab_btn-font);
    font-weight: var(--uui-tab_btn-font-weight);
    border-bottom: 3px solid transparent;

    &:global(.-clickable):focus-visible {
        @include focus-visible-effect(-2px, 0);
    }

    &:global(.uui-disabled) {
        @include tab-button-color(var(--uui-tab_btn-text-disabled), var(--uui-tab_btn-text-disabled), transparent);
    }

    &.withNotify {
        :global(.uui-caption) {
            &::after {
                content: '';
                position: absolute;
                margin-bottom: math.div($text-size-caption, 2);
                height: 6px;
                width: 6px;
                background: var(--uui-critical-50);
                box-shadow: 0 1px 8px 0 var(--uui-critical-50);
                border-radius: 50%;
            }
        }
    }

    &:global(.uui-button-box) {
        min-width: min-content;
    }

    :global(.uui-count_indicator) {
        padding: 0 6px;
        margin-left: 3px;
        margin-right: 3px;
    }

    :global(.uui-caption) {
        @include text-size($text-size-caption, 0);

        &.caption-with-notify {
            padding-right: 9px;
        }
    }

    // Sizes
    &.size-36 {
        height: 36px;
        @include scalable-icon-size(36);
    }

    &.size-48 {
        height: 48px;
        // 18x18 icon size by design
        @include scalable-icon-size(36);
    }

    &.size-60 {
        height: 60px;
        // 18x18 icon size by design
        @include scalable-icon-size(36);
    }
}
