@use '../../assets/styles/index' as *;

.root {
    border-bottom: 0 none;
    border-inline-start: var(--uui-tab-line-width) solid transparent;
    text-align: start;
    column-gap: 0;
    padding-inline-start: calc(var(--uui-tab_btn-padding) - var(--uui-tab-line-width));

    :global(.uui-caption) {
        &:first-child {
            padding-inline-start: 0;
        }

        &:last-child {
            padding-inline-end: 0;
        }
    }

    :global(.uui-count_indicator) {
        margin-inline-start: 3px;
        margin-inline-end: var(--uui-horizontal-gap);

        ~ :global(.uui-caption) {
            padding-inline-end: 0;
        }
    }
}
