@use '../../assets/styles/scss/index'  as *;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 600px;
    width: 100%;

    &.theme-light {
        background-color: $night50;
    }

    &.theme-dark {
        background-color: #222430;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}

.title {
    font-family: $font-sans;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-top: 24px;

    &.theme-light {
        color: $night900;
    }

    &.theme-dark {
        color: $white;
    }
}

.subtitle {
    font-family: $font-sans;
    text-align: center;
    line-height: 24px;
    font-size: 16px;

    &.theme-light {
        color: $night900;
    }

    &.theme-dark {
        color: $white;
    }
}

.image {
    flex: 1 1 420px;
    width: 560px;
    max-width: 100%;
}
