:global(.dropdown-container-vars) {
    //noinspection CssInvalidFunction
    --dropdown-container-shadow: var(--shadow, 0 3px 6px 0 rgba(29, 30, 38, 0.1), 0 1px 3px 0 rgba(29, 30, 38, 0.1));
    --dropdown-container-scrollbar-thumb-color: #6C6F80;
}