:global(.notification-card-vars) {
    --uui-notification-card-border-radius: var(--uui-border-radius);
    --uui-notification-card-border-width: 6px 1px 1px;
}

:global(.notification-card-color-warning) {
    --uui-notification-card-fill: var(--uui-warning);
    --uui-notification-card-border: var(--uui-warning);
    --uui-notification-card-bg: white;
}

:global(.notification-card-color-success) {
    --uui-notification-card-fill: var(--uui-success);
    --uui-notification-card-border: var(--uui-success);
    --uui-notification-card-bg: white;
}

:global(.notification-card-color-info) {
    --uui-notification-card-fill: var(--uui-info);
    --uui-notification-card-border: var(--uui-info);
    --uui-notification-card-bg: white;
}

:global(.notification-card-color-error) {
    --uui-notification-card-fill: var(--uui-error);
    --uui-notification-card-border: var(--uui-error);
    --uui-notification-card-bg: white;
}