.container {
    cursor: grab;

    &:global(.uui-drag-handle) {
        &.no-icon {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAI0lEQVQoU2M4e/bsfxAGAgYQRucTVgBj4MJYBZHxwLvhPwMAPCnF0V9FrXoAAAAASUVORK5CYII=');
            background-size: 8px;
            background-repeat: repeat-y;
            background-position-x: 1px;
            width: 8px;
            flex: 0 0 8px;
        }
    }

    &:global(.uui-disabled) {
        cursor: auto;
    }
}

