.root {
    &:global(.uui-dropdown-body) {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        box-sizing: border-box;
        box-shadow: var(--dropdown-container-shadow);
        background-color: var(--dropdown-container-vars);
        border: 0;
        overflow: hidden;

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: var(--dropdown-container-scrollbar-thumb-color);
        }
    }
}
