@use  '../../assets/styles/index' as *;

.root {
    :global(.uui-presets-container) {
        padding: 24px;
        font-family: $font-sans;
    }

    :global(.uui-presets-header) {
        font-family: $font-sans-semibold;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 12px;
    }

    :global(.uui-presets-item) {
        font-family: $font-sans-semibold;
        font-size: 12px;
        line-height: 18px;
        color: $blue;
        padding-bottom: 6px;

        &:hover {
            color: $blue-darkest;
            cursor: pointer;
        }
    }
}
