@use '~@epam/assets/scss/index' as *;

.root {
    color: var(--uui-text-tertiary);
    background-color: var(--uui-surface-low);
    font-size: 14px;
    font-family: var(--uui-font);
    font-weight: 400;
    border: 1px solid var(--uui-control-border);
    padding: 6px;
}
