@use 'sass:math';
@use '../../assets/styles/index.scss' as *;


@mixin radio-sizes($size, $font-size, $bullet-size, $line-height) {
    $vpadding: math.div(($line-height - $size), 2);

    :global(.uui-radioinput) {
        width: $size;
        height: $size;
        border-radius: math.div($size, 2);
        margin: $vpadding 0;
    }

    :global(.uui-icon) {
        margin: $vpadding 0;

        svg {
            height: $bullet-size;
            width: $bullet-size;
        }
    }

    :global(.uui-input-label) {
        font-size: $font-size;
        line-height: $line-height;
    }
}

.root {
    &:hover, &:focus-within {
        :global(.uui-radioinput) {
            border-color: var(--radio-input-border-color-hover);

            &:global(.uui-checked) {
                border-color: var(--radio-input-border-color-hover);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-hover);
                }
            }
        }

        &:global(.uui-disabled),
        &:global(.uui-readonly) {
            :global(.uui-radioinput) {
                background-color: var(--radio-input-bg-color-disabled);
                border-color: var(--radio-input-border-color-disabled);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-checked-disabled);
                }
            }
        }
    }

    :global(.uui-radioinput) {
        background-color: var(--radio-input-bg-color);
        border: 1px solid var(--radio-input-border-color);
        align-self: baseline;
        flex-shrink: 0;
        box-sizing: border-box;

        &:global(.uui-checked) {
            border-color: var(--radio-input-border-color-checked);

            :global(.uui-icon) {
                fill: var(--radio-input-fill-color-checked);
            }
        }
    }

    :global(.uui-input-label) {
        //@include typography-inline(); TODO: ???
        color: var(--radio-input-label-color);
        flex-grow: 1;
        font-family: var(--font-regular);
        margin-left: 12px;
        display: flex;
        align-items: center;
    }

    &:global(.uui-invalid) {
        :global(.uui-icon) {
            fill: var(--radio-input-error-color);
        }

        :global(.uui-input-label) {
            color: var(--radio-input-error-color);
        }

        :global(.uui-radioinput) {
            border-color: var(--radio-input-error-color);
        }

        :global(.uui-checked) {
            &:global(.uui-radioinput) {

                :global(.uui-icon) {
                    fill: var(--radio-input-error-color);
                }
            }
        }

        &:hover, &:focus-within {
            :global(.uui-radioinput) {
                border-color: var(--radio-input-error-color);
            }

            :global(.uui-icon) {
                fill: var(--radio-input-error-color);
            }
        }
    }

    &:global(.uui-disabled),
    &:global(.uui-readonly) {
        cursor: default;

        :global(.uui-radioinput) {
            cursor: default;
            background-color: var(--radio-input-bg-color-disabled);
            border-color: var(--radio-input-border-color-disabled);

            :global(.uui-icon) {
                fill: var(--radio-input-fill-color-checked-disabled);
            }


            &:global(.uui-checked) {
                border-color: var(--radio-input-border-color-checked-disabled);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-checked-disabled);
                }
            }
        }

        &:global(.uui-invalid) {
            :global(.uui-radioinput) {
                cursor: default;
                background-color: var(--radio-input-bg-color-disabled);
                border-color: var(--radio-input-border-color-disabled);

                :global(.uui-icon) {
                    fill: var(--radio-input-fill-color-checked-disabled);
                }
            }
        }
    }

    &:global(.uui-readonly) {
        :global(.uui-input-label) {
            color: var(--radio-input-label-color);
        }
    }

    &:global(.uui-disabled) {
        :global(.uui-input-label) {
            color: var(--radio-input-label-color-disabled);
        }
    }

    //Sizes
    &.size-18 {
        @include radio-sizes(18px, 14px, 18px, 18px);
    }

    &.size-12 {
        @include radio-sizes(12px, 12px, 12px, 14px);

        :global(.uui-input-label) {
            margin-left: 6px;
        }
    }
}