.root {
    --uui-time-picker-bg: var(--uui-control-bg);
    --uui-time-picker-bg-disabled: var(--uui-control-bg-disabled);
    --uui-time-picker-border: var(--uui-control-border);
    --uui-time-picker-border-disabled: var(--uui-control-border-disabled);
    --uui-time-picker-border-hover: var(--uui-control-border-hover);
    --uui-time-picker-border-active: var(--uui-control-border-checked);
    --uui-time-picker-border-error: var(--uui-error-50);
    --uui-time-picker-placeholder: var(--uui-control-text);
    --uui-time-picker-text: var(--uui-control-text);
    --uui-time-picker-text-disabled: var(--uui-control-text-disabled);
    --uui-time-picker-icon-clickable: var(--uui-icon);
    --uui-time-picker-icon-clickable-hover: var(--uui-icon-hover);
    --uui-time-picker-border-radius: var(--uui-border-radius);

    &:global(.uui-timepicker-container) {
        display: flex;
        padding: 15px 12px;
        justify-content: center;

        :global(.uui-timepicker-input) {
            &:global(.uui-input-box) {
                margin: 6px 0;
                width: 36px;
                height: 36px;
            }

            > input {
                text-align: center;
                font-size: 24px;
                line-height: 24px;
                color: var(--uui-time-picker-text);
                font-family: var(--font-regular);

                &::placeholder {
                    color: var(--uui-time-picker-text);
                }
            }
        }

        :global(.uui-timepicker-item) {
            position: relative;
            padding: 9px 24px;
        }

        :global(.uui-timepicker-item:first-child) {
            &::after {
                content: ':';
                position: absolute;
                top: 35px;
                left: 81px;
                color: var(--uui-time-picker-text);
                font-size: 24px;
                line-height: 30px;
            }
        }

        .icon {
            align-items: center;
            fill: var(--uui-time-picker-icon-clickable);

            &:hover {
                cursor: pointer;
            }
        }

        :global(.uui-timepicker-icon-up) {
            align-items: center;
            fill: var(--uui-time-picker-icon-clickable);
            transform: rotate(180deg);
        }

        :global(.uui-timepicker-icon-down) {
            align-items: center;
            fill: var(--uui-time-picker-icon-clickable);
        }
    }
}

.date-input {
    width: 100%;
}
