.module-items {
    position: relative;
    width: 100%;
    color: white;
    // background: rgba(184, 198, 226, 0.1);
}

.module-item {
    height: 20px;
    line-height: 19px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    position: absolute;
    background: darken(aliceblue, 10%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    // border-radius: 2px;
    cursor: default;

    &:hover {
        color: red;
    }
}
