@use  '../../assets/styles/index' as *;

.modal-blocker {
    animation-duration: 0.3s;
    animation-name: animateModalBlocker;
    opacity: 1;
    transition: all 0.3s ease-out;
    background-color: var(--uui-modals-overlay);

    @keyframes animateModalBlocker {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}

.modal {
    &:global(.uui-modal-window) {
        background-color: var(--uui-modals-bg);
        overflow: auto;
        border-radius: var(--uui-modals-border-radius);
        max-height: 80vh;
        max-width: 100vw;
        box-shadow: var(--uui-modals-shadow);

        @media (max-width: 640px) {
            min-width: 100vw;
            max-height: 100dvh;
            border-radius: 0;
        }

        :global(.uui-shadow-top)::before {
            background: var(--uui-divider);
            height: 1px;
        }

        :global(.uui-shadow-bottom)::after {
            background: var(--uui-divider);
            height: 1px;
        }
    }
}

.modal-footer {
    border-bottom-left-radius: var(--uui-modals-border-radius);
    border-bottom-right-radius: var(--uui-modals-border-radius);

    &.border-top {
        border-top: 1px solid var(--uui-divider);
    }
}

.modal-header {
    border-top-left-radius: var(--uui-modals-border-radius);
    border-top-right-radius: var(--uui-modals-border-radius);
}

