.avatars {
    display: flex;
    padding-right: 12px;

    img {
        margin-right: var(--overlap);
        border-radius: 50%;
        border: 1px solid white;
    }
}

.avatar-right {
    flex-direction: row-reverse;
}

.avatar-left {
    flex-direction: row;
}
