@use  '../../assets/styles/colors' as *;
@use '../../assets/styles/fonts' as *;

.root {
    :global(.avatars) {
        padding-right: 12px;

        &>* {
            border-radius: 50%;
            border: 1px solid white;
        }
    }

    :global(.avatarsCount) {
        color: $gray80;
        margin-left: 3px;
        line-height: 1;
        font-family: $font-sans-semibold;
        font-size: 14px;
    }
}