.root {
    &:global(.fill-transparent) {
        --uui-badge-bg: transparent;
        --uui-badge-bg-hover: transparent;
        --uui-badge-border: transparent;
        --uui-badge-border-hover: transparent;
        --uui-badge-caption: var(--uui-text-primary);
        --uui-badge-caption-hover: var(--uui-text-primary);

        &:global(.-clickable) {
            &:hover {
                fill: var(--uui-color-60);
                cursor: pointer;
            }
        }

        &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: var(--uui-color-50);
        }

        &:global(.uui-count_indicator) {
            --uui-count_indicator-bg: transparent;
            --uui-count_indicator-border: transparent;
            --uui-count_indicator-caption: var(--uui-text-primary);
        }
    }
}
