@use  '../../assets/styles/index.scss' as *;

.fill-light {
    color: $gray80;

    &:global(.-clickable) {
        &:hover {
            color: var(--caption-color);
        }
    }
}

.size-24 {
    padding-left: 0;
    padding-right: 0;

    :global(.uui-caption) {
        font-family: $font-sans;
        font-size: 14px;
    }

    &:first-of-type {
        margin-right: 6px;
    }

    &:last-of-type {
        margin-left: 6px;
    }
}

.size-30 {
    padding-left: 2px;
    padding-right: 2px;

    :global(.uui-caption) {
        font-family: $font-sans;
        font-size: 14px;
    }

    &:first-of-type {
        margin-right: 6px;
    }

    &:last-of-type {
        margin-left: 6px;
    }
}
