@use  '../../assets/styles/index' as *;

.root {
    --uui-calendar-selected_range-hover: var(--uui-primary-60);
    --uui-calendar-selected_range: var(--uui-primary-50);
    --uui-calendar-weekday-caption: var(--uui-text-tertiary);
    --uui-calendar-holiday-caption: var(--uui-text-tertiary);
    --uui-calendar-day-text: var(--uui-control-text);
    --uui-calendar-day-text-disabled: var(--uui-text-disabled);
    --uui-calendar-selected_day-text: var(--uui-neutral-0);
    --uui-calendar-selected_day-hover: var(--uui-control-bg);

    --uui-calendar-font: var(--uui-font);
    --uui-calendar-font-weight: 400;
    --uui-calendar-weekday-font: var(--uui-font);
    --uui-calendar-weekday-font-weight: 400;
    --uui-calendar-selected_day-font: var(--uui-font);
    --uui-calendar-selected_day-font-weight: 600;

    :global(.uui-calendar-content) {
        font-family: var(--uui-calendar-font);
        font-weight: var(--uui-calendar-font-weight, normal);
    }

    :global(.uui-calendar-weekday) {
        font-family: var(--uui-calendar-weekday-font);
        font-weight: var(--uui-calendar-weekday-font-weight, normal);
        color: var(--uui-calendar-weekday-caption);
        width: 34px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }

    :global(.uui-calendar-day-cell) {
        color: var(--uui-calendar-day-text);
        text-align: center;
        padding: 0;
        height: 36px;
        width: 36px;
        display: flex;
        position: relative;

        &:focus {
            outline: none;
        }
    }

    :global(.uui-calendar-day-wrapper) {
        height: 30px;
        width: 30px;
        font-size: 14px;
        line-height: 30px;
        margin: auto;
        cursor: default;
    }

    :global(.uui-calendar-day) {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 34px;
        border: 1px solid transparent;
        box-sizing: border-box;
    }

    :global(.uui-calendar-clickable-day) {
        &:hover, &:focus {
            &:not(:global(.uui-calendar-filtered-day)) {
                outline: none;
                cursor: pointer;

                :global(.uui-calendar-day) {
                    border: 1px solid var(--uui-calendar-selected_range);
                    background-color: var(--uui-calendar-selected_day-hover);
                    z-index: 1;
                }

                &:global(.uui-calendar-selected-day) {
                    :global(.uui-calendar-day) {
                        border: 1px solid var(--uui-calendar-selected_range-hover);
                        background-color: var(--uui-calendar-selected_range-hover);
                    }
                }
            }
        }
    }

    :global(.uui-calendar-current-day) {
        &:global(.uui-calendar-day-wrapper) {
            color: var(--uui-calendar-selected_range);
            font-family: var(--uui-calendar-selected_day-font);
            font-weight: var(--uui-calendar-selected_day-font-weight, normal);

            :global(.uui-calendar-day)::after {
                position: absolute;
                content: '';
                height: 4px;
                width: 4px;
                border-radius: 50%;
                background-color: var(--uui-calendar-selected_range);
                bottom: 3px;
                left: calc(50% - 2px);
            }
        }
    }

    :global(.uui-calendar-selected-day) {
        &:global(.uui-calendar-day-wrapper) {
            :global(.uui-calendar-day) {
                background-color: var(--uui-calendar-selected_range);
                color: var(--uui-calendar-selected_day-text);

                &::after {
                    background-color: var(--uui-calendar-selected_day);
                }
            }
        }

        &:global(.uui-calendar-clickable-day) {
            &:hover {
                cursor: pointer;
            }
        }
    }

    :global(.uui-calendar-day-holiday) {
        color: var(--uui-calendar-holiday-caption);
    }

    :global(.uui-calendar-filtered-day) {
        &:global(.uui-calendar-day-wrapper) {
            color: var(--uui-calendar-day-text-disabled);

            &:hover {
                cursor: default;
                background-color: transparent;
            }
        }
    }
}
