@use  '../../assets/styles/index' as *;

.root {
    &:global(.uui-presets-container) {
        padding: 24px 24px 12px;
    }

    :global(.uui-presets-header) {
        font-family: var(--uui-font);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 12px;
        color: var(--uui-text-primary);
    }
}
