@use  '../../assets/styles/index.scss' as *;

.root {
    --uui-dtp_body-title-bg: var(--uui-control-bg);
    --uui-dtp_body-item-bg-selected: var(--uui-primary-50);
    --uui-dtp_body-item-border-hover: var(--uui-primary-50);
    --uui-dtp_body-text: var(--uui-control-text);
    --uui-dtp_body-text-selected: var(--uui-neutral-0);

    --uui-dtp_body-content-font: var(--uui-font);
    --uui-dtp_body-content-font-weight: 400;
}

:global(.uui-datepickerBody-wrapper) {
    min-height: 300px;
    padding: 0 18px 12px;

    // DatePickerBase style
    :global(.uui-datepicker-container) {
        background-color: var(--uui-dtp_body-title-bg);
    }

    // Header styles
    :global(.uui-datepickerheader-header) {
        padding-top: 18px;
        padding-bottom: 6px;
    }

    // Month and Year selection styles
    :global(.uui-monthselection-content), :global(.uui-yearselection-content) {
        font-family: var(--uui-dtp_body-content-font);
        font-weight: var(--uui-dtp_body-content-font-weight, normal);
    }

    :global(.uui-monthselection-month-container) {
        margin: 0 0 12px;
        display: flex;
        flex-direction: column;

        & > * {
            display: flex;
        }
    }

    :global(.uui-yearselection-year-container) {
        display: flex;
        flex-direction: column;
        margin: 0 0 12px;

        & > * {
            display: flex;
        }
    }

    :global(.uui-yearselection-year-row) {
        display: flex;
        justify-content: space-between;
        width: 252px;
    }

    :global(.uui-monthselection-month) {
        width: 72px;
        height: 36px;
        border-radius: 20px;
        margin: 6px;
        color: var(--uui-dtp_body-text);

        &:hover, &:focus {
            outline: none;
            width: 70px;
            height: 34px;
            border: 1px solid var(--uui-dtp_body-item-border-hover);
            cursor: pointer;
        }
    }

    :global(.uui-yearselection-year) {
        width: 63px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 6px 0;
        color: var(--uui-dtp_body-text);

        &:hover, &:focus {
            outline: none;
            width: 61px;
            height: 34px;
            border: 1px solid var(--uui-dtp_body-item-border-hover);
            cursor: pointer;
        }
    }

    :global(.uui-monthselection-current-month) {
        &:global(.uui-monthselection-month) {
            background-color: var(--uui-dtp_body-item-bg-selected);
            color: var(--uui-dtp_body-text-selected);
        }
    }

    :global(.uui-yearselection-current-year) {
        &:global(.uui-yearselection-year) {
            background-color: var(--uui-dtp_body-item-bg-selected);
            color: var(--uui-dtp_body-text-selected);
        }
    }
}
