:global(.date-picker-vars) {
    --uui-dtp-bg-color: var(--white);
    --uui-dtp-header-font: var(--font-semibold);
    --uui-dtp-header-hover-color: var(--blue-lightest);
    --uui-dtp-header-icon-color: var(--gray60);
    --uui-dtp-header-icon-hover-color: var(--gray20);
    --uui-dtp-month-year-font: var(--font-regular);
    --uui-dtp-monthselection-color: var(--gray80);
    --uui-dtp-monthselection-hover-color: var(--blue);
    --uui-dtp-yearselection-color: var(--gray80);
    --uui-dtp-yearselection-hover-color: var(--blue);
    --uui-dtp-monthselection-curr-bg: var(--blue);
    --uui-dtp-monthselection-curr-color: var(--white);
    --uui-dtp-yearselection-curr-bg: var(--blue);
    --uui-dtp-yearselection-curr-color: var(--white);
}