@use  '../../assets/styles/index.scss' as *;

.root {
    min-height: 312px;

    // DatePickerBase style
    :global(.uui-datepicker-container) {
        background-color: var(--uui-dtp-title-bg);
    }

    // Header styles
    :global(.uui-datepickerheader-header) {
        padding-top: 18px;
        padding-bottom: 6px;
    }

    :global(.uui-datepickerBody-wrapper) {
        padding: 0 18px 12px;
    }

    :global(.uui-datepickerheader-nav-title) {
        font-family: var(--uui-dtp_header-font);
        color: var(--uui-dtp-text-selected);
        font-size: 14px;
        padding: 3px 10px;

        &:hover {
            background-color: var(--uui-dtp-title-bg-hover);
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    :global(.uui-datepickerheader-nav-icon-right), :global(.uui-datepickerheader-nav-icon-left) {
        fill: var(--uui-dtp-next-prev-icon);
        width: 36px;
        height: 36px;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: var(--uui-dtp-next-prev-icon-bg-hover);
        }

        &:focus {
            outline: none;
        }
    }

    :global(.uui-datepickerheader-nav-icon-right) {
        transform: rotate(-90deg);
    }

    :global(.uui-datepickerheader-nav-icon-left) {
        transform: rotate(90deg);
    }

    // Month and Year selection styles
    :global(.uui-monthselection-content), :global(.uui-yearselection-content) {
        font-family: var(--uui-dtp_body-content-font);
    }

    :global(.uui-monthselection-month-container) {
        margin: 0 0 12px;
        display: flex;
        flex-direction: column;

        & > * {
            display: flex;
        }
    }

    :global(.uui-yearselection-year-container) {
        display: flex;
        flex-direction: column;
        margin: 0 0 12px;

        & > * {
            display: flex;
        }
    }

    :global(.uui-yearselection-year-row) {
        display: flex;
        justify-content: space-between;
        width: 252px;
    }

    :global(.uui-monthselection-month) {
        width: 72px;
        height: 36px;
        border-radius: 20px;
        margin: 6px;
        color: var(--uui-dtp-text);

        &:hover {
            width: 70px;
            height: 34px;
            border: 1px solid var(--uui-dtp-text-selected);
            cursor: pointer;
        }
    }

    :global(.uui-yearselection-year) {
        width: 63px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 6px 0;
        color: var(--uui-dtp-text);

        &:hover {
            width: 61px;
            height: 34px;
            border: 1px solid var(--uui-dtp-text-selected);
            cursor: pointer;
        }
    }

    :global(.uui-monthselection-current-month) {
        &:global(.uui-monthselection-month) {
            background-color: var(--uui-dtp-text-selected);
            color: var(--uui-dtp-title-bg);
        }
    }

    :global(.uui-yearselection-current-year) {
        &:global(.uui-yearselection-year) {
            background-color: var(--uui-dtp-text-selected);
            color: var(--uui-dtp-title-bg);
        }
    }
}
