:global(.date-range-picker-vars) {
    --uui-rdtp-bg-color: var(--input-bg-color);//--white
    --uui-rdtp-bg-lightest-color: var(--primary-lightest-color);//--blue-lightest/--sky-lightest
    --uui-rdtp-bg-darkest-color: var(--primary-darkest-color);//--blue-darkest
    --uui-rdtp-bg-color-disabled: var(--input-bg-disabled-color);//--gray5
    --uui-rdtp-border-color: var(--input-border-color);//--gray40
    --uui-rdtp-border-color-disabled: var(--input-border-disabled-color);//--gray30
    --uui-rdtp-border-color-hover: var(--input-textinput-border-hover-color);//--gray60
    --uui-rdtp-border-color-active: var(--input-border-checked-color);//--blue
    --uui-rdtp-border-color-error: var(--negative-color);//--red
    --uui-rdtp-placeholder-color: var(--input-placeholder-color);//--gray60
    --uui-rdtp-text-color: var(--input-text-color);//--gray80
    --uui-rdtp-text-color-disabled: var(--input-text-disabled-color);//--gray50
    --uui-rdtp-icon-color-clickable: var(--icon-color);//--gray60
    --uui-rdtp-icon-color-clickable-hover: var(--icon-hover-color);//--gray70
    --uui-rdtp-icon-color-disabled: var(--icon-disabled-color);//--gray50
    --uui-rdtp-border-radius: var(--border-radius);
}