@use 'sass:math';


.christmas-box {
    position: fixed;
    left: -10px;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

@function random-range ($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

.christmas-snow {
    $total: 200;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #C4EAF5;
    border-radius: 50%;
    will-change: transform, scale;

    @for $i from 1 through $total {
        $random-x: random(1000000) * 0.0001vw;
        $random-offset: random-range(-100000, 100000) * 0.0001vw;
        $random-x-end: $random-x + $random-offset;
        $random-x-end-yoyo: $random-x + math.div($random-offset, 2);
        $random-yoyo-time: math.div(random-range(30000, 80000), 100000);
        $random-yoyo-y: $random-yoyo-time * 100vh;
        $random-scale: random(10000) * 0.0001;
        $fall-duration: random-range(10, 30) * 1s;
        $fall-delay: random(30) * 1s;

        &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }

        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }

            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
        }
    }
}



