.container {
    display: flex;
    padding-left: 18px;

    .item {
        &,
        &:hover {
            color: var(--white) !important;
        }

        :global(.uui-icon) {
            fill: var(--white);
        }
        :global(.uui-caption) {
            font-weight: lighter;
        }
    }
}
