.root {
    --uui-dropspot-border: var(--uui-control-border);
    --uui-dropspot-border-dropstart: var(--uui-info-50);
    --uui-dropspot-background-dropstart: var(--uui-info-10);
    --uui-dropspot-link-color: var(--uui-link);
    --uui-dropspot-link-hover: var(--uui-link-hover);
    --uui-dropspot-icon: var(--uui-info-50);
    //
    position: relative;
    min-height: 104px;
    border: 2px dashed var(--uui-dropspot-border);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;

    &.drop-start {
        border: 2px dashed var(--uui-dropspot-border-dropstart);
    }

    &.drop-over {
        background-color: var(--uui-dropspot-background-dropstart);
    }

    .link {
        color: var(--uui-dropspot-link-color);

        &:hover {
            color: var(--uui-dropspot-link-hover);
        }
    }

    .drop-area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon-blue {
        fill: var(--uui-dropspot-icon);
        margin-right: 6px;
    }
}
