.root {
    --uui-filecard-border: var(--uui-control-border);
    --uui-filecard-border-error: var(--uui-error-50);
    --uui-filecard-text-error: var(--uui-error-70);
    --uui-filecard-icon-default: var(--uui-icon);
    --uui-filecard-icon-error: var(--uui-error-50);
    --uui-filecard-icon-doc: #2B579A;
    --uui-filecard-icon-xls: #217346;
    --uui-filecard-icon-pdf: #FA0F01;
    --uui-filecard-icon-mov: #5214CC;
    --uui-filecard-icon-img: #E67E17;
}

.file-card-wrapper {
    box-sizing: border-box;
    min-height: 48px;
    padding: 5px;
    border: 1px solid var(--uui-filecard-border);

    .file-name {
        white-space: nowrap;
    }
}

.error-card-wrapper {
    border: 1px solid var(--uui-filecard-border-error);
}

.default-color {
    fill: var(--uui-filecard-icon-default);
}

.doc-color {
    fill: var(--uui-filecard-icon-doc);
}

.xls-color {
    fill: var(--uui-filecard-icon-xls);
}

.pdf-color {
    fill: var(--uui-filecard-icon-pdf);
}

.mov-color {
    fill: var(--uui-filecard-icon-mov);
}

.img-color {
    fill: var(--uui-filecard-icon-img);
}

:global(.uui-loading) {
    .default-color,
    .doc-color,
    .xls-color,
    .pdf-color,
    .movie-color,
    .img-color {
        fill: var(--uui-icon-disabled);
    }
}

.error-block {
    font-family: var(--uui-font);
    font-weight: 400;
    font-size: 12px;
    color: var(--uui-filecard-text-error);
    display: inline-flex;
    align-items: center;
    padding: 0;
    cursor: pointer;

    svg {
        margin-right: 4px;
        fill: var(--uui-filecard-icon-error);
    }
}

.icons-block {
    min-width: 18px;
    flex-basis: 0;
}
