@use  '../../assets/styles/index' as *;
@use  '../../assets/styles/dnd' as *;

.root {
    &:global(.uui-dt-row-border.uui-table-row) {
        --uui-dt-row-border-width: 1px;
    }

    &:global(.-clickable) {
        cursor: pointer;

        &:hover {
            --uui-dt-row-bg: var(--uui-dt-row-bg-hover);
        }
    }

    &:global(.-draggable):not(:global(.uui-drag-in-progress)) {
        @include dnd-cursor-style();
    }

    &:global(.uui-selected.uui-table-row) {
        --uui-dt-row-bg: var(--uui-dt-row-bg-selected);
    }

    &:global(.uui-invalid.uui-table-row) {
        --uui-dt-row-bg: var(--uui-dt-row-bg-invalid);
    }

    &:global(.uui-dragged-out) {
        opacity: 0.5;
    }

    &:global(.uui-drag-ghost) {
        opacity: 0.8;
        cursor: grabbing;

        :global(.uui-drag-handle) {
            visibility: visible;
        }

        @include dnd-ghost-shadow();
        @include dnd-cursor-style();
    }

    &:global(.uui-drag-in-progress) {
        cursor: grabbing;
    }

    &:global(.uui-focus) {
        //border: 1px solid $blue;
    }

    &:global(.uui-dt-row-border) {
        border-bottom-color: var(--uui-dt-border);
    }

    &:global(.uui-dropping-marker) {
        --uui-dt-row-bg: var(--uui-dt-row-bg-dropping-capabilities);
    }
}

:global(.uui-dt-row-border) {
    :global(.uui-table-fixed-section), :global(.uui-table-scrolling-section) {
        border-bottom-color: var(--uui-dt-border);
    }
}

// Sizes

.size-24 { min-height: 24px; }
.size-30 { min-height: 30px; }
.size-36 { min-height: 36px; }
.size-48 { min-height: 48px; }
.size-60 { min-height: 60px; }
