@use '../../assets/styles/index' as *;

@mixin cell-size($size) {
    &.size-#{$size} {
        height: #{$size}px;

        // icons always 18 by design
        @include scalable-icon-size(36);

        ~ :global(.config-icon) {
            // icons always 18 by design
            @include scalable-icon-size(36);
        }
    }
}

.cell {
    color: var(--uui-text-primary);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0 6px;
    position: relative;
    width: 0;

    // to align with cell's borders. TBD: move this to uui-components.
    border-right: 1px solid transparent;
    margin-left: -1px;
    background-clip: padding-box;

    &.column-gap-12 {
        padding: 0 6px;
        column-gap: 3px;

        .caption-wrapper {
            column-gap: 3px;
        }
    }

    &.column-gap-24 {
        padding: 0 12px;
        column-gap: 3px;

        .caption-wrapper {
            column-gap: 3px;
        }
    }

    &.first-column-12 {
        padding-left: 12px;
    }

    &.last-column-12 {
        padding-right: 12px;
    }

    &.first-column-24 {
        padding-left: 24px;
    }

    &.last-column-24 {
        padding-right: 24px;
    }

    &:global(.-clickable) {
        cursor: pointer;

        &:hover {
            background: var(--uui-dt-row-bg-hover);
            box-shadow: inset 1px 0 0 var(--uui-dt-border), inset -1px 0 0 var(--uui-dt-border);
        }

        &:hover:not(:has(:global(.-clickable):hover)) {
            .sort-icon, .dropdown-icon, .infoIcon {
                fill: var(--uui-icon-hover);
            }
        }
    }

    &.resizable {
        &:hover {
            box-shadow: inset 1px 0 0 var(--uui-dt-border), inset -1px 0 0 var(--uui-dt-border);
        }
    }

    @include cell-size(24);
    @include cell-size(30);
    @include cell-size(36);
    @include cell-size(42);
    @include cell-size(48);
    @include cell-size(60);

    &.padding-left-24 {
        padding-left: 24px;
    }

    &.padding-right-24 {
        padding-right: 24px;
    }

    .caption-wrapper {
        display: flex;
        overflow: hidden;
        flex: 1 1 0;
        min-width: 0;

        &.align-right {
            flex-direction: row-reverse;
        }

        &.align-center {
            justify-content: center;
        }
    }

    .caption {
        font-family: var(--uui-dt-header-cell-font);
        font-weight: var(--uui-dt-header-cell-font-weight);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }

    .checkbox {
        align-self: stretch;
        padding: 0 6px 0 0;
    }

    .icon {
        display: flex;
        flex-shrink: 0;
        cursor: pointer;
    }

    .fold-all-icon {
        display: flex;
        padding: 0 6px 0 0;
        align-self: stretch;

        &:hover {
            fill: var(--uui-icon-hover);
        }
    }

    .cell-tooltip {
        top: 0;
    }

    .upper-case {
        text-transform: uppercase;
        font-size: 12px;
    }

    .font-size-14 {
        font-size: 14px;
    }

    .resize-mark {
        position: absolute;
        right: 0;
        height: 100%;
        cursor: col-resize;

        &:hover {
            background-color: var(--uui-dt-cell-bg-resize);
        }
    }

    .resize-mark-6 {
        width: 6px;
    }

    .resize-mark-12 {
        width: 12px;
    }

    &.pinned-right .resize-mark {
        left: 0;
    }

    &.draggable {
        cursor: pointer;
    }

    &.ghost {
        @include dnd-ghost-shadow();
        background-color: var(--uui-dt-row-bg-hover);
    }

    &.is-dragged-out {
        background-color: var(--uui-dt-row-bg-hover);
        opacity: 0.5;
    }

    &.dnd-marker-left {
        box-shadow: inset 2px 0 0 0 var(--uui-dt-header-drop_marker);

        &:global(.-clickable), &:local(.resizable) {
            box-shadow: inset 2px 0 0 0 var(--uui-dt-header-drop_marker);
        }
    }

    &.dnd-marker-right {
        box-shadow: inset -2px 0 0 0 var(--uui-dt-header-drop_marker);

        &:global(.-clickable), &:local(.resizable) {
            box-shadow: inset -2px 0 0 0 var(--uui-dt-header-drop_marker);
        }
    }
}

.cell-tooltip-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3px;

    .cell-tooltip-text {
        color: var(--uui-tooltip-text);
        padding: 0;
    }
}
