@use '~@epam/promo/assets/styles/colors' as *;
@use '~@epam/promo/assets/styles/fonts' as *;

.rating-wrapper {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: repeat(4, 6px);
    column-gap: 1px;

    .rating-block {
        box-sizing: border-box;
        width: 6px;
        height: 12px;
        border: 1px solid $gray40;

        &.active {
            background-color: $green;
            border: 1px solid $green;
        }

        &:first-of-type {
            border-radius: 2px 0 0 2px;
        }

        &:last-of-type {
            border-radius: 0 2px 2px 0;
        }
    }
}

.rating-block-alone {
    box-sizing: border-box;
    width: 27px;
    height: 12px;
    border: 1px solid $gray40;
    border-radius: 3px;
    text-align: center;

    .block-alone-text {
        padding: 0;
        margin: 0;
        font-family: $font-sans;
        font-weight: 600;
        font-size: 9px;
        line-height: 10px;
        color: $gray50;
    }

    .block-alone-svg-wrapper {
        align-items: center;
        height: 100%;
    }
}

.icon-gray50 {
    fill: var(--uui-secondary);
}
