@use  '../../colors' as *;

.linkButton-color-blue {
    --uui-text: #{$blue};
    --uui-text-hover: #{$blue-dark};
    --uui-text-active: #{$blue-darkest};
    --uui-text-disabled: #{$gray40};
}

.linkButton-color-green {
    --uui-text: #{$green};
    --uui-text-hover: #{$green-dark};
    --uui-text-active: #{$green-darkest};
    --uui-text-disabled: #{$gray40};
}

.linkButton-color-amber {
    --uui-text: #{$amber};
    --uui-text-hover: #{$amber-dark};
    --uui-text-active: #{$amber-darkest};
    --uui-text-disabled: #{$gray40};
}

.linkButton-color-red {
    --uui-text: #{$red};
    --uui-text-hover: #{$red-dark};
    --uui-text-active: #{$red-darkest};
    --uui-text-disabled: #{$gray40};
}
