@use '../../../assets/styles/index' as *;


.group-items {
    flex-direction: column;
}

.no-data {
    flex-direction: column;
    top: calc(50% - 35px);
    position: relative;
}

.main-panel {
    height: 100%;
}
