:global(.picker-toggler-vars) {
    --uui-picker-toggler-bg: var(--uui-control-bg);
    --uui-picker-toggler-border: var(--uui-control-border);
    --uui-picker-toggler-border-hover: var(--uui-control-textinput-border-hover);
    --uui-picker-toggler-border-active: var(--uui-control-border-checked);
    --uui-picker-toggler-border-error: var(--uui-negative);
    --uui-picker-toggler-placeholder: var(--uui-control-placeholder);
    --uui-picker-toggler-text: var(--uui-control-text);
    --uui-picker-toggler-text-disabled: var(--uui-control-text-disabled);
    --uui-picker-toggler-icon: var(--uui-control-icon);
    --uui-picker-toggler-icon-disabled: var(--uui-control-icon-disabled);
    --uui-picker-toggler-icon-clickable: var(--uui-icon);
    --uui-picker-toggler-icon-clickable-hover: var(--uui-icon-hover);

    --uui-picker-toggler-border-radius: var(--uui-border-radius);
}