.container {
    display: flex;
    cursor: pointer;

    &:focus-within {
        outline: none;
    }

    :global(.uui-checkbox) {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;

        input[type='checkbox'] {
            margin: 0;
            border: 0 none;
            width: 0;
            height: 0;
            appearance: none;

            &:focus {
                outline: none;
            }
        }
    }
}
