.container {
    display: flex;
    cursor: pointer;
    position: relative;

    :global(.uui-checkbox) {
        appearance: none;
        cursor: pointer;
        outline-offset: 0;
        margin: 0;
        display: flex;
        flex-shrink: 0;

        &:focus, &:focus-visible {
            outline: none;
        }
    }

    span[role="label"] {
        margin-left: 12px;
    }

    :global(.uui-icon) {
        position: absolute;
    }
}