.container {
    display: flex;
    cursor: pointer;

    :global(.uui-checkbox) {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;

        input[type="checkbox"] {
            appearance: none;
            margin: 0;

            &:focus, &:focus-visible {
                outline: none;
            }
        }
    }
}