.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:focus-within {
        outline: none;
    }

    input[type='checkbox'] {
        margin: 0;
        border: 0 none;
        width: 0;
        height: 0;
        appearance: none;

        &:focus {
            outline: none;
        }
    }

    :global(.uui-switch-toggler) {
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        position: relative;
    }

    :global(.uui-switch-body) {
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
}
