.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    input[type="checkbox"] {
        appearance: none;
        margin: 0;

        &:focus, &:focus-visible {
            outline: none;
        }
    }

    :global(.uui-switch-toggler) {
        cursor: pointer;
        display: flex;
        position: absolute;
        flex-shrink: 0;
        position: relative;
    }

    :global(.uui-switch-body) {
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
}