.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    :global(.uui-switch-toggler) {
        appearance: none;
        z-index: 1;
        border-radius: 50%;
        margin: 0;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;

        &:focus, &:focus-visible {
            outline: none;
        }
    }

    :global(.uui-switch-body) {
        position: absolute;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        z-index: 0;
    }

    :global(.uui-input-label) {
        position: relative;
    }
}