@use '../../../uui/assets/styles/effects.scss' as *;

.container {
    align-items: center;
    width: 100%;

    &:global(.uui-input-box) {
        display: flex;
        outline: none;
    }

    :global(.uui-input) {
        flex: 1 1 auto;
        min-width: 0;
        border: 0;
        outline: none;
        background: none;

        &::-ms-clear {
            display: none;
        }

        &[type='search']::-webkit-search-decoration,
        &[type='search']::-webkit-search-cancel-button,
        &[type='search']::-webkit-search-results-button,
        &[type='search']::-webkit-search-results-decoration {
            -webkit-appearance: none;
            display: none;
            appearance: none;
        }
    }
}

.hidden {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}
