.container {
    display: flex;
    flex-direction: column;

    :global(.uui-input) {
        display: block;
        width: 100%;
        min-width: 0;
        outline: none;
        border-width: 1px;
    }

    :global(.uui-textarea-counter) {
        align-self: flex-end;
    }
}

.auto-size {
    resize: none;
    overflow-y: hidden;
}

.no-auto-size {
    resize: vertical;
    overflow: auto;
}
