.container {
    width: 100%;

    &:global(.uui-input-box) {
        display: flex;
        outline: none;
    }

    :global(.uui-input) {
        flex: 1 1 auto;
        min-width: 0;
        border: 0;
        outline: none;
        background: none;

        &::-ms-clear {
            display: none;
        }
    }
}

.hidden {
    visibility: hidden;
}