@use  '../epam-promo/assets/styles/colors' as *;

.wrapper {
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    
    &:hover {
        background-color: $gray20;
    }
}

.disabled {
    pointer-events: none;
}

.text-disabled {
    color: $gray60;
}