@use  '../epam-promo/assets/styles/colors' as *;

.container {
    flex-wrap: nowrap;
}

.target {
    width: 18px;
    padding: 0;
}

.panel {
    padding-top: 6px;
    padding-bottom: 6px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: $gray30;
}

.input {
    flex-basis: 200px;
}

.notification {
    overflow: visible;
    
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: $red;
        border-radius: 50%;
        right: -3px;
        top: -3px;
    }
}