@use '~@epam/promo/assets/styles/colors' as *;

.container {
    width: 360px;
}

.text {
    padding: 0;
}

.divider {
    border-bottom: 1px solid var(--uui-divider-light);
    width: 100%;
}

.icon-gray50 {
    fill: var(--uui-icon);
}
