:global(.link-button-vars) {
    --link-button-text-color: var(--info-color);
    --link-button-text-color-hover: var(--info-hover-color);
    --link-button-text-color-active: var(--info-active-color);
    --link-button-text-color-disabled: var(--button-disabled-color);
}
