@use 'sass:math';
@use 'sass:meta';

@mixin icon-layout($size) {
    :global(.uui-icon) {
        svg {
            height: math.div($size, 36) * 24;
            max-width: math.div($size, 36) * 24;
        }
    }
}

@mixin icon-size($size) {
    $striped-size: strip-unit($size);

    :global(.uui-icon) {
        svg {
            height: #{$striped-size}px;
            width: #{$striped-size}px;
        }
    }
}

@function strip-unit($number) {
    @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
        @return math.div($number, $number * 0 + 1);
    }

    @return $number;
}

@mixin scalable-icon-size($size, $additionalClass: '') {
    $striped-size: strip-unit($size);

    #{$additionalClass}:global(.uui-icon) {
        svg {
            @if ($striped-size == 18) {
                height: 12px;
            } @else if ($striped-size == 24) {
                height: 12px;
            } @else if ($striped-size == 30) {
                height: 18px;
            } @else if ($striped-size == 36) {
                height: 18px;
            } @else if ($striped-size == 42) {
                height: 18px;
            } @else if ($striped-size == 48) {
                height: 24px;
            } @else if ($striped-size == 60) {
                height: 24px;
            }
            width: inherit;
        }
    }
}