@mixin disabled-input() {
    &.mode-form {
        @include input-colors(var(--input-bg-disabled-color), var(--input-text-disabled-color), var(--input-border-disabled-color));
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
            @include input-colors(var(--input-bg-disabled-color), var(--input-text-disabled-color), var(--input-border-disabled-color));
            box-shadow: none;
        }

        &::placeholder {
            color: var(--input-placeholder-disabled-color);
        }
    }

    &.mode-cell {
        @include input-colors(transparent, var(--input-text-disabled-color), transparent);
        cursor: default;
        pointer-events: none;

        &:hover, &:active, &:focus {
            @include input-colors(transparent, var(--input-text-disabled-color), transparent);
            box-shadow: none;
        }

        &::placeholder {
            color: var(--input-placeholder-disabled-color);
        }
    }
}

@mixin readonly-input() {
    &.mode-form {
        background-color: var(--input-bg-readonly-color);
        border-color: var(--input-border-readonly-color);
        pointer-events: none;

        &:hover {
            border-color: var(--input-border-readonly-color);
        }
    }

    &.mode-cell {
        background-color: transparent;
        border-color: transparent;
        pointer-events: none;

        &:hover {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

@mixin input-colors($bg, $fg, $brd) {
    background-color: $bg;
    color: $fg;
    fill: $fg;
    border-color: $brd;

    // override more selective selector on input tag in browsers stylesheets
    :global(.uui-input) {
        color: $fg;

        &::placeholder {
            color: var(--input-placeholder-disabled-color);
        }
    }
}

@mixin prefix-suffix {
    > :global(.uui-input-prefix), > :global(.uui-input-suffix) {
        display: flex;
        align-items: center;
        align-self: stretch;
        font-family: var(--text-input-prefix-font);
        color: var(--prefix-suffix-caption-color);
        background: var(--text-input-prefix-bg-color);
        padding: var(--prefix-suffix-padding);

        + :global(.uui-icon) {
            fill: var(--text-input-prefix-icon-color);
        }
    }

    > :global(.uui-input-prefix) {
        border-right: 1px solid var(--prefix-suffix-border-color);
        border-top-left-radius: var(--text-input-border-radius);
        border-bottom-left-radius: var(--text-input-border-radius);
        margin-left: calc(var(--text-input-border-width) - var(--text-input-padding));

        + :global(.uui-icon) {
            margin-left: var(--text-input-inner-space);
            height: var(--uui-icon-size);
            width: var(--uui-icon-size);
        }
    }

    > :global(.uui-input-suffix) {
        border-left: 1px solid var(--prefix-suffix-border-color);
        border-top-right-radius: var(--text-input-border-radius);
        border-bottom-right-radius: var(--text-input-border-radius);
        margin-right: calc(var(--text-input-border-width) - var(--text-input-padding));
    }

    :global(.uui-icon) {
        + :global(.uui-input-suffix) {
            margin-left: var(--text-input-inner-space);
        }
    }
}
