@use '../../../../../node_modules/@epam/promo/assets/styles/colors' as *;
@use '../../../../../node_modules/@epam/promo/assets/styles/fonts' as *;

.preset-dropdown {
    &:global(.uui-button-box) {
        &:global(.-clickable) {
            background-color: transparent;
            border-color: transparent;
        }
    }

    &:global(.-clickable):hover {
        background-color: transparent;
        border-color: transparent;
    }
}


