@use '~@epam/promo/assets/styles/fonts' as *;
@use '~@epam/promo/assets/styles/colors' as *;

.wrapper {
    display: flex;
    height: calc(100vh - 121px);
    width: 360px;
    border-left: 1px solid $gray40;

    .sidebar-enter {
        opacity: 0;
        transform: scale(0.9);
    }

    .sidebar-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 300ms, transform 300ms;
    }

    .sidebar-exit {
        opacity: 1;
    }

    .sidebar-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
    }

    &.show {
        animation: show-panel 500ms ease;
        animation-fill-mode: forwards;
    }

    &.hide {
        animation: hide-panel 500ms ease;
        animation-fill-mode: forwards;
    }

    .status {
        &:global(.uui-button-box) {
            padding-left: 0;

            :global(.uui-caption) {
                font-family: $font-sans;
            }
        }
    }

    .no-wrap {
        white-space: nowrap;
    }
}

@keyframes show-panel {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

@keyframes hide-panel {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(100%, 0, 0); }
}