.color-warning {
    --fill-color: var(--warning-color);
    --background-color: white;
}

.color-success {
    --fill-color: var(--success-color);
    --background-color: white;
}

.color-info {
    --fill-color: var(--info-color);
    --background-color: white;
}

.color-error {
    --fill-color: var(--error-color);
    --background-color: white;
}