.preset-input-cell {
    margin-top: auto;
    margin-bottom: auto;

    .preset-input {
        padding-left: 3px;
        padding-right: 3px;
        width: 213px;

        :global(.uui-icon-accept),
        :global(.uui-icon-cancel) {
            width: 30px;
            height: 30px;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        :global(.uui-icon-accept) {
            &:global(.-clickable) {
                background-color: var(--uui-accent-50);
                border-radius: var(--uui-border-radius);
                fill: var(--uui-accent-contrast);

                &:hover {
                    fill: var(--uui-accent-contrast);
                    background-color: var(--uui-accent-60);
                }

                &:active {
                    fill: var(--uui-accent-contrast);
                    background-color: var(--uui-accent-70);
                }
            }
        }

        :global(.uui-icon-cancel) {
            background-color: var(--uui-surface-main);
            border: 1px solid var(--uui-secondary-50);
            border-radius: var(--uui-border-radius);
            margin-left: 1px;
            box-sizing: border-box;

            &:hover {
                background-color: var(--uui-secondary-10);
            }

            &:active {
                background-color: var(--uui-secondary-20);
            }
        }
    }
}
