.delete-button {
    color: var(--uui-critical-70);

    svg {
        fill: var(--uui-critical-70);
    }
}

.tab-button {
    :global(.uui-icon) {
        width: 18px;
        height: 18px;
    }
}

.targetOpen {
    &:global(.uui-button-box) {
        :global(.uui-icon) {
            visibility: visible;
        }
    }
}

:global(.uui-presets-panel-notification-text) {
    --uui-presets-panel-notification-text-font: var(--uui-text-primary);
    --uui-presets-panel-notification-text-font-family: var(--uui-font);
    --uui-presets-panel-notification-text-font-size: 14px;
    --uui-presets-panel-notification-text-font-weight: 400;
    --uui-presets-panel-notification-text-font-style: normal;
    --uui-presets-panel-notification-text-line-height: 18px;
    --uui-presets-panel-notification-text-padding: 9px 0;
    //
    color: var(--uui-presets-panel-notification-text-font);
    font-family: var(--uui-presets-panel-notification-text-font-family);
    font-style: var(--uui-presets-panel-notification-text-font-style);
    font-size: var(--uui-presets-panel-notification-text-font-size);
    font-weight: var(--uui-presets-panel-notification-text-font-weight);
    line-height: var(--uui-presets-panel-notification-text-line-height);
    padding: var(--uui-presets-panel-notification-text-padding);
    overflow: hidden;
    text-overflow: ellipsis;
}


