.preset-dropdown-panel {
    min-width: 150px;
}

.delete-row {
    svg {
        fill: var(--uui-negative-darkest);
    }

    .delete-button {
        color: var(--uui-negative-darkest);
    }
}

.targetOpen {
    &:global(.uui-button-box) {
        :global(.uui-icon) {
            visibility: visible;
        }
    }
}


