.preset-dropdown-panel {
    min-width: 150px;
}

.delete-row {
    svg {
        fill: var(--uui-critical-70);
    }

    .delete-button {
        color: var(--uui-critical-70);
    }
}

.add-button {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.targetOpen {
    &:global(.uui-button-box) {
        :global(.uui-icon) {
            visibility: visible;
        }
    }
}


