.preset {
    &:global(.uui-button-box) {
        padding-right: 3px;
    }

    :global(.uui-icon) {
        visibility: hidden;
    }

    &:hover {
        :global(.uui-icon) {
            visibility: visible;
        }
    }

    &.activePreset {
        :global(.uui-icon) {
            visibility: visible;
        }
    }
}
