@use  '../../../assets/styles/index.scss' as *;

.root {
    :global(.uui-checked) {
        :global(.uui-switch-toggler) {
            transform: translateX(var(--switch-offset-size));
        }
    }

    :global(.uui-switch-body) {
        background-color: var(--switch-bg-color);
        border: var(--switch-border-width) solid var(--switch-border-color);
        height: var(--selection-control-height);
        width: var(--switch-width);
        border-radius: var(--selection-control-height);
        box-sizing: border-box;
        margin: var(--vertical-outer-margin) 0;
    }

    :global(.uui-switch-toggler) {
        height: var(--selection-control-height);
        width: var(--selection-control-height);
        left: calc(0px - var(--switch-border-width));
        border-radius: 50%;
        box-sizing: border-box;
        background-color: var(--switch-toggler-bg-color);
        border: var(--switch-border-width) solid var(--switch-toggler-border-color);
        transition: 0.1s transform cubic-bezier(0.4, 0, 0.2, 1);
    }

    :global(.uui-input-label) {
        font-family: var(--selection-control-font);
        color: var(--switch-label-color);
        margin-left: var(--selection-control-spacer);
        font-size: var(--selection-control-font-size);
        line-height: var(--selection-control-line-height);
    }

    //Colors
    &:hover, &:focus-within {
        :global(.uui-switch-body) {
            background-color: var(--switch-bg-color-hover);
            border-color: var(--switch-border-color-hover);
        }

        :global(.uui-switch-toggler) {
            border-color: var(--switch-toggler-border-color-hover);
        }

        :global(.uui-checked) {
            &:global(.uui-switch-body) {
                background-color: var(--switch-bg-color-checked-hover);
                border-color: var(--switch-border-color-checked-hover);
            }

            :global(.uui-switch-toggler) {
                border-color: var(--switch-toggler-border-color-checked-hover);
            }
        }
    }

    :global(.uui-checked) {
        &:global(.uui-switch-body) {
            background-color: var(--switch-bg-color-checked);
            border: var(--switch-border-width) solid var(--switch-border-color-checked);

            :global(.uui-switch-toggler) {
                border: var(--switch-border-width) solid var(--switch-toggler-border-color-checked);
            }
        }
    }

    &:global(.uui-disabled) {
        :global(.uui-input-label) {
            color: var(--switch-label-color-disabled);
        }

        &,
        :global(.uui-switch-toggler),
        :global(.uui-switch-body),
        :global(.uui-input-label) {
            cursor: default;
        }

        :global(.uui-switch-body) {
            background-color: var(--switch-bg-color-disabled);
            border: var(--switch-border-width) solid var(--switch-border-color-disabled);
        }

        & :global(.uui-switch-toggler),
        &:hover :global(.uui-switch-toggler),
        &:focus-within :global(.uui-switch-toggler) {
            background-color: var(--switch-toggler-bg-color-disabled);
            border-color: var(--switch-toggler-border-color-disabled);
        }

        :global(.uui-checked) {
            &:global(.uui-switch-body) {
                background-color: var(--switch-bg-color-checked-disabled);
                border: var(--switch-border-width) solid var(--switch-border-color-checked-disabled);
            }

            :global(.uui-switch-toggler) {
                background-color: var(--switch-toggler-bg-color-disabled);
                border-color: var(--switch-toggler-border-color-checked-disabled);
            }
        }
    }
}