.container {
    width: 360px;
    padding: 12px 18px;

    .containerItem {
        padding-bottom: 12px;
    }
}

.text {
    padding: 0;
}

.divider {
    border-bottom: 1px solid var(--uui-control-border-disabled);
    width: 100%;
}
