@use  '../../assets/styles/index' as *;

.notification-wrapper {
    border: 1px solid var(--fill-color);
    border-top: 6px solid var(--fill-color);
    padding: 6px 18px;
    width: 360px;
    background: $white;
    display: flex;
    overflow: hidden;

    @media (max-width: 720px) {
        width: 100%;
    }
}

.clear-button {
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 18px;
}