// Main Colors
$sky-soft: #F5FDFF;
$sky-lightest: #E1F4FA;
$sky-light: #A0DDEE;
$sky: #009ECC;
$sky-dark: #0086AD;
$sky-darkest: #006B8A;

$grass-soft: #FCFFF5;
$grass-lightest: #EBF3D8;
$grass-light: #C1E288;
$grass: #67A300;
$grass-dark: #528500;
$grass-darkest: #396F1F;

$sun-soft: #FFFCF5;
$sun-lightest: #FFEDC9;
$sun-light: #FFD785;
$sun: #FCAA00;
$sun-dark: #FF9000;
$sun-darkest: #BD5800;

$fire-soft: #FEF6F6;
$fire-lightest: #FDE1E1;
$fire-light: #FBB6B6;
$fire: #FF4242;
$fire-dark: #E22A2A;
$fire-darkest: #AD0000;

// Secondary Colors
$white: #FFFFFF;

$yellow-5: #FFFFF5;
$yellow-10: #FFFFE5;
$yellow-20: #FFFCA4;
$yellow-30: #FDD63B;
$yellow-40: #F9B71D;
$yellow-50: #BC7E02;

$orange-5: #FEF8F4;
$orange-10: #FFE8D7;
$orange-20: #FFCCA7;
$orange-30: #FF8B3E;
$orange-40: #F76B0D;
$orange-50: #BD4B00;

$fuchia-5: #FFF7FB;
$fuchia-10: #F9D8E7;
$fuchia-20: #EDADC8;
$fuchia-30: #EA4386;
$fuchia-40: #D61E68;
$fuchia-50: #AE1955;

$purple-5: #FDF6FE;
$purple-10: #F2CCFA;
$purple-20: #E79DF5;
$purple-30: #B114D1;
$purple-40: #860F9E;
$purple-50: #5E0B6F;

$violet-5: #F8F6FE;
$violet-10: #DBCCFA;
$violet-20: #BB9DF5;
$violet-30: #773CEC;
$violet-40: #5514D6;
$violet-50: #40109E;

$cobalt-5: #F8FAFF;
$cobalt-10: #D9E2FC;
$cobalt-20: #AEC0F5;
$cobalt-30: #0F98FF;
$cobalt-40: #006FE5;
$cobalt-50: #0954A5;

$cyan-5: #F6FEFE;
$cyan-10: #D1FAFA;
$cyan-20: #AAEEEE;
$cyan-30: #14CCCC;
$cyan-40: #0F9E9E;
$cyan-50: #0B6F6F;

$mint-5: #F2FCF5;
$mint-10: #DDF3E4;
$mint-20: #B4DFC4;
$mint-30: #4FC48C;
$mint-40: #2E9E68;
$mint-50: #236E4A;

/* Night scale */
$night50: #FAFAFC;
$night100: #F5F6FA;
$night200: #EBEDF5;
$night300: #E1E3EB;
$night400: #CED0DB;
$night500: #ACAFBF;
$night600: #6C6F80;
$night700: #474A59;
$night800: #303240;
$night900: #1D1E26;

