@use 'sass:math';
@use '../../assets/styles/scss/index'  as *;

.root {
    &.size-12 {
        min-width: 12px;
        padding: 0 2px;

        :global(.uui-caption), :global(.uui-input) {
            line-height: 10px;
            font-size: 10px;
            padding: 1px 3px;
        }

        &:global(.uui-button-box), &:global(.uui-input-box) {
            min-height: 12px;
            border-width: 1px;
        }

        :global(.uui-icon) {
            svg {
                height: 10px;
                max-width: 10px;
            }
        }

        &:global(.fill-transparent) {
            padding-left: 0;
            padding-right: 0;

            :global(.uui-caption) {
                margin-left: 17px;
                padding-right: 0;
                padding-left: 0;
            }

            &::before {
                width: 8px;
                height: 8px;
                top: 2px;
                left: 1px;
            }
        }
    }

    &.style-round {
        &.size-12 { border-radius: 7px; }
        &.size-18 { border-radius: 9px; }
        &.size-24 { border-radius: 12px; }
        &.size-30 { border-radius: 15px; }
        &.size-36 { border-radius: 18px; }
        &.size-42 { border-radius: 21px; }
        &.size-48 { border-radius: 24px; }
    }

    &.style-square {
        border-radius: var(--uui-border-radius);
    }

    &:global(.fill-transparent) {
        --uui-badge-bg: transparent;
        --uui-badge-bg-hover: transparent;
        --uui-badge-border: transparent;
        --uui-badge-border-hover: transparent;
        --uui-badge-caption: var(--uui-text-primary);
        --uui-badge-caption-hover: var(--uui-text-primary);

        &:global(.-clickable) {
            &:hover {
                fill: var(--uui-color-60);
                cursor: pointer;
            }
        }

        &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: var(--uui-color-50);
        }

        &:global(.uui-count_indicator) {
            --uui-count_indicator-bg: transparent;
            --uui-count_indicator-border: transparent;
            --uui-count_indicator-caption: var(--uui-text-primary);
        }
    }
}


