@use '../../assets/styles/scss/index'  as *;

.fill-light {
    color: var(--uui-secondary-darkest);
    box-shadow: none;

    &:global(.-clickable) {
        &:hover {
            color: var(--uui-primary);
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.fill-white {
    fill: var(--gray40);
    border-color: var(--gray40);

    &:global(.-clickable) {
        &:focus {
            box-shadow: none;
        }

        &:hover {
            fill: var(--uui-secondary-hover);
            border-color: var(--uui-color-night400-800);
            background-color: var(--uui-button-bg-halftone);
        }

        &:active {
            border-color: var(--uui-color-night400-800);
            background-color: var(--uui-color-600);
        }
    }
}

.size-24 {
    padding-left: 0;
    padding-right: 0;

    :global(.uui-caption) {
        font-family: var(--font-regular);
        font-size: 14px;
    }

    &:first-of-type {
        margin-right: 6px;
    }

    &:last-of-type {
        margin-left: 6px;
    }
}

.size-30 {
    padding-left: 2px;
    padding-right: 2px;

    :global(.uui-caption) {
        font-family: var(--font-regular);
        font-size: 14px;
    }

    &:first-of-type {
        margin-right: 6px;
    }

    &:last-of-type {
        margin-left: 6px;
    }
}
