@use  '../../assets/styles/index' as *;

.root {
    &:global(.uui-button-box) {
        border-style: solid;
        justify-content: center;
        min-width: inherit;
        border-radius: var(--button-border-radius);
    }

    :global(.uui-caption) {
        @include overflow-ellipsis();
        min-width: 0;
        text-align: center;
        flex: 1 1 auto;
        font-family: var(--font-semibold);
        font-weight: normal;
        user-select: none;
    }
}

@mixin button-disables-styles($bg-color, $border-color) {
    background-color: $bg-color;
    color: var(--button-caption-color-disabled);
    fill: var(--button-caption-color-disabled);
    border-color: $border-color;
}

.mode-solid {
    background-color: var(--button-bg-color);
    color: var(--button-caption-color);
    fill: var(--button-caption-color);
    border-color: var(--button-bg-color);

    &:global(.-clickable) {
        &:hover {
            background-color: var(--button-bg-color-hover);
            border-color: var(--button-bg-color-hover);
        }

        &:focus {
            background-color: var(--button-bg-color-hover);
            border-color: var(--button-bg-color-hover);
            box-shadow: var(--button-focus-shadow);
            outline: var(--button-focus-outline);
        }

        &:active {
            background-color: var(--button-bg-color-active);
            border-color: var(--button-bg-color-active);
        }
    }

    &:global(.uui-disabled) {
        @include button-disables-styles(var(--button-bg-color-disabled), var(--button-border-color-disabled));
    }

    &:global(.-clickable), &:hover, &:active, &:focus {
        &:global(.uui-disabled) {
            @include button-disables-styles(var(--button-bg-color-disabled), var(--button-border-color-disabled));
        }
    }
}

.mode-outline {
    background-color: var(--button-bg-color-halftone);
    color: var(--button-caption-halftone-color);
    fill: var(--button-caption-halftone-color);
    border-color: var(--button-border-color);

    &:global(.-clickable) {
        &:hover, &:focus {
            background-color: var(--button-bg-color-halftone-hover);
            color: var(--button-caption-halftone-color);
            fill: var(--button-caption-halftone-color);
            border-color: var(--button-border-color);
        }

        &:active {
            background-color: var(--button-bg-color-halftone-active);
            color: var(--button-caption-halftone-color);
            fill: var(--button-caption-halftone-color);
            border-color: var(--button-border-color);
        }
    }

    &:global(.uui-disabled) {
        @include button-disables-styles(var(--button-bg-color-halftone), var(--button-border-color-disabled));
    }

    &:global(.-clickable), &:hover, &:active, &:focus {
        &:global(.uui-disabled) {
            @include button-disables-styles(var(--button-bg-color-halftone), var(--button-border-color-disabled));
        }
    }
}

.mode-none {
    background-color: transparent;
    color: var(--button-caption-halftone-color);
    fill: var(--button-caption-halftone-color);
    border-color: var(--button-border-color);

    &:global(.-clickable) {
        &:hover, &:focus {
            background-color: var(--button-bg-color-halftone-hover);
            color: var(--button-caption-halftone-color);
            fill: var(--button-caption-halftone-color);
            border-color: var(--button-border-color);
        }

        &:active {
            background-color: var(--button-bg-color-halftone-active);
            color: var(--button-caption-halftone-color);
            fill: var(--button-caption-halftone-color);
            border-color: var(--button-border-color);
        }
    }

    &:global(.uui-disabled) {
        @include button-disables-styles(transparent, var(--button-border-color-disabled));
    }

    &:global(.-clickable), &:hover, &:active, &:focus {
        &:global(.uui-disabled) {
            @include button-disables-styles(transparent, var(--button-border-color-disabled));
        }
    }
}

.mode-ghost {
    background-color: transparent;
    color: var(--button-caption-halftone-color);
    fill: var(--button-caption-halftone-color);
    border-color: transparent;

    &:global(.-clickable) {
        &:hover, &:focus {
            background-color: var(--button-bg-color-halftone-hover);
            border-color: var(--button-bg-color-halftone-hover);
        }

        &:active {
            background-color: var(--button-bg-color-halftone-active);
            border-color: var(--button-bg-color-halftone-active);
        }
    }


    &:global(.uui-disabled) {
        @include button-disables-styles(transparent, transparent);
    }


    &:global(.-clickable), &:hover, &:active, &:focus {
        &:global(.uui-disabled) {
            @include button-disables-styles(transparent, transparent);
        }
    }
}

//Sizes
.size-24 {
    @include button-layout(24px, 1px);
}

.size-30 {
    @include button-layout(30px, 1px);
}

.size-36 {
    @include button-layout(36px, 1px);
}

.size-42 {
    @include button-layout(42px, 1px);

    :global(.uui-caption) {
        font-family: var(--font-primary);
        text-transform: uppercase;
    }
}

.size-48 {
    @include button-layout(48px, 1px);

    :global(.uui-caption) {
        font-family: var(--font-primary);
        text-transform: uppercase;
    }
}