@use 'text-size' as *;

@mixin control-vertical-layout($size, $borderWidth) {
    :global(.uui-caption), :global(.uui-input) {
        @include text-size($size, $borderWidth);
    }

    &:global(.uui-button-box), &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }
}

$panel-border-radius: 6px;
$control-border-radius: 3px;
