@use '~@epam/promo/assets/styles/colors' as *;
@use '~@epam/promo/assets/styles/fonts' as *;

.presets-panel {
    padding: 15px 24px;
}

.preset-border {
    border-bottom: 3px solid transparent;
}

.active-preset-border {
    border-bottom: 3px solid var(--blue);

    :global(.uui-caption) {
        color: var(--blue);
    }
}