@use '~@epam/promo/assets/styles/colors' as *;
@use '~@epam/promo/assets/styles/fonts' as *;

.presets-panel {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 200px auto minmax(auto, 1fr);
    background-color: $white;
    border-bottom: 1px solid $gray40;

    .presets-title {
        min-width: 192px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    & > *:not(:first-child) {
        margin-left: 0;
    }

    & > *:not(:last-child) {
        margin-right: 0;
    }

    button {
        align-self: center;
    }

    .dynamic-presets-wrapper {
        align-self: stretch;
        overflow-x: auto;
    }

    .add-new-preset,
    .rename-preset {
        margin-left: 6px;
        padding-left: 3px;
        padding-right: 3px;

        :global(.uui-icon-accept),
        :global(.uui-icon-cancel) {
            width: 30px;
            height: 30px;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        :global(.uui-icon-accept) {
            fill: $white;
            background-color: $green;

            &:hover {
                background-color: darken($green, 2%);
            }
        }

        :global(.uui-icon-cancel) {
            background-color: $gray20;
            margin-left: 1px;

            &:hover {
                background-color: darken($gray20, 2%);
            }
        }
    }

    .right-block {
        :global(.uui-caption) {
            white-space: nowrap;
        }
    }

}

.preset-control-group {
    align-self: stretch;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;

    :global(.uui-caption) {
        white-space: nowrap;
    }

    .preset-tab-button {
        align-self: center;
    }

    .preset-dropdown {
        visibility: hidden;
        background-color: transparent;
        border-color: transparent;
    }
}

.preset-dropdown-panel {
    min-width: 150px;
}

.preset-button-wrapper {
    align-self: stretch;
    display: flex;

    .rename-input-cell {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.active-preset-border {
    border-bottom: 3px solid var(--blue);

    .preset-tab-button {

        .preset-dropdown {
            visibility: visible;
            background-color: transparent;
            border-color: transparent;

            &:hover {
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    :global(.uui-has-right-icon) :global(.uui-caption) {
        color: var(--blue);
        padding-right: 5px;
    }

    :global(.uui-icon) :global(.uui-enabled) {
        padding: 0;
    }
}

.delete-row {
    svg {
        fill: $red-darkest;
    }

    .delete-button {
        color: $red-darkest;
    }
}