.mainContainer {
    width: 100%;
    align-self: center;
    max-height: 400px;
    overflow-y: scroll;
    margin: 1em;
    border: 1px solid var(--uui-control-border);
    scrollbar-color: var(--uui-control-border) transparent;
}

.mainContainerWrapper {
    overflow-y: hidden;
}

.mainContainerList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
}

.mainContainerListItem {
    height: 80px;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0.25em 0;
    padding: 0.125em;
    border: 1px solid var(--uui-control-border);
}

.menuContainer {
    .link-caption {
        padding-left: 6px;
        color: var(--uui-neutral-0);
        white-space: nowrap;
    }

    .switcher {
        padding-left: 1.5em;
    }

    @media (max-width: 768px) {
        min-width: 320px;
    }
}
