.root {
    > :nth-child(n) {
        border-radius: 0;
    }

    > :first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    > :last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}