.root {
    display: flex;
    align-items: center;

    &.size-18 { min-height: 18px; }

    &.size-24 { min-height: 24px; }

    &.size-30 { min-height: 30px; }

    &.size-36 { min-height: 36px; }

    &.size-48 { min-height: 48px; }
}