@use '../../assets/styles/scss/index'  as *;

.root {
    width: 100%;

    :global(.uui-label) {
        @include overflow-ellipsis();
        @include typography-inline();
        font-family: $font-sans-semibold;
        font-weight: normal;

        :global(.uui-labeled-input-info-icon) {
            flex-shrink: 0;
            margin: 0 4px;
            fill: $sky;
        }

        :global(.uui-labeled-input-asterisk) {
            color: $fire;
        }

        :global(.uui-labeled-input-optional) {
            font-family: $font-sans-italic;
            font-size: 12px;
            line-height: 18px;
            color: $night600;
        }
    }

    :global(.uui-label-left) {
        > :global(.uui-label) {
            margin-right: 5px;
        }
    }

    :global(.uui-invalid-message) {
        margin-top: 4px;
        margin-bottom: 2px;
        line-height: 12px;
        font-size: 12px;
        color: $fire;
        font-family: $font-sans;
    }

    // Sizes
    &.size-48 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &.size-36 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                margin-bottom: 6px;
            }
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &.size-30 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                padding-bottom: 5px;
                margin-top: 1px;
            }
        }

        :global(.uui-label) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &.size-24 {
        :global(.uui-label-top) {
            > :global(.uui-label) {
                padding-bottom: 4px;
            }
        }

        :global(.uui-label) {
            font-size: 12px;
            line-height: 12px;
        }
    }

    // Colors
    :global(.uui-label) {
        color: var(--uui-color-700);
    }
}
