.root {
    :global(.uui-thumb) {
        border-radius: 3px;
        height: inherit;
    }
}

.theme-dark {
    &:global(.uui-shadow-top)::before {
        background: linear-gradient(to bottom, rgba(44, 47, 60, 0.5) 0%, rgba(44, 47, 60, 0) 100%);
    }

    &:global(.uui-shadow-bottom)::after {
        background: linear-gradient(to top, rgba(44, 47, 60, 0.5) 0%, rgba(44, 47, 60, 0) 100%);
    }

    :global(.uui-thumb) {
        background: rgba(0, 0, 0, 0.2);
    }
}

.theme-light {
    &:global(.uui-shadow-top)::before {
        background: linear-gradient(to bottom, rgba(44, 47, 60, 0.15) 0%, rgba(44, 47, 60, 0) 100%);
    }

    &:global(.uui-shadow-bottom)::after {
        background: linear-gradient(to top, rgba(44, 47, 60, 0.15) 0%, rgba(44, 47, 60, 0) 100%);
    }

    :global(.uui-thumb) {
        background: rgba(0, 0, 0, 0.2);
    }
}
