@use '../../assets/styles/scss/prettifyScrollBar' as *;

.root {
    @include prettifyCustomScroll();

    &.shadow-dark {
        :global(.uui-scroll-shadow-top) {
            height: 5px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            opacity: 0;
            transition: opacity 200ms;
        }
    }

    &.shadow-white {
        :global(.uui-scroll-shadow-top) {
            height: 15px;
            background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;
            transition: opacity 200ms;
        }

        :global(.uui-scroll-shadow-bottom) {
            height: 15px;
            background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
}
