.uui-4px-grid {
    --uui-focus-outline-width: 2px;
    --uui-focus-outline-offset: 2px;
    --uui-focus-radius: 2px;
    --uui-border-radius: 8px;
    --uui-y-inner-padding: calc((var(--uui-size) - var(--uui-line-height) - (var(--uui-border-width) * 2)) / 2);
    --uui-tab-line-width: 3px;
    --uui-notify-size: 6px;

    //.uui-size-18 {
    //    --uui-size: 18px;
    //    --uui-border-width: 1px;
    //    --uui-x-outer-padding: 3px;
    //    --uui-x-inner-padding: 3px;
    //    --uui-icon-size: 12px;
    //    --uui-line-height: 12px;
    //    --uui-font-size: 10px;
    //
    //}
    //
    //.uui-size-24 {
    //    --uui-size: 24px;
    //    --uui-border-width: 1px;
    //    --uui-x-outer-padding: 6px;
    //    --uui-x-inner-padding: 6px;
    //    --uui-icon-size: 12px;
    //    --uui-line-height: 18px;
    //    --uui-font-size: 12px;
    //}
    //
    //.uui-size-30 {
    //    --uui-size: 30px;
    //    --uui-border-width: 1px;
    //    --uui-x-outer-padding: 6px;
    //    --uui-x-inner-padding: 6px;
    //    --uui-icon-size: 18px;
    //    --uui-line-height: 18px;
    //    --uui-font-size: 14px;
    //}
    //
    //.uui-size-36 {
    //    --uui-size: 36px;
    //    --uui-border-width: 1px;
    //    --uui-x-outer-padding: 6px;
    //    --uui-x-inner-padding: 6px;
    //    --uui-icon-size: 18px;
    //    --uui-line-height: 18px;
    //    --uui-font-size: 14px;
    //    --uui-y-inner-padding: calc((var(--uui-size) - var(--uui-line-height) - (var(--uui-border-width) * 2)) / 2);
    //}

    .uui-size-40 {
        --uui-size: 40px;
        --uui-border-width: 1px;
        --uui-x-outer-padding: 20px;
        --uui-x-inner-padding: 4px;
        --uui-icon-size: 20px;
        --uui-line-height: 18px;
        --uui-font-size: 14px;
    }

    .uui-size-48 {
        --uui-size: 48px;
        --uui-border-width: 1px;
        --uui-x-outer-padding: 32px;
        --uui-x-inner-padding: 4px;
        --uui-icon-size: 20px;
        --uui-line-height: 20px;
        --uui-font-size: 16px;
    }

    .uui-size-60 {
        --uui-size: 60px;
        --uui-border-width: 1px;
        --uui-x-outer-padding: 12px;
        --uui-x-inner-padding: 6px;
        --uui-icon-size: 24px;
        --uui-line-height: 24px;
        --uui-font-size: 16px;
    }

    .uui-button {
        --uui-btn-font-weight: 500;

        &.uui-size-48 {
            --uui-btn-border-radius: 12px;
        }

        .uui-caption:first-child {
            padding-left: 0;
        }

        .uui-caption:last-child {
            padding-right: 0;
        }
    }

    .uui-input-box {
        &.uui-size-40 {
            --uui-x-outer-padding: 8px;
            --uui-x-inner-padding: 8px;
        }

        &.uui-size-48 {
            --uui-x-outer-padding: 12px;
            --uui-x-inner-padding: 8px;
        }
    }

    //.uui-tab-button {
    //    &.uui-size-36, &.uui-size-48, &.uui-size-60 {
    //        --uui-x-outer-padding: 9px;
    //        --uui-x-inner-padding: 3px;
    //        --uui-icon-size: 18px;
    //        --uui-line-height: 18px;
    //        --uui-font-size: 14px;
    //    }
    //}
}
