/*  Name convention  */
/* --uui-'component name or group of components name'-'styled part name'-'states(optional)'-'hover/active/focus(optional)' */
.uui-theme-promo {
    --font-regular: 'Sans Regular', Arial, sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: 'Museo Sans', 'Sans Semibold', Arial, sans-serif;
    --font-promo: 'Museo Slab', 'Roboto Slab', Arial, sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';
    --font-light: 'Sans Light', Arial, sans-serif;

    --gray5: #FAFAFC;
    --gray10: #F5F6FA;
    --gray20: #EBEDF5;
    --gray30: #E1E3EB;
    --gray40: #CED0DB;
    --gray50: #ACAFBF;
    --gray60: #6C6F80;
    --gray70: #474A59;
    --gray80: #303240;
    --gray90: #1D1E26;

    --blue-soft: #F5FDFF;
    --blue-lightest: #D6F2FF;
    --blue-light: #99DDFF;
    --blue: #007BBD;
    --blue-dark: #006AA3;
    --blue-darkest: #005685;

    --green-soft: #FCFFF5;
    --green-lightest: #EEFFCC;
    --green-light: #CFF486;
    --green: #65A300;
    --green-dark: #528500;
    --green-darkest: #446600;

    --amber-soft: #FFFCF5;
    --amber-lightest: #FFF2CC;
    --amber-light: #FFE38F;
    --amber: #FFC000;
    --amber-dark: #DB9D00;
    --amber-darkest: #9F6B04;

    --red-soft: #FEF7F6;
    --red-lightest: #FADED9;
    --red-light: #F5B5A8;
    --red: #DB3A1A;
    --red-dark: #C03316;
    --red-darkest: #A02B13;

    --white: #FFFFFF;

    --yellow-0: #FFFFF0;
    --yellow-10: #FFFECC;
    --yellow-20: #FFFCA4;
    --yellow-30: #FDD63B;
    --yellow-40: #F9B71D;
    --yellow-50: #D3910C;

    --orange-0: #FEF8F4;
    --orange-10: #FFE8D7;
    --orange-20: #FFCCA7;
    --orange-30: #FF8B3E;
    --orange-40: #F76B0D;
    --orange-50: #BD4B00;

    --fuchia-0: #FFF7FB;
    --fuchia-10: #F9D8E7;
    --fuchia-20: #EDADC8;
    --fuchia-30: #EA4386;
    --fuchia-40: #D61E68;
    --fuchia-50: #AE1955;

    --purple-0: #FDF6FE;
    --purple-10: #F2CCFA;
    --purple-20: #E79DF5;
    --purple-30: #B114D1;
    --purple-40: #860F9E;
    --purple-50: #5E0B6F;

    --violet-0: #F8F6FE;
    --violet-10: #DBCCFA;
    --violet-20: #BB9DF5;
    --violet-30: #773CEC;
    --violet-40: #5514D6;
    --violet-50: #40109E;

    --cobalt-0: #F8FAFF;
    --cobalt-10: #D9E2FC;
    --cobalt-20: #AEC0F5;
    --cobalt-30: #0F98FF;
    --cobalt-40: #006FE5;
    --cobalt-50: #0954A5;

    --cyan-0: #F5FBFF;
    --cyan-10: #D1FAFA;
    --cyan-20: #AAEEEE;
    --cyan-30: #14CCCC;
    --cyan-40: #0F9E9E;
    --cyan-50: #0B6F6F;

    --mint-0: #F2FCF5;
    --mint-10: #DDF3E4;
    --mint-20: #B4DFC4;
    --mint-30: #4FC48C;
    --mint-40: #2E9E68;
    --mint-50: #236E4A;

    --uui-accent: var(--green);
    --uui-accent-light: var(--green-light);
    --uui-accent-lightest: var(--green-lightest);
    --uui-accent-dark: var(--green-dark);
    --uui-accent-darkest: var(--green-darkest);

    --uui-primary: var(--blue);
    --uui-primary-light: var(--blue-light);
    --uui-primary-lightest: var(--blue-lightest);
    --uui-primary-halftone: var(--blue-lightest);
    --uui-primary-dark: var(--blue-dark);
    --uui-primary-darkest: var(--blue-darkest);

    --uui-secondary: var(--gray60);
    --uui-secondary-light: var(--gray30);
    --uui-secondary-lightest: var(--gray20);
    --uui-secondary-dark: var(--gray70);
    --uui-secondary-darkest: var(--gray80);
    --uui-secondary-hover: var(--gray60);
    --uui-secondary-active: var(--gray70);

    --uui-negative: var(--red);
    --uui-negative-light: var(--red-light);
    --uui-negative-lightest: var(--red-lightest);
    --uui-negative-dark: var(--red-dark);
    --uui-negative-darkest: var(--red-darkest);

    --uui-link: var(--blue);
    --uui-link-hover: var(--blue-dark);
    --uui-link-visited: #5214CC;
    --uui-link-disabled: var(--gray50);
    --uui-visited: #5214CC;

    --uui-info: var(--blue);
    --uui-info-lightest: var(--blue-lightest);
    --uui-info-light: var(--blue-light);
    --uui-info-dark: var(--blue-dark);
    --uui-info-darkest: var(--blue-darkest);
    --uui-info-hover: var(--blue-dark);
    --uui-info-active: var(--blue-darkest);

    --uui-success: var(--green);
    --uui-success-lightest: var(--green-lightest);
    --uui-success-light: var(--green-light);
    --uui-success-dark: var(--green-dark);
    --uui-success-darkest: var(--green-darkest);
    --uui-success-hover: var(--green-dark);
    --uui-success-active: var(--green-darkest);

    --uui-warning: var(--amber);
    --uui-warning-lightest: var(--amber-lightest);
    --uui-warning-light: var(--amber-light);
    --uui-warning-dark: var(--amber-dark);
    --uui-warning-darkest: var(--amber-darkest);
    --uui-warning-hover: var(--amber-dark);
    --uui-warning-active: var(--amber-darkest);

    --uui-error: var(--red);
    --uui-error-lightest: var(--red-lightest);
    --uui-error-light: var(--red-light);
    --uui-error-dark: var(--red-dark);
    --uui-error-darkest: var(--red-darkest);
    --uui-error-hover: var(--red-dark);
    --uui-error-active: var(--red-darkest);

    --uui-icon: var(--gray60);
    --uui-icon-hover: var(--gray70);
    --uui-icon-active: var(--gray80);
    --uui-icon-disabled: var(--gray50);

    --uui-surface: var(--white);
    --uui-surface-hover: var(--gray30);
    --uui-surface-inverted: var(--gray90);
    /* new start */
    --uui-surface-light: var(--gray5);
    --uui-surface-light-hover: var(--gray10);
    --uui-surface-contrast: var(--gray80);
    --uui-surface-contrast-hover: var(--gray90);
    --uui-surface-contrast-active: var(--gray90);
    /* new end */

    --uui-background: var(--gray10);
    --uui-divider: var(--gray40);
    --uui-divider-light: var(--gray30);
    --uui-contrast: var(--white);
    --uui-disabled: var(--gray30);

    --uui-scroll-bars-bg: var(--gray40);
    --uui-scroll-bars-bg-active: var(--gray60);

    --uui-button-bg-halftone: var(--white);
    --uui-button-caption-disabled: var(--gray50);

    --uui-text-info: var(--uui-info);
    --uui-text-warning: var(--uui-warning);
    --uui-text-error: var(--uui-error);
    --uui-text-success: var(--uui-success);
    --uui-text-brand: var(--gray90);
    --uui-text-primary: var(--gray80);
    --uui-text-secondary: var(--gray60);
    --uui-text-disabled: var(--gray50);
    --uui-text-contrast: var(--gray5);
    --uui-text-white: var(--white);

    --uui-control-bg: var(--white);
    --uui-control-bg-checked: var(--uui-primary);
    --uui-control-bg-checked-hover: var(--uui-primary-dark);
    --uui-control-bg-checked-disabled: var(--uui-primary-light);
    --uui-control-bg-hover: var(--gray60);
    --uui-control-bg-disabled: var(--gray5);
    --uui-control-bg-readonly: var(--gray5);
    --uui-control_switch-bg: var(--gray40);
    --uui-control_switch_toggler-bg: var(--white);

    --uui-control-border-checked-disabled: var(--uui-primary-light);
    --uui-control-border: var(--gray40);
    --uui-control-border-checked: var(--uui-primary);
    --uui-control-border-checked-hover: var(--uui-primary-dark);
    --uui-control-border-hover: var(--uui-primary-dark);
    --uui-control-border-disabled: var(--uui-disabled);
    --uui-control-border-readonly: var(--uui-disabled);

    --uui-control_switch-border-hover: var(--gray60);
    --uui-control_textinput-border-hover: var(--gray60);

    --uui-control-label: var(--uui-text-primary);
    --uui-control-label-disabled: var(--uui-text-disabled);
    --uui-control-label-error: var(--uui-error);
    --uui-control-label-fill: var(--uui-icon);
    --uui-control-label-optional-text: var(--uui-text-secondary);
    --uui-control-label-asterisk: var(--uui-error);

    --uui-control-placeholder: var(--uui-text-secondary);
    --uui-control-placeholder-disabled: var(--uui-text-disabled);

    --uui-control-text: var(--uui-text-primary);
    --uui-control-text-disabled: var(--uui-text-disabled);

    --uui-control-icon: var(--gray50);
    --uui-control-icon-disabled: var(--gray50);

    --uui-control-checkbox-icon: var(--white);

    --uui-tag-bg: var(--gray30);
    --uui-tag-bg-hover: var(--gray40);

    --uui-skeleton: var(--gray40);
    --uui-skeleton-gradient: linear-gradient(90deg, var(--gray40) 0%, var(--gray10) 50%, var(--gray40) 100%);

    --uui-overlay: rgba(29, 30, 38, 0.8);
    --uui-border-radius: 0;
    --uui-shadow-level-1: 0 0 3px rgba(29, 30, 38, 0.15), 0 3px 6px rgba(29, 30, 38, 0.1);
    --uui-shadow-level-2: 0 6px 12px rgba(29, 30, 38, 0.1), 0 3px 12px rgba(29, 30, 38, 0.1), 0 0 6px rgba(29, 30, 38, 0.05);
    --uui-shadow-level-3: 0 0 10px rgba(29, 30, 38, 0.05), 0 6px 24px rgba(29, 30, 38, 0.12), 0 9px 15px rgba(29, 30, 38, 0.1);

    /* core variables end */

    /* find below the not core variables that are used and highlight them in the code */

    /*  TextInput vars  */
    --uui-text-input-bg: var(--uui-control-bg);
    --uui-text-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-text-input-bg-readonly: var(--uui-control-bg-readonly);
    --uui-text-input-border: var(--uui-control-border);
    --uui-text-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-text-input-border-active: var(--uui-control-border-checked);
    --uui-text-input-border-error: var(--uui-negative);
    --uui-text-input-border-disabled: var(--uui-control-border-disabled);
    --uui-text-input-border-readonly: var(--uui-control-border-readonly);
    --uui-text-input-placeholder: var(--uui-control-placeholder);
    --uui-text-input-placeholder-disabled: var(--uui-control-placeholder-disabled);
    --uui-text-input-text: var(--uui-control-text);
    --uui-text-input-text-disabled: var(--uui-control-text-disabled);
    --uui-text-input-icon: var(--uui-control-icon);
    --uui-text-input-icon-disabled: var(--uui-control-icon-disabled);
    --uui-text-input-icon-clickable: var(--uui-icon);
    --uui-text-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-text-input-border-radius: var(--uui-border-radius);

    --uui-text-input-font: var(--font-regular);

    /*  Button vars */
    --uui-btn-border-radius: var(--uui-border-radius);

    --uui-btn-font: var(--font-semibold);

    /*  LinkButton vars   */
    --uui-link-button-font: var(--font-semibold);

    /*  DatePicker vars   */
    --uui-dtp-title-bg: var(--uui-control-bg);
    --uui-dtp-title-bg-hover: var(--uui-primary-halftone);
    --uui-dtp-text-selected: var(--uui-control-border-checked);
    --uui-dtp-text: var(--uui-control-text);
    --uui-dtp-next-prev-icon: var(--uui-icon);
    --uui-dtp-next-prev-icon-bg-hover: var(--uui-secondary-lightest);

    --uui-dtp_header-font: var(--font-semibold);
    --uui-dtp_body-content-font: var(--font-regular);

    /*  RangeDatePicker vars   */
    --uui-rdtp-bg: var(--uui-control-bg);
    --uui-rdtp-bg-selected-date: var(--uui-primary-lightest);

    /*  Calendar vars   */
    --uui-calendar-selected-hover: var(--uui-control-bg);
    --uui-calendar-start-end-selected-hover: var(--uui-primary-dark);
    --uui-calendar-start-end-selected: var(--uui-control-border-checked);
    --uui-calendar-weekends-weekdates: var(--uui-control-placeholder);
    --uui-calendar-text: var(--uui-control-text);
    --uui-calendar-text-filtered: var(--uui-control-text-disabled);
    --uui-calendar-bg-selected: var(--uui-secondary);

    --uui-calendar-content-font: var(--font-regular);
    --uui-calendar-weekday-font: var(--font-regular);
    --uui-calendar-selected_day-font: var(--font-semibold);

    /*  tab-button-vars     */
    --uui-tab-button-text: var(--uui-text-primary);
    --uui-tab-button-text-hover: var(--uui-primary);
    --uui-tab-button-text-active: var(--uui-primary);
    --uui-tab-button-text-disabled: var(--uui-text-disabled);
    --uui-tab-button-font: var(--font-semibold);

    /*  radio-input-vars    */
    --uui-radio-input-bg: var(--uui-control-bg);
    --uui-radio-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-radio-input-border: var(--uui-control-border);
    --uui-radio-input-border-checked: var(--uui-control-border-checked);
    --uui-radio-input-border-hover: var(--uui-control-border-hover);
    --uui-radio-input-border-disabled: var(--uui-control-border-disabled);
    --uui-radio-input-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-radio-input-label: var(--uui-control-label);
    --uui-radio-input-label-disabled: var(--uui-control-label-disabled);
    --uui-radio-input-fill-checked: var(--uui-control-border-checked);
    --uui-radio-input-fill-hover: var(--uui-control-border-hover);
    --uui-radio-input-fill-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-radio-input-error: var(--uui-negative);

    --uui-radio-input-font: var(--font-regular);

    /*  Checkbox vars   */
    --uui-checkbox-border: var(--uui-control-border);
    --uui-checkbox-border-hover: var(--uui-control-border-hover);
    --uui-checkbox-border-disabled: var(--uui-control-border-disabled);
    --uui-checkbox-border-checked: var(--uui-control-border-checked);
    --uui-checkbox-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-checkbox-bg: var(--uui-control-bg);
    --uui-checkbox-bg-checked: var(--uui-control-bg-checked);
    --uui-checkbox-bg-disabled: var(--uui-control-bg-disabled);
    --uui-checkbox-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-checkbox-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-checkbox-error: var(--uui-negative);
    --uui-checkbox-fill: var(--uui-control-checkbox-icon);
    --uui-checkbox-label: var(--uui-control-label);
    --uui-checkbox-label-disabled: var(--uui-control-label-disabled);
    --uui-checkbox-border-radius: var(--uui-border-radius);

    --uui-checkbox-font: var(--font-regular);

    /* Tag vars */
    --uui-tag-caption: var(--uui-text-primary);
    --uui-tag-fill: var(--uui-icon);
    --uui-tag-fill-hover: var(--uui-icon-hover);
    --uui-tag-count-bg: var(--uui-surface);
    --uui-tag-count: var(--uui-text-secondary);
    --uui-tag-label: var(--uui-text-secondary);
    --uui-tag-border-radius: var(--uui-border-radius);

    --uui-tag-font: var(--font-regular);
    --uui-tag-count-font: var(--font-semibold);

    /*  TextArea vars  */
    --uui-text-area-bg: var(--uui-control-bg);
    --uui-text-area-bg-disabled: var(--uui-control-bg-disabled);
    --uui-text-area-border: var(--uui-control-border);
    --uui-text-area-border-disabled: var(--uui-control-border-disabled);
    --uui-text-area-border-hover: var(--uui-control_textinput-border-hover);
    --uui-text-area-border-active: var(--uui-control-border-checked);
    --uui-text-area-border-error: var(--uui-negative);
    --uui-text-area-placeholder: var(--uui-control-placeholder);
    --uui-text-area-text: var(--uui-control-text);
    --uui-text-area-text-disabled: var(--uui-control-text-disabled);
    --uui-text-area-icon: var(--uui-icon);
    --uui-text-area-border-radius: var(--uui-border-radius);

    --uui-text-area-font: var(--font-regular);
    --uui-text-area-counter-font: var(--font-regular);

    /* DropMarker vars */
    --uui-drop-marker: var(--uui-primary);
    --uui-drop-marker-blocked: var(--uui-error);

    /* Tooltip vars */
    --uui-tooltip-shadow: var(--uui-shadow-level-2, 0 3px 6px 0 rgba(29, 30, 38, 0.1), 0 0 3px 0 rgba(29, 30, 38, 0.15)); /* WebStorm Bag Report https://youtrack.jetbrains.com/issue/WEB-54442 */
    --uui-tooltip-arrow-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    --uui-tooltip-border-radius: var(--uui-border-radius);

    --uui-tooltip-font: var(--font-regular);

    /* PickerInput vars */
    --uui-picker_input-bg: var(--uui-surface);

    /* PickerToggler vars */
    --uui-picker-toggler-bg: var(--uui-control-bg);
    --uui-picker-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-picker-toggler-border: var(--uui-control-border);
    --uui-picker-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-picker-toggler-border-hover: var(--uui-control_textinput-border-hover);
    --uui-picker-toggler-border-active: var(--uui-control-border-checked);
    --uui-picker-toggler-border-error: var(--uui-negative);
    --uui-picker-toggler-placeholder: var(--uui-control-placeholder);
    --uui-picker-toggler-text: var(--uui-control-text);
    --uui-picker-toggler-text-disabled: var(--uui-control-text-disabled);
    --uui-picker-toggler-icon: var(--uui-control-icon);
    --uui-picker-toggler-icon-disabled: var(--uui-control-icon-disabled);
    --uui-picker-toggler-icon-clickable: var(--uui-icon);
    --uui-picker-toggler-icon-clickable-hover: var(--uui-icon-hover);
    --uui-picker-toggler-border-radius: var(--uui-border-radius);

    --uui-picker-toggler-font: var(--font-regular);

    /* Panel */
    --uui-panel-border-radius: var(--uui-border-radius);
    --uui-panel-shadow: var(--uui-shadow-level-1);

    /* Modals */
    --uui-modals-border-radius: var(--uui-border-radius);
    --uui-modals-overlay: rgba(29, 30, 38, 0.8);
    --uui-modals-shadow: var(--uui-shadow-level-3);
    --uui-modals-bg: var(--uui-surface);

    /*    TextPlaceholder   */
    --uui-text-placeholder-gradient: var(--uui-skeleton-gradient);
    --uui-text-placeholder: var(--uui-skeleton);

    /* LabeledInput */
    --uui-labeled-input: var(--uui-text-primary);
    --uui-labeled-input-disabled: var(--uui-text-disabled);
    --uui-labeled-input-error: var(--uui-error);
    --uui-labeled-input-fill: var(--uui-icon);
    --uui-labeled-input-info-fill: var(--uui-icon);
    --uui-labeled-input-optional-text: var(--uui-text-secondary);
    --uui-labeled-input-asterisk: var(--uui-error);

    --uui-labeled-input-font: var(--font-semibold);
    --uui-labeled-input-optional-font: var(--font-italic);
    --uui-labeled-input-invalid-msg-font: var(--font-regular);

    /* Accordion */
    --uui-accordion-bg: var(--uui-surface);
    --uui-accordion-border: var(--uui-divider);
    --uui-accordion-border-radius: 0;
    --uui-accordion-text: var(--uui-text-primary);
    --uui-accordion-text-disabled: var(--uui-text-disabled);
    --uui-accordion-icon: var(--uui-icon);
    --uui-accordion-icon-disabled: var(--uui-text-input-icon-disabled);
    --uui-accordion-focus: var(--uui-primary);
    --uui-accordion-shadow: var(--uui-shadow-level-1);
    --uui-accordion-shadow-hovered: var(--uui-shadow-level-2);

    --uui-accordion-toggler-font: var(--font-semibold);
    --uui-accordion-body-font: var(--font-regular);

    /* Switch */
    --uui-switch-bg: var(--uui-control_switch-bg);
    --uui-switch-border-hover: var(--uui-control_switch-border-hover);
    --uui-switch-bg-checked: var(--uui-control-bg-checked);
    --uui-switch-bg-hover: var(--uui-control-bg-hover);
    --uui-switch-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-switch-border: var(--uui-control-border);
    --uui-switch-border-checked: var(--uui-control-border-checked);
    --uui-switch-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-border-checked-hover: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-hover-copy: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-switch-label: var(--uui-control-label);
    --uui-switch-label-disabled: var(--uui-control-label-disabled);
    --uui-switch-toggler-bg: var(--uui-control_switch_toggler-bg);
    --uui-switch-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-toggler-border-checked: var(--uui-control-bg-checked);
    --uui-switch-toggler-border-hover: var(--uui-control-bg-hover);
    --uui-switch-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-toggler-border-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-toggler-border-checked-disabled: var(--uui-control-bg-checked-disabled);

    --uui-switch-font: var(--font-regular);

    /* DropdownContainer */
    --uui-dropdown-container-border-radius: 0;
    --uui-dropdown-container-shadow: var(--uui-shadow-level-2);
    --uui-dropdown-container-bg: var(--uui-surface);

    /* DropdownMenu */
    // TODO: update tokens
    --uui-dropdown-menu-bg: var(--uui-surface);
    --uui-dropdown-menu-shadow: var(--uui-shadow-level-2);
    --uui-dropdown-menu-splitter: var(--uui-divider);
    --uui-dropdown-menu-item-hover: var(--uui-surface-hover);
    --uui-dropdown-menu-item-active: var(--uui-surface-hover);
    --uui-dropdown-menu-item-text: var(--uui-text-primary);

    --uui-dropdown-menu-body-font: var(--font-regular);
    --uui-dropdown-menu-item-font: var(--font-regular);

    /* MainMenu */
    --uui-main_menu-text: var(--uui-text-contrast);
    --uui-main_menu-text-active: var(--uui-text-contrast);
    --uui-main_menu-bg: var(--uui-surface-contrast);
    --uui-main_menu-hover: var(--uui-surface-contrast-hover);
    --uui-main_menu-active: var(--uui-surface-contrast-active);
    --uui-main_menu-border-active: var(--uui-primary);

    --uui-main_menu-dropdown-bg: var(--uui-surface-inverted);
    --uui-main_menu-dropdown-hover: var(--uui-primary);
    --uui-main_menu-dropdown-shadow: none;
    --uui-main_menu-dropdown-border-radius: none;

    --uui-main_menu-search-bg: var(--uui-secondary-darkest);
    --uui-main_menu-search-border: var(--uui-secondary-darkest);
    --uui-main_menu-search-placeholder: var(--uui-text-disabled);
    --uui-main_menu-search-text: var(--uui-contrast);
    --uui-main_menu-search-icon: var(--uui-icon-disabled);

    --uui-main_menu-icon: var(--uui-text-contrast);
    --uui-main_menu-icon-hover: var(--uui-text-contrast);
    --uui-main_menu-icon-active: var(--uui-text-contrast);

    --uui-main_menu-font: var(--font-semibold);
    --uui-main_menu-search-font: var(--font-regular);

    /* BurgerMenu */
    --uui-burger_menu-bg: var(--uui-surface-inverted);
    --uui-burger_menu-bg-hover: var(--uui-primary-dark);
    --uui-burger_menu-caption: var(--uui-text-contrast);
    --uui-burger_menu-caption-hover: var(--uui-primary);
    --uui-burger_menu-overlay: var(--uui-overlay);
    --uui-burger_icon: var(--uui-text-contrast);
    --uui-burger_item: var(--uui-text-brand);

    /* BurgerGroupHeader */
    --uui-burger_group-text: var(--uui-text-disabled);
    --uui-burger_group-bg: var(--uui-surface-contrast);
    --uui-burger_group-line: var(--uui-text-secondary);

    --uui-burger_group-font: var(--font-regular);

    /* BurgerButton */
    --uui-burger_btn_caption: var(--uui-text-contrast);
    --uui-burger_btn_caption-hover: var(--uui-primary);
    --uui-burger_btn_caption-active: var(--uui-primary);
    --uui-burger_btn-border: var(--uui-disabled);

    --uui-burger_btn-font: var(--font-regular);

    /* BurgerSearch */
    --uui-burger_search: var(--uui-text-contrast);
    --uui-burger_search-fill: var(--uui-text-disabled);
    --uui-burger_search-bg: var(--uui-surface-contrast);
    --uui-burger_search-placeholder: var(--uui-text-disabled);

    --uui-burger_search-font: var(--font-regular);

    /* NumericInput */
    --uui-numeric-input-bg: var(--uui-control-bg);
    --uui-numeric-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-numeric-input-border: var(--uui-control-border);
    --uui-numeric-input-border-disabled: var(--uui-control-border-disabled);
    --uui-numeric-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-numeric-input-border-active: var(--uui-control-border-checked);
    --uui-numeric-input-border-error: var(--uui-negative);
    --uui-numeric-input-placeholder: var(--uui-control-placeholder);
    --uui-numeric-input-text: var(--uui-control-text);
    --uui-numeric-input-text-disabled: var(--uui-control-text-disabled);
    --uui-numeric-input-icon-clickable: var(--uui-icon);
    --uui-numeric-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-numeric-input-border-radius: var(--uui-border-radius);

    /* TimePicker */
    --uui-time-picker-bg: var(--uui-control-bg);
    --uui-time-picker-bg-disabled: var(--uui-control-bg-disabled);
    --uui-time-picker-border: var(--uui-control-border);
    --uui-time-picker-border-disabled: var(--uui-control-border-disabled);
    --uui-time-picker-border-hover: var(--uui-control_textinput-border-hover);
    --uui-time-picker-border-active: var(--uui-control-border-checked);
    --uui-time-picker-border-error: var(--uui-negative);
    --uui-time-picker-placeholder: var(--uui-control-placeholder);
    --uui-time-picker-text: var(--uui-control-text);
    --uui-time-picker-text-disabled: var(--uui-control-text-disabled);
    --uui-time-picker-icon-clickable: var(--uui-icon);
    --uui-time-picker-icon-clickable-hover: var(--uui-icon-hover);
    --uui-time-picker-border-radius: var(--uui-border-radius);

    /* SearchPicker */
    --uui-search-input-bg: var(--uui-control-bg);
    --uui-search-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-search-input-border: var(--uui-control-border);
    --uui-search-input-border-disabled: var(--uui-control-border-disabled);
    --uui-search-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-search-input-border-active: var(--uui-control-border-checked);
    --uui-search-input-border-error: var(--uui-negative);
    --uui-search-input-placeholder: var(--uui-control-placeholder);
    --uui-search-input-text: var(--uui-control-text);
    --uui-search-input-text-disabled: var(--uui-control-text-disabled);
    --uui-search-input-icon-clickable: var(--uui-icon);
    --uui-search-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-search-input-icon-disabled: var(--uui-icon-disabled);
    --uui-search-input-border-radius: var(--uui-border-radius);

    /* Popover */
    --uui-popover-shadow: var(--uui-shadow-level-2);

    /* Footer */
    --uui-footer-bg: var(--uui-surface-contrast);

    /* FilterPanelItemToggler vars */
    --uui-filters-toggler-border: var(--uui-text-input-border);
    --uui-filters-toggler-border-hover: var(--uui-text-input-border-hover);
    --uui-filters-toggler-border-radius: var(--uui-border-radius);
    --uui-filters-toggler-bg: var(--uui-surface);
    --uui-filters-toggler-bg-hover: var(--uui-surface-light-hover);
    --uui-filters-toggler-text: var(--uui-text-brand);
    --uui-filters-toggler-label: var(--uui-text-secondary);
    --uui-filters-toggler-icon: var(--uui-text-input-icon-clickable);

    --uui-filters-toggler-font: var(--font-regular);
    --uui-filters-panel-header-font: var(--font-regular);

    /* NotificationCard */
    --uui-notification-card-border-radius: var(--uui-border-radius);
    --uui-notification-card-border-width: 1px;
    --uui-notification-card-border-top-width: 6px;
    --uui-notification-card-shadow: unset;

    /* Alert */
    --uui-alert-border-radius: var(--uui-border-radius);

    /* Panel */

    --uui-panel-bg: var(--uui-surface);

    /* Spinner */
    --uui-spinner: var(--uui-primary);

    /* Blocker */
    --uui-blocker-bg: var(--uui-background);
    --uui-blocker-bg-with-opacity: #F5F6FA80;

    /* FlexRow */
    --uui-flex-row-border-bottom: 1px solid var(--uui-divider);

    /* DataTable vars */
    --uui-dt-border: var(--uui-divider-light);

    --uui-dt-cell-bg: transparent;
    --uui-dt-cell-bg-resize: #EF55331F;
    --uui-dt-cell-bg-invalid: var(--uui-negative-lightest);
    --uui-dt-cell-border-hover: var(--uui-control_textinput-border-hover);
    --uui-dt-cell-border-focus: var(--uui-control-border-checked);

    --uui-dt-row-bg: var(--uui-surface);
    --uui-dt-row-bg-hover: var(--uui-surface-light-hover);
    --uui-dt-row-bg-invalid: #FEF7F6;
    --uui-dt-row-bg-selected: #EBF7FF;

    --uui-dt-header-row-bg: var(--uui-surface-light);
    --uui-dt-header-row-bg-hover: var(--uui-surface-hover);

    --uui-dt-top-shadow: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    --uui-dt-left-shadow: linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    --uui-dt-right-shadow: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    --uui-dt_header-drop_marker: var(--uui-primary);

    --uui-dt-header-cell-font: var(--font-semibold);

    /* AvatarStack */

    --uui-avatar-stack-font: var(--font-semibold);

    /* Badge */

    --uui-badge-font: var(--font-regular);
    --uui-badge-count-font: var(--font-semibold);

    /* Pagination */

    --uui-pagination-font: var(--font-regular);


    /* ------------------------------------ */

    .tooltip-contrast,
    .tooltip-gray {
        --uui-tooltip-bg: var(--uui-surface-contrast);
        --uui-tooltip-text: var(--uui-contrast);
    }

    .tooltip-default,
    .tooltip-white {
        --uui-tooltip-bg: var(--uui-surface);
        --uui-tooltip-text: var(--uui-text-primary);
    }

    .tooltip-critical,
    .tooltip-red {
        --uui-tooltip-bg: var(--uui-error-dark);
        --uui-tooltip-text: var(--uui-contrast);
    }

    .badge-cyan {
        --uui-badge-bg: var(--cyan-30);
        --uui-badge-bg-hover: var(--cyan-40);
        --uui-badge-caption-solid: var(--white);
        --uui-badge-caption-halftone: var(--cyan-50);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--cyan-10);
        --uui-badge-bg-halftone-hover: var(--cyan-20);
        --uui-badge-border-halftone: var(--cyan-20);
        --uui-badge-border-halftone-hover: var(--cyan-30);
    }

    .badge-violet {
        --uui-badge-bg: var(--violet-30);
        --uui-badge-bg-hover: var(--violet-40);
        --uui-badge-caption-solid: var(--white);
        --uui-badge-caption-halftone: var(--violet-50);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--violet-10);
        --uui-badge-bg-halftone-hover: var(--violet-20);
        --uui-badge-border-halftone: var(--violet-20);
        --uui-badge-border-halftone-hover: var(--violet-30);
    }

    .badge-orange {
        --uui-badge-bg: var(--orange-30);
        --uui-badge-bg-hover: var(--orange-40);
        --uui-badge-caption-solid: var(--white);
        --uui-badge-caption-halftone: var(--orange-50);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--orange-10);
        --uui-badge-bg-halftone-hover: var(--orange-20);
        --uui-badge-border-halftone: var(--orange-20);
        --uui-badge-border-halftone-hover: var(--orange-30);
    }

    .badge-purple {
        --uui-badge-bg: var(--purple-30);
        --uui-badge-bg-hover: var(--purple-40);
        --uui-badge-caption-solid: var(--white);
        --uui-badge-caption-halftone: var(--purple-50);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--purple-10);
        --uui-badge-bg-halftone-hover: var(--purple-20);
        --uui-badge-border-halftone: var(--purple-20);
        --uui-badge-border-halftone-hover: var(--purple-30);
    }

    .badge-default, .badge-gray30 {
        --uui-badge-bg: var(--gray30);
        --uui-badge-bg-hover: var(--gray40);
        --uui-badge-caption-solid: var(--uui-text-primary);
        --uui-badge-caption-halftone: var(--uui-text-primary);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--gray20);
        --uui-badge-bg-halftone-hover: var(--gray30);
        --uui-badge-border-halftone: var(--gray40);
        --uui-badge-border-halftone-hover: var(--gray50);
    }

    .badge-info, .badge-blue {
        --uui-badge-bg: var(--uui-info);
        --uui-badge-bg-hover: var(--uui-info-dark);
        --uui-badge-caption-solid: var(--uui-contrast);
        --uui-badge-caption-halftone: var(--uui-info-darkest);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-info-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-info-light);
        --uui-badge-border-halftone: var(--uui-info-light);
        --uui-badge-border-halftone-hover: var(--uui-info);
    }

    .badge-success, .badge-green {
        --uui-badge-bg: var(--uui-success);
        --uui-badge-bg-hover: var(--uui-success-dark);
        --uui-badge-caption-solid: var(--uui-contrast);
        --uui-badge-caption-halftone: var(--uui-success-darkest);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-success-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-success-light);
        --uui-badge-border-halftone: var(--uui-success-light);
        --uui-badge-border-halftone-hover: var(--uui-success);
    }

    .badge-warning, .badge-amber {
        --uui-badge-bg: var(--uui-warning);
        --uui-badge-bg-hover: var(--uui-warning-dark);
        --uui-badge-caption-solid: var(--uui-text-primary);
        --uui-badge-caption-halftone: var(--uui-warning-darkest);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-warning-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-warning-light);
        --uui-badge-border-halftone: var(--uui-warning-light);
        --uui-badge-border-halftone-hover: var(--uui-warning);
    }

    .badge-error, .badge-red {
        --uui-badge-bg: var(--uui-error);
        --uui-badge-bg-hover: var(--uui-error-dark);
        --uui-badge-caption-solid: var(--uui-contrast);
        --uui-badge-caption-halftone: var(--uui-error-darkest);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-error-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-error-light);
        --uui-badge-border-halftone: var(--uui-error-light);
        --uui-badge-border-halftone-hover: var(--uui-error);
    }

    .button-blue, .button-primary {
        --uui-btn-bg: var(--uui-primary);
        --uui-btn-bg-hover: var(--uui-primary-dark);
        --uui-btn-bg-active: var(--uui-primary-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-primary-lightest);
        --uui-btn-bg-halftone-active: var(--uui-primary-light);
        --uui-btn-border: var(--uui-primary);
        --uui-btn-border-hover: var(--uui-primary-dark);
        --uui-btn-border-active: var(--uui-primary-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-primary);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    .button-green, .button-accent {
        --uui-btn-bg: var(--uui-accent);
        --uui-btn-bg-hover: var(--uui-accent-dark);
        --uui-btn-bg-active: var(--uui-accent-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-accent-lightest);
        --uui-btn-bg-halftone-active: var(--uui-accent-light);
        --uui-btn-border: var(--uui-accent);
        --uui-btn-border-hover: var(--uui-accent-dark);
        --uui-btn-border-active: var(--uui-accent-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-accent);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    .button-red, .button-negative {
        --uui-btn-bg: var(--uui-negative);
        --uui-btn-bg-hover: var(--uui-negative-dark);
        --uui-btn-bg-active: var(--uui-negative-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-negative-lightest);
        --uui-btn-bg-halftone-active: var(--uui-negative-light);
        --uui-btn-border: var(--uui-negative);
        --uui-btn-border-hover: var(--uui-negative-dark);
        --uui-btn-border-active: var(--uui-negative-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-negative);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    .button-gray50,
    .button-gray,
    .button-secondary {
        --uui-btn-bg: var(--uui-secondary);
        --uui-btn-bg-hover: var(--uui-secondary-dark);
        --uui-btn-bg-active: var(--uui-secondary-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
        --uui-btn-bg-halftone-active: var(--uui-secondary-light);
        --uui-btn-border: var(--uui-secondary);
        --uui-btn-border-hover: var(--uui-secondary-dark);
        --uui-btn-border-active: var(--uui-secondary-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-secondary-dark);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    .link-button-primary,
    .link-button-blue {
        --uui-link-button-text: var(--blue);
        --uui-link-button-text-hover: var(--blue-dark);
        --uui-link-button-text-active: var(--blue-darkest);
        --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    }

    .link-button-secondary,
    .link-button-gray60 {
        --uui-link-button-text: var(--gray60);
        --uui-link-button-text-hover: var(--gray70);
        --uui-link-button-text-active: var(--gray80);
        --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    }

    .link-button-contrast,
    .link-button-gray10 {
        --uui-link-button-text: var(--gray10);
        --uui-link-button-text-hover: var(--gray20);
        --uui-link-button-text-active: var(--gray30);
        --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    }

    .link-button-green {
        --uui-link-button-text: var(--green);
        --uui-link-button-text-hover: var(--green-dark);
        --uui-link-button-text-active: var(--green-darkest);
        --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    }

    .link-button-amber {
        --uui-link-button-text: var(--amber);
        --uui-link-button-text-hover: var(--amber-dark);
        --uui-link-button-text-active: var(--amber-darkest);
        --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    }

    .link-button-red {
        --uui-link-button-text: var(--red);
        --uui-link-button-text-hover: var(--red-dark);
        --uui-link-button-text-active: var(--red-darkest);
        --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    }

    .icon-button-blue,
    .icon-button-info {
        --uui-icon-btn: var(--uui-info);
        --uui-icon-btn-hover: var(--uui-info-dark);
        --uui-icon-btn-active: var(--uui-info-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    .icon-button-green,
    .icon-button-success {
        --uui-icon-btn: var(--uui-success);
        --uui-icon-btn-hover: var(--uui-success-dark);
        --uui-icon-btn-active: var(--uui-success-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    .icon-button-amber,
    .icon-button-warning {
        --uui-icon-btn: var(--uui-warning);
        --uui-icon-btn-hover: var(--uui-warning-dark);
        --uui-icon-btn-active: var(--uui-warning-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    .icon-button-red,
    .icon-button-error {
        --uui-icon-btn: var(--uui-error);
        --uui-icon-btn-hover: var(--uui-error-dark);
        --uui-icon-btn-active: var(--uui-error-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    .icon-button-gray30 {
        --uui-icon-btn: var(--uui-secondary-light);
        --uui-icon-btn-hover: var(--uui-button-bg-halftone);
        --uui-icon-btn-active: var(--uui-text-contrast);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);;
    }

    .icon-button-gray50 {
        --uui-icon-btn: var(--gray50);
        --uui-icon-btn-hover: var(--gray60);
        --uui-icon-btn-active: var(--gray70);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    .icon-button-gray60,
    .icon-button-default,
    .icon-button-secondary {
        --uui-icon-btn: var(--uui-secondary);
        --uui-icon-btn-hover: var(--uui-secondary-dark);
        --uui-icon-btn-active: var(--uui-secondary-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    .notification-card-amber,
    .notification-card-warning {
        --uui-notification-card-fill: var(--uui-warning);
        --uui-notification-card-border: var(--uui-warning);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-success ,
    .notification-card-green {
        --uui-notification-card-fill: var(--uui-success);
        --uui-notification-card-border: var(--uui-success);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-info,
    .notification-card-blue {
        --uui-notification-card-fill: var(--uui-info);
        --uui-notification-card-border: var(--uui-info);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-error,
    .notification-card-red {
        --uui-notification-card-fill: var(--uui-error);
        --uui-notification-card-border: var(--uui-error);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-gray60 {
        --uui-notification-card-fill: var(--uui-secondary-dark);
        --uui-notification-card-border: var(--uui-secondary-dark);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .alert-error,
    .alert-red {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-error-lightest);
        --uui-alert-border: var(--uui-negative);
        --uui-alert-icon: var(--uui-negative);
    }

    .alert-warning,
    .alert-amber {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-warning-lightest);
        --uui-alert-border: var(--amber);
        --uui-alert-icon: var(--amber);
    }

    .alert-success,
    .alert-green {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-success-lightest);
        --uui-alert-border: var(--uui-accent);
        --uui-alert-icon: var(--uui-accent);
    }

    .alert-info,
    .alert-blue {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-info-lightest);
        --uui-alert-border: var(--uui-primary);
        --uui-alert-icon: var(--uui-primary);
    }

    .informer-default {
        --uui-informer-bg: var(--gray30);
        --uui-informer-caption: var(--gray60);
    }

    .informer-focus {
        --uui-informer-bg: var(--red);
        --uui-informer-caption: var(--uui-contrast);
    }

    .informer-white {
        --uui-informer-bg: var(--uui-surface);
        --uui-informer-caption: var(--uui-text-secondary);
    }

    .uui-text-info,
    .uui-text-blue {
        --uui-text: var(--uui-text-info);
    }

    .uui-text-success,
    .uui-text-green {
        --uui-text: var(--uui-text-success);
    }

    .uui-text-warning,
    .uui-text-amber {
        --uui-text: var(--uui-text-warning);
    }

    .uui-text-error,
    .uui-text-red {
        --uui-text: var(--uui-text-error);
    }

    .uui-text-brand,
    .uui-text-gray90 {
        --uui-text: var(--uui-text-brand);
    }

    .uui-text-primary,
    .uui-text-gray80 {
        --uui-text: var(--uui-text-primary);
    }

    .uui-text-secondary,
    .uui-text-gray60 {
        --uui-text: var(--uui-text-secondary);
    }

    .uui-text-disabled,
    .uui-text-gray50 {
        --uui-text: var(--uui-text-disabled);
    }

    .uui-text-contrast,
    .uui-text-gray5 {
        --uui-text: var(--uui-text-contrast);
    }

    .uui-text-white {
        --uui-text: var(--uui-text-white);
    }

    .uui-font-regular,
    .uui-font-sans {
        --uui-text-font: var(--font-regular);
    }

    .uui-font-semibold,
    .uui-font-sans-semibold {
        --uui-text-font: var(--font-semibold);
    }

    .uui-font-italic,
    .uui-font-sans-italic {
        --uui-text-font: var(--font-italic);
    }

    .uui-font-primary,
    .uui-font-museo-sans {
        --uui-text-font: var(--font-primary);
    }

    .uui-font-promo,
    .uui-font-museo-slab {
        --uui-text-font: var(--font-promo);
    }

    .dropdown-container-white {
        --uui-dropdown-container-bg: var(--white);
    }

    .dropdown-container-gray70 {
        --uui-dropdown-container-bg: var(--gray70);
    }

    .flex-row-background-white {
        --uui-flex-row-bg: var(--uui-surface);
    }

    .flex-row-background-gray5 {
        --uui-flex-row-bg: var(--gray5);
    }

    .flex-row-background-none {
        --uui-flex-row-bg: transparent;
    }

    .panel-white {
        --uui-panel-bg: var(--uui-surface);
    }

    .panel-gray90 {
        --uui-panel-bg: var(--uui-surface-inverted);
    }
}
