/*  Name convention  */
/* --uui-'component name or group of components name'-'styled part name'-'states(optional)'-'hover/active/focus(optional)' */
// refactor indentions for this page using co-pilot

.uui-theme-loveship {
    --font-regular: 'Sans Regular', Arial, sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: 'Sans Semibold', Arial, sans-serif;
    --font-promo: 'Sans Semibold', Arial, sans-serif;
    --font-mono: monospace;
    --font-redacted: 'Redacted';
    --font-light: 'Sans Light', Arial, sans-serif;

    --night50: #FAFAFC;
    --night100: #F5F6FA;
    --night200: #EBEDF5;
    --night300: #E1E3EB;
    --night400: #CED0DB;
    --night500: #ACAFBF;
    --night600: #6C6F80;
    --night700: #474A59;
    --night800: #303240;
    --night900: #1D1E26;

    --sky-soft: #F5FDFF;
    --sky-lightest: #E1F4FA;
    --sky-light: #A0DDEE;
    --sky: #009ECC;
    --sky-dark: #0086AD;
    --sky-darkest: #006B8A;

    --grass-soft: #FCFFF5;
    --grass-lightest: #EBF3D8;
    --grass-light: #C1E288;
    --grass: #67A300;
    --grass-dark: #528500;
    --grass-darkest: #396F1F;

    --sun-soft: #FFFCF5;
    --sun-lightest: #FFEDC9;
    --sun-light: #FFD785;
    --sun: #FCAA00;
    --sun-dark: #FF9000;
    --sun-darkest: #BD5800;

    --fire-soft: #FEF6F6;
    --fire-lightest: #FDE1E1;
    --fire-light: #FBB6B6;
    --fire: #FF4242;
    --fire-dark: #E22A2A;
    --fire-darkest: #AD0000;

    --white: #FFFFFF;

    --yellow-5: #FFFFF0;
    --yellow-10: #FFFECC;
    --yellow-20: #FFFCA4;
    --yellow-30: #FDD63B;
    --yellow-40: #F9B71D;
    --yellow-50: #D3910C;

    --orange-5: #FEF8F4;
    --orange-10: #FFE8D7;
    --orange-20: #FFCCA7;
    --orange-30: #FF8B3E;
    --orange-40: #F76B0D;
    --orange-50: #BD4B00;

    --fuchsia-5: #FFF7FB;
    --fuchsia-10: #F9D8E7;
    --fuchsia-20: #EDADC8;
    --fuchsia-30: #EA4386;
    --fuchsia-40: #D61E68;
    --fuchsia-50: #AE1955;

    --purple-5: #FDF6FE;
    --purple-10: #F2CCFA;
    --purple-20: #E79DF5;
    --purple-30: #B114D1;
    --purple-40: #860F9E;
    --purple-50: #5E0B6F;

    --lavanda-5: #F8F6FE;
    --lavanda-10: #DBCCFA;
    --lavanda-20: #BB9DF5;
    --lavanda-30: #773CEC;
    --lavanda-40: #5514D6;
    --lavanda-50: #40109E;

    --cobalt-5: #F8FAFF;
    --cobalt-10: #D9E2FC;
    --cobalt-20: #AEC0F5;
    --cobalt-30: #0F98FF;
    --cobalt-40: #006FE5;
    --cobalt-50: #0954A5;

    --cyan-5: #F5FBFF;
    --cyan-10: #D1FAFA;
    --cyan-20: #AAEEEE;
    --cyan-30: #14CCCC;
    --cyan-40: #0F9E9E;
    --cyan-50: #0B6F6F;

    --mint-5: #F2FCF5;
    --mint-10: #DDF3E4;
    --mint-20: #B4DFC4;
    --mint-30: #4FC48C;
    --mint-40: #2E9E68;
    --mint-50: #236E4A;

    /* Loveship old colors */
    --uui-color-white-800: #E6E6E6;
    --uui-color-white-900: #CCCCCC;

    --uui-color-night50-800: #DADAE9;
    --uui-color-night50-900: #BABAD6;

    --uui-color-night100-800: #D3D7E9;
    --uui-color-night100-900: #B1B9D8;

    --uui-color-night200-700: #E6E8F2;
    --uui-color-night200-800: #C9CEE4;
    --uui-color-night200-900: #A7B0D3;

    --uui-color-night300-700: #D9DCE6;
    --uui-color-night300-800: #C2C6D7;
    --uui-color-night300-900: #A4AAC2;

    --uui-color-night400-700: #C3C5D2;
    --uui-color-night400-800: #B1B4C5;
    --uui-color-night400-900: #9398B0;

    --uui-color-night500-700: #9D9FB2;
    --uui-color-night500-800: #8F93A9;
    --uui-color-night500-900: #727793;

    --uui-color-night600-700: #595B6D;
    --uui-color-night600-800: #555764;

    --uui-color-night700-800: #30323D;
    --uui-color-night700-900: #1A1B20;

    --uui-color-night800-800: #1A1B23;
    --uui-color-night800-900: #040406;

    --uui-color-night900-800: #070709;
    --uui-color-night900-900: #000000;
    /* end Loveship old colors */

    /* core variables start */

    /* brand colors */

    --uui-accent-5: var(--grass-soft);
    --uui-accent-10: var(--grass-lightest);
    --uui-accent-20: var(--grass-light);
    --uui-accent-50: var(--grass);
    --uui-accent-60: var(--grass-dark);
    --uui-accent-70: var(--grass-darkest);

    --uui-primary-5: var(--sky-soft);
    --uui-primary-10: var(--sky-lightest);
    --uui-primary-20: var(--sky-light);
    --uui-primary-50: var(--sky);
    --uui-primary-60: var(--sky-dark);
    --uui-primary-70: var(--sky-darkest);

    --uui-secondary-5: var(--night200);
    --uui-secondary-10: var(--night300);
    --uui-secondary-20: var(--night400);
    --uui-secondary-50: var(--night600);
    --uui-secondary-60: var(--night700);
    --uui-secondary-70: var(--night800);

    --uui-negative-5: var(--fire-soft);
    --uui-negative-10: var(--fire-lightest);
    --uui-negative-20: var(--fire-light);
    --uui-negative-50: var(--fire);
    --uui-negative-60: var(--fire-dark);
    --uui-negative-70: var(--fire-darkest);

    /* semantic colors */

    --uui-info-5: var(--sky-soft);
    --uui-info-10: var(--sky-lightest);
    --uui-info-20: var(--sky-light);
    --uui-info-50: var(--sky);
    --uui-info-60: var(--sky-dark);
    --uui-info-70: var(--sky-darkest);

    --uui-success-5: var(--grass-soft);
    --uui-success-10: var(--grass-lightest);
    --uui-success-20: var(--grass-light);
    --uui-success-50: var(--grass);
    --uui-success-60: var(--grass-dark);
    --uui-success-70: var(--grass-darkest);

    --uui-warning-5: var(--sun-soft);
    --uui-warning-10: var(--sun-lightest);
    --uui-warning-20: var(--sun-light);
    --uui-warning-50: var(--sun);
    --uui-warning-60: var(--sun-dark);
    --uui-warning-70: var(--sun-darkest);

    --uui-error-5: var(--fire-soft);
    --uui-error-10: var(--fire-lightest);
    --uui-error-20: var(--fire-light);
    --uui-error-50: var(--fire);
    --uui-error-60: var(--fire-dark);
    --uui-error-70: var(--fire-darkest);

    /* Surfaces Figma - https://www.figma.com/file/M5Njgc6SQJ3TPUccp5XHQx/Loveship-aka-UUI3-(Components)?type=design&node-id=20044%3A300925&mode=design&t=R433dqGrpXDGoFli-1 */

    --uui-app-bg: var(--night100);
    --uui-overlay: rgba(29, 30, 38, 0.8);

    --uui-surface: var(--white);
    --uui-surface-low: var(--night50);
    --uui-surface-lower: var(--night100);
    --uui-surface-lowest: var(--night200);
    --uui-surface-contrast: var(--night700);
    --uui-surface-contrast-low: var(--night800);
    --uui-surface-contrast-lower: var(--night900);

    --uui-surface-active: var(--sky-lightest);
    --uui-surface-critical: var(--fire-lightest);
    --uui-surface-warning: var(--sun-lightest);

    --uui-divider: var(--night400);
    --uui-divider-light: var(--night300);

    --uui-text-brand: var(--night900);
    --uui-text-primary: var(--night800);
    --uui-text-secondary: var(--night700);
    --uui-text-tertiary: var(--night600);
    --uui-text-disabled: var(--night500);
    --uui-text-contrast: var(--night50);
    --uui-text-white: var(--white);
    --uui-text-dark: var(--night800);

    --uui-text-info: var(--uui-info-50);
    --uui-text-warning: var(--uui-warning-50);
    --uui-text-error: var(--uui-error-50);
    --uui-text-success: var(--uui-success-50);

    /* not accepted part */

    --uui-disabled: var(--night300); // TODO: name does not clearly reflect the meaning

    /* control specific */

    --uui-link: var(--sky);
    --uui-link-hover: var(--sky-dark);
    --uui-link-wite-hover: var(--night400);
    --uui-link-black-hover: var(--night800);
    --uui-link-visited: #8018A0;
    --uui-link-disabled: var(--night500);

    --uui-icon: var(--night600);
    --uui-icon-hover: var(--night700);
    --uui-icon-active: var(--night800);
    --uui-icon-disabled: var(--night500);

    --uui-scroll_bars-bg: var(--night400);
    --uui-scroll_bars-bg-active: var(--night600);

    --uui-control-bg: var(--uui-surface);
    --uui-control-bg-hover: var(--night600);
    --uui-control-bg-disabled: var(--night50);
    --uui-control-bg-readonly: var(--night50);
    //--uui-control-bg-checked: var(--uui-primary);
    //--uui-control-bg-checked-hover: var(--uui-primary-dark);
    //--uui-control-bg-checked-disabled: var(--uui-primary-light);
    --uui-control_switch-bg: var(--night400);
    --uui-control_switch-toggler-bg: var(--uui-surface);

    --uui-control-border: var(--night400);
    //--uui-control-border-hover: var(--uui-primary-dark);
    --uui-control-border-disabled: var(--night300);
    --uui-control-border-readonly: var(--night300);
    --uui-control-border-checked: var(--uui-primary-50);
    //--uui-control-border-checked-hover: var(--uui-primary-dark);
    //--uui-control-border-checked-disabled: var(--uui-primary-light);

    --uui-control_switch-border-hover: var(--night600);
    --uui-control_textinput-border-hover: var(--night600);

    --uui-control-label: var(--uui-text-primary);
    --uui-control-label-disabled: var(--uui-text-disabled);

    --uui-control-placeholder: var(--night600);
    --uui-control-placeholder-disabled: var(--night500); // one place of usage

    --uui-control-text: var(--night800);
    --uui-control-text-disabled: var(--night500);

    --uui-control-icon: var(--night500);
    --uui-control-icon-disabled: var(--night500);

    --uui-control-checkbox-icon: var(--white);

    --uui-control-focus: #008ACE80;

    --uui-search-result-highlight: var(--uui-warning-10); //#FFEDC9;

    --uui-tag-bg: var(--night300); // one place of usage
    --uui-tag-bg-hover: var(--night400); // one place of usage

    --uui-skeleton: var(--night400);
    --uui-skeleton-gradient: linear-gradient(90deg, var(--night400) 0%, var(--night100) 50%, var(--night400) 100%);

    --uui-border-radius: 3px;
    --uui-shadow-level-1: 0 0 3px rgba(29, 30, 38, 0.15), 0 3px 6px rgba(29, 30, 38, 0.1);
    --uui-shadow-level-2: 0 6px 12px rgba(29, 30, 38, 0.1), 0 3px 12px rgba(29, 30, 38, 0.1), 0 0 6px rgba(29, 30, 38, 0.05);
    --uui-shadow-level-3: 0 0 10px rgba(29, 30, 38, 0.05), 0 6px 24px rgba(29, 30, 38, 0.12), 0 9px 15px rgba(29, 30, 38, 0.1);

    /* core variables end */


    /* find below the not core variables that are used and highlight them in the code */


    /* DatePicker */
    --uui-dtp-title-bg: var(--uui-control-bg);
    --uui-dtp-text-selected: var(--uui-control-border-checked);
    --uui-dtp-text: var(--uui-control-text);

    --uui-dtp_body-content-font: var(--font-regular);

    /* RangeDatePicker */
    --uui-rdtp-bg: var(--uui-control-bg);
    --uui-rdtp-bg-selected-date: var(--uui-primary-10);

    /* Calendar */
    --uui-calendar-selected-hover: var(--uui-control-bg);
    --uui-calendar-start-end-selected-hover: var(--uui-primary-60);
    --uui-calendar-start-end-selected: var(--uui-control-border-checked);
    --uui-calendar-weekends-weekdates: var(--uui-control-placeholder);
    --uui-calendar-text: var(--uui-control-text);
    --uui-calendar-text-filtered: var(--uui-control-text-disabled);

    --uui-calendar-content-font: var(--font-regular);
    --uui-calendar-weekday-font: var(--font-regular);
    --uui-calendar-selected_day-font: var(--font-semibold);

    /* TabButton */
    //--uui-tab_button-text: var(--uui-text-primary);
    //--uui-tab_button-text-hover: var(--uui-primary-50);
    //--uui-tab_button-text-active: var(--uui-primary-50);
    //--uui-tab_button-text-disabled: var(--uui-text-disabled);
    //--uui-tab_button-font: var(--font-semibold);


    /* Tag */
    --uui-tag-caption: var(--uui-text-primary);
    --uui-tag-fill: var(--uui-icon);
    --uui-tag-fill-hover: var(--uui-icon-hover);
    --uui-tag-count-bg: var(--uui-surface);
    --uui-tag-count: var(--uui-text-secondary);
    --uui-tag-border-radius: 30px;

    --uui-tag-font: var(--font-regular);
    --uui-tag-count-font: var(--font-semibold);

    /* DropMarker */
    --uui-drop-marker: var(--uui-primary-50);
    --uui-drop-marker-blocked: var(--uui-error-50);

    /* Tooltip */
    --uui-tooltip-shadow: var(--uui-shadow-level-2, 0 2px 18px 0 rgba(44, 47, 60, 0.3), 0 1px 4px 0 rgba(44, 47, 60, 0.5)); /* WebStorm Bag Report https://youtrack.jetbrains.com/issue/WEB-54442 */
    --uui-tooltip-arrow-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    --uui-tooltip-border-radius: var(--uui-border-radius);

    --uui-tooltip-font: var(--font-regular);

    /* PickerInput */
    --uui-picker_input-bg: var(--uui-surface);

    /* PickerToggler */
    --uui-picker-toggler-bg: var(--uui-control-bg);
    --uui-picker-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-picker-toggler-border: var(--uui-control-border);
    --uui-picker-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-picker-toggler-border-hover: var(--uui-control_textinput-border-hover);
    --uui-picker-toggler-border-active: var(--uui-control-border-checked);
    --uui-picker-toggler-border-error: var(--uui-error-50);
    --uui-picker-toggler-placeholder: var(--uui-control-placeholder);
    --uui-picker-toggler-text: var(--uui-control-text);
    --uui-picker-toggler-text-disabled: var(--uui-control-text-disabled);
    --uui-picker-toggler-icon: var(--uui-control-icon);
    --uui-picker-toggler-icon-disabled: var(--uui-control-icon-disabled);
    --uui-picker-toggler-icon-clickable: var(--uui-icon);
    --uui-picker-toggler-icon-clickable-hover: var(--uui-icon-hover);
    --uui-picker-toggler-border-radius: var(--uui-border-radius);

    --uui-picker-toggler-font: var(--font-regular);

    /* Modals */
    --uui-modals-border-radius: var(--uui-border-radius);
    --uui-modals-overlay: rgba(29, 30, 38, 0.8);
    --uui-modals-shadow: var(--uui-shadow-level-3);
    --uui-modals-bg: var(--uui-surface);

    /* Accordion */
    --uui-accordion-bg: var(--uui-surface);
    --uui-accordion-border: var(--uui-divider);
    --uui-accordion-border-radius: 6px;
    --uui-accordion-text: var(--uui-text-primary);
    --uui-accordion-text-disabled: var(--uui-text-disabled);
    --uui-accordion-icon: var(--uui-icon);
    --uui-accordion-icon-disabled: var(--uui-text-input-icon-disabled);
    --uui-accordion-focus: var(--uui-primary-50);
    --uui-accordion-shadow: var(--uui-shadow-level-1);
    --uui-accordion-shadow-hovered: var(--uui-shadow-level-2);

    --uui-accordion-toggler-font: var(--font-semibold);
    --uui-accordion-body-font: var(--font-regular);

    /* DropdownContainer */
    --uui-dropdown-container-border-radius: 6px;
    --uui-dropdown-container-shadow: var(--uui-shadow-level-2);
    --uui-dropdown-container-bg: var(--uui-surface);

    /* DropdownMenu */
    // TODO: update tokens
    --uui-dropdown-menu-bg: var(--uui-surface);
    --uui-dropdown-menu-shadow: var(--uui-shadow-level-2);
    --uui-dropdown-menu-splitter: var(--uui-divider);
    --uui-dropdown-menu-item-hover: var(--uui-surface-lowest);
    --uui-dropdown-menu-item-active: var(--uui-surface-lowest);
    --uui-dropdown-menu-item-text: var(--uui-text-primary);

    --uui-dropdown-menu-body-font: var(--font-regular);
    --uui-dropdown-menu-item-font: var(--font-regular);

    /* BurgerMenu */
    --uui-burger_menu-bg: var(--uui-surface-contrast-lower);
    --uui-burger_menu-bg-hover: var(--uui-surface-contrast-lower);
    --uui-burger_menu-caption: var(--uui-text-contrast);
    --uui-burger_menu-caption-hover: var(--uui-primary-50);
    --uui-burger_menu-overlay: var(--uui-overlay);
    --uui-burger_icon: var(--uui-text-contrast);
    --uui-burger_item: var(--uui-text-brand);

    /* BurgerGroupHeader */
    //--uui-burger_group-text: var(--uui-text-disabled);
    //--uui-burger_group-bg: var(--uui-surface-contrast);
    //--uui-burger_group-line: var(--uui-text-secondary);
    //
    //--uui-burger_group-font: var(--font-regular);

    /* TimePicker */
    --uui-time-picker-bg: var(--uui-control-bg);
    --uui-time-picker-bg-disabled: var(--uui-control-bg-disabled);
    --uui-time-picker-border: var(--uui-control-border);
    --uui-time-picker-border-disabled: var(--uui-control-border-disabled);
    --uui-time-picker-border-hover: var(--uui-control_textinput-border-hover);
    --uui-time-picker-border-active: var(--uui-control-border-checked);
    --uui-time-picker-border-error: var(--uui-error-50);
    --uui-time-picker-placeholder: var(--uui-control-placeholder);
    --uui-time-picker-text: var(--uui-control-text);
    --uui-time-picker-text-disabled: var(--uui-control-text-disabled);
    --uui-time-picker-icon-clickable: var(--uui-icon);
    --uui-time-picker-icon-clickable-hover: var(--uui-icon-hover);
    --uui-time-picker-border-radius: var(--uui-border-radius);

    /* SearchPicker */
    --uui-search-input-bg: var(--uui-control-bg);
    --uui-search-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-search-input-border: var(--uui-control-border);
    --uui-search-input-border-disabled: var(--uui-control-border-disabled);
    --uui-search-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-search-input-border-active: var(--uui-control-border-checked);
    --uui-search-input-border-error: var(--uui-negative-50);
    --uui-search-input-placeholder: var(--uui-control-placeholder);
    --uui-search-input-text: var(--uui-control-text);
    --uui-search-input-text-disabled: var(--uui-control-text-disabled);
    --uui-search-input-icon-clickable: var(--uui-icon);
    --uui-search-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-search-input-icon-disabled: var(--uui-icon-disabled);
    --uui-search-input-border-radius: var(--uui-border-radius);

    /* Popover */
    --uui-popover-shadow: var(--uui-shadow-level-2);

    /* Footer */
    --uui-footer-bg: var(--uui-surface-contrast);

    /* FilterPanelItemToggler vars */
    --uui-filters-toggler-border: var(--uui-text-input-border);
    --uui-filters-toggler-border-hover: var(--uui-text-input-border-hover);
    --uui-filters-toggler-border-radius: var(--uui-border-radius);
    --uui-filters-toggler-bg: var(--uui-surface);
    --uui-filters-toggler-bg-hover: var(--uui-surface-lower);
    --uui-filters-toggler-text: var(--uui-text-brand);
    --uui-filters-toggler-label: var(--uui-text-tertiary);
    --uui-filters-toggler-icon: var(--uui-text-input-icon-clickable);
    --uui-filters-toggler-shadow: none;

    --uui-filters-toggler-font: var(--font-regular);
    --uui-filters-panel-header-font: var(--font-regular);

    /* Spinner */
    --uui-spinner: var(--uui-primary-50);

    /* Blocker */
    --uui-blocker-bg: var(--uui-app-bg);

    /* AvatarStack */

    --uui-avatar-stack-font: var(--font-semibold);

    /* Pagination */

    --uui-pagination-font: var(--font-regular);

    /* FileCard */
    --uui-file-card-background: var(--night400);
    --uui-file-card-background-loaading: var(--night400);
    --uui-file-card-error: var(--uui-negative-50);
    --uui-file-card-error-block: var(--uui-negative-70);
    --uui-file-card-default: var(--uui-secondary-50);
    --uui-file-card-dropstart-border: var(--uui-primary-50);
    --uui-file-card-dropstart-background: var(--uui-primary-10);
    --uui-file-card-link-hover: var(--uui-primary-60);

    /* IndeterminateBar */

    --uui-indeterminate-bar-wrapper: var(--uui-secondary-20);
    --uui-indeterminate-bar-background: var(--uui-primary-50);

    /* ProgressBar */

    --uui-progress-bar-wrapper: var(--uui-secondary-20);
    --uui-progress-bar-background: var(--uui-primary-50);
    --uui-progress-bar-label: var(--uui-surface-contrast-lower);

    /* ------------------------------------ */

    /* begin color classes */

    .uui-color-accent, .uui-color-grass, .uui-color-success {
        --uui-color-5: var(--uui-accent-5);
        --uui-color-10: var(--uui-accent-10);
        --uui-color-20: var(--uui-accent-20);
        --uui-color-50: var(--uui-accent-50);
        --uui-color-60: var(--uui-accent-60);
        --uui-color-70: var(--uui-accent-70);
        --uui-color-text: var(--uui-accent-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-primary, .uui-color-sky, .uui-color-info {
        --uui-color-5: var(--uui-primary-5);
        --uui-color-10: var(--uui-primary-10);
        --uui-color-20: var(--uui-primary-20);
        --uui-color-50: var(--uui-primary-50);
        --uui-color-60: var(--uui-primary-60);
        --uui-color-70: var(--uui-primary-70);
        --uui-color-text: var(--uui-primary-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-fire, .uui-color-negative, .uui-color-error {
        --uui-color-5: var(--uui-negative-5);
        --uui-color-10: var(--uui-negative-10);
        --uui-color-20: var(--uui-negative-20);
        --uui-color-50: var(--uui-negative-50);
        --uui-color-60: var(--uui-negative-60);
        --uui-color-70: var(--uui-negative-70);
        --uui-color-text: var(--uui-negative-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-white {
        --uui-color-5: var(--white);
        --uui-color-10: var(--white);
        --uui-color-20: var(--night50);
        --uui-color-50: var(--white);
        --uui-color-60: var(--uui-color-white-800);
        --uui-color-70: var(--uui-color-white-900);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-night100 {
        --uui-color-5: var(--white);
        --uui-color-10: var(--white);
        --uui-color-20: var(--night50);
        --uui-color-50: var(--night100);
        --uui-color-60: var(--uui-color-night100-800);
        --uui-color-70: var(--uui-color-night100-900);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-night200 {
        --uui-color-5: var(--white);
        --uui-color-10: var(--night50);
        --uui-color-20: var(--night100);
        --uui-color-50: var(--night200);
        --uui-color-60: var(--uui-color-night200-800);
        --uui-color-70: var(--uui-color-night200-900);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-badge.uui-color-default {
        --uui-color-5: var(--night50);
        --uui-color-10: var(--night100);
        --uui-color-20: var(--night200);
        --uui-color-50: var(--night300);
        --uui-color-60: var(--night400);
        --uui-color-70: var(--night500);
        --uui-color-text: var(--uui-text-primary);
        --uui-color-contrast-text: var(--uui-text-primary);
    }

    .uui-color-night300 {
        --uui-color-5: var(--night50);
        --uui-color-10: var(--night100);
        --uui-color-20: var(--night200);
        --uui-color-50: var(--night300);
        --uui-color-60: var(--uui-color-night300-800);
        --uui-color-70: var(--uui-color-night300-900);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-night400 {
        --uui-color-5: var(--night100);
        --uui-color-10: var(--night200);
        --uui-color-20: var(--night300);
        --uui-color-50: var(--night400);
        --uui-color-60: var(--uui-color-night400-800);
        --uui-color-70: var(--uui-color-night400-900);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-night500 {
        --uui-color-5: var(--night200);
        --uui-color-10: var(--night300);
        --uui-color-20: var(--night400);
        --uui-color-50: var(--night500);
        --uui-color-60: var(--uui-color-night500-800);
        --uui-color-70: var(--uui-color-night500-900);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-icon_button.uui-color-default,
    .uui-color-night600,
    .uui-color-gray,
    .uui-color-secondary {
        --uui-color-5: var(--uui-secondary-5);
        --uui-color-10: var(--uui-secondary-10);
        --uui-color-20: var(--uui-secondary-20);
        --uui-color-50: var(--uui-secondary-50);
        --uui-color-60: var(--uui-secondary-60);
        --uui-color-70: var(--uui-secondary-70);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-sun, .uui-color-warning {
        --uui-color-5: var(--sun-soft);
        --uui-color-10: var(--sun-lightest);
        --uui-color-20: var(--sun-light);
        --uui-color-50: var(--sun);
        --uui-color-60: var(--sun-dark);
        --uui-color-70: var(--sun-darkest);
        --uui-color-text: var(--sun-darkest);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-yellow {
        --uui-color-5: var(--yellow-5);
        --uui-color-10: var(--yellow-10);
        --uui-color-20: var(--yellow-20);
        --uui-color-50: var(--yellow-30);
        --uui-color-60: var(--yellow-40);
        --uui-color-70: var(--yellow-50);
        --uui-color-text: var(--yellow-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-orange {
        --uui-color-5: var(--orange-5);
        --uui-color-10: var(--orange-10);
        --uui-color-20: var(--orange-20);
        --uui-color-50: var(--orange-30);
        --uui-color-60: var(--orange-40);
        --uui-color-70: var(--orange-50);
        --uui-color-text: var(--orange-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-fuchsia {
        --uui-color-5: var(--fuchsia-5);
        --uui-color-10: var(--fuchsia-10);
        --uui-color-20: var(--fuchsia-20);
        --uui-color-50: var(--fuchsia-30);
        --uui-color-60: var(--fuchsia-40);
        --uui-color-70: var(--fuchsia-50);
        --uui-color-text: var(--fuchsia-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-purple {
        --uui-color-5: var(--purple-5);
        --uui-color-10: var(--purple-10);
        --uui-color-20: var(--purple-20);
        --uui-color-50: var(--purple-30);
        --uui-color-60: var(--purple-40);
        --uui-color-70: var(--purple-50);
        --uui-color-text: var(--purple-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-lavanda {
        --uui-color-5: var(--lavanda-5);
        --uui-color-10: var(--lavanda-10);
        --uui-color-20: var(--lavanda-20);
        --uui-color-50: var(--lavanda-30);
        --uui-color-60: var(--lavanda-40);
        --uui-color-70: var(--lavanda-50);
        --uui-color-text: var(--lavanda-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-cobalt {
        --uui-color-5: var(--cobalt-5);
        --uui-color-10: var(--cobalt-10);
        --uui-color-20: var(--cobalt-20);
        --uui-color-50: var(--cobalt-30);
        --uui-color-60: var(--cobalt-40);
        --uui-color-70: var(--cobalt-50);
        --uui-color-text: var(--cobalt-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-cyan {
        --uui-color-5: var(--cyan-5);
        --uui-color-10: var(--cyan-10);
        --uui-color-20: var(--cyan-20);
        --uui-color-50: var(--cyan-30);
        --uui-color-60: var(--cyan-40);
        --uui-color-70: var(--cyan-50);
        --uui-color-text: var(--cyan-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-mint {
        --uui-color-5: var(--mint-5);
        --uui-color-10: var(--mint-10);
        --uui-color-20: var(--mint-20);
        --uui-color-50: var(--mint-30);
        --uui-color-60: var(--mint-40);
        --uui-color-70: var(--mint-50);
        --uui-color-text: var(--mint-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    /* end color classes */

    .tooltip-contrast,
    .tooltip-gray {
        --uui-tooltip-bg: var(--uui-surface-contrast);
        --uui-tooltip-text: var(--uui-text-contrast);
    }

    .tooltip-default,
    .tooltip-white {
        --uui-tooltip-bg: var(--uui-surface);
        --uui-tooltip-text: var(--uui-text-primary);
    }

    .tooltip-critical,
    .tooltip-fire {
        --uui-tooltip-bg: var(--uui-error-60);
        --uui-tooltip-text: var(--uui-text-white);
    }

    //.button-sky, .button-primary {
    //    --uui-btn-bg: var(--uui-primary);
    //    --uui-btn-bg-hover: var(--uui-primary-dark);
    //    --uui-btn-bg-active: var(--uui-primary-darkest);
    //    --uui-btn-bg-halftone: var(--white);
    //    --uui-btn-bg-halftone-hover: var(--uui-primary-lightest);
    //    --uui-btn-bg-halftone-active: var(--uui-primary-light);
    //    --uui-btn-border: var(--uui-primary);
    //    --uui-btn-border-hover: var(--uui-primary-dark);
    //    --uui-btn-border-active: var(--uui-primary-darkest);
    //    --uui-btn-bg-disabled: var(--uui-disabled);
    //    --uui-btn-border-disabled: var(--uui-disabled);
    //    --uui-btn-caption: var(--uui-text-white);
    //    --uui-btn-caption-halftone: var(--uui-primary);
    //    --uui-btn-caption-disabled: var(--uui-text-disabled);
    //}
    //
    //.button-accent, .button-grass {
    //    --uui-btn-bg: var(--uui-accent);
    //    --uui-btn-bg-hover: var(--uui-accent-dark);
    //    --uui-btn-bg-active: var(--uui-accent-darkest);
    //    --uui-btn-bg-halftone: var(--white);
    //    --uui-btn-bg-halftone-hover: var(--uui-accent-lightest);
    //    --uui-btn-bg-halftone-active: var(--uui-accent-light);
    //    --uui-btn-border: var(--uui-accent);
    //    --uui-btn-border-hover: var(--uui-accent-dark);
    //    --uui-btn-border-active: var(--uui-accent-darkest);
    //    --uui-btn-bg-disabled: var(--uui-disabled);
    //    --uui-btn-border-disabled: var(--uui-disabled);
    //    --uui-btn-caption: var(--uui-text-white);
    //    --uui-btn-caption-halftone: var(--uui-accent);
    //    --uui-btn-caption-disabled: var(--uui-text-disabled);
    //}
    //
    //.button-sun {
    //    --uui-btn-bg: var(--sun);
    //    --uui-btn-bg-hover: var(--sun-dark);
    //    --uui-btn-bg-active: var(--sun-darkest);
    //    --uui-btn-bg-halftone: var(--white);
    //    --uui-btn-bg-halftone-hover: var(--sun-lightest);
    //    --uui-btn-bg-halftone-active: var(--sun-light);
    //    --uui-btn-border: var(--sun);
    //    --uui-btn-border-hover: var(--sun-dark);
    //    --uui-btn-border-active: var(--sun-darkest);
    //    --uui-btn-bg-disabled: var(--uui-disabled);
    //    --uui-btn-border-disabled: var(--uui-disabled);
    //    --uui-btn-caption: var(--uui-control-text);
    //    --uui-btn-caption-halftone: var(--sun-darkest);
    //    --uui-btn-caption-disabled: var(--uui-text-disabled);
    //}
    //
    //.button-fire, .button-negative {
    //    --uui-btn-bg: var(--uui-negative);
    //    --uui-btn-bg-hover: var(--uui-negative-dark);
    //    --uui-btn-bg-active: var(--uui-negative-darkest);
    //    --uui-btn-bg-halftone: var(--white);
    //    --uui-btn-bg-halftone-hover: var(--uui-negative-lightest);
    //    --uui-btn-bg-halftone-active: var(--uui-negative-light);
    //    --uui-btn-border: var(--uui-negative);
    //    --uui-btn-border-hover: var(--uui-negative-dark);
    //    --uui-btn-border-active: var(--uui-negative-darkest);
    //    --uui-btn-bg-disabled: var(--uui-disabled);
    //    --uui-btn-border-disabled: var(--uui-disabled);
    //    --uui-btn-caption: var(--uui-text-white);
    //    --uui-btn-caption-halftone: var(--uui-negative);
    //    --uui-btn-caption-disabled: var(--uui-text-disabled);
    //}
    //
    //.button-night500,
    //.button-night600,
    //.button-gray,
    //.button-secondary {
    //    --uui-btn-bg: var(--uui-secondary);
    //    --uui-btn-bg-hover: var(--uui-secondary-dark);
    //    --uui-btn-bg-active: var(--uui-secondary-darkest);
    //    --uui-btn-bg-halftone: var(--white);
    //    --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
    //    --uui-btn-bg-halftone-active: var(--uui-secondary-light);
    //    --uui-btn-border: var(--uui-secondary);
    //    --uui-btn-border-hover: var(--uui-secondary-dark);
    //    --uui-btn-border-active: var(--uui-secondary-darkest);
    //    --uui-btn-bg-disabled: var(--uui-disabled);
    //    --uui-btn-border-disabled: var(--uui-disabled);
    //    --uui-btn-caption: var(--uui-text-white);
    //    --uui-btn-caption-halftone: var(--uui-secondary-dark);
    //    --uui-btn-caption-disabled: var(--uui-text-disabled);
    //}
    //
    //.button-white {
    //    --uui-btn-bg: var(--white);
    //    --uui-btn-bg-hover: var(--uui-color-white-800);
    //    --uui-btn-bg-active: var(--uui-color-white-900);
    //    --uui-btn-bg-halftone: var(--white);
    //    --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
    //    --uui-btn-bg-halftone-active: var(--uui-secondary-light);
    //    --uui-btn-border: var(--white);
    //    --uui-btn-border-hover: var(--uui-color-white-800);
    //    --uui-btn-border-active: var(--uui-color-white-900);
    //    --uui-btn-bg-disabled: var(--uui-disabled);
    //    --uui-btn-border-disabled: var(--uui-disabled);
    //    --uui-btn-caption: var(--night800);
    //    --uui-btn-caption-halftone: var(--uui-secondary-dark);
    //    --uui-btn-caption-disabled: var(--uui-text-disabled);
    //}


    //.icon-button-sky,
    //.icon-button-info {
    //    --uui-icon-btn: var(--uui-info);
    //    --uui-icon-btn-hover: var(--uui-info-dark);
    //    --uui-icon-btn-active: var(--uui-info-darkest);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-grass,
    //.icon-button-success {
    //    --uui-icon-btn: var(--uui-success);
    //    --uui-icon-btn-hover: var(--uui-success-dark);
    //    --uui-icon-btn-active: var(--uui-success-darkest);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-sun,
    //.icon-button-warning {
    //    --uui-icon-btn: var(--uui-warning);
    //    --uui-icon-btn-hover: var(--uui-warning-dark);
    //    --uui-icon-btn-active: var(--uui-warning-darkest);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-fire,
    //.icon-button-error {
    //    --uui-icon-btn: var(--uui-error);
    //    --uui-icon-btn-hover: var(--uui-error-dark);
    //    --uui-icon-btn-active: var(--uui-error-darkest);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-cobalt {
    //    --uui-icon-btn: var(--cobalt-30);
    //    --uui-icon-btn-hover: var(--cobalt-40);
    //    --uui-icon-btn-active: var(--cobalt-50);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-lavanda {
    //    --uui-icon-btn: var(--lavanda-30);
    //    --uui-icon-btn-hover: var(--lavanda-40);
    //    --uui-icon-btn-active: var(--lavanda-50);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-fuchsia {
    //    --uui-icon-btn: var(--fuchia-30);
    //    --uui-icon-btn-hover: var(--fuchia-40);
    //    --uui-icon-btn-active: var(--fuchia-50);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-white {
    //    --uui-icon-btn: var(--white);
    //    --uui-icon-btn-hover: var(--uui-color-white-800);
    //    --uui-icon-btn-active: var(--uui-color-white-900);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-night200 {
    //    --uui-icon-btn: var(--night200);
    //    --uui-icon-btn-hover: var(--uui-color-night200-800);
    //    --uui-icon-btn-active: var(--uui-color-night200-900);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-night300 {
    //    --uui-icon-btn: var(--night300);
    //    --uui-icon-btn-hover: var(--uui-color-night300-800);
    //    --uui-icon-btn-active: var(--uui-color-night300-900);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-night400 {
    //    --uui-icon-btn: var(--night400);
    //    --uui-icon-btn-hover: var(--uui-color-night400-800);
    //    --uui-icon-btn-active: var(--uui-color-night400-900);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-night500 {
    //    --uui-icon-btn: var(--night500);
    //    --uui-icon-btn-hover: var(--uui-color-night500-800);
    //    --uui-icon-btn-active: var(--uui-color-night500-900);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}
    //
    //.icon-button-night600,
    //.icon-button-secondary,
    //.icon-button-default {
    //    --uui-icon-btn: var(--night600);
    //    --uui-icon-btn-hover: var(--uui-icon-hover);
    //    --uui-icon-btn-active: var(--uui-icon-active);
    //    --uui-icon-btn-disabled: var(--uui-icon-disabled);
    //}

    .notification-card-sun,
    .notification-card-warning {
        --uui-notification-card-fill: var(--uui-warning-50);
        --uui-notification-card-border: var(--uui-warning-50);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-success,
    .notification-card-grass {
        --uui-notification-card-fill: var(--uui-success-50);
        --uui-notification-card-border: var(--uui-success-50);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-info,
    .notification-card-sky {
        --uui-notification-card-fill: var(--uui-info-50);
        --uui-notification-card-border: var(--uui-info-50);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-error,
    .notification-card-fire {
        --uui-notification-card-fill: var(--uui-error-50);
        --uui-notification-card-border: var(--uui-error-50);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .notification-card-night600 {
        --uui-notification-card-fill: var(--night600);
        --uui-notification-card-border: var(--night600);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    .alert-error,
    .alert-fire {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-error-10);
        --uui-alert-border: var(--uui-error-50);
        --uui-alert-icon: var(--uui-error-50);
    }

    .alert-warning,
    .alert-sun {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-warning-10);
        --uui-alert-border: var(--uui-warning-50);
        --uui-alert-icon: var(--uui-warning-50);
    }


    .alert-success,
    .alert-grass {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-success-10);
        --uui-alert-border: var(--uui-success-50);
        --uui-alert-icon: var(--uui-success-50);
    }

    .alert-info,
    .alert-sky {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: var(--uui-info-10);
        --uui-alert-border: var(--uui-info-50);
        --uui-alert-icon: var(--uui-info-50);
    }

    //.badge-default, .badge-night300 {
    //    --uui-badge-bg: var(--night300);
    //    --uui-badge-bg-hover: var(--night400);
    //    --uui-badge-bg-halftone: var(--night200);
    //    --uui-badge-bg-halftone-hover: var(--night300);
    //    --uui-badge-border-halftone: var(--night400);
    //    --uui-badge-border-halftone-hover: var(--night500);
    //    --uui-badge-caption-solid: var(--uui-text-primary);
    //    --uui-badge-caption-halftone: var(--uui-text-primary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-info, .badge-sky {
    //    --uui-badge-bg: var(--uui-info);
    //    --uui-badge-bg-hover: var(--uui-info-dark);
    //    --uui-badge-bg-halftone: var(--uui-info-lightest);
    //    --uui-badge-bg-halftone-hover: var(--uui-info-light);
    //    --uui-badge-border-halftone: var(--uui-info-light);
    //    --uui-badge-border-halftone-hover: var(--uui-info);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--uui-info-darkest);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-success, .badge-grass {
    //    --uui-badge-bg: var(--uui-success);
    //    --uui-badge-bg-hover: var(--uui-success-dark);
    //    --uui-badge-bg-halftone: var(--uui-success-lightest);
    //    --uui-badge-bg-halftone-hover: var(--uui-success-light);
    //    --uui-badge-border-halftone: var(--uui-success-light);
    //    --uui-badge-border-halftone-hover: var(--uui-success);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--uui-success-darkest);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-warning, .badge-sun {
    //    --uui-badge-bg: var(--uui-warning);
    //    --uui-badge-bg-hover: var(--uui-warning-dark);
    //    --uui-badge-bg-halftone: var(--uui-warning-lightest);
    //    --uui-badge-bg-halftone-hover: var(--uui-warning-light);
    //    --uui-badge-border-halftone: var(--uui-warning-light);
    //    --uui-badge-border-halftone-hover: var(--uui-warning);
    //    --uui-badge-caption-solid: var(--uui-text-primary);
    //    --uui-badge-caption-halftone: var(--uui-warning-darkest);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-error, .badge-fire {
    //    --uui-badge-bg: var(--uui-error);
    //    --uui-badge-bg-hover: var(--uui-error-dark);
    //    --uui-badge-bg-halftone: var(--uui-error-lightest);
    //    --uui-badge-bg-halftone-hover: var(--uui-error-light);
    //    --uui-badge-border-halftone: var(--uui-error-light);
    //    --uui-badge-border-halftone-hover: var(--uui-error);
    //    --uui-badge-caption-solid: var(--white);
    //    --uui-badge-caption-halftone: var(--uui-error-darkest);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-cobalt {
    //    --uui-badge-bg: var(--cobalt-30);
    //    --uui-badge-bg-hover: var(--cobalt-40);
    //    --uui-badge-bg-halftone: var(--cobalt-10);
    //    --uui-badge-bg-halftone-hover: var(--cobalt-20);
    //    --uui-badge-border-halftone: var(--cobalt-30);
    //    --uui-badge-border-halftone-hover: var(--cobalt-40);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--cobalt-50);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-lavanda {
    //    --uui-badge-bg: var(--lavanda-30);
    //    --uui-badge-bg-hover: var(--lavanda-40);
    //    --uui-badge-bg-halftone: var(--lavanda-10);
    //    --uui-badge-bg-halftone-hover: var(--lavanda-20);
    //    --uui-badge-border-halftone: var(--lavanda-30);
    //    --uui-badge-border-halftone-hover: var(--lavanda-40);
    //    --uui-badge-caption-solid: var(--white);
    //    --uui-badge-caption-halftone: var(--lavanda-50);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-fuchsia {
    //    --uui-badge-bg: var(--fuchia-30);
    //    --uui-badge-bg-hover: var(--fuchia-40);
    //    --uui-badge-bg-halftone: var(--fuchia-10);
    //    --uui-badge-bg-halftone-hover: var(--fuchia-20);
    //    --uui-badge-border-halftone: var(--fuchia-30);
    //    --uui-badge-border-halftone-hover: var(--fuchia-40);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--fuchia-50);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-white {
    //    --uui-badge-bg: var(--white);
    //    --uui-badge-bg-hover: var(--gray5);
    //    --uui-badge-bg-halftone: var(--white);
    //    --uui-badge-bg-halftone-hover: var(--gray5);
    //    --uui-badge-border-halftone: var(--white);
    //    --uui-badge-border-halftone-hover: var(--gray5);
    //    --uui-badge-caption-solid: var(--night800);
    //    --uui-badge-caption-halftone: var(--uui-text-secondary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-night200 {
    //    --uui-badge-bg: var(--uui-color-night200-700);
    //    --uui-badge-bg-hover: var(--uui-color-night200-800);
    //    --uui-badge-bg-halftone: var(--white);
    //    --uui-badge-bg-halftone-hover: var(--gray5);
    //    --uui-badge-border-halftone: var(--white);
    //    --uui-badge-border-halftone-hover: var(--gray5);
    //    --uui-badge-caption-solid: var(--night800);
    //    --uui-badge-caption-halftone: var(--uui-text-secondary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-night300 {
    //    --uui-badge-bg: var(--uui-color-night300-700);
    //    --uui-badge-bg-hover: var(--uui-color-night300-800);
    //    --uui-badge-bg-halftone: var(--white);
    //    --uui-badge-bg-halftone-hover: var(--gray5);
    //    --uui-badge-border-halftone: var(--white);
    //    --uui-badge-border-halftone-hover: var(--gray5);
    //    --uui-badge-caption-solid: var(--night800);
    //    --uui-badge-caption-halftone: var(--uui-text-secondary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-night400 {
    //    --uui-badge-bg: var(--uui-color-night400-700);
    //    --uui-badge-bg-hover: var(--uui-color-night400-800);
    //    --uui-badge-bg-halftone: var(--white);
    //    --uui-badge-bg-halftone-hover: var(--gray5);
    //    --uui-badge-border-halftone: var(--white);
    //    --uui-badge-border-halftone-hover: var(--gray5);
    //    --uui-badge-caption-solid: var(--night800);
    //    --uui-badge-caption-halftone: var(--uui-text-secondary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-night500 {
    //    --uui-badge-bg: var(--uui-color-night500-700);
    //    --uui-badge-bg-hover: var(--uui-color-night500-800);
    //    --uui-badge-bg-halftone: var(--white);
    //    --uui-badge-bg-halftone-hover: var(--gray5);
    //    --uui-badge-border-halftone: var(--white);
    //    --uui-badge-border-halftone-hover: var(--gray5);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--uui-text-secondary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-night600 {
    //    --uui-badge-bg: var(--uui-color-night600-700);
    //    --uui-badge-bg-hover: var(--uui-color-night600-800);
    //    --uui-badge-bg-halftone: var(--white);
    //    --uui-badge-bg-halftone-hover: var(--gray5);
    //    --uui-badge-border-halftone: var(--white);
    //    --uui-badge-border-halftone-hover: var(--gray5);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--uui-text-secondary);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-violet {
    //    --uui-badge-bg: var(--lavanda-30);
    //    --uui-badge-bg-hover: var(--lavanda-40);
    //    --uui-badge-bg-halftone: var(--lavanda-10);
    //    --uui-badge-bg-halftone-hover: var(--lavanda-20);
    //    --uui-badge-border-halftone: var(--lavanda-20);
    //    --uui-badge-border-halftone-hover: var(--lavanda-30);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--lavanda-50);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-orange {
    //    --uui-badge-bg: var(--orange-30);
    //    --uui-badge-bg-hover: var(--orange-40);
    //    --uui-badge-bg-halftone: var(--orange-10);
    //    --uui-badge-bg-halftone-hover: var(--orange-20);
    //    --uui-badge-border-halftone: var(--orange-20);
    //    --uui-badge-border-halftone-hover: var(--orange-30);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--orange-50);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}
    //
    //.badge-purple {
    //    --uui-badge-bg: var(--purple-30);
    //    --uui-badge-bg-hover: var(--purple-40);
    //    --uui-badge-bg-halftone: var(--purple-10);
    //    --uui-badge-bg-halftone-hover: var(--purple-20);
    //    --uui-badge-border-halftone: var(--purple-20);
    //    --uui-badge-border-halftone-hover: var(--purple-30);
    //    --uui-badge-caption-solid: var(--uui-text-contrast);
    //    --uui-badge-caption-halftone: var(--purple-50);
    //    --uui-badge-count: var(--uui-text-secondary);
    //    --uui-badge-count-bg: var(--white);
    //}

    .informer-default {
        --uui-informer-bg: var(--night300);
        --uui-informer-caption: var(--uui-text-secondary);
    }

    .informer-focus {
        --uui-informer-bg: var(--fire);
        --uui-informer-caption: var(--uui-text-white);
    }

    .informer-white {
        --uui-informer-bg: var(--uui-surface);
        --uui-informer-caption: var(--uui-text-secondary);
    }

    .uui-text-info,
    .uui-text-sky {
        --uui-text: var(--uui-text-info);
    }

    .uui-text-success,
    .uui-text-grass {
        --uui-text: var(--uui-text-success);
    }

    .uui-text-warning,
    .uui-text-sun {
        --uui-text: var(--uui-text-warning);
    }

    .uui-text-error,
    .uui-text-fire {
        --uui-text: var(--uui-text-error);
    }

    .uui-text-brand,
    .uui-text-night900 {
        --uui-text: var(--uui-text-brand);
    }

    .uui-text-primary,
    .uui-text-night800 {
        --uui-text: var(--uui-text-primary);
    }

    .uui-text-night700 {
        --uui-text: var(--night700);
    }

    .uui-text-secondary,
    .uui-text-night600 {
        --uui-text: var(--uui-text-secondary);
    }

    .uui-text-disabled,
    .uui-text-night500 {
        --uui-text: var(--uui-text-disabled);
    }

    .uui-text-night400 {
        --uui-text: var(--night400);
    }

    .uui-text-night300 {
        --uui-text: var(--night300);
    }

    .uui-text-contrast,
    .uui-text-night50 {
        --uui-text: var(--uui-text-contrast);
    }

    .uui-text-white {
        --uui-text: var(--uui-text-white);
    }

    .uui-font-regular,
    .uui-font-sans {
        --uui-text-font: var(--font-regular);
    }

    .uui-font-semibold,
    .uui-font-sans-semibold {
        --uui-text-font: var(--font-semibold);
    }

    .uui-font-sans-light {
        --uui-text-font: var(--font-light);
    }

    .dropdown-container-white {
        --uui-dropdown-container-bg: var(--white);
    }

    .dropdown-container-night700 {
        --uui-dropdown-container-bg: var(--night700);
    }

    .flex-row-background-white {
        --uui-flex-row-bg: var(--uui-surface);
    }

    .flex-row-background-night50 {
        --uui-flex-row-bg: var(--night50);
    }

    .flex-row-background-night100 {
        --uui-flex-row-bg: var(--night100);
    }

    .flex-row-background-none {
        --uui-flex-row-bg: transparent;
    }

    .panel-white {
        --uui-panel-bg: var(--uui-surface);
    }

    .panel-night50 {
        --uui-panel-bg: var(--night50);
    }
}
