/*  Name convention  */
/* --uui-'component name or group of components name'-'styled part name'-'states(optional)'-'hover/active/focus(optional)' */
// refactor indentions for this page using co-pilot

:global(.uui-theme-loveship) {
    --font-regular: 'Sans Regular', Arial, sans-serif;
    --font-semibold: 'Sans Semibold', Arial, sans-serif;
    --font-italic: 'Sans Italic', Arial, sans-serif;
    --font-primary: 'Museo Sans', 'Sans Semibold', Arial, sans-serif;
    --font-promo: 'Museo Slab', 'Roboto Slab', Arial, sans-serif;
    --font-mono: 'Roboto Mono', Arial, sans-serif;
    --font-redacted: 'Redacted';
    --font-light: 'Sans Light', Arial, sans-serif;

    --night50: #FAFAFC;
    --night100: #F5F6FA;
    --night200: #EBEDF5;
    --night300: #E1E3EB;
    --night400: #CED0DB;
    --night500: #ACAFBF;
    --night600: #6C6F80;
    --night700: #474A59;
    --night800: #303240;
    --night900: #1D1E26;

    --sky-soft: #F5FDFF;
    --sky-lightest: #E1F4FA;
    --sky-light: #A0DDEE;
    --sky: #009ECC;
    --sky-dark: #0086AD;
    --sky-darkest: #006B8A;

    --grass-soft: #FCFFF5;
    --grass-lightest: #EBF3D8;
    --grass-light: #C1E288;
    --grass: #67A300;
    --grass-dark: #528500;
    --grass-darkest: #396F1F;

    --sun-soft: #FFFCF5;
    --sun-lightest: #FFEDC9;
    --sun-light: #FFD785;
    --sun: #FCAA00;
    --sun-dark: #FF9000;
    --sun-darkest: #BD5800;

    --fire-soft: #FEF6F6;
    --fire-lightest: #FDE1E1;
    --fire-light: #FBB6B6;
    --fire: #FF4242;
    --fire-dark: #E22A2A;
    --fire-darkest: #AD0000;

    --white: #FFFFFF;

    --yellow-5: #FFFFF0;
    --yellow-10: #FFFECC;
    --yellow-20: #FFFCA4;
    --yellow-30: #FDD63B;
    --yellow-40: #F9B71D;
    --yellow-50: #D3910C;

    --orange-5: #FEF8F4;
    --orange-10: #FFE8D7;
    --orange-20: #FFCCA7;
    --orange-30: #FF8B3E;
    --orange-40: #F76B0D;
    --orange-50: #BD4B00;

    --fuchia-5: #FFF7FB;
    --fuchia-10: #F9D8E7;
    --fuchia-20: #EDADC8;
    --fuchia-30: #EA4386;
    --fuchia-40: #D61E68;
    --fuchia-50: #AE1955;

    --purple-5: #FDF6FE;
    --purple-10: #F2CCFA;
    --purple-20: #E79DF5;
    --purple-30: #B114D1;
    --purple-40: #860F9E;
    --purple-50: #5E0B6F;

    --lavanda-5: #F8F6FE;
    --lavanda-10: #DBCCFA;
    --lavanda-20: #BB9DF5;
    --lavanda-30: #773CEC;
    --lavanda-40: #5514D6;
    --lavanda-50: #40109E;

    --cobalt-5: #F8FAFF;
    --cobalt-10: #D9E2FC;
    --cobalt-20: #AEC0F5;
    --cobalt-30: #0F98FF;
    --cobalt-40: #006FE5;
    --cobalt-50: #0954A5;

    --cyan-5: #F5FBFF;
    --cyan-10: #D1FAFA;
    --cyan-20: #AAEEEE;
    --cyan-30: #14CCCC;
    --cyan-40: #0F9E9E;
    --cyan-50: #0B6F6F;

    --mint-5: #F2FCF5;
    --mint-10: #DDF3E4;
    --mint-20: #B4DFC4;
    --mint-30: #4FC48C;
    --mint-40: #2E9E68;
    --mint-50: #236E4A;

    /* TODO: needs to resolve old colors question */
    /* Loveship old colors */
    --uui-color-600: #EBECF1;

    --uui-color-carbon-700: #3D404D;
    --uui-color-carbon-800: #272933;
    --uui-color-carbon-900: #17181F;

    --uui-color-cobalt-500: #32B2FB;
    --uui-color-cobalt-600: #2196F3;
    --uui-color-cobalt-700: #0E74E2;
    --uui-color-cobalt-800: #0453C7;
    --uui-color-cobalt-900: #003399;


    --uui-color-lavanda-500: #6362C9;
    --uui-color-lavanda-600: #3F51B5;
    --uui-color-lavanda-700: #2E3A9D;
    --uui-color-lavanda-800: #21288D;
    --uui-color-lavanda-900: #191980;

    --uui-color-fuchsia-500: #F5527B;
    --uui-color-fuchsia-600: #E91E63;
    --uui-color-fuchsia-700: #CD0053;
    --uui-color-fuchsia-800: #B00052;
    --uui-color-fuchsia-900: #94004C;

    --uui-color-white-800: #E6E6E6;
    --uui-color-white-900: #CCCCCC;

    --uui-color-night200-700: #E6E8F2;
    --uui-color-night200-800: #C9CEE4;
    --uui-color-night200-900: #A7B0D3;

    --uui-color-night300-700: #D9DCE6;
    --uui-color-night300-800: #C2C6D7;
    --uui-color-night300-900: #A4AAC2;

    --uui-color-night400-700: #C3C5D2;
    --uui-color-night400-800: #B1B4C5;
    --uui-color-night400-900: #9398B0;

    --uui-color-night500-700: #9D9FB2;
    --uui-color-night500-800: #8F93A9;
    --uui-color-night500-900: #727793;

    --uui-color-night600-700: #595B6D;
    --uui-color-night600-800: #555764;
    --uui-color-night600-900: #3D3F49;
    /* end Loveship old colors */

    /* core variables start */

    --uui-accent: var(--grass);
    --uui-accent-light: var(--grass-light);
    --uui-accent-lightest: var(--grass-lightest);
    --uui-accent-dark: var(--grass-dark);
    --uui-accent-darkest: var(--grass-darkest);

    --uui-primary: var(--sky);
    --uui-primary-light: var(--sky-light);
    --uui-primary-lightest: var(--sky-lightest);
    --uui-primary-halftone: var(--night200);
    --uui-primary-dark: var(--sky-dark);
    --uui-primary-darkest: var(--sky-darkest);

    --uui-secondary: var(--night600);
    --uui-secondary-light: var(--night300);
    --uui-secondary-lightest: var(--night200);
    --uui-secondary-dark: var(--night700);
    --uui-secondary-darkest: var(--night800);

    --uui-negative: var(--fire);
    --uui-negative-light: var(--fire-light);
    --uui-negative-lightest: var(--fire-lightest);
    --uui-negative-dark: var(--fire-dark);
    --uui-negative-darkest: var(--fire-darkest);

    --uui-link: var(--sky);
    --uui-link-hover: var(--sky-dark);
    --uui-link-visited: #8018A0;
    --uui-link-disabled: var(--night500);
    --uui-visited: #5214CC;

    --uui-info: var(--sky);
    --uui-info-lightest: var(--sky-lightest);
    --uui-info-light: var(--sky-light);
    --uui-info-dark: var(--sky-dark);
    --uui-info-darkest: var(--sky-darkest);
    --uui-info-hover: var(--sky-dark);
    --uui-info-active: var(--sky-darkest);

    --uui-success: var(--grass);
    --uui-success-lightest: var(--grass-lightest);
    --uui-success-light: var(--grass-light);
    --uui-success-dark: var(--grass-dark);
    --uui-success-darkest: var(--grass-darkest);
    --uui-success-hover: var(--grass-dark);
    --uui-success-active: var(--grass-darkest);

    --uui-warning: var(--sun);
    --uui-warning-lightest: var(--sun-lightest);
    --uui-warning-light: var(--sun-light);
    --uui-warning-dark: var(--sun-dark);
    --uui-warning-darkest: var(--sun-darkest);
    --uui-warning-hover: var(--sun-dark);
    --uui-warning-active: var(--sun-darkest);

    --uui-error: var(--fire);
    --uui-error-lightest: var(--fire-lightest);
    --uui-error-light: var(--fire-light);
    --uui-error-dark: var(--fire-dark);
    --uui-error-darkest: var(--fire-darkest);
    --uui-error-hover: var(--fire-dark);
    --uui-error-active: var(--fire-darkest);

    --uui-icon: var(--night600);
    --uui-icon-hover: var(--night700);
    --uui-icon-active: var(--night800);
    --uui-icon-disabled: var(--night500);

    --uui-surface: var(--white);
    --uui-surface-hover: var(--night200);
    --uui-surface-inverted: var(--night900);
    /* new start */
    --uui-surface-light: var(--night50);
    --uui-surface-light-hover: var(--night100);
    --uui-surface-contrast: var(--night800);
    --uui-surface-contrast-hover: var(--night900);
    --uui-surface-contrast-active: var(--night900);
    /* new end */

    --uui-background: var(--night100);
    --uui-divider: var(--night400);
    --uui-divider-light: var(--night300);
    --uui-contrast: var(--white);
    --uui-disabled: var(--night300);

    --uui-scroll-bars-bg: var(--night400);
    --uui-scroll-bars-bg-active: var(--night600);

    --uui-button-bg-halftone: var(--white);
    --uui-button-caption-disabled: var(--night500);

    --uui-text-brand: var(--night900);
    --uui-text-primary: var(--night800);
    --uui-text-secondary: var(--night600);
    --uui-text-disabled: var(--night500);
    --uui-text-contrast: var(--night50);

    --uui-control-bg: var(--white);
    --uui-control-bg-checked: var(--uui-primary);
    --uui-control-bg-checked-hover: var(--uui-primary-dark);
    --uui-control-bg-checked-disabled: var(--uui-primary-light);
    --uui-control-bg-hover: var(--night600);
    --uui-control-bg-disabled: var(--night50);
    --uui-control-bg-readonly: var(--night50);
    --uui-control_switch-bg: var(--night400);
    --uui-control_switch_toggler-bg: var(--white);

    --uui-control-border-checked-disabled: var(--uui-primary-light);
    --uui-control-border: var(--night400);
    --uui-control-border-checked: var(--uui-primary);
    --uui-control-border-checked-hover: var(--uui-primary-dark);
    --uui-control-border-hover: var(--uui-primary-dark);
    --uui-control-border-disabled: var(--uui-disabled);
    --uui-control-border-readonly: var(--uui-disabled);

    --uui-control_switch-border-hover: var(--night600);
    --uui-control_textinput-border-hover: var(--night600);

    --uui-control-label: var(--uui-text-primary);
    --uui-control-label-disabled: var(--uui-text-disabled);
    --uui-control-label-error: var(--uui-error);
    --uui-control-label-fill: var(--uui-icon);
    --uui-control-label-optional-text: var(--uui-text-secondary);
    --uui-control-label-asterisk: var(--uui-error);

    --uui-control-placeholder: var(--night600);
    --uui-control-placeholder-disabled: var(--night500);

    --uui-control-text: var(--night800);
    --uui-control-text-disabled: var(--night500);

    --uui-control-icon: var(--night500);
    --uui-control-icon-disabled: var(--night500);

    --uui-control-checkbox-icon: var(--white);

    --uui-tag-bg: var(--night300);
    --uui-tag-bg-hover: var(--night400);

    --uui-skeleton: var(--night400);
    --uui-skeleton-gradient: linear-gradient(90deg, var(--night400) 0%, var(--night100) 50%, var(--night400) 100%);

    --uui-overlay: rgba(29, 30, 38, 0.8);
    --uui-border-radius: 3px;
    --uui-shadow-level-1: 0 0 3px rgba(29, 30, 38, 0.15), 0 3px 6px rgba(29, 30, 38, 0.1);
    --uui-shadow-level-2: 0 6px 12px rgba(29, 30, 38, 0.1), 0 3px 12px rgba(29, 30, 38, 0.1), 0 0 6px rgba(29, 30, 38, 0.05);
    --uui-shadow-level-3: 0 0 10px rgba(29, 30, 38, 0.05), 0 6px 24px rgba(29, 30, 38, 0.12), 0 9px 15px rgba(29, 30, 38, 0.1);

    /* core variables end */

    /* find below the not core variables that are used and highlight them in the code */

    /*  TextInput vars  */
    --uui-text-input-bg: var(--uui-control-bg);
    --uui-text-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-text-input-bg-readonly: var(--uui-control-bg-readonly);
    --uui-text-input-border: var(--uui-control-border);
    --uui-text-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-text-input-border-active: var(--uui-control-border-checked);
    --uui-text-input-border-error: var(--uui-negative);
    --uui-text-input-border-disabled: var(--uui-control-border-disabled);
    --uui-text-input-border-readonly: var(--uui-control-border-readonly);
    --uui-text-input-placeholder: var(--uui-control-placeholder);
    --uui-text-input-placeholder-disabled: var(--uui-control-placeholder-disabled);
    --uui-text-input-text: var(--uui-control-text);
    --uui-text-input-text-disabled: var(--uui-control-text-disabled);
    --uui-text-input-icon: var(--uui-control-icon);
    --uui-text-input-icon-disabled: var(--uui-control-icon-disabled);
    --uui-text-input-icon-clickable: var(--uui-icon);
    --uui-text-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-text-input-border-radius: var(--uui-border-radius);

    --uui-text-input-font: var(--font-regular);

    /*  Button vars */
    --uui-btn-border-radius: var(--uui-border-radius);

    --uui-btn-font: var(--font-semibold);

    /*  LinkButton vars   */
    --uui-link-button-text: var(--uui-primary);
    --uui-link-button-text-hover: var(--uui-primary-dark);
    --uui-link-button-text-active: var(--uui-primary-darkest);
    --uui-link-button-text-disabled: var(--uui-button-caption-disabled);
    --uui-link-button-font: var(--font-semibold);

    /*  DatePicker vars   */
    --uui-dtp-title-bg: var(--uui-control-bg);
    --uui-dtp-title-bg-hover: var(--uui-primary-halftone);
    --uui-dtp-text-selected: var(--uui-control-border-checked);
    --uui-dtp-text: var(--uui-control-text);
    --uui-dtp-next-prev-icon: var(--uui-icon);
    --uui-dtp-next-prev-icon-bg-hover: var(--uui-secondary-lightest);

    --uui-dtp_header-font: var(--font-semibold);
    --uui-dtp_body-content-font: var(--font-regular);

    /*  RangeDatePicker vars   */
    --uui-rdtp-bg: var(--uui-control-bg);
    --uui-rdtp-bg-selected-date: var(--uui-primary-lightest);

    /*  Calendar vars   */
    --uui-calendar-selected-hover: var(--uui-control-bg);
    --uui-calendar-start-end-selected-hover: var(--uui-primary-dark);
    --uui-calendar-start-end-selected: var(--uui-control-border-checked);
    --uui-calendar-weekends-weekdates: var(--uui-control-placeholder);
    --uui-calendar-text: var(--uui-control-text);
    --uui-calendar-text-filtered: var(--uui-control-text-disabled);

    --uui-calendar-content-font: var(--font-regular);
    --uui-calendar-weekday-font: var(--font-regular);
    --uui-calendar-selected_day-font: var(--font-semibold);

    /*  tab-button-vars     */
    --uui-tab-button-text: var(--uui-text-primary);
    --uui-tab-button-text-hover: var(--uui-primary);
    --uui-tab-button-text-active: var(--uui-primary);
    --uui-tab-button-text-disabled: var(--uui-text-disabled);
    --uui-tab-button-font: var(--font-semibold);

    /*  radio-input-vars    */
    --uui-radio-input-bg: var(--uui-control-bg);
    --uui-radio-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-radio-input-border: var(--uui-control-border);
    --uui-radio-input-border-checked: var(--uui-control-border-checked);
    --uui-radio-input-border-hover: var(--uui-control-border-hover);
    --uui-radio-input-border-disabled: var(--uui-control-border-disabled);
    --uui-radio-input-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-radio-input-label: var(--uui-control-label);
    --uui-radio-input-label-disabled: var(--uui-control-label-disabled);
    --uui-radio-input-fill-checked: var(--uui-control-border-checked);
    --uui-radio-input-fill-hover: var(--uui-control-border-hover);
    --uui-radio-input-fill-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-radio-input-error: var(--uui-negative);

    --uui-radio-input-font: var(--font-regular);

    /*  Checkbox vars   */
    --uui-checkbox-border: var(--uui-control-border);
    --uui-checkbox-border-hover: var(--uui-control-border-hover);
    --uui-checkbox-border-disabled: var(--uui-control-border-disabled);
    --uui-checkbox-border-checked: var(--uui-control-border-checked);
    --uui-checkbox-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-checkbox-bg: var(--uui-control-bg);
    --uui-checkbox-bg-checked: var(--uui-control-bg-checked);
    --uui-checkbox-bg-disabled: var(--uui-control-bg-disabled);
    --uui-checkbox-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-checkbox-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-checkbox-error: var(--uui-negative);
    --uui-checkbox-fill: var(--uui-control-checkbox-icon);
    --uui-checkbox-label: var(--uui-control-label);
    --uui-checkbox-label-disabled: var(--uui-control-label-disabled);
    --uui-checkbox-border-radius: var(--uui-border-radius);

    --uui-checkbox-font: var(--font-regular);

    /* Tag vars */
    --uui-tag-caption: var(--uui-text-primary);
    --uui-tag-fill: var(--uui-icon);
    --uui-tag-fill-hover: var(--uui-icon-hover);
    --uui-tag-count-bg: var(--uui-surface);
    --uui-tag-count: var(--uui-text-secondary);
    --uui-tag-label: var(--uui-text-secondary);
    --uui-tag-border-radius: 30px;

    --uui-tag-font: var(--font-regular);
    --uui-tag-count-font: var(--font-semibold);

    /*  TextArea vars  */
    --uui-text-area-bg: var(--uui-control-bg);
    --uui-text-area-bg-disabled: var(--uui-control-bg-disabled);
    --uui-text-area-border: var(--uui-control-border);
    --uui-text-area-border-disabled: var(--uui-control-border-disabled);
    --uui-text-area-border-hover: var(--uui-control_textinput-border-hover);
    --uui-text-area-border-active: var(--uui-control-border-checked);
    --uui-text-area-border-error: var(--uui-negative);
    --uui-text-area-placeholder: var(--uui-control-placeholder);
    --uui-text-area-text: var(--uui-control-text);
    --uui-text-area-text-disabled: var(--uui-control-text-disabled);
    --uui-text-area-icon: var(--uui-icon);
    --uui-text-area-border-radius: var(--uui-border-radius);

    --uui-text-area-font: var(--font-regular);
    --uui-text-area-counter-font: var(--font-regular);

    /* DropMarker vars */
    --uui-drop-marker: var(--uui-primary);
    --uui-drop-marker-blocked: var(--uui-error);

    /* Tooltip vars */
    --uui-tooltip-shadow: var(--uui-shadow-level-2, 0 2px 18px 0 rgba(44, 47, 60, 0.3), 0 1px 4px 0 rgba(44, 47, 60, 0.5)); /* WebStorm Bag Report https://youtrack.jetbrains.com/issue/WEB-54442 */
    --uui-tooltip-arrow-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    --uui-tooltip-border-radius: var(--uui-border-radius);

    --uui-tooltip-font: var(--font-regular);

    /* PickerInput vars */
    --uui-picker_input-bg: var(--uui-surface);

    /* PickerToggler vars */
    --uui-picker-toggler-bg: var(--uui-control-bg);
    --uui-picker-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-picker-toggler-border: var(--uui-control-border);
    --uui-picker-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-picker-toggler-border-hover: var(--uui-control_textinput-border-hover);
    --uui-picker-toggler-border-active: var(--uui-control-border-checked);
    --uui-picker-toggler-border-error: var(--uui-negative);
    --uui-picker-toggler-placeholder: var(--uui-control-placeholder);
    --uui-picker-toggler-text: var(--uui-control-text);
    --uui-picker-toggler-text-disabled: var(--uui-control-text-disabled);
    --uui-picker-toggler-icon: var(--uui-control-icon);
    --uui-picker-toggler-icon-disabled: var(--uui-control-icon-disabled);
    --uui-picker-toggler-icon-clickable: var(--uui-icon);
    --uui-picker-toggler-icon-clickable-hover: var(--uui-icon-hover);
    --uui-picker-toggler-border-radius: var(--uui-border-radius);

    --uui-picker-toggler-font: var(--font-regular);

    /* Panel */
    --uui-panel-border-radius: var(--uui-border-radius);
    --uui-panel-shadow: var(--uui-shadow-level-1);

    /* Modals */
    --uui-modals-border-radius: var(--uui-border-radius);
    --uui-modals-overlay: rgba(29, 30, 38, 0.8);
    --uui-modals-shadow: var(--uui-shadow-level-3);
    --uui-modals-bg: var(--uui-surface);

    /*    TextPlaceholder   */
    --uui-text-placeholder-gradient: var(--uui-skeleton-gradient);
    --uui-text-placeholder: var(--uui-skeleton);

    /* LabeledInput */
    --uui-labeled-input: var(--uui-text-primary);
    --uui-labeled-input-disabled: var(--uui-text-disabled);
    --uui-labeled-input-error: var(--uui-error);
    --uui-labeled-input-fill: var(--uui-icon);
    --uui-labeled-input-info-fill: var(--uui-icon);
    --uui-labeled-input-optional-text: var(--uui-text-secondary);
    --uui-labeled-input-asterisk: var(--uui-error);

    --uui-labeled-input-font: var(--font-semibold);
    --uui-labeled-input-optional-font: var(--font-italic);
    --uui-labeled-input-invalid-msg-font: var(--font-regular);

    /* Accordion */
    --uui-accordion-bg: var(--uui-surface);
    --uui-accordion-border: var(--uui-divider);
    --uui-accordion-border-radius: 6px;
    --uui-accordion-text: var(--uui-text-primary);
    --uui-accordion-text-disabled: var(--uui-text-disabled);
    --uui-accordion-icon: var(--uui-icon);
    --uui-accordion-icon-disabled: var(--uui-text-input-icon-disabled);
    --uui-accordion-focus: var(--uui-primary);
    --uui-accordion-shadow: var(--uui-shadow-level-1);
    --uui-accordion-shadow-hovered: var(--uui-shadow-level-2);

    --uui-accordion-toggler-font: var(--font-semibold);
    --uui-accordion-body-font: var(--font-regular);

    /* Switch */
    --uui-switch-bg: var(--uui-control_switch-bg);
    --uui-switch-border-hover: var(--uui-control_switch-border-hover);
    --uui-switch-bg-checked: var(--uui-control-bg-checked);
    --uui-switch-bg-hover: var(--uui-control-bg-hover);
    --uui-switch-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-bg-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-bg-checked-disabled: var(--uui-control-bg-checked-disabled);
    --uui-switch-border: var(--uui-control-border);
    --uui-switch-border-checked: var(--uui-control-border-checked);
    --uui-switch-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-border-checked-hover: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-hover-copy: var(--uui-control-border-checked-hover);
    --uui-switch-border-checked-disabled: var(--uui-control-border-checked-disabled);
    --uui-switch-label: var(--uui-control-label);
    --uui-switch-label-disabled: var(--uui-control-label-disabled);
    --uui-switch-toggler-bg: var(--uui-control_switch_toggler-bg);
    --uui-switch-toggler-bg-disabled: var(--uui-control-bg-disabled);
    --uui-switch-toggler-border-checked: var(--uui-control-bg-checked);
    --uui-switch-toggler-border-hover: var(--uui-control-bg-hover);
    --uui-switch-toggler-border-disabled: var(--uui-control-border-disabled);
    --uui-switch-toggler-border-checked-hover: var(--uui-control-bg-checked-hover);
    --uui-switch-toggler-border-checked-disabled: var(--uui-control-bg-checked-disabled);

    --uui-switch-font: var(--font-regular);

    /* DropdownContainer */
    --uui-dropdown-container-border-radius: 6px;
    --uui-dropdown-container-shadow: var(--uui-shadow-level-2);
    --uui-dropdown-container-bg: var(--uui-surface);

    /* DropdownMenu */
    // TODO: update tokens
    --uui-dropdown-menu-bg: var(--uui-surface);
    --uui-dropdown-menu-shadow: var(--uui-shadow-level-2);
    --uui-dropdown-menu-splitter: var(--uui-divider);
    --uui-dropdown-menu-item-hover: var(--uui-surface-hover);
    --uui-dropdown-menu-item-active: var(--uui-surface-hover);
    --uui-dropdown-menu-item-text: var(--uui-text-primary);

    --uui-dropdown-menu-body-font: var(--font-regular);
    --uui-dropdown-menu-item-font: var(--font-regular);

    /* MainMenu */
    --uui-main_menu-text: var(--uui-text-contrast);
    --uui-main_menu-bg: var(--uui-surface-contrast);
    --uui-main_menu-hover: var(--uui-surface-contrast-hover);
    --uui-main_menu-active: var(--uui-surface-contrast-active);
    --uui-main_menu-border-active: var(--uui-primary);

    --uui-main_menu-dropdown-bg: var(--uui-surface-inverted);
    --uui-main_menu-dropdown-hover: var(--uui-primary);
    --uui-main_menu-dropdown-shadow: none;
    --uui-main_menu-dropdown-border-radius: none;

    --uui-main_menu-search-bg: var(--uui-secondary-darkest);
    --uui-main_menu-search-border: var(--uui-secondary-darkest);
    --uui-main_menu-search-placeholder: var(--uui-text-disabled);
    --uui-main_menu-search-text: var(--uui-contrast);
    --uui-main_menu-search-icon: var(--uui-icon-disabled);

    --uui-main_menu-icon: var(--uui-text-contrast);
    --uui-main_menu-icon-hover: var(--uui-text-contrast);
    --uui-main_menu-icon-active: var(--uui-text-contrast);

    --uui-main_menu-font: var(--font-semibold);
    --uui-main_menu-search-font: var(--font-regular);

    /* BurgerMenu */
    --uui-burger_menu-bg: var(--uui-surface-inverted);
    --uui-burger_menu-bg-hover: var(--uui-primary-dark);
    --uui-burger_menu-caption: var(--uui-text-contrast);
    --uui-burger_menu-caption-hover: var(--uui-primary);
    --uui-burger_menu-overlay: var(--uui-overlay);
    --uui-burger_icon: var(--uui-text-contrast);
    --uui-burger_item: var(--uui-text-brand);

    /* BurgerGroupHeader */
    --uui-burger_group-text: var(--uui-text-disabled);
    --uui-burger_group-bg: var(--uui-surface-contrast);
    --uui-burger_group-line: var(--uui-text-secondary);

    --uui-burger_group-font: var(--font-regular);

    /* BurgerButton */
    --uui-burger_btn_caption: var(--uui-text-contrast);
    --uui-burger_btn_caption-hover: var(--uui-primary);
    --uui-burger_btn_caption-active: var(--uui-primary);
    --uui-burger_btn-border: var(--uui-disabled);

    --uui-burger_btn-font: var(--font-regular);

    /* BurgerSearch */
    --uui-burger_search: var(--uui-text-contrast);
    --uui-burger_search-fill: var(--uui-text-disabled);
    --uui-burger_search-bg: var(--uui-surface-contrast);
    --uui-burger_search-placeholder: var(--uui-text-disabled);

    --uui-burger_search-font: var(--font-regular);

    /* NumericInput */
    --uui-numeric-input-bg: var(--uui-control-bg);
    --uui-numeric-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-numeric-input-border: var(--uui-control-border);
    --uui-numeric-input-border-disabled: var(--uui-control-border-disabled);
    --uui-numeric-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-numeric-input-border-active: var(--uui-control-border-checked);
    --uui-numeric-input-border-error: var(--uui-negative);
    --uui-numeric-input-placeholder: var(--uui-control-placeholder);
    --uui-numeric-input-text: var(--uui-control-text);
    --uui-numeric-input-text-disabled: var(--uui-control-text-disabled);
    --uui-numeric-input-icon-clickable: var(--uui-icon);
    --uui-numeric-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-numeric-input-border-radius: var(--uui-border-radius);

    /* TimePicker */
    --uui-time-picker-bg: var(--uui-control-bg);
    --uui-time-picker-bg-disabled: var(--uui-control-bg-disabled);
    --uui-time-picker-border: var(--uui-control-border);
    --uui-time-picker-border-disabled: var(--uui-control-border-disabled);
    --uui-time-picker-border-hover: var(--uui-control_textinput-border-hover);
    --uui-time-picker-border-active: var(--uui-control-border-checked);
    --uui-time-picker-border-error: var(--uui-negative);
    --uui-time-picker-placeholder: var(--uui-control-placeholder);
    --uui-time-picker-text: var(--uui-control-text);
    --uui-time-picker-text-disabled: var(--uui-control-text-disabled);
    --uui-time-picker-icon-clickable: var(--uui-icon);
    --uui-time-picker-icon-clickable-hover: var(--uui-icon-hover);
    --uui-time-picker-border-radius: var(--uui-border-radius);

    /* SearchPicker */
    --uui-search-input-bg: var(--uui-control-bg);
    --uui-search-input-bg-disabled: var(--uui-control-bg-disabled);
    --uui-search-input-border: var(--uui-control-border);
    --uui-search-input-border-disabled: var(--uui-control-border-disabled);
    --uui-search-input-border-hover: var(--uui-control_textinput-border-hover);
    --uui-search-input-border-active: var(--uui-control-border-checked);
    --uui-search-input-border-error: var(--uui-negative);
    --uui-search-input-placeholder: var(--uui-control-placeholder);
    --uui-search-input-text: var(--uui-control-text);
    --uui-search-input-text-disabled: var(--uui-control-text-disabled);
    --uui-search-input-icon-clickable: var(--uui-icon);
    --uui-search-input-icon-clickable-hover: var(--uui-icon-hover);
    --uui-search-input-icon-disabled: var(--uui-icon-disabled);
    --uui-search-input-border-radius: var(--uui-border-radius);

    /* Popover */
    --uui-popover-shadow: var(--uui-shadow-level-2);

    /* Footer */
    --uui-footer-bg: var(--uui-surface-contrast);

    /* FilterPanelItemToggler vars */
    --uui-filters-toggler-border: var(--uui-text-input-border);
    --uui-filters-toggler-border-hover: var(--uui-text-input-border-hover);
    --uui-filters-toggler-border-radius: var(--uui-border-radius);
    --uui-filters-toggler-bg: var(--uui-surface);
    --uui-filters-toggler-bg-hover: var(--uui-surface-light-hover);
    --uui-filters-toggler-text: var(--uui-text-brand);
    --uui-filters-toggler-label: var(--uui-text-secondary);
    --uui-filters-toggler-icon: var(--uui-text-input-icon-clickable);
    --uui-filters-toggler-shadow: none;

    --uui-filters-toggler-font: var(--font-regular);
    --uui-filters-panel-header-font: var(--font-regular);

    /* NotificationCard */
    --uui-notification-card-border-radius: var(--uui-border-radius);
    --uui-notification-card-border-width: 0;
    --uui-notification-card-border-top-width: 6px;
    --uui-notification-card-shadow: var(--uui-shadow-level-2); //TODO: may change in the future

    /* Alert */
    --uui-alert-border-radius: 6px;

    /* Panel */

    --uui-panel-bg: var(--uui-surface);

    /* Spinner */
    --uui-spinner: var(--uui-primary);

    /* Blocker */
    --uui-blocker-bg: var(--uui-background);
    --uui-blocker-bg-with-opacity: #F5F6FA80;

    /* FlexRow */
    --uui-flex-row-border-bottom: 1px solid var(--uui-divider);

    /* DataTable vars */
    --uui-dt-border: var(--uui-divider-light);

    --uui-dt-cell-bg: transparent;
    --uui-dt-cell-bg-resize: #EF55331F;
    --uui-dt-cell-bg-invalid: var(--uui-negative-lightest);
    --uui-dt-cell-border-hover: var(--uui-control_textinput-border-hover);
    --uui-dt-cell-border-focus: var(--uui-control-border-checked);

    --uui-dt-row-bg: var(--uui-surface);
    --uui-dt-row-bg-hover: var(--uui-surface-light-hover);
    --uui-dt-row-bg-invalid: #FEF7F6;
    --uui-dt-row-bg-selected: #EBF7FF;

    --uui-dt-header-row-bg: var(--uui-surface-light);
    --uui-dt-header-row-bg-hover: var(--uui-surface-hover);

    --uui-dt-top-shadow: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    --uui-dt-left-shadow: linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    --uui-dt-right-shadow: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    --uui-dt_header-drop_marker: var(--uui-primary);

    --uui-dt-header-cell-font: var(--font-semibold);

    /* AvatarStack */

    --uui-avatar-stack-font: var(--font-semibold);

    /* Badge */

    --uui-badge-font: var(--font-regular);
    --uui-badge-count-font: var(--font-semibold);

    /* Pagination */

    --uui-pagination-font: var(--font-regular);


    /* ------------------------------------ */

    :global(.tooltip-contrast),
    :global(.tooltip-gray) {
        --uui-tooltip-bg: var(--uui-surface-contrast);
        --uui-tooltip-text: var(--uui-contrast);
    }

    :global(.tooltip-default),
    :global(.tooltip-white) {
        --uui-tooltip-bg: var(--uui-surface);
        --uui-tooltip-text: var(--uui-text-primary);
    }

    :global(.tooltip-critical),
    :global(.tooltip-fire) {
        --uui-tooltip-bg: var(--uui-error-dark);
        --uui-tooltip-text: var(--uui-contrast);
    }

    :global(.button-sky), :global(.button-primary) {
        --uui-btn-bg: var(--uui-primary);
        --uui-btn-bg-hover: var(--uui-primary-dark);
        --uui-btn-bg-active: var(--uui-primary-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-primary-lightest);
        --uui-btn-bg-halftone-active: var(--uui-primary-light);
        --uui-btn-border: var(--uui-primary);
        --uui-btn-border-hover: var(--uui-primary-dark);
        --uui-btn-border-active: var(--uui-primary-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-primary);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    :global(.button-accent), :global(.button-grass) {
        --uui-btn-bg: var(--uui-accent);
        --uui-btn-bg-hover: var(--uui-accent-dark);
        --uui-btn-bg-active: var(--uui-accent-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-accent-lightest);
        --uui-btn-bg-halftone-active: var(--uui-accent-light);
        --uui-btn-border: var(--uui-accent);
        --uui-btn-border-hover: var(--uui-accent-dark);
        --uui-btn-border-active: var(--uui-accent-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-accent);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    :global(.button-fire), :global(.button-negative) {
        --uui-btn-bg: var(--uui-negative);
        --uui-btn-bg-hover: var(--uui-negative-dark);
        --uui-btn-bg-active: var(--uui-negative-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-negative-lightest);
        --uui-btn-bg-halftone-active: var(--uui-negative-light);
        --uui-btn-border: var(--uui-negative);
        --uui-btn-border-hover: var(--uui-negative-dark);
        --uui-btn-border-active: var(--uui-negative-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-negative);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    :global(.button-night500),
    :global(.button-night600),
    :global(.button-gray),
    :global(.button-secondary) {
        --uui-btn-bg: var(--uui-secondary);
        --uui-btn-bg-hover: var(--uui-secondary-dark);
        --uui-btn-bg-active: var(--uui-secondary-darkest);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
        --uui-btn-bg-halftone-active: var(--uui-secondary-light);
        --uui-btn-border: var(--uui-secondary);
        --uui-btn-border-hover: var(--uui-secondary-dark);
        --uui-btn-border-active: var(--uui-secondary-darkest);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--uui-contrast);
        --uui-btn-caption-halftone: var(--uui-secondary-dark);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    :global(.button-white) {
        --uui-btn-bg: var(--uui-contrast);
        --uui-btn-bg-hover: var(--uui-color-white-800);
        --uui-btn-bg-active: var(--uui-color-white-900);
        --uui-btn-bg-halftone: var(--uui-button-bg-halftone);
        --uui-btn-bg-halftone-hover: var(--uui-secondary-lightest);
        --uui-btn-bg-halftone-active: var(--uui-secondary-light);
        --uui-btn-border: var(--uui-contrast);
        --uui-btn-border-hover: var(--uui-color-white-800);
        --uui-btn-border-active: var(--uui-color-white-900);
        --uui-btn-bg-disabled: var(--uui-disabled);
        --uui-btn-border-disabled: var(--uui-disabled);
        --uui-btn-caption: var(--night800);
        --uui-btn-caption-halftone: var(--uui-secondary-dark);
        --uui-btn-caption-disabled: var(--uui-button-caption-disabled);
    }

    :global(.icon-button-sky),
    :global(.icon-button-info) {
        --uui-icon-btn: var(--uui-info);
        --uui-icon-btn-hover: var(--uui-info-dark);
        --uui-icon-btn-active: var(--uui-info-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-grass),
    :global(.icon-button-success) {
        --uui-icon-btn: var(--uui-success);
        --uui-icon-btn-hover: var(--uui-success-dark);
        --uui-icon-btn-active: var(--uui-success-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-sun),
    :global(.icon-button-warning) {
        --uui-icon-btn: var(--uui-warning);
        --uui-icon-btn-hover: var(--uui-warning-dark);
        --uui-icon-btn-active: var(--uui-warning-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-fire),
    :global(.icon-button-error) {
        --uui-icon-btn: var(--uui-error);
        --uui-icon-btn-hover: var(--uui-error-dark);
        --uui-icon-btn-active: var(--uui-error-darkest);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-carbon) {
        --uui-icon-btn: var(--uui-color-carbon-700);
        --uui-icon-btn-hover: var(--uui-color-carbon-800);
        --uui-icon-btn-active: var(--uui-color-carbon-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-cobalt) {
        --uui-icon-btn: var(--uui-color-cobalt-700);
        --uui-icon-btn-hover: var(--uui-color-cobalt-800);
        --uui-icon-btn-active: var(--uui-color-cobalt-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-lavanda) {
        --uui-icon-btn: var(--uui-color-lavanda-700);
        --uui-icon-btn-hover: var(--uui-color-lavanda-800);
        --uui-icon-btn-active: var(--uui-color-lavanda-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-fuchsia) {
        --uui-icon-btn: var(--uui-color-fuchsia-700);
        --uui-icon-btn-hover: var(--uui-color-fuchsia-800);
        --uui-icon-btn-active: var(--uui-color-fuchsia-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-white) {
        --uui-icon-btn: var(--white);
        --uui-icon-btn-hover: var(--uui-color-white-800);
        --uui-icon-btn-active: var(--uui-color-white-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-night200) {
        --uui-icon-btn: var(--night200);
        --uui-icon-btn-hover: var(--uui-color-night200-800);
        --uui-icon-btn-active: var(--uui-color-night200-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-night300) {
        --uui-icon-btn: var(--night300);
        --uui-icon-btn-hover: var(--uui-color-night300-800);
        --uui-icon-btn-active: var(--uui-color-night300-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-night400) {
        --uui-icon-btn: var(--night400);
        --uui-icon-btn-hover: var(--uui-color-night400-800);
        --uui-icon-btn-active: var(--uui-color-night400-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-night500) {
        --uui-icon-btn: var(--night500);
        --uui-icon-btn-hover: var(--uui-color-night500-800);
        --uui-icon-btn-active: var(--uui-color-night500-900);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.icon-button-night600),
    :global(.icon-button-secondary),
    :global(.icon-button-default) {
        --uui-icon-btn: var(--night600);
        --uui-icon-btn-hover: var(--uui-icon-hover);
        --uui-icon-btn-active: var(--uui-icon-active);
        --uui-icon-btn-disabled: var(--uui-icon-disabled);
    }

    :global(.notification-card-sun),
    :global(.notification-card-warning) {
        --uui-notification-card-fill: var(--uui-warning);
        --uui-notification-card-border: var(--uui-warning);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    :global(.notification-card-success),
    :global(.notification-card-grass) {
        --uui-notification-card-fill: var(--uui-success);
        --uui-notification-card-border: var(--uui-success);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    :global(.notification-card-info),
    :global(.notification-card-sky) {
        --uui-notification-card-fill: var(--uui-info);
        --uui-notification-card-border: var(--uui-info);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    :global(.notification-card-error),
    :global(.notification-card-fire) {
        --uui-notification-card-fill: var(--uui-error);
        --uui-notification-card-border: var(--uui-error);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    :global(.notification-card-night600) {
        --uui-notification-card-fill: var(--night600);
        --uui-notification-card-border: var(--night600);
        --uui-notification-card-bg: var(--uui-surface);
        --uui-notification-card-text: var(--uui-text-primary);
    }

    :global(.alert-error),
    :global(.alert-fire) {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: #F5E5E9;
        --uui-alert-border: var(--uui-error);
        --uui-alert-icon: var(--uui-error);
    }

    :global(.alert-warning),
    :global(.alert-sun) {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: #F6EEE1;
        --uui-alert-border: var(--uui-warning);
        --uui-alert-icon: var(--uui-warning);
    }


    :global(.alert-success),
    :global(.alert-grass) {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: #E7EEE1;
        --uui-alert-border: var(--uui-success);
        --uui-alert-icon: var(--uui-success);
    }

    :global(.alert-info),
    :global(.alert-sky) {
        --uui-alert-text: var(--uui-text-primary);
        --uui-alert-bg: #DCEDF6;
        --uui-alert-border: var(--uui-info);
        --uui-alert-icon: var(--uui-info);
    }

    :global(.badge-default), :global(.badge-night300) {
        --uui-badge-bg: var(--night300);
        --uui-badge-bg-hover: var(--night400);
        --uui-badge-caption-solid: var(--uui-text-primary);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--night200);
        --uui-badge-bg-halftone-hover: var(--night300);
        --uui-badge-border-halftone: var(--night400);
        --uui-badge-border-halftone-hover: var(--night500);
        --uui-badge-caption-halftone: var(--uui-text-primary);
    }

    :global(.badge-info), :global(.badge-sky) {
        --uui-badge-bg: var(--uui-info);
        --uui-badge-bg-hover: var(--uui-info-dark);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-info-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-info-light);
        --uui-badge-border-halftone: var(--uui-info-light);
        --uui-badge-border-halftone-hover: var(--uui-info);
        --uui-badge-caption-halftone: var(--uui-info-darkest);
    }

    :global(.badge-success), :global(.badge-grass) {
        --uui-badge-bg: var(--uui-success);
        --uui-badge-bg-hover: var(--uui-success-dark);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-success-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-success-light);
        --uui-badge-border-halftone: var(--uui-success-light);
        --uui-badge-border-halftone-hover: var(--uui-success);
        --uui-badge-caption-halftone: var(--uui-success-darkest);
    }

    :global(.badge-warning), :global(.badge-sun) {
        --uui-badge-bg: var(--uui-warning);
        --uui-badge-bg-hover: var(--uui-warning-dark);
        --uui-badge-caption-solid: var(--uui-text-primary);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-warning-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-warning-light);
        --uui-badge-border-halftone: var(--uui-warning-light);
        --uui-badge-border-halftone-hover: var(--uui-warning);
        --uui-badge-caption-halftone: var(--uui-warning-darkest);
    }

    :global(.badge-error), :global(.badge-fire) {
        --uui-badge-bg: var(--uui-error);
        --uui-badge-bg-hover: var(--uui-error-dark);
        --uui-badge-caption-solid: var(--white);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-error-lightest);
        --uui-badge-bg-halftone-hover: var(--uui-error-light);
        --uui-badge-border-halftone: var(--uui-error-light);
        --uui-badge-border-halftone-hover: var(--uui-error);
        --uui-badge-caption-halftone: var(--uui-error-darkest);
    }

    :global(.badge-cobalt) {
        --uui-badge-bg: var(--uui-color-cobalt-700);
        --uui-badge-bg-hover: var(--uui-color-cobalt-800);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-color-cobalt-500);
        --uui-badge-bg-halftone-hover: var(--uui-color-cobalt-600);
        --uui-badge-border-halftone: var(--uui-color-cobalt-700);
        --uui-badge-border-halftone-hover: var(--uui-color-cobalt-800);
        --uui-badge-caption-halftone: var(--uui-color-cobalt-900);
    }

    :global(.badge-lavanda) {
        --uui-badge-bg: var(--uui-color-lavanda-700);
        --uui-badge-bg-hover: var(--uui-color-lavanda-800);
        --uui-badge-caption-solid: var(--white);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-color-lavanda-500);
        --uui-badge-bg-halftone-hover: var(--uui-color-lavanda-600);
        --uui-badge-border-halftone: var(--uui-color-lavanda-700);
        --uui-badge-border-halftone-hover: var(--uui-color-lavanda-800);
        --uui-badge-caption-halftone: var(--uui-color-lavanda-900);
    }

    :global(.badge-fuchsia) {
        --uui-badge-bg: var(--uui-color-fuchsia-700);
        --uui-badge-bg-hover: var(--uui-color-fuchsia-800);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--uui-color-fuchsia-500);
        --uui-badge-bg-halftone-hover: var(--uui-color-fuchsia-600);
        --uui-badge-border-halftone: var(--uui-color-fuchsia-700);
        --uui-badge-border-halftone-hover: var(--uui-color-fuchsia-800);
        --uui-badge-caption-halftone: var(--uui-color-fuchsia-900);
    }

    :global(.badge-white) {
        --uui-badge-bg: var(--white);
        --uui-badge-bg-hover: var(--gray5);
        --uui-badge-caption-solid: var(--night800);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--white);
        --uui-badge-bg-halftone-hover: var(--gray5);
        --uui-badge-border-halftone: var(--white);
        --uui-badge-border-halftone-hover: var(--gray5);
        --uui-badge-caption-halftone: var(--uui-text-secondary);
    }

    :global(.badge-night200) {
        --uui-badge-bg: var(--uui-color-night200-700);
        --uui-badge-bg-hover: var(--uui-color-night200-800);
        --uui-badge-caption-solid: var(--night800);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--white);
        --uui-badge-bg-halftone-hover: var(--gray5);
        --uui-badge-border-halftone: var(--white);
        --uui-badge-border-halftone-hover: var(--gray5);
        --uui-badge-caption-halftone: var(--uui-text-secondary);
    }

    :global(.badge-night300) {
        --uui-badge-bg: var(--uui-color-night300-700);
        --uui-badge-bg-hover: var(--uui-color-night300-800);
        --uui-badge-caption-solid: var(--night800);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--white);
        --uui-badge-bg-halftone-hover: var(--gray5);
        --uui-badge-border-halftone: var(--white);
        --uui-badge-border-halftone-hover: var(--gray5);
        --uui-badge-caption-halftone: var(--uui-text-secondary);
    }

    :global(.badge-night400) {
        --uui-badge-bg: var(--uui-color-night400-700);
        --uui-badge-bg-hover: var(--uui-color-night400-800);
        --uui-badge-caption-solid: var(--night800);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--white);
        --uui-badge-bg-halftone-hover: var(--gray5);
        --uui-badge-border-halftone: var(--white);
        --uui-badge-border-halftone-hover: var(--gray5);
        --uui-badge-caption-halftone: var(--uui-text-secondary);
    }

    :global(.badge-night500) {
        --uui-badge-bg: var(--uui-color-night500-700);
        --uui-badge-bg-hover: var(--uui-color-night500-800);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--white);
        --uui-badge-bg-halftone-hover: var(--gray5);
        --uui-badge-border-halftone: var(--white);
        --uui-badge-border-halftone-hover: var(--gray5);
        --uui-badge-caption-halftone: var(--uui-text-secondary);
    }

    :global(.badge-night600) {
        --uui-badge-bg: var(--uui-color-night600-700);
        --uui-badge-bg-hover: var(--uui-color-night600-800);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--white);
        --uui-badge-bg-halftone-hover: var(--gray5);
        --uui-badge-border-halftone: var(--white);
        --uui-badge-border-halftone-hover: var(--gray5);
        --uui-badge-caption-halftone: var(--uui-text-secondary);
    }

    :global(.badge-violet) {
        --uui-badge-bg: var(--lavanda-30);
        --uui-badge-bg-hover: var(--lavanda-40);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--lavanda-10);
        --uui-badge-bg-halftone-hover: var(--lavanda-20);
        --uui-badge-border-halftone: var(--lavanda-20);
        --uui-badge-border-halftone-hover: var(--lavanda-30);
        --uui-badge-caption-halftone: var(--lavanda-50);
    }

    :global(.badge-orange) {
        --uui-badge-bg: var(--orange-30);
        --uui-badge-bg-hover: var(--orange-40);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--orange-10);
        --uui-badge-bg-halftone-hover: var(--orange-20);
        --uui-badge-border-halftone: var(--orange-20);
        --uui-badge-border-halftone-hover: var(--orange-30);
        --uui-badge-caption-halftone: var(--orange-50);
    }

    :global(.badge-purple) {
        --uui-badge-bg: var(--purple-30);
        --uui-badge-bg-hover: var(--purple-40);
        --uui-badge-caption-solid: var(--uui-text-contrast);
        --uui-badge-count-bg: var(--white);
        --uui-badge-count: var(--uui-text-secondary);
        --uui-badge-bg-halftone: var(--purple-10);
        --uui-badge-bg-halftone-hover: var(--purple-20);
        --uui-badge-border-halftone: var(--purple-20);
        --uui-badge-border-halftone-hover: var(--purple-30);
        --uui-badge-caption-halftone: var(--purple-50);
    }

    :global(.informer-default) {
        --uui-informer-bg: var(--night300);
        --uui-informer-caption: var(--night600);
    }

    :global(.informer-focus) {
        --uui-informer-bg: var(--fire);
        --uui-informer-caption: var(--uui-contrast);
    }

    :global(.informer-white) {
        --uui-informer-bg: var(--uui-surface);
        --uui-informer-caption: var(--uui-text-secondary);
    }

    :global(.uui-text-brand),
    :global(.uui-text-night900) {
        --uui-text: var(--uui-text-brand);
    }

    :global(.uui-text-primary),
    :global(.uui-text-night800) {
        --uui-text: var(--uui-text-primary);
    }

    :global(.uui-text-night700) {
        --uui-text: var(--night700);
    }

    :global(.uui-text-secondary),
    :global(.uui-text-night600) {
        --uui-text: var(--uui-text-secondary);
    }

    :global(.uui-text-disabled),
    :global(.uui-text-night500) {
        --uui-text: var(--uui-text-disabled);
    }

    :global(.uui-text-night400) {
        --uui-text: var(--night400);
    }

    :global(.uui-text-night300) {
        --uui-text: var(--night300);
    }

    :global(.uui-text-contrast),
    :global(.uui-text-night50) {
        --uui-text: var(--uui-text-contrast);
    }

    :global(.uui-font-regular),
    :global(.uui-font-sans) {
        --uui-font: var(--font-regular);
    }

    :global(.uui-font-semibold),
    :global(.uui-font-sans-semibold) {
        --uui-font: var(--font-semibold);
    }

    :global(.uui-font-sans-light) {
        --uui-font: var(--font-light);
    }

    :global(.dropdown-container-white) {
        --uui-dropdown-container-bg: var(--white);
    }

    :global(.dropdown-container-night700) {
        --uui-dropdown-container-bg: var(--night700);
    }

    :global(.flex-row-background-white) {
        --uui-flex-row-bg: var(--uui-surface);
    }

    :global(.flex-row-background-night50) {
        --uui-flex-row-bg: var(--night50);
    }

    :global(.flex-row-background-night100) {
        --uui-flex-row-bg: var(--night100);
    }

    :global(.flex-row-background-none) {
        --uui-flex-row-bg: transparent;
    }

    :global(.panel-white) {
        --uui-panel-bg: var(--uui-surface);
    }

    :global(.panel-night50) {
        --uui-panel-bg: var(--night50);
    }
}
