/*  Name convention  */
/* --uui-'component name or group of components name'-'styled part name'-'states(optional)'-'hover/active/focus(optional)' */

.uui-theme-promo,
[class^='uui-theme-'] .uui-theme-promo,
[class^='uui-theme-'] [class^='uui-theme-'] .uui-theme-promo {
    --uui-font: 'Source Sans Pro', sans-serif;
    --font-primary: 'Museo Sans', 'Source Sans Pro', Arial, sans-serif;
    --font-promo: 'Museo Slab', 'Roboto Slab', Arial, sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --gray5: #FAFAFC;
    --gray10: #F5F6FA;
    --gray20: #EBEDF5;
    --gray30: #E1E3EB;
    --gray40: #CED0DB;
    --gray50: #ACAFBF;
    --gray60: #6C6F80;
    --gray70: #474A59;
    --gray80: #303240;
    --gray90: #1D1E26;

    --blue-soft: #F5FDFF;
    --blue-lightest: #D6F2FF;
    --blue-light: #99DDFF;
    --blue: #007BBD;
    --blue-dark: #006AA3;
    --blue-darkest: #005685;

    --green-soft: #FCFFF5;
    --green-lightest: #EEFFCC;
    --green-light: #CFF486;
    --green: #65A300;
    --green-dark: #528500;
    --green-darkest: #446600;

    --amber-soft: #FFFCF5;
    --amber-lightest: #FFF2CC;
    --amber-light: #FFE38F;
    --amber: #FFC000;
    --amber-dark: #DB9D00;
    --amber-darkest: #9F6B04;

    --red-soft: #FEF7F6;
    --red-lightest: #FADED9;
    --red-light: #F5B5A8;
    --red: #DB3A1A;
    --red-dark: #C03316;
    --red-darkest: #A02B13;

    --white: #FFFFFF;

    --yellow-5: #FFFFF0;
    --yellow-10: #FFFECC;
    --yellow-20: #FFFCA4;
    --yellow-30: #FDD63B;
    --yellow-40: #F9B71D;
    --yellow-50: #D3910C;

    --orange-5: #FEF8F4;
    --orange-10: #FFE8D7;
    --orange-20: #FFCCA7;
    --orange-30: #FF8B3E;
    --orange-40: #F76B0D;
    --orange-50: #BD4B00;

    --fuchsia-5: #FFF7FB;
    --fuchsia-10: #F9D8E7;
    --fuchsia-20: #EDADC8;
    --fuchsia-30: #EA4386;
    --fuchsia-40: #D61E68;
    --fuchsia-50: #AE1955;

    --purple-5: #FDF6FE;
    --purple-10: #F2CCFA;
    --purple-20: #E79DF5;
    --purple-30: #B114D1;
    --purple-40: #860F9E;
    --purple-50: #5E0B6F;

    --lavanda-5: #F8F6FE;
    --lavanda-10: #DBCCFA;
    --lavanda-20: #BB9DF5;
    --lavanda-30: #773CEC;
    --lavanda-40: #5514D6;
    --lavanda-50: #40109E;

    --cobalt-5: #F8FAFF;
    --cobalt-10: #D9E2FC;
    --cobalt-20: #AEC0F5;
    --cobalt-30: #0F98FF;
    --cobalt-40: #006FE5;
    --cobalt-50: #0954A5;

    --cyan-5: #F5FBFF;
    --cyan-10: #D1FAFA;
    --cyan-20: #AAEEEE;
    --cyan-30: #14CCCC;
    --cyan-40: #0F9E9E;
    --cyan-50: #0B6F6F;

    --mint-5: #F2FCF5;
    --mint-10: #DDF3E4;
    --mint-20: #B4DFC4;
    --mint-30: #4FC48C;
    --mint-40: #2E9E68;
    --mint-50: #236E4A;

    /* core variables start */

    /* brand colors */

    --uui-accent-5: var(--green-soft);
    --uui-accent-10: var(--green-lightest);
    --uui-accent-20: var(--green-light);
    --uui-accent-50: var(--green);
    --uui-accent-60: var(--green-dark);
    --uui-accent-70: var(--green-darkest);

    --uui-primary-5: var(--blue-soft);
    --uui-primary-10: var(--blue-lightest);
    --uui-primary-20: var(--blue-light);
    --uui-primary-50: var(--blue);
    --uui-primary-60: var(--blue-dark);
    --uui-primary-70: var(--blue-darkest);

    --uui-secondary-5: var(--gray20);
    --uui-secondary-10: var(--gray30);
    --uui-secondary-20: var(--gray40);
    --uui-secondary-50: var(--gray60);
    --uui-secondary-60: var(--gray70);
    --uui-secondary-70: var(--gray80);

    --uui-critical-5: var(--red-soft);
    --uui-critical-10: var(--red-lightest);
    --uui-critical-20: var(--red-light);
    --uui-critical-50: var(--red);
    --uui-critical-60: var(--red-dark);
    --uui-critical-70: var(--red-darkest);

    /* semantic colors */

    --uui-info-5: var(--blue-soft);
    --uui-info-10: var(--blue-lightest);
    --uui-info-20: var(--blue-light);
    --uui-info-50: var(--blue);
    --uui-info-60: var(--blue-dark);
    --uui-info-70: var(--blue-darkest);

    --uui-success-5: var(--green-soft);
    --uui-success-10: var(--green-lightest);
    --uui-success-20: var(--green-light);
    --uui-success-50: var(--green);
    --uui-success-60: var(--green-dark);
    --uui-success-70: var(--green-darkest);

    --uui-warning-5: var(--amber-soft);
    --uui-warning-10: var(--amber-lightest);
    --uui-warning-20: var(--amber-light);
    --uui-warning-50: var(--amber);
    --uui-warning-60: var(--amber-dark);
    --uui-warning-70: var(--amber-darkest);

    --uui-critical-5: var(--red-soft);
    --uui-critical-10: var(--red-lightest);
    --uui-critical-20: var(--red-light);
    --uui-critical-50: var(--red);
    --uui-critical-60: var(--red-dark);
    --uui-critical-70: var(--red-darkest);

    --uui-neutral-0: #FFFFFF;
    --uui-neutral-5: var(--gray5);
    --uui-neutral-10: var(--gray10);
    --uui-neutral-20: var(--gray20);
    --uui-neutral-30: var(--gray30);
    --uui-neutral-40: var(--gray40);
    --uui-neutral-50: var(--gray50);
    --uui-neutral-60: var(--gray60);
    --uui-neutral-70: var(--gray70);
    --uui-neutral-80: var(--gray80);
    --uui-neutral-90: var(--gray90);
    --uui-neutral-100: #000000;

    /* Surfaces Figma - https://www.figma.com/file/UyChXPLmyv5zMrOU37KdUL/Promo-aka-UUI4-(Components)?type=design&node-id=39112-321568&mode=dev */

    --uui-app-bg: var(--uui-neutral-10);
    --uui-overlay: rgba(29, 30, 38, 0.8);

    --uui-surface: var(--uui-neutral-0);
    --uui-surface-low: var(--uui-neutral-5);
    --uui-surface-lower: var(--uui-neutral-10);
    --uui-surface-lowest: var(--uui-neutral-20);
    --uui-surface-contrast: var(--uui-neutral-70);
    --uui-surface-contrast-low: var(--uui-neutral-80);
    --uui-surface-contrast-lower: var(--uui-neutral-90);

    --uui-surface-active: var(--blue-lightest);
    --uui-surface-critical: var(--red-lightest);
    --uui-surface-warning: var(--amber-lightest);

    --uui-divider: var(--uui-neutral-40);
    --uui-divider-light: var(--uui-neutral-30);

    --uui-text-brand: var(--uui-neutral-90);
    --uui-text-primary: var(--uui-neutral-80);
    --uui-text-secondary: var(--uui-neutral-70);
    --uui-text-tertiary: var(--uui-neutral-60);
    --uui-text-disabled: var(--uui-neutral-50);
    --uui-text-contrast: var(--uui-neutral-5);
    --uui-text-white: var(--white);
    --uui-text-dark: var(--uui-neutral-80);

    --uui-text-info: var(--uui-info-50);
    --uui-text-warning: var(--uui-warning-50);
    --uui-text-critical: var(--uui-critical-50);
    --uui-text-success: var(--uui-success-50);

    /* not accepted part */

    --uui-disabled: var(--uui-neutral-30); // TODO: name does not clearly reflect the meaning

    /* control specific */

    --uui-link: var(--blue);
    --uui-link-soft: var(--blue-soft);
    --uui-link-hover: var(--blue-dark);
    --uui-link-wite-hover: var(--uui-neutral-40);
    --uui-link-black-hover: var(--uui-neutral-80);
    --uui-link-visited: #5214CC;
    --uui-link-disabled: var(--uui-neutral-50);

    --uui-icon: var(--uui-neutral-60);
    --uui-icon-hover: var(--uui-neutral-70);
    --uui-icon-active: var(--uui-neutral-80);
    --uui-icon-disabled: var(--uui-neutral-50);

    --uui-scroll_bars-bg: var(--uui-neutral-40);
    --uui-scroll_bars-bg-active: var(--uui-neutral-60);

    --uui-control-bg: var(--uui-neutral-0);
    --uui-control-bg-hover: var(--uui-neutral-60);
    --uui-control-bg-disabled: var(--uui-neutral-5);
    --uui-control-bg-readonly: var(--uui-neutral-5);

    --uui-control-border: var(--uui-neutral-40);
    --uui-control-border-hover: var(--uui-neutral-60);
    --uui-control-border-disabled: var(--uui-neutral-30);
    --uui-control-border-readonly: var(--uui-neutral-30);
    --uui-control-border-checked: var(--uui-primary-50);

    --uui-control-label: var(--uui-text-primary);
    --uui-control-label-disabled: var(--uui-text-disabled);

    --uui-control-placeholder: var(--uui-neutral-60);
    --uui-control-placeholder-disabled: var(--uui-neutral-50);

    --uui-control-text: var(--uui-text-primary);
    --uui-control-text-disabled: var(--uui-text-disabled);

    --uui-control-icon: var(--uui-neutral-50);
    --uui-control-icon-disabled: var(--uui-neutral-50);

    --uui-control-checkbox-icon: var(--uui-neutral-0);

    --uui-control-focus: #008ACE80;

    --uui-search-result-highlight: var(--uui-warning-10);

    --uui-skeleton: var(--uui-neutral-40);
    --uui-skeleton-gradient: linear-gradient(90deg, var(--uui-neutral-40) 0%, var(--uui-neutral-10) 50%, var(--uui-neutral-40) 100%);

    --uui-border-radius: 0;
    --uui-shadow-level-1: 0 0 3px rgba(29, 30, 38, 0.15), 0 3px 6px rgba(29, 30, 38, 0.1);
    --uui-shadow-level-2: 0 6px 12px rgba(29, 30, 38, 0.1), 0 3px 12px rgba(29, 30, 38, 0.1), 0 0 6px rgba(29, 30, 38, 0.05);
    --uui-shadow-level-3: 0 0 10px rgba(29, 30, 38, 0.05), 0 6px 24px rgba(29, 30, 38, 0.12), 0 9px 15px rgba(29, 30, 38, 0.1);

    /* core variables end */

    /* ------------------------------------ */

    .uui-accordion-container {
        --uui-accordion-border-radius: 0;
    }

    /* begin color classes */

    .uui-color-accent,
    .uui-color-green,
    .uui-color-success {
        --uui-color-5: var(--uui-accent-5);
        --uui-color-10: var(--uui-accent-10);
        --uui-color-20: var(--uui-accent-20);
        --uui-color-50: var(--uui-accent-50);
        --uui-color-60: var(--uui-accent-60);
        --uui-color-70: var(--uui-accent-70);
        --uui-color-text: var(--uui-accent-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-primary,
    .uui-color-blue,
    .uui-color-info {
        --uui-color-5: var(--uui-primary-5);
        --uui-color-10: var(--uui-primary-10);
        --uui-color-20: var(--uui-primary-20);
        --uui-color-50: var(--uui-primary-50);
        --uui-color-60: var(--uui-primary-60);
        --uui-color-70: var(--uui-primary-70);
        --uui-color-text: var(--uui-primary-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-red,
    .uui-color-critical {
        --uui-color-5: var(--uui-critical-5);
        --uui-color-10: var(--uui-critical-10);
        --uui-color-20: var(--uui-critical-20);
        --uui-color-50: var(--uui-critical-50);
        --uui-color-60: var(--uui-critical-60);
        --uui-color-70: var(--uui-critical-70);
        --uui-color-text: var(--uui-critical-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-white {
        --uui-color-5: var(--white);
        --uui-color-10: var(--white);
        --uui-color-20: var(--white);
        --uui-color-50: var(--white);
        --uui-color-60: var(--gray10);
        --uui-color-70: var(--gray20);
        --uui-color-text: var(--white);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-gray5 {
        --uui-color-5: var(--white);
        --uui-color-10: var(--white);
        --uui-color-20: var(--white);
        --uui-color-50: var(--gray5);
        --uui-color-60: var(--gray10);
        --uui-color-70: var(--gray20);
        --uui-color-text: var(--gray5);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-link_button.uui-color-contrast,
    .uui-color-gray10 {
        --uui-color-5: var(--white);
        --uui-color-10: var(--white);
        --uui-color-20: var(--gray5);
        --uui-color-50: var(--gray10);
        --uui-color-60: var(--gray20);
        --uui-color-70: var(--gray30);
        --uui-color-text: var(--gray10);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-secondary,
    .uui-color-gray {
        --uui-color-5: var(--uui-secondary-5);
        --uui-color-10: var(--uui-secondary-10);
        --uui-color-20: var(--uui-secondary-20);
        --uui-color-50: var(--uui-secondary-50);
        --uui-color-60: var(--uui-secondary-60);
        --uui-color-70: var(--uui-secondary-70);
        --uui-color-text: var(--uui-secondary-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-warning,
    .uui-color-amber {
        --uui-color-5: var(--uui-warning-5);
        --uui-color-10: var(--uui-warning-10);
        --uui-color-20: var(--uui-warning-20);
        --uui-color-50: var(--uui-warning-50);
        --uui-color-60: var(--uui-warning-60);
        --uui-color-70: var(--uui-warning-70);
        --uui-color-text: var(--uui-warning-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-gray50 {
        --uui-color-5: var(--gray5);
        --uui-color-10: var(--gray10);
        --uui-color-20: var(--gray20);
        --uui-color-50: var(--gray50);
        --uui-color-60: var(--gray60);
        --uui-color-70: var(--gray70);
        --uui-color-text: var(--gray70);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-button.uui-color-gray50,
    .uui-color-gray60 {
        --uui-color-5: var(--gray20);
        --uui-color-10: var(--gray60);
        --uui-color-20: var(--gray40);
        --uui-color-50: var(--gray60);
        --uui-color-60: var(--gray70);
        --uui-color-70: var(--gray80);
        --uui-color-text: var(--gray70);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-gray80 {
        --uui-color-5: var(--white);
        --uui-color-10: var(--gray10);
        --uui-color-20: var(--gray20);
        --uui-color-50: var(--gray80);
        --uui-color-60: var(--gray40);
        --uui-color-70: var(--gray50);
        --uui-color-text: var(--gray50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-gray90 {
        --uui-color-5: var(--gray60);
        --uui-color-10: var(--gray70);
        --uui-color-20: var(--gray80);
        --uui-color-50: var(--gray90);
        --uui-color-60: var(--gray90);
        --uui-color-70: var(--gray90);
        --uui-color-text: var(--gray90);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-yellow {
        --uui-color-5: var(--yellow-5);
        --uui-color-10: var(--yellow-10);
        --uui-color-20: var(--yellow-20);
        --uui-color-50: var(--yellow-30);
        --uui-color-60: var(--yellow-40);
        --uui-color-70: var(--yellow-50);
        --uui-color-text: var(--yellow-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-orange {
        --uui-color-5: var(--orange-5);
        --uui-color-10: var(--orange-10);
        --uui-color-20: var(--orange-20);
        --uui-color-50: var(--orange-30);
        --uui-color-60: var(--orange-40);
        --uui-color-70: var(--orange-50);
        --uui-color-text: var(--orange-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-fuchsia {
        --uui-color-5: var(--fuchsia-5);
        --uui-color-10: var(--fuchsia-10);
        --uui-color-20: var(--fuchsia-20);
        --uui-color-50: var(--fuchsia-30);
        --uui-color-60: var(--fuchsia-40);
        --uui-color-70: var(--fuchsia-50);
        --uui-color-text: var(--fuchsia-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-purple {
        --uui-color-5: var(--purple-5);
        --uui-color-10: var(--purple-10);
        --uui-color-20: var(--purple-20);
        --uui-color-50: var(--purple-30);
        --uui-color-60: var(--purple-40);
        --uui-color-70: var(--purple-50);
        --uui-color-text: var(--purple-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-lavanda {
        --uui-color-5: var(--lavanda-5);
        --uui-color-10: var(--lavanda-10);
        --uui-color-20: var(--lavanda-20);
        --uui-color-50: var(--lavanda-30);
        --uui-color-60: var(--lavanda-40);
        --uui-color-70: var(--lavanda-50);
        --uui-color-text: var(--lavanda-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-cobalt {
        --uui-color-5: var(--cobalt-5);
        --uui-color-10: var(--cobalt-10);
        --uui-color-20: var(--cobalt-20);
        --uui-color-50: var(--cobalt-30);
        --uui-color-60: var(--cobalt-40);
        --uui-color-70: var(--cobalt-50);
        --uui-color-text: var(--cobalt-50);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-color-cyan {
        --uui-color-5: var(--cyan-5);
        --uui-color-10: var(--cyan-10);
        --uui-color-20: var(--cyan-20);
        --uui-color-50: var(--cyan-30);
        --uui-color-60: var(--cyan-40);
        --uui-color-70: var(--cyan-50);
        --uui-color-text: var(--cyan-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-color-mint {
        --uui-color-5: var(--mint-5);
        --uui-color-10: var(--mint-10);
        --uui-color-20: var(--mint-20);
        --uui-color-50: var(--mint-30);
        --uui-color-60: var(--mint-40);
        --uui-color-70: var(--mint-50);
        --uui-color-text: var(--mint-50);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-badge.fill-outline {
        .uui-count_indicator.fill-outline {
            --uui-count_indicator-bg: var(--white);
            --uui-count_indicator-border: var(--neutral40);
            --uui-count_indicator-caption: var(--neutral70);
        }
    }

    .uui-badge.fill-transparent {
        .uui-count_indicator.fill-transparent {
            --uui-count_indicator-bg: transparent;
            --uui-count_indicator-border: transparent;
            --uui-count_indicator-caption: var(--uui-text-primary);
        }
    }

    .uui-badge.uui-color-neutral,
    .uui-badge.uui-color-gray30 {
        --uui-color-5: var(--gray20);
        --uui-color-10: var(--gray30);
        --uui-color-20: var(--gray40);
        --uui-color-50: var(--gray30);
        --uui-color-60: var(--gray40);
        --uui-color-70: var(--gray50);
        --uui-color-text: var(--gray70);
        --uui-color-contrast-text: var(--uui-text-dark);

        .uui-count_indicator {
            --uui-count_indicator-bg: var(--white);
            --uui-count_indicator-border: var(--white);
        }
    }

    .uui-badge.uui-color-white {
        --uui-badge-bg-hover: var(--neutral10);
        --uui-badge-border-hover: var(--neutral10);

        .uui-count_indicator {
            --uui-count_indicator-bg: var(--neutral30);
            --uui-count_indicator-border: var(--neutral30);
        }

        &.fill-outline {
            --uui-badge-border: var(--neutral30);
            --uui-color-text: var(--uui-text-dark);
            --uui-badge-border-hover: var(--neutral30);
        }
    }

    .uui-badge.uui-color-gray10 {
        --uui-badge-bg: var(--neutral10);
        --uui-badge-border: var(--neutral10);
        --uui-badge-bg-hover: var(--neutral20);
        --uui-badge-border-hover: var(--neutral20);

        .uui-count_indicator {
            --uui-count_indicator-bg: var(--neutral30);
            --uui-count_indicator-border: var(--neutral30);
        }

        &.fill-outline {
            --uui-badge-border: var(--neutral30);
            --uui-color-text: var(--uui-text-dark);
        }
    }

    .uui-badge.uui-color-gray60 {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
        }

        &.fill-outline {
            --uui-badge-border: var(--neutral60);
            --uui-color-text: var(--uui-text-dark);
            --uui-badge-border-hover: var(--neutral60);
        }
    }

    .uui-badge.uui-color-info,
    .uui-badge.uui-color-blue {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
            --uui-count_indicator-caption: var(--uui-text-white);
        }
    }


    .uui-badge.uui-color-success,
    .uui-badge.uui-color-green {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
            --uui-count_indicator-caption: var(--uui-text-white);
        }
    }

    .uui-badge.uui-color-critical,
    .uui-badge.uui-color-red {
        .uui-count_indicator {
            --uui-count_indicator-bg: transparent;
            --uui-count_indicator-border: var(--white);
            --uui-count_indicator-caption: var(--uui-text-white);
        }
    }

    .uui-badge.uui-color-warning,
    .uui-badge.uui-color-amber {
        .uui-count_indicator {
            --uui-count_indicator-bg: #1D1E260D;
            --uui-count_indicator-border: #1D1E264D;
        }
    }

    .uui-badge.uui-color-yellow {
        .uui-count_indicator {
            --uui-count_indicator-bg: #1D1E260D;
            --uui-count_indicator-border: #1D1E264D;
        }

        &.fill-outline {
            --uui-badge-border: var(--yellow-20);
        }
    }

    .uui-badge.uui-color-orange {
        .uui-count_indicator {
            --uui-count_indicator-bg: #1D1E260D;
            --uui-count_indicator-border: #1D1E264D;
        }
    }

    .uui-badge.uui-color-fuchsia {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
        }
    }

    .uui-badge.uui-color-purple {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
        }
    }

    .uui-badge.uui-color-lavanda {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
        }
    }

    .uui-badge.uui-color-cobalt {
        .uui-count_indicator {
            --uui-count_indicator-bg: #FFFFFF1A;
            --uui-count_indicator-border: #FFFFFF80;
        }
    }

    .uui-icon_button.uui-color-neutral,
    .uui-icon_button.uui-color-gray60,
    .uui-icon_button.uui-color-secondary {
        --uui-color-5: var(--uui-secondary-5);
        --uui-color-10: var(--uui-secondary-10);
        --uui-color-20: var(--uui-secondary-20);
        --uui-color-50: var(--uui-secondary-50);
        --uui-color-60: var(--uui-secondary-60);
        --uui-color-70: var(--uui-secondary-70);
        --uui-color-text: var(--uui-secondary-60);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    .uui-tooltip-container.uui-color-white,
    .uui-tooltip-container.uui-color-neutral {
        --uui-color-50: var(--white);
        --uui-color-contrast-text: var(--uui-text-dark);
    }

    .uui-tooltip-container.uui-color-red,
    .uui-tooltip-container.uui-color-critical {
        --uui-color-50: var(--uui-critical-60);
    }

    .uui-tooltip-container.uui-color-gray,
    .uui-tooltip-container.uui-color-contrast {
        --uui-color-50: var(--gray80);
        --uui-color-contrast-text: var(--uui-text-white);
    }

    /* count_indicator */

    .uui-count_indicator.uui-color-gray,
    .uui-count_indicator.uui-color-neutral {
        --uui-color-50: var(--uui-neutral-30);
        --uui-count_indicator-caption: var(--uui-text-dark);
    }

    .uui-flex-row.uui-color-white {
        --uui-flex-row-bg: var(--white);
    }

    .uui-flex-row.uui-color-gray5 {
        --uui-flex-row-bg: var(--gray5);
    }

    .uui-panel {
        --uui-panel-bg: transparent;
    }

    .uui-panel.uui-color-white {
        --uui-panel-bg: var(--white);
    }

    .uui-panel.uui-color-gray90 {
        --uui-panel-bg: var(--gray90);
    }

    .uui-tag {
        --uui-tag-border-radius: 0;
    }

    // fonts

    .uui-font-sans {
        --uui-text-font: var(--uui-font);
        --uui-font-weight: 400;
    }

    .uui-font-sans-semibold {
        --uui-text-font: var(--uui-font);
        --uui-font-weight: 600;
    }

    .uui-font-sans-italic {
        --uui-text-font: var(--uui-font);
        --uui-font-weight: 400;
        --uui-font-style: italic;
    }

    .uui-font-museo-sans {
        --uui-text-font: var(--font-primary);
        --uui-font-weight: normal;
    }

    .uui-font-museo-slab {
        --uui-text-font: var(--font-promo);
        --uui-font-weight: normal;

    }

    .typography-uui {
        :global(.promo-header), h1, h2, h3 {
            font-family: var(--font-primary);
        }
    }
}

