.divider {
    position: relative;
    margin: 0 18px 0 18px;
    box-sizing: content-box;
    width: 1px;
    height: 24px;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        border-right: thin solid var(--icon-color);
    }
}
