@use 'effects' as *;
@use 'loveship-colors' as *;
@use '~@epam/assets/scss/control-layout' as *;


@mixin control-form-mode() {
    background-color: $white;
    border-color: $night400;
    border-style: solid;
    border-radius: $control-border-radius;

    &:hover {
        border-color: $night600;
    }

    &:global(.uui-focus) {
        @include control-focus-effect();
        border-color: darken($sky, 10%);
    }
}

@mixin control-inline-mode() {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-radius: $control-border-radius;

    &:hover {
        border-color: $night400;
    }

    &:global(.uui-focus) {
        @include control-focus-effect();
        border-color: $sky;
    }
}

@mixin control-cell-mode() {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-radius: 0;

    &:hover {
        :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
            &:global(.uui-enabled) {
                fill: $night600;

                &:hover {
                    fill: $night700;
                }
            }

            &:global(.uui-disabled) {
                fill: transparent;
            }
        }
    }

    :global(.uui-icon):global(.-clickable), :global(.uui-icon-dropdown) {
        cursor: pointer;

        &:global(.uui-enabled) {
            fill: transparent;
        }

        &:global(.uui-disabled) {
            fill: transparent;
        }
    }
}
