@use 'control-size' as *;

@mixin control-box-layout($size, $borderWidth) {
    @include control-size($size, $borderWidth);

    :global(.uui-caption), :global(.uui-input) {
        padding-left: $size / 6;
        padding-right: $size / 6;
    }

    &:global(.uui-button-box), &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }
}

@mixin control-horizontal-layout($size, $borderWidth) {
    $paddingStep: ($size / 6);
    @include control-size($size, $borderWidth);

    :global(.uui-caption), :global(.uui-input) {
        padding-left: $paddingStep;
        padding-right: $paddingStep;
    }
}

@mixin control-vertical-layout($size, $borderWidth) {
    &:global(.uui-button-box), &:global(.uui-input-box) {
        min-height: $size;
        border-width: $borderWidth;
    }
}

$panel-border-radius: 6px;
$control-border-radius: 3px;
