@mixin icon-layout($size) {
    :global(.uui-icon) {
        svg {
            height: $size / 36 * 24;
            max-width: $size / 36 * 24;
        }
    }
}

@mixin icon-size($size) {
    :global(.uui-icon) {
        svg {
            height: $size;
            max-width: $size;
        }
    }
}