@use 'loveship-colors' as *;
@use 'fonts' as *;

@mixin disabled-input() {
    @include input-colors($night50, $night500, $night500, $night300);
    cursor: default;
    pointer-events: none;

    &:hover, &:active, &:focus {
        @include input-colors($night50, $night500, $night500, $night300);
        box-shadow: none;
    }

    &::placeholder {
        color: $night300;
    }
}

@mixin readonly-input() {
    &.mode-form {
        background: $night50;
        border-color: $night300;
        pointer-events: none;
    }

    &.mode-cell {
        background: transparent;
        pointer-events: none;
    }

    &.mode-form:hover {
        border-color: $night300;
    }

    &.mode-inline:hover {
        border-color: transparent;
    }

    &.mode-cell:hover {
        border-color: transparent;
    }
}

@mixin input-colors($background, $color, $fill, $border) {
    background-color: $background;
    color: $color;
    fill: $fill;
    border-color: $border;

    // override more selective selector on input tag in browsers stylesheets
    :global(.uui-input) {
        color: $color;

        &::placeholder {
            color: $night500;
        }
    }
}

@mixin input-prefix() {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-family: $font-sans;
    color: $night600;
    background: $night100;
    margin-left: -5px;
    padding: 6px;
    border-right: 1px solid $night400;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

@mixin input-sufix() {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-family: $font-sans;
    color: $night600;
    background: $night100;
    margin-right: -5px;
    padding: 6px;
    border-left: 1px solid $night400;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
