// Main Colors
$sky-soft: #F5FDFF;
$sky-lightest: #E1F4FA;
$sky-light: #A0DDEE;
$sky: #009ECC;
$sky-dark: #0086AD;
$sky-darkest: #006B8A;

$grass-soft: #FCFFF5;
$grass-lightest: #EBF3D8;
$grass-light: #C1E288;
$grass: #67A300;
$grass-dark: #528500;
$grass-darkest: #396F1F;

$sun-soft: #FFFCF5;
$sun-lightest: #FFEDC9;
$sun-light: #FFD785;
$sun: #FCAA00;
$sun-dark: #FF9000;
$sun-darkest: #BD5800;

$fire-soft: #FEF6F6;
$fire-lightest: #FDE1E1;
$fire-light: #FBB6B6;
$fire: #FF4242;
$fire-dark: #E22A2A;
$fire-darkest: #AD0000;

// Secondary Colors
$white: #FFFFFF;

$yellow-5: #FFFFF0;
$yellow-10: #FFFECC;
$yellow-20: #FFFCA4;
$yellow-30: #FDD63B;
$yellow-40: #F9B71D;
$yellow-50: #D3910C;

$orange-5: #FEF8F4;
$orange-10: #FFE8D7;
$orange-20: #FFCCA7;
$orange-30: #FF8B3E;
$orange-40: #F76B0D;
$orange-50: #BD4B00;

$fuchia-5: #FFF7FB;
$fuchia-10: #F9D8E7;
$fuchia-20: #EDADC8;
$fuchia-30: #EA4386;
$fuchia-40: #D61E68;
$fuchia-50: #AE1955;

$purple-5: #FDF6FE;
$purple-10: #F2CCFA;
$purple-20: #E79DF5;
$purple-30: #B114D1;
$purple-40: #860F9E;
$purple-50: #5E0B6F;

$lavanda-5: #F8F6FE;
$lavanda-10: #DBCCFA;
$lavanda-20: #BB9DF5;
$lavanda-30: #773CEC;
$lavanda-40: #5514D6;
$lavanda-50: #40109E;

$cobalt-5: #F8FAFF;
$cobalt-10: #D9E2FC;
$cobalt-20: #AEC0F5;
$cobalt-30: #0F98FF;
$cobalt-40: #006FE5;
$cobalt-50: #0954A5;

$cyan-5: #F5FBFF;
$cyan-10: #D1FAFA;
$cyan-20: #AAEEEE;
$cyan-30: #14CCCC;
$cyan-40: #0F9E9E;
$cyan-50: #0B6F6F;

$mint-5: #F2FCF5;
$mint-10: #DDF3E4;
$mint-20: #B4DFC4;
$mint-30: #4FC48C;
$mint-40: #2E9E68;
$mint-50: #236E4A;

/* Night scale */
$night50: #FAFAFC;
$night100: #F5F6FA;
$night200: #EBEDF5;
$night300: #E1E3EB;
$night400: #CED0DB;
$night500: #ACAFBF;
$night600: #6C6F80;
$night700: #474A59;
$night800: #303240;
$night900: #1D1E26;

$epam-basic-color-names: (
    sky-soft: $sky-soft, sky-lightest: $sky-lightest, sky-light: $sky-light, sky: $sky, sky-dark: $sky-dark, sky-darkest: $sky-darkest,
    grass-soft: $grass-soft, grass-lightest: $grass-lightest, grass-light: $grass-light, grass: $grass, grass-dark: $grass-dark, grass-darkest: $grass-darkest,
    sun-soft: $sun-soft, sun-lightest: $sun-lightest, sun-light: $sun-light, sun: $sun, sun-dark: $sun-dark, sun-darkest: $sun-darkest,
    fire-soft: $fire-soft, fire-lightest: $fire-lightest, fire-light: $fire-light, fire: $fire, fire-dark: $fire-dark, fire-darkest: $fire-darkest
);

$epam-grayscale-color-names: (
    night50: $night50, night100: $night100, night200: $night200, night300: $night300, night400: $night400, night500: $night500, night600: $night600, night700: $night700, night800: $night800, night900: $night900
);

$epam-additional-color-names: (
    yellow-5: $yellow-5, yellow-10: $yellow-10, yellow-20: $yellow-20, yellow-30: $yellow-30, yellow-40: $yellow-40, yellow-50: $yellow-50,
    orange-5: $orange-5, orange-10: $orange-10, orange-20: $orange-20, orange-30: $orange-30, orange-40: $orange-40, orange-50: $orange-50,
    fuchia-5: $fuchia-5, fuchia-10: $fuchia-10, fuchia-20: $fuchia-20, fuchia-30: $fuchia-30, fuchia-40: $fuchia-40, fuchia-50: $fuchia-50,
    purple-5: $purple-5, purple-10: $purple-10, purple-20: $purple-20, purple-30: $purple-30, purple-40: $purple-40, purple-50: $purple-50,
    lavanda-5: $lavanda-5, lavanda-10: $lavanda-10, lavanda-20: $lavanda-20, lavanda-30: $lavanda-30, lavanda-40: $lavanda-40, lavanda-50: $lavanda-50,
    cobalt-5: $cobalt-5, cobalt-10: $cobalt-10, cobalt-20: $cobalt-20, cobalt-30: $cobalt-30, cobalt-40: $cobalt-40, cobalt-50: $cobalt-50,
    cyan-5: $cyan-5, cyan-10: $cyan-10, cyan-20: $cyan-20, cyan-30: $cyan-30, cyan-40: $cyan-40, cyan-50: $cyan-50,
    mint-5: $mint-5, mint-10: $mint-10, mint-20: $mint-20, mint-30: $mint-30, mint-40: $mint-40, mint-50: $mint-50,
);
