@use './loveship-colors' as colors;
@use '~@epam/assets/scss/contrast' as *;

// Colors
.color-sky {
    --uui-color-500: #E1F4FA;
    --uui-color-600: #C4EAF5;
    --uui-color-700: #009ECC;
    --uui-color-800: #008ABD;
    --uui-color-900: #0079AD;
    --uui-contrast-color-700: #{contrast(#009ECC, colors.$night700, white)};
}

.color-grass {
    --uui-color-500: #EBF3D8;
    --uui-color-600: #D6E6B2;
    --uui-color-700: #67A300;
    --uui-color-800: #558A00;
    --uui-color-900: #428024;
    --uui-contrast-color-700: #{contrast(#67A300, colors.$night700, white)};
}

.color-sun {
    --uui-color-500: #FFEDC9;
    --uui-color-600: #FFDD96;
    --uui-color-700: #FCAA00;
    --uui-color-800: #F67E00;
    --uui-color-900: #E64C00;
    --uui-contrast-color-700: #{contrast(#FCAA00, colors.$night700, white)};
}

.color-fire {
    --uui-color-500: #FDE1E1;
    --uui-color-600: #FCC8C8;
    --uui-color-700: #FA4B4B;
    --uui-color-800: #CC2929;
    --uui-color-900: #B32424;
    --uui-contrast-color-700: #{contrast(#FA4B4B, colors.$night700, white)};
}

.color-carbon {
    --uui-color-500: #6C6E7A;
    --uui-color-600: #4F515C;
    --uui-color-700: #3D404D;
    --uui-color-800: #272933;
    --uui-color-900: #17181F;
    --uui-contrast-color-700: #{contrast(#3D404D, colors.$night700, white)};
}

.color-night {
    --uui-color-500: #ACAFBF;
    --uui-color-600: #6C6F80;
    --uui-color-700: #474A59;
    --uui-color-800: #303240;
    --uui-color-900: #1D1E26;
    --uui-contrast-color-700: #{contrast(#474A59, colors.$night700, white)};
}

.color-cobalt {
    --uui-color-500: #32B2FB;
    --uui-color-600: #2196F3;
    --uui-color-700: #0E74E2;
    --uui-color-800: #0453C7;
    --uui-color-900: #003399;
    --uui-contrast-color-700: #{contrast(#0E74E2, colors.$night700, white)};
}

.color-lavanda {
    --uui-color-500: #6362C9;
    --uui-color-600: #3F51B5;
    --uui-color-700: #2E3A9D;
    --uui-color-800: #21288D;
    --uui-color-900: #191980;
    --uui-contrast-color-700: #{contrast(#2E3A9D, colors.$night700, white)};
}

.color-fuchsia {
    --uui-color-500: #F5527B;
    --uui-color-600: #E91E63;
    --uui-color-700: #CD0053;
    --uui-color-800: #B00052;
    --uui-color-900: #94004C;
    --uui-contrast-color-700: #{contrast(#CD0053, colors.$night700, white)};
}

.color-white {
    --uui-color-500: #{lighten(colors.$white, 20%)};
    --uui-color-600: #{lighten(colors.$white, 10%)};
    --uui-color-700: #{colors.$white};
    --uui-color-800: #{darken(colors.$white, 10%)};
    --uui-color-900: #{darken(colors.$white, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$white, colors.$night700, white)};
}

.color-night50 {
    --uui-color-500: #{lighten(colors.$night50, 20%)};
    --uui-color-600: #{lighten(colors.$night50, 10%)};
    --uui-color-700: #{colors.$night50};
    --uui-color-800: #{darken(colors.$night50, 10%)};
    --uui-color-900: #{darken(colors.$night50, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night50, colors.$night700, white)};
}

.color-night100 {
    --uui-color-500: #{lighten(colors.$night100, 20%)};
    --uui-color-600: #{lighten(colors.$night100, 10%)};
    --uui-color-700: #{colors.$night100};
    --uui-color-800: #{darken(colors.$night100, 10%)};
    --uui-color-900: #{darken(colors.$night100, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night100, colors.$night700, white)};
}

.color-night200 {
    --uui-color-500: #{lighten(colors.$night200, 20%)};
    --uui-color-600: #{lighten(colors.$night200, 10%)};
    --uui-color-700: #{colors.$night200};
    --uui-color-800: #{darken(colors.$night200, 10%)};
    --uui-color-900: #{darken(colors.$night200, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night200, colors.$night700, white)};
}

.color-night300 {
    --uui-color-500: #{lighten(colors.$night300, 20%)};
    --uui-color-600: #{lighten(colors.$night300, 10%)};
    --uui-color-700: #{colors.$night300};
    --uui-color-800: #{darken(colors.$night300, 10%)};
    --uui-color-900: #{darken(colors.$night300, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night300, colors.$night700, white)};
}

.color-night400 {
    --uui-color-500: #{lighten(colors.$night400, 20%)};
    --uui-color-600: #{lighten(colors.$night400, 10%)};
    --uui-color-700: #{colors.$night400};
    --uui-color-800: #{darken(colors.$night400, 10%)};
    --uui-color-900: #{darken(colors.$night400, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night400, colors.$night700, white)};
}

.color-night500 {
    --uui-color-500: #{lighten(colors.$night500, 20%)};
    --uui-color-600: #{lighten(colors.$night500, 10%)};
    --uui-color-700: #{colors.$night500};
    --uui-color-800: #{darken(colors.$night500, 10%)};
    --uui-color-900: #{darken(colors.$night500, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night500, colors.$night700, white)};
}

.color-night600 {
    --uui-color-500: #{lighten(colors.$night600, 20%)};
    --uui-color-600: #{lighten(colors.$night600, 10%)};
    --uui-color-700: #{colors.$night600};
    --uui-color-800: #{darken(colors.$night600, 10%)};
    --uui-color-900: #{darken(colors.$night600, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night600, colors.$night700, white)};
}

.color-night700 {
    --uui-color-500: #{lighten(colors.$night700, 20%)};
    --uui-color-600: #{lighten(colors.$night700, 10%)};
    --uui-color-700: #{colors.$night700};
    --uui-color-800: #{darken(colors.$night700, 10%)};
    --uui-color-900: #{darken(colors.$night700, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night700, colors.$night700, white)};
}

.color-night800 {
    --uui-color-500: #{lighten(colors.$night800, 20%)};
    --uui-color-600: #{lighten(colors.$night800, 10%)};
    --uui-color-700: #{colors.$night800};
    --uui-color-800: #{darken(colors.$night800, 10%)};
    --uui-color-900: #{darken(colors.$night800, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night700, colors.$night800, white)};
}

.color-night900 {
    --uui-color-500: #{lighten(colors.$night900, 20%)};
    --uui-color-600: #{lighten(colors.$night900, 10%)};
    --uui-color-700: #{colors.$night900};
    --uui-color-800: #{darken(colors.$night900, 10%)};
    --uui-color-900: #{darken(colors.$night900, 20%)};
    --uui-contrast-color-700: #{contrast(colors.$night900, colors.$night700, white)};
}
