@use 'loveship-colors' as *;

@mixin prettifyCustomScroll() {
    :global(.os-scrollbar .os-scrollbar-track .os-scrollbar-handle) {
        background: $night400;

        &:hover {
            background: $night500;
        }

        &:active {
            background: $night600;
        }
    }

    :global(.os-scrollbar-vertical) {
        width: 6px;

        &:hover {
            width: 10px;
        }

        &:active {
            width: 10px;
        }
    }

    :global(.os-scrollbar-horizontal) {
        height: 6px;

        &:hover {
            height: 10px;
        }

        &:active {
            height: 10px;
        }
    }
}