@forward 'typography-mixins';
@use 'typography-mixins' as *;
@use 'loveship-colors' as *;
@use 'fonts' as *;

:local(.typography-header) {
    @include typography-header();
}

:local(.typography-block) {
    @include typography-block();
}

:local(.typography-inline) {
    @include typography-inline();
}

:local(.typography-16) {
    @include typography-16();
}

:local(.typography-14) {
    @include typography-14();
}

:local(.typography-12) {
    @include typography-12();
}

:local(.typography-loveship) {
    font-family: $font-sans;
    color: $night700;
    composes: typography-header;
    composes: typography-block;
    composes: typography-inline;
}
