@use '~@epam/uui/assets/styles/dnd' as *;

@mixin drag-handle($left, $top, $bottom, $bg_size) {
    .drag-handle {
        position: absolute;
        left: $left;
        top: $top;
        bottom: $bottom;
        align-self: stretch;
        visibility: hidden;
        background-size: $bg_size;

        @include dnd-cursor-style();
    }
}

@mixin visibility {
    .drag-handle {
        visibility: visible;
    }
}

@mixin drag-out {
    .dnd-item {
        opacity: 0.25;
    }

    .drag-handle {
        visibility: hidden;
    }
}
