@use '~@epam/assets/theme/theme_promo' as *;
@use '~@epam/promo/assets/styles/index.scss' as *;

.secondary-navigation {
    box-sizing: border-box;
    min-height: 60px;

    &.uui-theme-promo {
        :global {
            @include theme-promo();
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.content-container {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

.width-wrapper {
    padding: 0 60px 60px;
    max-width: 960px;
}

.not-support {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-button {
        padding-top: 0;

        :global(.uui-caption) {
            font-size: 16px;
        }
    }
}

.table-border {
    border: 1px solid var(--uui-divider);
    border-bottom: 0 none;
}

.spinner {
    margin: auto;
}

.api-block {
    &.uui-theme-promo {
        :global {
            @include theme-promo();
        }
    }
}
