.secondary-navigation {
    box-sizing: border-box;
    min-height: 60px;
    background-color: var(--uui-surface-main);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
    height: calc(100vh - 60px);
    overflow: hidden;
    background-color: var(--uui-surface-main);
    border-top: 1px solid var(--uui-divider);
    box-sizing: border-box;
}

.content-container {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

.width-wrapper {
    padding: 0 60px 60px;
    max-width: 960px;
}

.table-border {
    border: 1px solid var(--uui-divider);
    border-bottom: 0 none;
}

.spinner {
    margin: auto;
}

.info-icon {
    padding-left: 9px;
    fill: var(--uui-icon);
}
