@use '~@epam/promo/assets/styles/index' as *;

.container {
    margin: 24px 0;
    max-width: 100%;
}

.container-footer {
    justify-content: space-between;
}

.preview-container {
    background: $white;
    border: 1px solid $gray40;
    width: 960px;
    max-width: 100%;
}
