@use '~@epam/promo/assets/styles/index' as *;
@import '../../themes/themeVariables.module';

.container {
    margin: 24px 0;
    max-width: 100%;
}

.container-footer {
    justify-content: space-between;
    background-color: var(--uui-surface-sunken);
}

.preview-container {
    background: var(--uui-surface-sunken);
    border: 1px solid var(--uui-divider);
    width: 960px;
    max-width: 100%;

}
