@use '~@epam/promo/assets/styles/index' as *;
@use '~@epam/assets/theme/theme_promo' as *;

.wrapper {
    position: relative;

    .container {
        @include theme-promo();
        margin: 0 -24px;
        width: 986px;
    }
}

.title-row {
    width: fit-content;
    margin-top: 24px;

    .title {
        font-family: $font-museo-sans;
        color: $gray80;
        font-size: 24px;
        margin-bottom: 6px;
    }

    .anchor {
        fill: transparent;

        &:focus {
            fill: var(--uui-icon-btn);
        }
    }

    &:hover {
        .anchor {
            fill: $blue;
        }
    }
}
