.container {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: unset;
    padding: unset;
    margin: unset;
    justify-content: unset;
    overflow: hidden;
    display: flex;
    position: relative;

    &:hover {
        text-decoration: none;
    }
}