.root {
    &:global(.uui-button-box) {
        height: 36px;
        align-items: center;
        padding-left: 11px;
        font-size: 16px;
        width: 100%;
        padding-right: 12px;
    }

    :global(.uui-caption) {
        min-width: 0;
        text-align: left;
        flex: 1 1 auto;
        font-family: var(--font-regular);
        user-select: none;
        font-size: 16px;
    }

    &.indent-12 {
        :global(.uui-caption) {
            margin-left: 12px;
        }
    }

    &.indent-24 {
        :global(.uui-caption) {
            margin-left: 24px;
        }
    }
}
