@use '~@epam/promo/assets/styles/colors' as *;
@use '~@epam/promo/assets/styles/fonts' as *;

.container {
    padding: 6px;
}

.filters {
    flex-wrap: wrap;
}

.header {
    padding: 6px 6px 0 24px;
    font-family: $font-sans;
    justify-content: space-between;

    .header-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $gray60;
    }

    .remove-btn {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;

        &:hover:not([aria-disabled="true"]) {
            background-color: transparent;
            border-color: transparent;
            color: $blue-darkest;
        }
    }
}
