.container {
    display: flex;
    flex: 0 0 auto;
}

.align-items-center {
    align-items: center;
}

.align-items-top {
    align-items: flex-start;
}

.align-items-bottom {
    align-items: flex-end;
}

.align-items-stretch {
    align-items: stretch;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}
