# Reusable workflow

name: base

# Controls when the action will run.
on:
  # Run only when called from another workflow
  workflow_call:
    inputs:
      values-file:
        required: true
        type: string
      image-name:
        required: true
        type: string
      common-helmchart-ver:
        required: true
        type: string
    secrets:
      REGISTRY_URL:
        required: true
      REGISTRY_USER:
        required: true
      REGISTRY_PASSWORD:
        required: true
      COMMON_HELMCHART_NAME:
        required: true
      APP_NAME_BASE:
        required: true

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-test:

    runs-on: ubuntu-latest
    container: node:14

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            ./*/node_modules
          key: v1-npm-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: v1-npm-deps-

      - name: build
        run: |
          yarn
          yarn build
          yarn generate-components-api
          cd server && yarn
      - name: test
        run: yarn test

  docker:
    needs: build-and-test
    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: true
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}

    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      # TODO: Reuse files from build-and-test job instead of build app again
      - name: build app
        run: |
          yarn
          yarn build
          yarn generate-components-api
          cd server && yarn

      - name: Login to registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ secrets.REGISTRY_URL }}/${{ inputs.image-name }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=sha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  package:
    needs: docker
    runs-on: ubuntu-20.04 # Gitversion requires .NET SDK 3.1
    env:
      ACTIONS_STEP_DEBUG: true
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      VALUES_FILE: ${{ inputs.values-file }}
      COMMON_HELMCHART_VER: ${{ inputs.common-helmchart-ver }}

    steps:
      - uses: actions/checkout@v2
        name: Code checkout
        with:
          fetch-depth: 0

      # install Gitversion to obtain semver version
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.15
        with:
          versionSpec: '5.5.0'

      - name: Version determination
        id:   gitversion
        uses: gittools/actions/gitversion/execute@v0.9.15

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.8.0
      - name: Preparation and Helm chart packaging
        run: |
          export tag=$(echo ${{ steps.meta.outputs.tags }} | awk -F":" '{print $2}')
          echo ${{ secrets.REGISTRY_PASSWORD }} | helm registry login ${{ secrets.REGISTRY_URL }} --username ${{ secrets.REGISTRY_USER }} --password-stdin
          mkdir helmchart && cd ./helmchart # helm cannot untar file to the repo with the same name as a package. To avoid error we create temp folder
          helm pull oci://${{ secrets.REGISTRY_URL }}/helm/${{ secrets.COMMON_HELMCHART_NAME }} --version ${COMMON_HELMCHART_VER} --untar
          echo "[INFO] Replace Docker image tag in helm chart..."
          sed -i -e "s/tag: latest/tag: ${tag}/g" ${{ secrets.COMMON_HELMCHART_NAME }}/${VALUES_FILE}

      - name: Packaging and Uploading Helm Chart
        run: |
          cd ./helmchart
          export helm_tag="$GITVERSION_MAJOR.$GITVERSION_MAJOR.$GITVERSION_PRERELEASENUMBER"
          echo "[INFO] Replace Helm Chart package version..."
          sed -i -e "s/version: ${COMMON_HELMCHART_VER}/version: ${helm_tag}/g" ${{ secrets.COMMON_HELMCHART_NAME }}/Chart.yaml
          echo "[INFO] Changing Helm Chart package name..."
          sed -i -e "s/name: ${{ secrets.COMMON_HELMCHART_NAME }}/name: ${{ secrets.APP_NAME_BASE }}/g" ${{ secrets.COMMON_HELMCHART_NAME }}/Chart.yaml
          helm package ${{ secrets.COMMON_HELMCHART_NAME }}
          helm push ${{ secrets.APP_NAME_BASE }}-${helm_tag}.tgz oci://${{ secrets.REGISTRY_URL }}/helm
