# This is a basic workflow to help you get started with Actions

name: prod

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  call-base-for-prod:
    # Call all jobs from base.yml
    uses: ./.github/workflows/base.yml
    secrets:
      APP_NAME_BASE: ${{ secrets.APP_NAME }}
      BASE_HELMCHART_VERSION: ${{ secrets.BASE_HELMCHART_VERSION }}
      BASE_HELMCHART_NAME: ${{ secrets.BASE_HELMCHART_NAME }}
      WFI_PROVIDER: ${{ secrets.WFI_PROVIDER }}
      WFI_SA: ${{ secrets.WFI_SA }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
      ARTIFACTORY_REGISTRY_URL: ${{ secrets.ARTIFACTORY_REGISTRY_URL }}
      ARTIFACTORY_AUTH2_USER: ${{ secrets.ARTIFACTORY_AUTH2_USER }}
    with:
      values-file: values.prod.yaml
      # TODO: After migrating prod environment we can use the same image name for prod and non-prod
      image-name: ui
      git-version-mode: ''
      env: 'production'