name: build_and_test

# Controls when the action will run.
on:
    # Triggers the workflow on push or pull request events but only for the main branch
    push:
        branches:
            - '**'
            - '!main'
            - '!develop'
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-test:

    runs-on: ubuntu-latest
    container: node:14

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            ./*/node_modules
          key: v1-npm-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: v1-npm-deps-

      - name: build
        run: |
          yarn
          yarn build
          yarn generate-components-api
          cd server && yarn
      - name: test
        run: yarn test

      - name: eslint
        run: yarn eslint

      - name: stylelint
        run: yarn stylelint
