name: build_and_test

# Controls when the action will run.
on:
    push:
        branches:
            - '**'
            - '!main'
            - '!develop'

    pull_request:
        branches:
            - '**'

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-test:
    # Need to run this job on "pull_request" event only from forks.
    # Reason: Because no guarantee that it's run on "push" event in fork: such workflow maybe misconfigured or even disabled in forks.
    # No need to run this job on "pull_request" from main UUI repo, because it's guaranteed it's already run on "push" event.
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != 'epam/UUI' || github.event_name == 'push'
    runs-on: ubuntu-latest
    container: node:14

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            ./*/node_modules
          key: v1-npm-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: v1-npm-deps-

      - name: build
        run: |
          yarn
          yarn build
          yarn generate-components-api
          cd server && yarn
      - name: test
        run: yarn test

      - name: eslint
        run: yarn eslint

      - name: stylelint
        run: yarn stylelint
