name: track_bundle_size_comment_pr

on:
    workflow_run:
        workflows: ["track_bundle_size"]
        types:
            - completed
jobs:
    upload:
        runs-on: ubuntu-latest
        if: >
            github.event.workflow_run.event == 'pull_request' &&
            github.event.workflow_run.conclusion == 'success'
        steps:
            - name: 'Download trackBundleSize.md'
              uses: actions/download-artifact@v3
              with:
                  name: trackBundleSize.md
                  path: ./trackBundleSize.md

            - name: 'Download prNumber.txt'
              uses: actions/download-artifact@v3
              with:
                  name: prNumber.txt
                  path: ./prNumber.txt

            - name: 'Extract prNumber.txt'
              uses: actions/github-script@v6
              id: extract_pr_number
              with:
                  script: |
                      return Number(require('fs').readFileSync('./prNumber.txt'));

            - name: 'Find Comment'
              uses: peter-evans/find-comment@v2
              id: findPrevComment
              with:
                  issue-number: ${{ steps.extract_pr_number.outputs.result }}
                  comment-author: 'github-actions[bot]'
                  body-includes: 'Generated by: track-bundle-size'

            - name: 'Add comment'
              uses: peter-evans/create-or-update-comment@v2
              with:
                  comment-id: ${{ steps.findPrevComment.outputs.comment-id }}
                  issue-number: ${{ steps.extract_pr_number.outputs.result }}
                  body-file: ./trackBundleSize.md
                  edit-mode: replace
