name: track_bundle_size_comment_pr

on:
    workflow_run:
        workflows: ["track_bundle_size"]
        types:
            - completed
jobs:
    track_bundle_size_comment_pr:
        runs-on: ubuntu-latest
        if: >
            github.event.workflow_run.event == 'pull_request' &&
            github.event.workflow_run.conclusion == 'success'
        steps:
            - name: 'Download trackBundleSize.md and prNumber.txt'
              uses: actions/github-script@v6
              with:
                  script: |
                      const ART_1 = "trackBundleSize.md";
                      const ART_2 = "prNumber.txt";
                      var artifacts = await github.actions.listWorkflowRunArtifacts({
                         owner: context.repo.owner,
                         repo: context.repo.repo,
                         run_id: ${{ github.event.workflow_run.id }},
                      });
                      async function downloadArt(artName) {
                        var fs = require('fs');
                        var matchArtifact = artifacts.data.artifacts.find((artifact) => {
                            return artName === artifact.name; 
                        });
                        var download = await github.actions.downloadArtifact({
                             owner: context.repo.owner,
                             repo: context.repo.repo,
                             artifact_id: matchArtifact.id,
                             archive_format: 'zip',
                        });
                        fs.writeFileSync('${{github.workspace}}/' + artName + '.zip', Buffer.from(download.data));
                      }
                      await Promise.all([
                        downloadArt(ART_1),
                        downloadArt(ART_2),
                      ]);

            - run: unzip trackBundleSize.md.zip

            - run: unzip prNumber.txt.zip

            - name: 'Extract prNumber.txt'
              uses: actions/github-script@v6
              id: extract_pr_number
              with:
                  script: |
                      return Number(require('fs').readFileSync('./prNumber.txt'));

            - name: 'Find Comment'
              uses: peter-evans/find-comment@v2
              id: findPrevComment
              with:
                  issue-number: ${{ steps.extract_pr_number.outputs.result }}
                  comment-author: 'github-actions[bot]'
                  body-includes: 'Generated by: track-bundle-size'

            - name: 'Add comment'
              uses: peter-evans/create-or-update-comment@v2
              with:
                  comment-id: ${{ steps.findPrevComment.outputs.comment-id }}
                  issue-number: ${{ steps.extract_pr_number.outputs.result }}
                  body-file: ./trackBundleSize.md
                  edit-mode: replace
