.root {
    max-width: 100%;
    width: 960px;

    .sticky-header {
        position: sticky;
        top: 0;
        isolation: isolate;
        z-index: 5;
    }

    :global(.asterisk) {
        color: var(--uui-labeled-input-asterisk);
        font-family: var(--font-semibold);
    }
}
