@use  '../../assets/styles/index' as *;

.root {
    --uui-dt-row-background: #{$gray5};
    --uui-dt-row-border-color: #{$gray30};
    --uui-dt-row-border-width: 1px;
}

.header-cell {
    background: none;
}

.config-icon {
    position: absolute;
    height: 100%;
    right: 24px;
    z-index: 2;
}