@use '../../assets/styles/colors' as *;

.cell {
    position: relative;
    box-sizing: border-box;

    &.wrapper {
        display: flex;
        align-items: flex-start;
    }

    &.size-24 {
        :global(.uui-checkbox), .folding-arrow {
            margin-top: 6px;
        }
    }

    &.size-30 {
        :global(.uui-checkbox), .folding-arrow {
            margin-top: 6px;
        }
    }

    &.size-36 {
        :global(.uui-checkbox), .folding-arrow {
            margin-top: 9px;
        }
    }

    &.size-42 {
        :global(.uui-checkbox), .folding-arrow {
            margin-top: 12px;
        }
    }

    &.size-48 {
        :global(.uui-checkbox), .folding-arrow {
            margin-top: 15px;
        }
    }

    &.size-60 {
        :global(.uui-checkbox), .folding-arrow {
            margin-top: 21px;
        }
    }

    &.padding-12 {
        padding: 0 12px;
    }

    &.padding-24 {
        padding: 0 24px;
    }

    &.padding-left-12 {
        padding-left: 12px;
    }

    &.padding-left-18 {
        padding-left: 18px;
    }

    &.padding-left-24 {
        padding-left: 24px;
    }

    &.padding-left-30 {
        padding-left: 30px;
    }

    &.padding-left-36 {
        padding-left: 36px;
    }

    &.padding-right-24 {
        padding-right: 24px;
    }
}

.wrapped-content {
    flex: 1 1 0;
    min-width: 0;
}

.drag-handle {
    position: absolute;
    left: 2px;
    width: 6px;
    top: 3px;
    bottom: 2px;
    align-self: stretch;
    visibility: hidden;

    :global(.-draggable.uui-table-row):not(:global(.uui-drop-accepted)):hover & {
        visibility: visible;
    }
}

.indent {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    width: 24px;
}

.folding-arrow {
    margin: auto 0;

    &:global(.uui-icon) {
        position: relative;
        fill: $gray60;
    }
}

.folding-arrow-12 {
    &:global(.uui-icon) {
        left: -2px;
        flex: 0 0 12px;
        width: 12px;
        height: 12px;
    }
}

.folding-arrow-18 {
    &:global(.uui-icon) {
        left: -4px;
        flex: 0 0 18px;
        width: 18px;
        height: 18px;
    }
}

.before-paddings {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

    .indent {
        justify-content: center;
    }

    .folding-arrow {
        &:global(.uui-icon) {
            left: 0;
        }
    }
}

.after-paddings {
    display: flex;
    justify-content: space-around;

    .checkbox {
        margin-right: 12px;
    }
}
