@use  '../../assets/styles/index.scss' as *;

.cell {
    &.align-widgets-top {
        &.size-24, &.size-30 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 6px;
            }
        }

        &.size-36 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 9px;
            }
        }

        &.size-42 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 12px;
            }
        }

        &.size-48 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 15px;
            }
        }

        &.size-60 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 21px;
            }
        }
    }

    &.align-widgets-center { align-self: center; }

    &.padding-12 { padding: 0 12px; }
    &.padding-24 { padding: 0 24px; }

    &.padding-left-12 { padding-left: 12px; }
    &.padding-left-24 { padding-left: 24px; }

    &.padding-right-24 { padding-right: 24px; }
}

.drag-handle {
    position: absolute;
    left: 2px;
    width: 6px;
    top: 3px;
    bottom: 2px;
    align-self: stretch;
    visibility: hidden;

    :global(.-draggable.uui-table-row):not(:global(.uui-drop-accepted)):hover & {
        visibility: visible;
    }
}

.checkbox {
    padding-right: 12px;
}

.indent {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    width: 12px;
    padding-right: 12px;
}

.folding-arrow {
    margin: auto 0;

    &:global(.uui-icon) {
        position: relative;
        fill: $gray60;
    }
}

.folding-arrow-12 {
    &:global(.uui-icon) {
        left: -2px;
        flex: 0 0 12px;
        width: 12px;
        height: 12px;
    }
}

.folding-arrow-18 {
    &:global(.uui-icon) {
        left: -4px;
        flex: 0 0 18px;
        width: 18px;
        height: 18px;
    }
}

.cell:hover .overlay {
    z-index: 1;
    visibility: visible;
    border-color: $gray40;
}

.overlay {
    visibility: hidden;
    border: 2px solid transparent;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;

    .cell &:global(.uui-focus) {
        z-index: 2;
        visibility: visible;
        border-color: $blue;
    }

    .cell &:global(.uui-invalid) {
        z-index: 3;
        visibility: visible;
        border-color: $red;
    }

    .cell &:global(.uui-selected-cell) {
        z-index: 3;
        visibility: visible;

        &:global(.uui-selected-cell-top) {
            border-top-color: $blue;
        }

        &:global(.uui-selected-cell-right) {
            border-right-color: $blue;
        }

        &:global(.uui-selected-cell-bottom) {
            border-bottom-color: $blue;
        }

        &:global(.uui-selected-cell-left) {
            border-left-color: $blue;
        }
    }

    & :global(.uui-replication-marker) {
        background-color: $blue;
    }
}

