@use  '../../assets/styles/index' as *;
@use  '~@epam/assets/scss/dnd' as *;

.root {
    &:global(.-clickable) {
        cursor: pointer;

        &:hover {
            --uui-data-table-row-background: #{$gray10};
        }
    }

    &:global(.-draggable) {
        @include dnd-cursor-style();
    }

    &:global(.uui-invalid) {
        --uui-data-table-row-background: #FEF7F6; //TODO: fix to use color from variable when this color is added to promo palette
    }

    &:global(.uui-dragged-out) {
        opacity: 0.5;
    }

    &:global(.uui-drag-ghost) {
        @include dnd-ghost-shadow();
    }

    &:global(.uui-focus) {
        border: 1px solid $blue; // Do we use row focus somewhere? Setting border might break layout a lot
    }

    &.size-24 { min-height: 24px; }
    &.size-30 { min-height: 30px; }
    &.size-36 { min-height: 36px; }
    &.size-48 { min-height: 48px; }
    &.size-60 { min-height: 60px; }
}

// Backgrounds
.background-white {
    --uui-data-table-row-background: white;
}

.background-gray5 {
    --uui-data-table-row-background: #{$gray5};
}

.background-red {
    --uui-data-table-row-background: #FEF7F6; //TODO: fix to use color from variable when this color is added to promo palette
}

// Borders
.border-gray30 {
    :global(.uui-table-fixed-section), :global(.uui-table-scrolling-section) {
        border-bottom: 1px solid $gray30;
    }
}