@use  '../../assets/styles/index.scss' as *;
@use './table-colors.scss' as *;

.cell {
    --uui-dt-cell-background: transparent;
    --uui-dt-cell-border-width: 1px;
    --uui-dt-cell-border-color: transparent;
    --uui-dt-cell-editor-border-width: 1px;
    --uui-dt-cell-editor-hover-border-color: #{$blue};
    --uui-dt-cell-editor-focus-border-color: #{$blue};
    --uui-dt-cell-editor-invalid-border-color: #{$red};

    &.border-gray30 {
        --uui-dt-cell-border-color: #{$gray30};
    }

    &:global(.uui-focus) {
        --uui-dt-cell-editor-border-width: 2px;
    }

    &.align-widgets-top {
        &.size-24, &.size-30 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 6px;
            }
        }

        &.size-36 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 9px;
            }
        }

        &.size-42 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 12px;
            }
        }

        &.size-48 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 15px;
            }
        }

        &.size-60 {
            :global(.uui-checkbox), .folding-arrow {
                margin-top: 21px;
            }
        }
    }

    &.align-widgets-center {
        :global(.uui-checkbox-container), .folding-arrow {
            align-self: center;
        }
    }

    &.padding-12 { padding: 0 12px; }
    &.padding-24 { padding: 0 24px; }

    &.padding-left-12 { padding-left: 12px; }
    &.padding-left-24 { padding-left: 24px; }

    &.padding-right-24 { padding-right: 24px; }

    &.background-blue {
        --uui-dt-cell-background: #{$blue-transparent};
    }
    &.background-green {
        --uui-dt-cell-background: #{$green-transparent};
    }
    &.background-amber {
        --uui-dt-cell-background: #{$amber-transparent};
    }
    &.background-red {
        --uui-dt-cell-background: #{$red-transparent};
    }
    &.background-gray5 {
        --uui-dt-cell-background: #{$gray5};
    }
    &:global(.uui-invalid) {
        --uui-dt-cell-editor-background: #{$red-transparent};
    }
}

.drag-handle {
    position: absolute;
    left: 2px;
    width: 6px;
    top: 3px;
    bottom: 2px;
    align-self: stretch;
    visibility: hidden;

    :global(.-draggable.uui-table-row):not(:global(.uui-drop-accepted)):hover & {
        visibility: visible;
    }
}

.checkbox {
    padding-right: 12px;
}

.indent {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    width: 12px;
    padding-right: 12px;
}

.folding-arrow {
    margin: auto 0;

    &:global(.uui-icon) {
        position: relative;
        fill: $gray60;
    }
}

.folding-arrow-12 {
    &:global(.uui-icon) {
        left: -2px;
        flex: 0 0 12px;
        width: 12px;
        height: 12px;
    }
}

.folding-arrow-18 {
    &:global(.uui-icon) {
        left: -4px;
        flex: 0 0 18px;
        width: 18px;
        height: 18px;
    }
}


