@use  '../../assets/styles/index' as *;

.root {
    background: $gray5;
    border-bottom: 1px solid $gray30;

    &:global(.uui-table-header-row .uui-table-fixed-section-left),
    &:global(.uui-table-header-row .uui-table-fixed-section-right) {
        z-index: 2;
        background: $gray5;
    }
}

.header-cell {
    background: none;
}

.config-icon {
    position: absolute;
    height: 100%;
    right: 24px;
    z-index: 2;
}