.table {
    display: flex;
    flex-direction: column;
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}

:global(.uui-scroll-shadow-top) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
}

:global(.uui-scroll-shadow-bottom) {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
}