@use  '../../assets/styles/index' as *;

.root {
    --uui-data-table-row-background: #{$gray5};
    border-bottom: 1px solid $gray30;
}

.header-cell {
    background: none;
}

.config-icon {
    position: absolute;
    height: 100%;
    right: 24px;
    z-index: 2;
}