@use  '../../assets/styles/colors' as *;

.cell {
    box-sizing: border-box;
    padding: 0 12px;
}

:global(.uui-table-scroll-row-container) {

    :global(.uui-thumb) {
        background: $gray40;
        height: 3px;
        border-radius: 1.5px;

        &:hover {
            height: 6px;
            border-radius: 3px;
        }

        &:active {
            height: 6px;
            border-radius: 3px;
            background: $gray60;
        }
    }
}
