:global(.uui-scroll-shadow-top) {
    position: sticky;
    z-index: 3;
    top: 36px;
    left: unset;
    right: unset;
    bottom: unset;
}

:global(.uui-scroll-shadow-bottom) {
    position: sticky;
    bottom: 0;
    left: unset;
    right: unset;
}

.table {
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    &.-scrolled-left {
        :global(.uui-scroll-shadow-left) {
            opacity: 1;
        }
    }

    &.-scrolled-right {
        :global(.uui-scroll-shadow-right) {
            opacity: 1;
        }
    }

    &.shadow-dark {
        :global(.uui-scroll-shadow-top-visible) {
            opacity: 1;
            height: 5px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            transition: opacity 200ms;
        }
    }

    &.shadow-white {
        :global(.uui-scroll-shadow-bottom-visible) {
            opacity: 1;
            height: 30px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 54%);
        }
    }
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}