@use  '../../assets/styles/index' as *;
@use  '~@epam/assets/scss/dnd' as *;

.root {
    &:global(.-clickable) {
        cursor: pointer;

        &:hover {
            --uui-dt-row-bg: #{$gray20};
        }
    }

    &:global(.-draggable) {
        @include dnd-cursor-style();
    }

    &:global(.uui-invalid) {
        --uui-dt-row-background: #FEF7F6; // TODO: fix to color from new loveship palette when it is added
    }

    &:global(.uui-dragged-out) {
        opacity: 0.5;
    }

    &:global(.uui-drag-ghost) {
        @include dnd-ghost-shadow();
    }

    &:global(.uui-focus) {
        border: 1px solid $blue;
    }

    // Borders
    --uui-dt-row-border-color: transparent;
    --uui-dt-row-border-width: 0;
}

// Sizes

.size-24 { min-height: 24px; }
.size-30 { min-height: 30px; }
.size-36 { min-height: 36px; }
.size-48 { min-height: 48px; }
.size-60 { min-height: 60px; }

// Borders

.border-gray30 {
    --uui-dt-row-border-color: #{$gray30};
    --uui-dt-row-border-width: 1px;
}

// Backgrounds

.background-white {
    --uui-dt-row-background: white;
}

.background-gray5 {
    --uui-dt-row-background: #{$gray5};
}