@use '../../assets/styles/index' as *;

$blue-transparent: transparentize($blue, 0.9);
$green-transparent: transparentize($green, 0.9);
$amber-transparent: transparentize($amber, 0.9);
$red-transparent: transparentize($red, 0.9);
$cyan-transparent: transparentize($cyan, 0.9);
$orange-transparent: transparentize($orange, 0.9);
$purple-transparent: transparentize($purple, 0.9);
$violet-transparent: transparentize($violet, 0.9);
